<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="cto_onetag_tab" translate="label" sortOrder="1000">
			<label>Criteo OneTag</label>
		</tab>
		<section id="cto_onetag_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Criteo OneTag</label>
			<tab>cto_onetag_tab</tab>
			<resource>Criteo_OneTag::config</resource>
			<group id="general" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Tags and Feed</label>
				<field id="cto_partner" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Criteo Partner ID</label>
					<comment>
						<![CDATA[If you're unaware of this value, please contact your commercial contact at Criteo.]]>
					</comment>
					<validate>required-entry</validate>
				</field>
				<field id="cto_enable_home" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Homepage Tag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cto_enable_listing" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Listing Tag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cto_enable_product" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Product Tag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cto_enable_basket" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Basket Tag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cto_enable_sale" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Sale Tag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cto_use_sku" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Use SKU for Product ID?</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cto_feed_pwd" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Feed password</label>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>
