<?xml version="1.0"?>
<!--
/**
 * @package Digidirect_Feed
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="digidirect_feed" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Feed</label>
            <tab>digidirect</tab>
            <resource>Digidirect_Feed::config_digidirect_feed</resource>
            <group id="schedule" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Schedule</label>
                <field id="cron_expr" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run Schedule</label>
                </field>
            </group>
        </section>
    </system>
</config>