<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Digidirect_AI::digidirect_integrations" title="Integrations" module="Digidirect_AI" parent="Digidirect_Utilities::Digidirect"
             sortOrder="10" resource="Digidirect_AI::integrations"/>
        <add id="Digidirect_AI::digidirect_ai_processes" title="Processes" module="Digidirect_AI" parent="Digidirect_AI::digidirect_integrations"
             resource="Digidirect_AI::process_list" sortOrder="41" action="digidirect_ai/integration"/>
        <add id="Digidirect_AI::digidirect_ai_logs" title="Logs" module="Digidirect_AI" parent="Digidirect_AI::digidirect_integrations"
             resource="Digidirect_AI::logs" sortOrder="50" action="digidirect_ai/logs"/>
        <add id="Digidirect_AI::digidirect_ai_queue" title="Queue" module="Digidirect_AI" parent="Digidirect_AI::digidirect_integrations"
             resource="Digidirect_AI::process_queue" sortOrder="60" action="digidirect_ai/queue"/>
    </menu>
</config>
