<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="marketplacer_sales_displaying" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sales Display Settings</label>
            <tab>marketplacer</tab>
            <resource>Marketplacer_Marketplacer::config</resource>
            <group id="seller" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Seller options</label>
                <field id="display_business_number" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Seller’s Business Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Seller Business Number name will be displayed on: Shopping Cart, Order, Invoice, Shipment, Credit Memo]]></comment>
                </field>
                <field id="title_for_business_number" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title for Seller’s Business Number</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="brand" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Brand options</label>
                <field id="display_brand_name" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display brand name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Brand name will be displayed on: Shopping Cart, Order, Invoice, Shipment, Credit Memo]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
