//
//  Reviews: Customer
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@review-customer__is-enabled: true; // Enable/disable styles
//
//@review-customer-table-reviews-rating-summary__margin: -4px 0 0;
//@review-customer-product-details__use-add-clearfix: true;
//@review-customer-product-details__margin-bottom: @indent__xl;
//
////  Product Media
//@review-customer-product-media__float: left;
//@review-customer-product-media__width: 30%;
//@review-customer-product-media__max-width: 285px;
//@review-customer-product-media__margin-right: 3%;
//
////  Details
//@review-customer-details-rating__margin-bottom: @indent__base;
//@review-customer-details-rating-item__margin-bottom: @indent__s;
//@review-customer-details-rating-item__last-child__margin-bottom: 0;
//@review-customer-details-title__use-heading: true;
//@review-customer-details-title-heading: h3;
//@review-customer-details-title__margin-bottom: @indent__base;
//@review-customer-details-title__font-weight: @font-weight__semibold;
//@review-customer-details-content__margin-bottom: @indent__base;
//
////  View
@review-customer-view__margin-bottom: 0;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .customer-review.view {
        & {
            .lib-css(padding, @layout-indent__width);
            .lib-css(background-color, @color-white);
        }

        .product-name {
            .lib-font-size(16);
            .lib-css(font-weight, @font-weight__bold);
            word-break: break-all;
        }

        .rating-average-label {
            margin-top: 20px;

            &:last-child {
                display: none;
            }
        }

        .rating-summary {
            margin-bottom: 10px;
            margin-right: 15px;
        }

        .rating-summary .rating-result > span::before {
            z-index: 1;
        }

        .reviews-actions {
            padding-top: 2px;
        }

        .reviews-actions .action.view {
            .lib-css(border-right, 1px solid @color-3-2);
            padding-right: 10px;
            margin-right: 10px;
        }

        .review-details > .title {
            .lib-font-size(16);
            margin-bottom: 15px;
        }

        .review-details .rating-label {
            padding-right: 10px;
        }

        .review-details .review-title {
            .lib-font-size(14);
        }

        .review-details .review-content {
            word-wrap: break-word;
        }

        & + .actions-toolbar {
            .lib-css(background-color, @color-white);
            .lib-css(padding-bottom, @layout-indent__width);
            margin-bottom: 30px;
        }
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customer-review.view {
        .product-name {
            .lib-font-size(18);
        }

        .review-details > .title {
            .lib-font-size(18);
        }

        .review-details .review-title {
            .lib-font-size(16);
        }

        & + .actions-toolbar {
            .lib-css(padding-right, @layout-indent__width);
            margin-bottom: 40px;
        }
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .customer-review.view {
        & {
            padding: 30px;
        }

        .product-name {
            .lib-font-size(20);
        }

        .review-details > .title {
            .lib-font-size(20);
        }

        .review-details .review-title {
            .lib-font-size(18);
        }

        & + .actions-toolbar {
            padding-right: 30px;
            padding-bottom: 70px;
            margin-bottom: 0;
        }

        & + .actions-toolbar .action.back {
            .lib-font-size(14);
        }
    }
}