<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ewave_ProductAttachment::config_product_attachment" title="Ewave Product Attachment" translate="title" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Ewave_Utilities::ewave" sortOrder="100">
                    <resource id="Ewave_Faq::ProductAttachment" title="Ewave Product Attachment" sortOrder="10">
                        <resource id="Ewave_ProductAttachment::product_attachment" title="Ewave Product Attachment" sortOrder="10">
                            <resource id="Ewave_ProductAttachment::product_attachment_items_delete" title="Delete" sortOrder="10" />
                            <resource id="Ewave_ProductAttachment::product_attachment_items_save" title="Save" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
