<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seo">
            <group id="seo_toolbar" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" sortOrder="10000">
                <label>SEO Toolbar</label>

                <field id="is_active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Toolbar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="allowed_ip" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show info only for IP</label>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
