//
//  Search block
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------
@block-search__width: 644px;

//  Common
//  ---------------------------------------------

& when (@media-common = true) {

}

//
//  Mobile 780
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .mgz-element-search_form .block-search .form.active .control input {
        position: absolute !important;
    }

    &.block-search{
        //margin-left: auto;
        //padding-right: 15px;
        //margin-top: 15px !important;
        //clint workaround just to make it appear
        margin-left: auto;
        padding-right: 300px;
        margin-top: 25px !important;
        margin-bottom: 25px !important;

        .minisearch{
            position: absolute;
            max-width: 300px;
            margin: 0 auto;
            label{
                &:before{
                    content: "" !important;
                }
            }

            .field.search{
                label{
                  span{
                        display: none;
                    }
                }
            }
        }
    }

    .block-search input {
        left: -750% !important;
    }

    .block-search .actions {
        position: absolute;
        right: -260px;
        top: 42px !important;
        background-color: #000;
        width: 65px;
        height: 38px;
        border-radius: 0px 5px 5px 0px;
    }
    .block-search .actions span {
        font-size: 25px;
        color: #fff;
        padding-left: 18px;
    }
    
    .block-search .action.search {
        background: 0 0;
        -moz-box-sizing: content-box;
        border: 40px;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 1;
        display: inline-block;
        padding: 3.75px 0;
    }                           

}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        /*.action.search {
            display: none;
        }

        input {
            width: 100%;
        }*/


        & {
            padding: 0 90px;
            margin-left: 0;
            width: 100%;
            max-width: 1300px;
            margin-top: 3px;
        }

        .minisearch{
            position: relative;
            max-width: 900px;
            margin: -2px auto;
        }

        .actions
        {
            position: absolute;
            right: 7px;
            top: 1px !important;
            background: #000;
            width: 65px;
            height: 38px;
            border-radius: 0 5px 5px 0;

            .search {
                background-image: none;
                background: 0 0;
                -moz-box-sizing: content-box;
                border: 40px;
                box-shadow: none;
                line-height: inherit;
                margin: 0;
                padding: 0;
                text-decoration: none;
                text-shadow: none;
                font-weight: 400;
                position: absolute;
                top: 0;
                right: 10px;
                z-index: 1;
                display: inline-block;
                padding: 3.75px 0;
            }

            .search::before {
                display: none;
            }
        }

        .svg-icon {
            width: 25px !important;
            height: 27px !important;
            margin-bottom: 4px;
            display: inline-block;
            fill: currentColor;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 15px;
            color: #FFFFFF;
        }

        .control{
            padding: 0 15px;
        }

        .input-text {
            width: 100%;
            border-radius: 5px;
            left: 50px;
            font-size: 1.6rem;
            height: 40px;
            padding: 0 45px 0 15px;
            background: linear-gradient(90deg,#f5f5f5 93%,#222 10%);
        }




    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .block-search {
        & {
            padding: 0 90px;
            margin-left: 0;
            width: 100%;
            max-width: 1300px;
            margin-top: 3px;
        }

        .minisearch{
            position: relative;
            max-width: 900px;
            margin: 0 auto;
        }

        .actions
        {
            position: absolute;
            right: 7px;
            top: 1px !important;
            background: #000;
            width: 65px;
            height: 38px;
            border-radius: 0 5px 5px 0;

            .search {
                background-image: none;
                background: 0 0;
                -moz-box-sizing: content-box;
                border: 40px;
                box-shadow: none;
                line-height: inherit;
                margin: 0;
                padding: 0;
                text-decoration: none;
                text-shadow: none;
                font-weight: 400;
                position: absolute;
                top: 0;
                right: 10px;
                z-index: 1;
                display: inline-block;
                padding: 3.75px 0;
            }

            .search::before {
                display: none;
            }

            span {
                font-size: 25px;
                color: #fff;
                padding-left: 13px;
            }
        }

        .svg-icon {
            width: 25px !important;
            height: 27px !important;
            margin-bottom: 4px;
            display: inline-block;
            fill: currentColor;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 15px;
            color: #FFFFFF;
        }

        .control{
            padding: 0 15px;
        }

        .input-text {
            width: 100%;
            border-radius: 5px;
            left: 50px;
            font-size: 1.6rem;
            height: 40px;
            padding: 0 45px 0 15px;
            background: linear-gradient(90deg,#f5f5f5 93%,#222 10%);;
        }
    }
}

//
//  Mobile 480
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

    .mgz-element-search_form .block-search .form.active .control input {
        position: absolute !important;
    }

    &.block-search{
        //margin-left: auto;
        //padding-right: 15px;
        //margin-top: 15px !important;
        //clint workaround just to make it appear
        margin-left: auto;
        padding-right: 220px;
        margin-top: 25px !important;
        margin-bottom: 25px !important;

        .minisearch{
                position: absolute;
                max-width: 300px;
                margin: 0 auto;

            label{
                &:before{
                    content: "" !important;
                }
            }

            .field.search{
                label{
                    span{
                        display: none;
                    }
                }
            }
        }
    }

    .block-search input {
        left: -750% !important;
    }

    .block-search .actions {
        position: absolute;
        right: -180px;
        top: 42px !important;
        background-color: #000;
        width: 65px;
        height: 38px;
        border-radius: 0px 5px 5px 0px;
    }
    .block-search .actions span {
        font-size: 25px;
        color: #fff;
        padding-left: 18px;
    }

    .block-search .action.search {
        background: 0 0;
        -moz-box-sizing: content-box;
        border: 40px;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 1;
        display: inline-block;
        padding: 3.75px 0;
    }

}
