#row_digidirect_extendedshippingrates_hide_methods_hided_methods_relations .label { width: 0; display: none; }
#row_digidirect_extendedshippingrates_hide_methods_hided_methods_relations .value { width: 100%; }

#row_digidirect_extendedshippingrates_hide_methods_hided_methods_relations tr td:nth-child(2) { width: 55%; }
#row_digidirect_extendedshippingrates_hide_methods_hided_methods_relations li { list-style:none; }
