//
//  My Order Items Group: Group Rename
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-group-group-rename__is-enabled: true;

@my-order-items-group-group-rename__display: none;
@my-order-items-group-group-rename__flex-wrap: wrap;

@my-order-items-group-group-rename-title__color: false;
@my-order-items-group-group-rename-title__font-size: 1.5rem;
@my-order-items-group-group-rename-title__font-weight: 700;
@my-order-items-group-group-rename-title__margin-bottom: 10px;

@my-order-items-group-group-rename-content__display: flex;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@my-order-items-group-group-rename__is-enabled = true) {
        .group-rename {
            & {
                .lib-css(display, @my-order-items-group-group-rename__display);
            }

            .title {
                .lib-css(color, @my-order-items-group-group-rename-title__color);
                .lib-css(font-size, @my-order-items-group-group-rename-title__font-size);
                .lib-css(font-weight, @my-order-items-group-group-rename-title__font-weight);
                .lib-css(margin-bottom, @my-order-items-group-group-rename-title__margin-bottom);
            }

            .content {
                .lib-css(display, @my-order-items-group-group-rename-content__display);
            }
        }
    }
}