//
//  My Order Items Group: Group Manage
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-group-group-manage__is-enabled: true;

@my-order-items-group-group-manage__position: relative;
@my-order-items-group-group-manage__z-index: 1;

@my-order-items-group-group-manage__list__display: none;
@my-order-items-group-group-manage__list__position: absolute;
@my-order-items-group-group-manage__list__top: 100%;
@my-order-items-group-group-manage__list__right: 0;
@my-order-items-group-group-manage__list__min-width: 100%;
@my-order-items-group-group-manage__list__padding: 6px;
@my-order-items-group-group-manage__list__background: @color-white;
@my-order-items-group-group-manage__active__list__display: block;

@my-order-items-group-group-manage__item__display: block;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@my-order-items-group-group-manage__is-enabled = true) {
        .group-manage {
            & {
                .lib-css(position, @my-order-items-group-group-manage__position);
                .lib-css(z-index, @my-order-items-group-group-manage__z-index);
            }

            .list {
                .lib-css(display, @my-order-items-group-group-manage__list__display);
                .lib-css(position, @my-order-items-group-group-manage__list__position);
                .lib-css(top, @my-order-items-group-group-manage__list__top);
                .lib-css(right, @my-order-items-group-group-manage__list__right);
                .lib-css(min-width, @my-order-items-group-group-manage__list__min-width);
                .lib-css(padding, @my-order-items-group-group-manage__list__padding);
                .lib-css(background, @my-order-items-group-group-manage__list__background);
            }

            &.active > .list {
                .lib-css(display, @my-order-items-group-group-manage__active__list__display);
            }

            .item {
                .lib-css(display, @my-order-items-group-group-manage__item__display);
            }
        }
    }
}