//
//  My Order Items Group: Group Clear
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-group-group-clear__is-enabled: true;

@my-order-items-group-group-clear__display: none;
@my-order-items-group-group-clear__align-items: center;

@my-order-items-group-group-clear-item__margin: 0 10px;
@my-order-items-group-group-clear-item__apply__display: none;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@my-order-items-group-group-clear__is-enabled = true) {
        .group-clear {
            & {
                .lib-css(display, @my-order-items-group-group-clear__display);
                .lib-css(align-items, @my-order-items-group-group-clear__align-items);
            }

            .item {
                .lib-css(margin, @my-order-items-group-group-clear-item__margin);
            }

            .-apply {
                .lib-css(display, @my-order-items-group-group-clear-item__apply__display);
            }
        }
    }
}