//
//  My Order Items Group: Group Help
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-group-group-help__is-enabled: true;

@my-order-items-group-group-help__color: false;
@my-order-items-group-group-help__font-size: false;
@my-order-items-group-group-help__font-weight: false;
@my-order-items-group-group-help__text-align: false;
@my-order-items-group-group-help__margin: 0 0 20px;
@my-order-items-group-group-help__padding: false;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@my-order-items-group-group-help__is-enabled = true) {
        .group-help {
            .lib-css(color, @my-order-items-group-group-help__color);
            .lib-css(font-size, @my-order-items-group-group-help__font-size);
            .lib-css(font-weight, @my-order-items-group-group-help__font-weight);
            .lib-css(text-align, @my-order-items-group-group-help__text-align);
            .lib-css(margin, @my-order-items-group-group-help__margin);
            .lib-css(padding, @my-order-items-group-group-help__padding);
        }
    }
}