<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <!-- default srcset code and sizes to resize image (used in img src)-->
        <ewave_banner>
            <srcset>
                <default>rotator_desktop</default>
            </srcset>
            <rotator_desktop>
                <folder>desktop</folder>
                <height>744</height>
                <width>1920</width>
            </rotator_desktop>
            <image_uploading>
                <image_type>jpg,jpeg,gif,png</image_type>
                <image_mime_type>image/jpeg,image/png</image_mime_type>
            </image_uploading>
        </ewave_banner>
    </default>
</config>