<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_init_system_config">
        <observer name="seositemap" instance="\Mirasvit\SeoSitemap\Observer\CheckCronStatusObserver" />
    </event>
</config>
