<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ewave" translate="label" sortOrder="10">
            <label>Ewave Extensions</label>
        </tab>
        <section id="product_images" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Image in Order Detail</label>
            <tab>ewave</tab>
            <resource>Ewave_OrderImages::product_images</resource>
            <group id="order_detail" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Detail</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Image In Order Details</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/disable products images on Order Detail pages in My Account section on storefront
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>