<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="digidirect_storelocator" frontName="digidirect_storelocator">
            <module name="Digidirect_StoreLocator" />
        </route>
    </router>
</config>
