//
//  PDF variables
//  _____________________________________________

@pdf-page__font-size: 13px;
@pdf-page__line-height: 1.1;
@pdf-page__font-family: 'Arial', sans-serif;
@pdf-page__font-weight: false;
@pdf-page__color: @color-black;

//  Links
@pdf-page-link__text-decoration: underline;
@pdf-page-link__color:  @color-black;

//  Images
@pdf-page-img__vertical-align: top;

@pdf-page-bold__font-weight: false;

//  Table
@pdf-page-table__width: 100%;
@pdf-page-td__font-size: false;
@pdf-page-td__line-height: false;
@pdf-page-td__font-family: false;
@pdf-page-td__font-weight: false;
@pdf-page-td__vertical-align: top;

//  Lists
@pdf-page-ul__list-style-type: false;
@pdf-page-ul__list-style-position: false;

@pdf-page-ol__list-style-type: false;
@pdf-page-ol__list-style-position: false;

//  Paragraph
@pdf-page-paragraph__font-size: 13px;
@pdf-page-paragraph__line-height: false;
@pdf-page-paragraph__font-family: false;
@pdf-page-paragraph__font-weight: false;

//  Heading
@pdf-page-h1__font-size: 30px;
@pdf-page-h1__line-height: false;
@pdf-page-h1__font-family: false;
@pdf-page-h1__font-weight: false;

@pdf-page-h2__font-size: 24px;
@pdf-page-h2__line-height: false;
@pdf-page-h2__font-family: false;
@pdf-page-h2__font-weight: false;

@pdf-page-h3__font-size: 20px;
@pdf-page-h3__line-height: false;
@pdf-page-h3__font-family: false;
@pdf-page-h3__font-weight: false;

//  Header
@pdf-page-header__text-align: center;

//  Logo
@pdf-page-logo__float: none;
@pdf-page-logo__display: inline-block;
@pdf-page-logo__margin: auto;
@pdf-page-logo__text-decoration: none;

//  Copyright
@pdf-page-copyright__display: block;
@pdf-page-copyright__text-align: center;
