<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Algolia\AlgoliaSearch\Observer\Insights\CheckoutCartProductAddAfter" type="Digidirect\Algolia\Observer\CheckoutCartProductAddAfter" />
</config>