.hidden{display:none}
.newspopup_up_bg,.newspopup-theme{position:fixed;top:0;bottom:0;left:0;right:0;z-index:100;background:rgba(0,0,0,0.3)}
.newspopup-theme{overflow:hidden;overflow-y:auto;background:transparent}
.newspopup_up_bg img{max-width:100%;height:auto}
.newspopup_up_bg a{text-decoration:none}
.newspopup_up_bg button{cursor:pointer}
.halloween{padding:10px;font-family:"Source Sans Pro",sans-serif;color:#fff}
.halloween__close{position:absolute;right:0;top:30%;background:none;border:none;padding:20px;outline:none;font-size:0;z-index:20;box-shadow:none}
.halloween__close:before,.halloween__close:after{content:"";position:absolute;left:50%;top:50%;transform:translate(-50%,-50%) rotate(45deg);display:block;background:#d4d3d3;width:10px;height:1px}
.halloween__close:after{transform:translate(-50%,-50%) rotate(-45deg)}
.halloween__close:after > span{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}
.halloween__close:active:before,.halloween__close:active:after,.halloween__close:hover:before,.halloween__close:hover:after{background:#999}
.halloween__container{max-width:587px;min-width:480px;margin:0 auto;text-align:center;position:fixed;top:40%;left:50%;transform:translate(-50%,-50%)}
.pr-mode-form .halloween__container{position:relative;left:0;transform:none;margin-bottom:15px}
.pr-mode-form .halloween__form-wrap{position:relative}
.pr-mode-form .halloween__form{margin:0 auto}
.halloween__wrapper{position:relative}
.halloween__content{position:absolute;left:0;bottom:0;width:100%;padding-bottom:35px}
.halloween__text{font-size:48px;font-weight:700;letter-spacing:1.2px;margin:0 0 34px;line-height:1}
.halloween__text span{display:block;font-size:25px;font-weight:400;letter-spacing:normal}
button.halloween__btn{background:#f3560f;border:none;color:#fff;font-weight:700;font-size:14px;border-radius:5px;width:169px;height:48px;box-shadow:none;transform:perspective(1px) translateZ(0)}
.halloween__btn:hover,.halloween__btn:focus,.halloween__btn:active{animation-name:btn-pulse;animation-duration:1s;animation-timing-function:linear;animation-iteration-count:infinite}
.halloween__form-wrap{position:absolute;top:10%;left:50%;transform:translateX(-50%)}
.halloween__form-wrap::after{content:"";display:block;height:15px}
.halloween__form{position:relative;display:flex;flex-direction:column;align-items:center;width:350px;max-width:80vw;margin-top:10px;padding:25px;color:#fff;background:linear-gradient(149deg,#444347 0%,#211f20);border-radius:10px}
.halloween__form-wrap label{display:inline-block;margin-bottom:5px}
.pr-np-fields-wrapper{width:100%;margin:0;padding:0;list-style:none}
.pr-np-fields-wrapper li{margin-bottom:12px}
.halloween__form-wrap .halloween__close{right:0;top:0}
.halloween__form input[type="text"],.halloween__form input[type="email"],.halloween__form input[type="number"],.halloween__form input[type="password"],.halloween__form select{height:40px;border:none;border-radius:3px}
.pr-gender-field .input-box{display:flex;justify-content:flex-start;align-items:center;line-height:2}
.pr-gender-female{margin-right:15px}
.pr-gender-field input{margin:0 5px 0 0}
.pr-gender-field .input-box label{margin-bottom:0}
.halloween__form .halloween__btn{margin-top:15px;margin-bottom:0}
.halloween__form a{color:#fff;text-decoration:underline}
.halloween__form .agreement-hld{display:inline-block}
.halloween__form .input-box{position:relative;width:100%}
.halloween__form .nl_agreement_2_label{margin-bottom:0}
.agreement-hld .data-agreement.checkbox{margin-top:0}
.newspopup_up_bg div.mage-error{background:red}
.newspopup_up_bg div.mage-error:after{border-left:8px solid red}
.halloween__form #agreement-error{top:-15px}
@-webkit-keyframes btn-pulse {
    25%{-webkit-transform:scale(1.05);transform:scale(1.05)}
    75%{-webkit-transform:scale(0.9);transform:scale(0.9)}
}
@keyframes btn-pulse {
    25%{-webkit-transform:scale(1.05);transform:scale(1.05)}
    75%{-webkit-transform:scale(0.9);transform:scale(0.9)}
}
@media (max-width: 768px) {
    .newspopup_up_bg div.mage-error{left:0;bottom:-15px;width:100%;padding:2px 10px!important;border-radius:0;box-shadow:none}
    .newspopup_up_bg div.mage-error:after{display:none}
    .halloween__form #agreement-error{top:10px}
}
@media (max-width: 610px) {
    .halloween__content{padding-bottom:7vw}
    .halloween__btn{width:auto;height:auto;padding:2.5vw 5vw}
    .halloween__text{font-size:calc(15px + 5.5vw);margin-bottom:5vw}
    .halloween__text span{font-size:calc(12px + 2vw)}
}
@media only screen and (max-width: 480px) {
    .halloween__content{padding-bottom:5vw}
    .halloween__text{font-size:calc(14px + 4vw);margin-bottom:4vw}
    .halloween__text span{font-size:calc(8px + 2vw)}
    .halloween__btn{font-size:12px}
    .halloween__container{min-width:calc(100% - 30px)}
}