@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: Monitorica;
    src: url("{{view url="Plumrocket_Newsletterpopup::css/font/Monitorica-Rg.otf"}}");
}

.newspopup_up_bg {
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    height: 100%;
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.65) repeat left top;
    color: #666666;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.newspopup-up-form .cross {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    height: 15px;
    width: 15px;
    color: #fff;
    line-height: 15px;
    font-weight: 700;
    position: absolute;
    z-index: 1200;
    right: -12px;
    top: -12px;
    font-size: 14px;
    text-align: center;
}

.newspopup-up-form .cross:hover {
    background: #262626;
    cursor: pointer;
}

.newspopup-up-form .ajax-loader {
    position: absolute;
    top: 37px;
    right: 50%;
    margin-right: -57px;
    z-index: 10;
    width: 104px;
    height: auto;
}

/*==================== Theme 17 ====================*/
.newspopup-up-form.newspopup-theme .pr-inpopup{
    color: inherit;
    text-decoration: underline;
}

.newspopup-up-form.newspopup-theme * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.newspopup-up-form.newspopup-theme {
    position: static;
    display: block;
    width: 595px;
    margin: 10% auto 5% auto;
}

.newspopup-up-form.newspopup-theme .hld-pop {
    position: relative;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: #949cac;
    text-align: left;
    padding: 0 30px 30px 30px;
    background-image: url("{{view url="Plumrocket_Newsletterpopup::images/templates/theme17_bg.png"}}");
    background-size: 261px 275px;
    background-color: #1c2029;
    border: 5px solid #cfcfcf;
    background-position: right bottom;
    background-repeat: no-repeat;
    min-height: 290px;
}

.newspopup-up-form.newspopup-theme .cross {
    background: none;
    color: #5e6167;
    top: 8px;
    right: 8px;
    position: absolute;
    font-weight: 700;
    font-size: 11px;
}

.newspopup-up-form.newspopup-theme .cross:hover {
    color: #CECECE;
}

.newspopup-up-form.newspopup-theme .ajax-loader {
    top: 35px;
    margin-right: -57px;
}

.newspopup-up-form.newspopup-theme .prnp-title {
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    margin: 25px 0 8px 0;
    font-family: 'Monitorica', Arial, sans-serif;
    text-transform: none;
}

.newspopup-up-form.newspopup-theme .newspopup-descr {
    line-height: 20px;
    color: #ed8c22;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    max-width: 415px;
    margin-bottom: 20px;
}

.newspopup-up-form.newspopup-theme .input-block:before,
.newspopup-up-form.newspopup-theme .input-block:after,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form:before,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form:after {
    display: block;
    clear: both;
    content: "";
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form label {
    display: none;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="text"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="email"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="password"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="date"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="number"] {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #888888;
    padding: 0 0 0 10px;
    outline: none;
    border: 1px solid #aaa4a4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #fff;
    opacity: 1;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="text"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="email"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="password"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="date"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="number"]:focus {
    border: 1px solid #EC8B21;
    -webkit-box-shadow: 0 0 10px 0 #EC8B21;
    -moz-box-shadow: 0 0 10px 0 #EC8B21;
    box-shadow: 0 0 10px 0 #EC8B21;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="radio"] {
    margin-top: 0;
}
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="radio"] + label {
    font-size: 12px;
    vertical-align: middle;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form select {
    height: 32px;
    font-size: 12px;
    color: #888888;
    border: 1px solid #dce1ec;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form select[name="mailchimp_list"] {
    width: 200px;
    display: block;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form .button-col.newspopup-bottom-col {
    display: none;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form .button-col {
    position: relative;
    float: left;
    width: 200px;
    margin-left: 10px;
}

.newspopup-up-form.newspopup-theme input[placeholder] {
    color: #504b4b;
}
.newspopup-up-form.newspopup-theme input::-moz-placeholder {
    color: #504b4b;
    opacity: 1;
}
.newspopup-up-form.newspopup-theme input:-moz-placeholder {
    color: #504b4b;
    opacity: 1;
}
.newspopup-up-form.newspopup-theme input:-ms-input-placeholder {
    color: #504b4b;
}
.newspopup-up-form.newspopup-theme:-ms-input-placeholder {
    color: #504b4b;
    opacity: 1;
}
.newspopup-up-form.newspopup-theme input::-webkit-input-placeholder {
    color: #504b4b;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul {
    float: left;
    width: 200px;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li {
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li:before,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li:after {
    display: block;
    clear: both;
    content: "";
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-month,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-day {
    width: 30%;
    float: left;
    padding-right: 10px;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-year {
    width: 40%;
    float: left;
    margin-bottom: 4px;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li div.mage-error {
    margin-top: 0;
    margin-bottom: 0;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-month div.mage-error,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-day div.mage-error,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-year div.mage-error {
    display: none;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-month input,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-day input,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-year input {
    width: 100%;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .input-box {
    padding: 0;
}

.newspopup-up-form.newspopup-theme .send {
    background-color: #ef8a22;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E6A01F),color-stop(1, #F87225));
    background-image: -o-linear-gradient(bottom, #E6A01F 0%, #F87225 100%);
    background-image: -moz-linear-gradient(bottom, #E6A01F 0%, #F87225 100%);
    background-image: -webkit-linear-gradient(bottom, #E6A01F 0%, #F87225 100%);
    background-image: -ms-linear-gradient(bottom, #E6A01F 0%, #F87225 100%);
    background-image: linear-gradient(to bottom, #E6A01F 0%, #F87225 100%);
    color: #fff;
    font-size: 14px;
    height: 32px;
    width: 100%;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-shadow: 0 -1px #b77419;
    -webkit-box-shadow: inset 0 2px 0 0 #e8b542;
    -moz-box-shadow: inset 0 2px 0 0 #e8b542;
    box-shadow: inset 0 2px 0 0 #e8b542;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
}

.newspopup-up-form.newspopup-theme .send:hover {
    text-decoration: none;
    background-color: #E48421;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #DA981D),color-stop(1, #D26222));
    background-image: -o-linear-gradient(bottom, #DA981D 0%, #D26222 100%);
    background-image: -moz-linear-gradient(bottom, #DA981D 0%, #D26222 100%);
    background-image: -webkit-linear-gradient(bottom, #DA981D 0%, #D26222 100%);
    background-image: -ms-linear-gradient(bottom, #DA981D 0%, #D26222 100%);
    background-image: linear-gradient(to bottom, #DA981D 0%, #D26222 100%);
}

.newspopup-up-form.newspopup-theme .interest-block {
    margin-top: 15px;
}

.newspopup-up-form.newspopup-theme .interest-block h3 {
    display: none;
}

.newspopup-up-form.newspopup-theme .interest-block p {
    margin-bottom: 5px;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form .mailchimp_item {
    float: left;
}

.newspopup-up-form.newspopup-theme .interest-block label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    margin: -1px 20px 0 6px;
}

.newspopup-up-form.newspopup-theme .interest-block p {
    padding: 0;
    margin: 0 0 8px 0;
    text-shadow: 1px 1px 1px #1B1F28;
}

@media screen and (max-width: 864px) {
    .newspopup_up_bg .newspopup-up-form.newspopup-theme div.mage-error {
        position: static !important;
        background: none;
        color: #FF5656 !important;
        font-weight: 400;
        box-shadow: none;
        padding: 0 !important;
    }

    .newspopup-up-form.newspopup-theme div.mage-error:after {
        display: none;
    }
}
@media only screen and (min-width:641px) {
    .g-recaptcha {
        transform: scale(0.66);
        transform-origin: 0% 50%;
    }
}
@media screen and (max-width: 640px) {
    .newspopup-up-form.newspopup-theme {
        width: 100%;
    }

    .newspopup-up-form.newspopup-theme .hld-pop {
        padding: 20px 30px 30px 30px;
    }

    .newspopup-up-form.newspopup-theme .prnp-title {
        margin: 0 0 10px 0;
        font-size: 42px;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="text"],
    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="email"],
    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="password"],
    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="date"],
    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="number"] {
        width: 100%;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul {
        width: 50%;
        float: none;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul + div {
        float: none;
        margin-left: 0;
        width: 50%;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form .button-col.newspopup-bottom-col {
        display: block;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form .button-col {
        float: none;
        margin-left: 0;
        width: 50%;
        display: none;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form select[name="mailchimp_list"] {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .newspopup-up-form.newspopup-theme {
        font-size: 16px;
    }

    .newspopup-up-form.newspopup-theme .hld-pop {
        padding: 20px;
        background-size: 140px;
    }

    .newspopup-up-form.newspopup-theme .prnp-title {
        font-size: 38px;
    }

    .newspopup-up-form.newspopup-theme .newspopup-descr {
        line-height: 19px;
        font-size: 16px;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul,
    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul + div,
    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form .button-col {
        width: 100%;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form select[name="mailchimp_list"] {
        width: 100%;
    }

    .newspopup-up-form.newspopup-theme .interest-block input {
        clear: left;
        margin-bottom: 10px;
    }
}
/*==================== end Theme 17 ====================*/
