@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.newspopup_up_bg .required-entry.mage-error {
    border: 1px solid red!important;
}

.newspopup_up_bg {
    display: block;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5000;
    height: 100%;
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.65) repeat left top;
    color: #666666;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.newspopup-up-form .cross {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    height: 15px;
    width: 15px;
    color: #fff;
    line-height: 15px;
    font-weight: 700;
    position: absolute;
    z-index: 1200;
    right: -12px;
    top: -12px;
    font-size: 14px;
    text-align: center;
}

.newspopup-up-form .cross:hover {
    background: #262626;
    cursor: pointer;
}

.newspopup_up_bg div.mage-error {
    bottom: 3px;
}

.newspopup-up-form .ajax-loader {
    position: absolute;
    top: 37px;
    right: 50%;
    margin-right: -52px;
    z-index: 10;
    width: 104px;
    height: auto;
}

.newspopup_up_bg {
    padding: 0 5%;
}

/*==================== Theme 3 ====================*/
.newspopup-up-form.newspopup-theme .pr-inpopup{
    color: inherit;
    text-decoration: underline;
}

.newspopup-up-form.newspopup-theme {
    position: relative;
}

.newspopup-up-form.newspopup-theme * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.newspopup-up-form.newspopup-theme {
    display: block;
    width: 350px;
    margin: 10% auto 5% auto;
}

.newspopup-up-form.newspopup-theme .hld-pop {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #fbfbfb;
    background-image: url("{{view url="Plumrocket_Newsletterpopup::images/templates/theme3_bg.jpg"}}");
    font-size: 18px;
    color: #454545;
    text-align: center;
    padding: 0px;
}

.newspopup-up-form.newspopup-theme .hld-pop {
    padding-bottom: 10px;
}

.newspopup-up-form.newspopup-theme .cross {
    background: #e8e8e8;
    color: #726b6d;
    position: static;
    font-weight: 400;
    font-size: 8px;
    font-family: Times, Arial, Helvetica, sans-serif;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 10px;
    width: auto;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-decoration: underline;
    text-transform: uppercase;
}

.newspopup-up-form.newspopup-theme .cross:hover {
    background: #DFDFDF;
    text-decoration: none;
}

.newspopup-up-form.newspopup-theme .newspopup-logo {
    color: #000;
    text-align: center;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 15px;
}

.newspopup-up-form.newspopup-theme .newspopup-logo img {
    width: 100%;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form {
    padding: 0 40px 15px 40px;
    margin-top: 25px;
    display: block;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form label {
    display: none;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="text"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="email"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="password"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="date"],
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="number"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #454545;
    padding: 0 0 0 10px;
    outline: none;
    border: 1px solid #e1e1e1;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="text"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="email"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="password"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="date"]:focus,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form input[type="number"]:focus {
    border: 1px solid #A2A2A2;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form select {
    height: 40px;
    font-size: 12px;
    color: #454545;
    border: 1px solid #e1e1e1;
    outline: none;
    width: 100%;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li {
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li:before,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li:after {
    display: block;
    clear: both;
    content: "";
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-month,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-day {
    width: 30%;
    float: left;
    padding-right: 10px;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-year {
    width: 40%;
    float: left;
    margin-bottom: 4px;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-month div.mage-error,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-day div.mage-error,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-year div.mage-error {
    display: none;
}

.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-month input,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-day input,
.newspopup-up-form.newspopup-theme .newspopup_up_bg_form ul li .dob-year input {
    width: 100%;
}

.newspopup-up-form.newspopup-theme input[placeholder]      {color:#454545;}
.newspopup-up-form.newspopup-theme input::-moz-placeholder   {color:#454545; opacity: 1;}
.newspopup-up-form.newspopup-theme input:-moz-placeholder    {color:#454545; opacity: 1;}
.newspopup-up-form.newspopup-theme input:-ms-input-placeholder {color:#454545;}
.newspopup-up-form.newspopup-theme:-ms-input-placeholder{color:#454545; opacity: 1;}
.newspopup-up-form.newspopup-theme input::-webkit-input-placeholder {color:#454545;}


.newspopup-up-form.newspopup-theme .send {
    border: 1px solid #d7d7d7;
    background-color: #F54646;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F54646),color-stop(1, #DB1F1F));
    background-image: -o-linear-gradient(bottom, #F54646 0%, #DB1F1F 100%);
    background-image: -moz-linear-gradient(bottom, #F54646 0%, #DB1F1F 100%);
    background-image: -webkit-linear-gradient(bottom, #F54646 0%, #DB1F1F 100%);
    background-image: -ms-linear-gradient(bottom, #F54646 0%, #DB1F1F 100%);
    background-image: linear-gradient(to bottom, #F54646 0%, #DB1F1F 100%);
    color: #fff;
    font-size: 15px;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 39px;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
    text-decoration: none;
}

.newspopup-up-form.newspopup-theme .send:active,
.newspopup-up-form.newspopup-theme .send:hover {
    opacity: 0.9;
    text-decoration: none;
}

.newspopup-up-form.newspopup-theme .privacy-policy {
    color: #000;
    font-size: 8px;
    text-decoration: underline;
    font-family: Times, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.newspopup-up-form.newspopup-theme .privacy-policy:hover {
    text-decoration: none;
}

.newspopup-up-form.newspopup-theme .ajax-loader {
    top: 40px;
}


@media screen and (max-width: 640px) {
    .newspopup_up_bg {
        padding: 0 5% 5% 5%;
    }

    .newspopup-up-form.newspopup-theme {
        margin: 5% auto;
    }

    .newspopup_up_bg .newspopup-up-form.newspopup-theme div.mage-error {
        position: static!important;
        background: none;
        color: red!important;
        font-weight: 400;
        box-shadow: none;
        padding: 0!important;
    }

    .newspopup_up_bg .newspopup-up-form.newspopup-theme div.mage-error:after {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .newspopup-up-form.theme-3 {
        margin: 5% auto;
    }
}


@media screen and (max-width: 420px) {

    .newspopup-up-form.newspopup-theme {
        width: 100%;
    }

    .newspopup-up-form.newspopup-theme .newspopup_up_bg_form {
        padding: 0 20px 15px 20px;
    }

    .newspopup-up-form.newspopup-theme .newspopup-logo h3 {
        top: 116px;
        right: auto
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .newspopup-up-form.newspopup-theme .newspopup-logo h2 {
        font-size: 22px;
    }
}
/*==================== end Theme 3 ====================*/
