<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--DATA-->
    <preference for="Mirasvit\SeoContent\Api\Data\ContentInterface" type="Mirasvit\SeoContent\Model\Content" />
    <preference for="Mirasvit\SeoContent\Api\Data\TemplateInterface" type="Mirasvit\SeoContent\Model\Template" />
    <preference for="Mirasvit\SeoContent\Api\Data\RewriteInterface" type="Mirasvit\SeoContent\Model\Rewrite" />

    <!--REPOSITORY-->
    <preference for="Mirasvit\SeoContent\Api\Repository\TemplateRepositoryInterface" type="Mirasvit\SeoContent\Repository\TemplateRepository" />
    <preference for="Mirasvit\SeoContent\Api\Repository\RewriteRepositoryInterface" type="Mirasvit\SeoContent\Repository\RewriteRepository" />


    <!--Entity Manager-->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mirasvit\SeoContent\Api\Data\TemplateInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Mirasvit\SeoContent\Api\Data\TemplateInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Mirasvit\SeoContent\Api\Data\TemplateInterface::ID</item>
                </item>
                <item name="Mirasvit\SeoContent\Api\Data\RewriteInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Mirasvit\SeoContent\Api\Data\RewriteInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Mirasvit\SeoContent\Api\Data\RewriteInterface::ID</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mirasvit\SeoContent\Api\Data\TemplateInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Mirasvit\SeoContent\Api\Data\RewriteInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <!--UI-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="seo_content_template_listing_data_source" xsi:type="string">Mirasvit\SeoContent\Model\ResourceModel\Template\Grid</item>
                <item name="seo_content_rewrite_listing_data_source" xsi:type="string">Mirasvit\SeoContent\Model\ResourceModel\Rewrite\Grid</item>
            </argument>
        </arguments>
    </type>

    <!--Injections (correct sorting is required) -->

    <type name="Mirasvit\SeoContent\Service\ContentService">
        <arguments>
            <argument name="modifierPool" xsi:type="array">
                <item name="restore" xsi:type="object">Mirasvit\SeoContent\Service\Content\Modifier\RestoreMetaModifier</item>
                <item name="cleanup" xsi:type="object">Mirasvit\SeoContent\Service\Content\Modifier\CleanupModifier</item>
                <item name="length" xsi:type="object">Mirasvit\SeoContent\Service\Content\Modifier\MaxLengthModifier</item>
                <item name="pager" xsi:type="object">Mirasvit\SeoContent\Service\Content\Modifier\PagerModifier</item>
                <item name="prefixSuffix" xsi:type="object">Mirasvit\SeoContent\Service\Content\Modifier\PrefixSuffixModifier</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\SeoToolbar\Block\Toolbar">
        <arguments>
            <argument name="dataProviderPool" xsi:type="array">
                <item name="20" xsi:type="object">Mirasvit\SeoContent\Model\Toolbar\DataProvider</item>
            </argument>
        </arguments>
    </type>
</config>
