//
//  Customer: General
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@customer-title-form__border: 1px solid @color-3-4;
@customer-title-form__width__l: 720px;
@customer-form-block_width_l: 420px;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login {
        .page-main {
            margin-top: -10px;
            margin-bottom: 30px;
        }
    }

    .fieldset > .title-form {
        .lib-css(border-bottom, @customer-title-form__border);
        margin: 0 0 21px;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .form.password,
    .form.create.account {
        margin-bottom: 30px;
    }
}

//
//  Tablet
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login {
        .page-main {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }

    .fieldset > .title-form {
        margin: 0 0 25px;
    }

    .form.password,
    .form.create.account {
        & {
            width: 100%;
            margin-bottom: 40px;
        }

        .primary {
            width: 100%;
        }
    }
}

//
//  XM +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xm) {
    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-create {
        button.-responsive,
        .button.-responsive {
            line-height: 1.6rem;
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-create {
        .page-main {
            margin-top: 10px;
            margin-bottom: 60px;
        }
    }

    .fieldset > .title-form {
        .lib-css(width, @customer-title-form__width__l);
        margin-right: auto;
        margin-left: auto;
    }

    .form.password,
    .form.create.account {
        & {
            margin-bottom: 60px;
        }

        .field:not(.title-form),
        .actions-toolbar {
            .lib-css(width, @customer-form-block_width_l);
            margin-left: auto;
            margin-right: auto;
        }
    }
}


