//
//  Customer: Login
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@customer-login-container__width__l: 970px;
@customer-login-block__width__l: 420px;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .login-container {
        & {
            margin-bottom: 30px;
        }

        .block-new-customer {
            margin-bottom: 0;
        }

        .block-customer-login .actions-toolbar > .primary {
            margin-bottom: 20px;
            padding-top: 10px;
        }
    }

    .block.-vast {
        .actions-toolbar > .secondary {
            .lib-css(font-weight, @font-weight__heavier);
            .lib-font-size(13);
            text-align: left;
        }
    }
}

//
//  Tablet
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        margin-bottom: 40px;
    }

    .block.-vast {
        & {
            width: 100%;
        }

        .actions-toolbar,
        .actions-toolbar {
            .lib-actions-toolbar-clear-floats();
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .login-container {
        & {
            .lib-css(width, @customer-login-container__width__l);
            margin: 0 auto 60px;
            padding-top: 20px;
        }

        .block-customer-login {
            .lib-css(width, @customer-login-block__width__l);
            margin-bottom: 0;
        }

        .block-new-customer {
            .lib-css(width, @customer-login-block__width__l);
        }

        .block-customer-login .actions-toolbar > .primary {
            margin-bottom: 17px;
        }
    }

    .block.-vast {
        .actions-toolbar > .secondary {
            .lib-font-size(14);
        }
    }
}
