//
//  Algolia Search
//  _____________________________________________

//
//  Common
//  ---------------------------------------------
& when (@media-common = true) {
    
    //InstantSearch
    
    .catalogsearch-result-index #maincontent {
        padding: 20px 0;
    }
    
    .catalogsearch-result-index .column.main {
	display: none !important;
    }

    .catalogsearch-result-index .sidebar-main {
        display: none !important;
    }
    
    .catalog-category-view .column.main {
	display: none !important;
    }

    .catalog-category-view .sidebar-main {
        display: none !important;
    }
    
    .ais-SearchBox-input {
        border: 1px solid #cacaca !important;
    }
    
    .ais-SearchBox-reset {
        background: #fff !important;
    }
    
    .ais-SearchBox-reset:focus {
        background: #fff !important;
    }
    
    .ais-SearchBox-reset:hover {
        background: #fff !important;
    }
    
    .ais-ClearRefinements-button.action.primary {
        margin-bottom: 15px;
    }
    
    .algolia-instant-replaced-content {
        display: none !important;
    }
    
    .ais-SortBy-select {
        font-family: 'Poppins';
    }
    
    .ais-Hits-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .ais-Hits-item {
        //width: calc(~'(100% - 55px) / 4');
        margin-left: 13.6px;
        position: relative;
        margin-bottom: 15px;
        flex: 1 1 calc(~'(24% - 10px)');
    }

    #algolia_instant_selector .col-md-4 {
        width: unset !important;
        float: none !important;
        border-radius: 20px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
        overflow: hidden;
    }
    
    .grid-view-col {
        padding: 0 !important;
    }
    
    .result-wrapper {
        padding: 0 !important;
    }
    
    .result-thumbnail {
        height: 228px;
        text-decoration: none;
        padding: 12px;
    }
    
    .result-container {
        display: flex;
        width: 100%;
    }
    
    .list-view-col .product-info-bottom .discount-price-wrapper {
        display: none;
    }
    
    .ais-Hits-item img {
        height: 175px !important;
        width: auto !important;
        margin-top: 30px !important;
        object-fit: contain;
    }
    
    .ais-Hits-item .product-reviews-summary {
        margin: 0 !important;
    }
    
    .ais-Hits-item .action.tocart.primary {
        color: #fff;
    }
    
    .result-title.text-ellipsis {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden !important;
        -webkit-line-clamp: 2;
        color: #242426;
        font-size: 13px;
        font-weight: 590;
        text-transform: capitalize;
        line-height: 21px;
        word-wrap: break-word;
        text-align: left;
        white-space: unset !important;
        max-width: 200px;
        height: 42px;
        margin-top: 2px;
    }
    
    /*.ais-Hits-item .price-wrapper {
        margin: 0 !important;
        justify-content: center;
        margin-top: -15px !important;
        margin-bottom: 10px !important;
        border: 1px solid #4e4e4e;
        border-radius: 5px;
        width: unset;
        display: block;
        height: 67px;
        position: relative;
        min-height: 37px;
        padding: 0 0 15px;
    }
    
    .ais-Hits-item .price-wrapper > div {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }*/
    
    .ais-Hits-item .after_special {
        color: #363638;
        font-weight: 500;
        font-size: 17px;
        text-align: left;
        display: block;
    }
    
    .ais-Hits-item .action.tocart.primary {
        width: 100%;
        margin: 0 !important;
    }
    
    a.ais-HierarchicalMenu-link {
        color: #222;
    }
    
    .rheostat-progress {
        background-color: #ff3c00 !important;
    }
    
    //Autocomplete
    
    .aa-Panel .aa-PanelLayout {
        padding: 0 !important;
    }
    
    #autocomplete-products-footer {
        background-color: unset !important;
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
    }
    
    #algoliaAutocomplete input {
        font-size: 14px;
    }
    
    .ais-SearchBox-input {
        font-size: 14px !important;
    }
    
    .aa-Form {
        position: relative;
    }
    
    .aa-SubmitButton {
        padding: 13px;
    }

    #algoliaAutocomplete .aa-SubmitButton {
        text-transform: uppercase;
    }
    
    .aa-Panel .algoliasearch-autocomplete-price {
        color: #ff3c00 !important;
        font-weight: 700;
    }

    .aa-Panel .aa-ItemLink.algolia-suggestions:has(svg.algolia-glass-suggestion) svg.algolia-glass-suggestion.magnifying-glass {
        fill: #ff3c00 !important;
        stroke: #ff3c00 !important;
    }
    
    .aa-Panel .algoliasearch-autocomplete-hit .thumb img {
        width: 145px !important;
        object-fit: contain;
        max-height: 90px;
    }

    .algoliasearch-autocomplete-hit .info {
        margin-left: 80px !important;
    }

    .aa-List {
        columns: unset !important;
    }

    .aa-List li {
        width: 100% !important;
    }

    .aa-Item .thumb {
        white-space: nowrap;
        overflow: hidden;
        margin-top: 5px;
    }

    .aa-SourceFooter a {
        color: #ff3c00 !important;
    }
    
    .ais-Pagination-list {
        gap: 10px;
    }
    
    .ais-Pagination-link {
        color: #000;
        font-weight: 500;
    }
    
    .ais-Pagination-link:visited {
        color: #000;
    }

    .ais-Pagination-item.ais-Pagination-item--page.ais-Pagination-item--selected {
        background: #FE4C25;
        outline: none;
    }
    
    .ais-Pagination-item {
        padding: 0 !important;
        outline: 1px solid #E6E6E6;
        outline-offset: -1px;
        border-radius: 999px;
    }
    
    .ais-Pagination-link {
        padding: 8px 20px;
        display: block;
    }

    .ais-Pagination-item.ais-Pagination-item--page.ais-Pagination-item--selected a {
        color: #fff;
    }
    
    .ais-Hits-item .price-container {
        display: block;
        text-align: left;
        font-size: 12px;
        color: #4D4E4E;
        height: 15px;
        position: relative;
    }

    .ais-Hits-item span.price {
        font-size: 12px;
        color: #4D4E4E;
        text-decoration: line-through;
        text-align: left;
    }

    .ais-Hits-item .discount-price-wrapper {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        color: #242426;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
        margin-left: -12px;
        background: #C7C7CC;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .ais-Hits-item .ribbon-digideals {
        position: absolute;
        border-radius: 19px 0 34px;
        background: #363638;
        color: #fff;
        padding: 7px 10px;
        font-size: 12px;
        width: 105px;
        text-align: center;
        font-weight: 400;
    }
    
    .ais-Hits-item .ribbon-online {
        position: absolute;
        border-radius: 19px 0 34px;
        background: #F2F2F7;
        color: #242426;
        padding: 7px 10px;
        font-size: 12px;
        width: 105px;
        text-align: center;
        font-weight: 400;
    }
    
    .ais-Hits-item .s19-rental-price-target {
        text-align: center;
        border-radius: 5px;
        margin-bottom: 10px;
        position: absolute;
        right: 12px;
        top: 84px;
    }
    
    .ais-Hits-item .s19-rental-price-target p {
        font-size: 11px !important;
        margin: 0;
        color: #222;
        font-weight: 400 !important;
        line-height: 16px;
    }
    
    .ais-Hits-item {
        transition: all .3s cubic-bezier(0, 0, .5, 1);
    }
    
    .ais-Hits-item:hover {
        transform: scale3d(1.01, 1.01, 1.01);
    }
    
    .ais-Hits-item .digiseconds-overlay {
        position: absolute;
        padding: 0;
        z-index: 1;
        max-width: 75px;
        top: 7px;
        left: 7px;
    }

    .ais-Hits-item .digiseconds-overlay img {
        height: unset !important;
        margin: 0 !important;
    }
    
    .ais-Hits-item .s19-rental-price-target > div {
        display: block;
        line-height: 10px;
    }

    .ais-Hits-item .s19-rental-price-target img {
        margin: 0 !important;
        height: 20px !important;
        visibility: hidden;
    }
    
    .ais-Hits-item .s19-rental-price-target img:after {
        content: 'digiRent';
        visibility: visible;
        color: #010202;
        font-size: 15px;
    }

    .ais-Hits-item .s19-rental-price-target div {
        font-size: 11px !important;
        margin: 0;
        color: #222;
        font-weight: 400 !important;
        margin-bottom: 0 !important;
        line-height: 16px;
    }
    
    section[data-autocomplete-source-id="products"] .aa-SourceNoResults {
        text-align: center;
    }
    
    .ais-HierarchicalMenu {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    #algolia-right-container .category-page-banner {
        padding: 0 15px;
        margin-bottom: 20px;
    }
    
    .ais-Hits-list .pa-product.product-item-info {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .algolia-landingpage-view .page-title-wrapper {
        margin: 10px 15px 20px;
        top: 30%;
        padding: 10px !important;
        border-left: 5px solid #ff3c00;
    }
    
    .algolia-landingpage-view .page-title {
        font-size: 17px;
        font-weight: 600;
        color: #323232;
        text-align: unset;
        margin: 0;
    }
    
    .algolia-landingpage-view #clear-refinements {
        display: none !important;
    }

    .algolia-landingpage-view .ais-CurrentRefinements-item:first-child {
        display: none;
    }
    
    #algolia_instant_selector .page-title-wrapper {
        display: none;
    }
    
    .product-info-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5px;
    }
    
    .ais-Hits-item .action.tocart.primary {
        width: 100%;
        margin: 0 !important;
        background: #FE4C25;
        border-radius: 24px;
        font-size: 11px;
        padding: 3px 8px 3px 8px;
    }
    
    .ais-Hits-item .action.tocart.primary img {
        height: unset !important;
        margin: 0 !important;
        display: inline-block;
        margin-left: 5px !important;
        padding-right: 13px;
        margin-bottom: -1px !important;
    }
    
    .result-sub-content {
        position: relative;
        padding: 12px;
        background: #fbfbfb;
    }
    
    .result-wrapper .price {
        margin-top: 20px;
    }
    
    .ais-Panel {
        margin: 0 !important;
        border: 0 !important;
        border-bottom: 1px solid #e6e6e6 !important;
    }
    
    .is-widget-container-categories, .is-widget-container-categories, .is-widget-container-brand, 
    .is-widget-container-marketplacer_seller, .is-widget-container-marketplacer_brand, .is-widget-container-is_digideals, 
    .is-widget-container-clearance   {
        padding-top: 10px;
    }

    .ais-Panel-header .name {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
    }

    input.ais-RefinementList-checkbox {
        width: 16.7px !important;
        height: 16.7px !important;
        appearance: auto !important;
        -webkit-appearance: auto !important;
    }

    input[type="checkbox"] {
        accent-color: #FE4C25;
    }

    button.ais-ClearRefinements-button.action.primary {
        background: #FE4C25;
        border-color: #FE4C25;
    }
    
    .ais-Panel-body.facet-body {
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 15px 4px;
        border-bottom: 1px solid #E6E6E6;
    }

    .ais-Panel-body.facet-body.collapsed {
        max-height: 0 !important;
        overflow: hidden !important;
    }

    .ais-Panel-header.collapsed::after {
        transform: rotate(-90deg);
    }
    
    .ais-Panel-header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background: #fff !important;
        padding: 12px 0 8px !important;
    }
    
    .ais-Panel-header::after {
        content: "";
        display: inline-block;
        width: 16px;   /* match your arrow.png size */
        height: 16px;
        margin-left: 8px;
        background: url('../images/iconsax-arrow-down-02.png') no-repeat center center;
        background-size: contain;
        transition: transform 0.3s ease;
    }
    
    .aa-Panel .ribbon-digideals {
        padding: 2px 12px 2px 12px;
        font-size: 9px;
        width: fit-content;
        border-radius: 28px 0 28px;
    }

    /* Rotate arrow when collapsed */
    .ais-Panel-header.collapsed::after {
        transform: rotate(-90deg);
    }
    
    .algolia-custom-refinement {
        margin-top: 10px;
        display: flex;
        white-space: nowrap;
    }
    
    .algolia-custom-refinement {
        
        .ais-CurrentRefinements-item {
            background: #fff;
            border: 0;
            padding: 5px 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            max-width: 1015px;
        }
    
        .ais-CurrentRefinements-label {
            display: none;
        }

        .ais-CurrentRefinements-category {
            background: #ffede9;
            color: #cb3d1e;
            font-size: 14px;
            font-weight: 500;
            border-radius: 999px;
            padding: 4px 14px 4px 14px;
            outline: 1px #ffc9be solid;
            outline-offset: -1px;
            margin: 0;
        }
        
        .ais-ClearRefinements-button.action.primary {
            background: #fff;
            color: #242426;
            border: 0;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
            padding: 7px 10px;
            margin-bottom: 0;
        }
    
        .ais-CurrentRefinements-delete {
            color: #ffede9;
        }
    
        .ais-CurrentRefinements-delete:after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-bottom: -2px;
            margin-left: -5px;
            background: url('../images/iconsax-close-circle.png') no-repeat center center;
            background-size: contain;
            transition: transform .3s ease;
            visibility: visible;
        }
        
    }
    
    .algolia-infos {
        background: #fff !important;
        display: flex;
        padding: 6px 0 !important;
    }
    
    #algolia_instant_selector .pull-right {
        float: left;
    }
    
    .sort-by-label {
        margin-top: 3px;
    }

    .sort-by-label.pull-left {
        color: #000;
        font-size: 14px;
        font-weight: 500;
    }
    
    #algolia_instant_selector .pull-right {
        float: left !important;
    }
    
    .ais-SortBy, .ais-HitsPerPage {
        position: relative;
        display: inline-block;
    }
    
    .ais-SortBy-select, .ais-HitsPerPage-select {
        margin-left: 10px;
        font-family: 'Inter';
        padding: 5px 12px;
        border-radius: 999px !important;
        appearance: none;
        border: 1px solid #E5E5EA;
        min-width: 50px;
        height: 40px !important;
    }
    
    .ais-SortBy:after, .ais-HitsPerPage:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url('../images/iconsax-arrow-down-02.png') no-repeat center center;
        background-size: contain;
        pointer-events: none;
        display: block;
    }
    
    .hits-per-page-container {
        margin-right: 20px;
        margin-left: auto;
    }
    
    #hits-per-page {
        float: right;
    }
    
    .ais-Panel-body.facet-body:has(.ais-RangeSlider) {
        overflow: visible;
        padding-left: 0;
        padding-right: 0;
    }
    
    .ais-RangeSlider .rheostat-handle {
        top: -5px !important;
    }
    
    .rheostat-handle {
        width: 13px !important;
        height: 13px !important;
    }
    
    .ais-RangeSlider .rheostat-background {
        background-color: #E6E6E6 !important;
        height: 3px !important;
    }
    
    .rheostat-progress {
        background: linear-gradient(to right, #982d16, #fe4c25);
        height: 3px !important;
        top: 0 !important;
    }
    
    .rheostat-tooltip {
        background: #010202;
        color: #f2f2f7;
        font-size: 12px;
        font-weight: 400;
        padding: 2px 7px;
        border-radius: 999px;
        top: -27px !important;
        line-height: 16px;
    }
    
    .rheostat-handle.rheostat-handle-lower, .rheostat-handle.rheostat-handle-upper {
        border: 2px solid transparent;
        background: linear-gradient(white, white) padding-box, /* inner fill color */ linear-gradient(to right, #982d16, #fe4c25) border-box;
    }
    
    .algolia-instant-results-wrapper {
        //margin-top: 5px;
    }
    
    #algolia_instant_selector .col-md-3 {
        width: 22% !important;
        padding-right: 13px;
    }
    
    #algolia_instant_selector .col-md-9 {
        width: 78% !important;
        padding-top: 0;
    }
    
    #algolia_instant_selector .col-md-12 {
        padding-left: 17px;
    }
    
    #algolia-left-container .ais-Panel:first-child .ais-Panel-header {
        padding-top: 7px !important;
    }
    
    //Grid View & List View Toggle
    
    .list-view .ais-Hits-list {
        grid-template-columns: unset;
    }

    .list-view-col {
        display: none;
    }

    .list-view .list-view-col {
        display: block;
        padding: 12px !important;
    }

    .list-view .grid-view-col {
        display: none;
    }

    .list-view .ais-Hits-item .result-thumbnail img {
        float: left;
    }

    .list-view .result-content {
        display: flex;
    }
    
    .list-view .result-sub-content {
        padding-left: 15px;
        background: #fff;
    }
    
    .list-view .ais-Hits-item {
        margin-left: 0;
    }

    .ais-Hits-item .list-view-col img {
        margin-top: 0 !important;
    }

    .list-view-col .result-thumbnail {
        flex: 0 0 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-view-col .result-title.text-ellipsis {
        max-width: 300px;
    }

    .list-view-col .s19-rental-price-target {
        text-align: left;
        position: unset;
    }

    .result-sub-content.right-content {
        margin-right: 0;
        margin-left: auto;
        padding: 0 25px;
        width: 205px;
    }

    .list-view-col .discount-price-wrapper {
        display: block;
        text-align: center;
        padding: 10px 0 5px !important;
        margin: 0 20px;
        border-radius: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-top: -17px;
        min-width: 111px;
    }

    .list-view-col .price-container {
        margin-top: 5px;
    }

    .ais-Hits-item .list-view-col .action.tocart.primary img {
        padding: 0;
        display: inline;
        padding-right: 5px;
    }

    .list-view-col .price-wrapper:has(.price:not(:empty)) {
        gap: 10px;
    }
    
    .list-view-col .discount-price-wrapper-no-price {
        display: none;
    }
    
    .ais-ViewToggle-button.is-active {
        background: #242426;
        color: #fff;
    }
    
    .ais-ViewToggle-button {
        color: #242426;
    }
    
    .ais-ViewToggle-button.is-active:hover {
        background: #242426;
        color: #fff;
    }
    
    .ais-ViewToggle-button:hover {
        background: unset;
        border: 0;
        color: #242426;
    }
    
    .ais-ViewToggle-button.is-active img {
        filter: invert(1);
    }
    
    .ais-ViewToggle {
        display: flex;
        padding: 4px;
        background: #F2F2F7;
        border-radius: 999px;
        outline: 1px #C7C7CC solid;
        outline-offset: -1px;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    
    .ais-ViewToggle-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        overflow: hidden;
        background: unset;
    }
    
    .ais-CurrentRefinements-list:not(:empty) {
        display: flex;
        gap: 10px;
    }
    
    #price-histogram {
        display: flex;
        align-items: flex-end;
        height: 60px;
        margin-top: 5px;
        gap: 2px;
    }
    
    #price-histogram .bar {
        flex: 1;
        border-radius: 2px;
        transition: height 0.3s, background 0.2s;
        cursor: pointer;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .histogram {
        display: contents;
    }
    
    .ais-RangeSlider {
        margin: 0 !important;
        padding: 0 1px 0 11px;
        background: #e6e6e6;
    }
    
    .ais-RangeSlider .rheostat {
        margin-top: 0px !important;
        margin-bottom: 25px !important;
    }
    
    #price-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 10px;
    }
    
    .price-input-wrapper {
        border-radius: 4px;
        border: 1px #E6E6E6 solid;
        position: relative;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
    }

    .price-input-wrapper .currency {
        position: absolute;
        left: 8px;
        color: #555;
        font-size: 14px;
        pointer-events: none;
    }

    .price-input-wrapper input {
        padding-left: 18px;
        border: 0;
    }
    
    .aa-Panel .aa-PanelLayout section {
        padding-top: 35px !important;
    }
    
    .ais-RangeSlider { 
        overflow: visible; 
    }
    
    .rheostat-tooltip { 
        white-space: nowrap; 
        margin-left: -15% !important; 
    }
    
    .aa-Panel {
        visibility: hidden !important;
        opacity: 0 !important;
        transform: translateY(-10px) !important;
        transition: opacity 0.3s ease, transform 0.3s ease !important;
        pointer-events: none !important;
    }

    .aa-Panel.is-ready {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateY(0) !important;
        pointer-events: auto !important;
    }
    
    .ais-RefinementList-item {
        margin-bottom: 0;
    }
    
    #algolia_instant_selector .col-md-3 {
        padding-right: 13px;
    }
    
    .ais-HierarchicalMenu-item {
        margin: 3px;
    }
    
    .algolia-instant-selector-results {
        max-width: 1327px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px
    }
    
    input.ais-SearchBox-input {
        border-radius: 4px;
        border: 1px #e6e6e6 solid !important;
    }
    
    #instant-search-bar {
        //border-top: 1px solid #e6e6e6 !important;
        padding: 17px 0;
    }

    .ais-SearchBox {
        margin-top: 10px;
    }

    svg.ais-SearchBox-loadingIcon {
        display: none !important;
    }

    .ais-SearchBox-reset {
        padding: 0 !important;
        height: 29px;
    }

}


@media only screen and (min-width: 768px) {
    
    .ais-Hits-item .list-view-col .action.tocart.primary {
        width: 100%;
        margin-top: 5px;
    }
    
    .list-view-col .result-wrapper .price {
        margin-top: 20px;
    }
    
    .list-view-col .price-wrapper {
        display: flex;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 390px) {
    
    .ais-Hits-item .price-label {
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    
    .is-widget-container-price_AUD_default .ais-Panel-body {
        padding: 0 10px 10px !important;
    }

    .ais-HierarchicalMenu-item {
        margin-bottom: 10px;
    }

    .ais-RefinementList-item {
        margin-bottom: 7px;
    }

    .ais-CurrentRefinements-list:not(:empty) {
        display: block;
    }
    
    .result-container {
        display: block;
        width: unset;
    }
    
    .list-view-col .product-info-bottom .discount-price-wrapper {
        display: flex;
        padding: 0 !important;
        margin: 0;
        border-radius: 0;
        font-size: 11px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .list-view-col .result-sub-content > .discount-price-wrapper {
        display: none;
    }
    
    .list-view-col .product-info-bottom {
        gap: 6px;
        grid-template-columns: repeat(2,1fr);
    }
    
    .list-view-col .price-wrapper:has(.price:not(:empty)) {
        gap: 10px;
        justify-content: left;
    }
    
    .ais-Hits-item .list-view-col .action.tocart.primary {                                                       
        margin-top: 0;
        padding-right: 13px;
    }
    
}

@media only screen and (max-width: 992px) {
    
    .algolia-instant-selector-results {
        padding: 15px;
        margin-top: 0;
    }
    
    .ais-Hits-item {
        //width: calc(~'(100% - 15px) / 2') !important; 
    }
    
    .ais-Hits-item:nth-child(2n+1) {
        margin-left: 0 !important;
    }
    
}

@media only screen and (max-width: 1280px) {
    
    #algoliaAutocomplete {
        position: absolute !important;
        width: calc(~'(100% - 25px)') !important;
        margin-top: 60px !important;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    
    .aa-SubmitButton {
        padding: 0 !important;
        margin: 25px 15px !important;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    
    .columns.algolia-instant-replaced-content {
        display: none !important;
    }
    
}

@media only screen and (min-width: 991px) and (max-width: 1280px) {
    
    .algolia-instant-selector-results {
        padding: 10px 15px !important;
    }
    
}

/*@media only screen and (min-width: 1281px) and (max-width: 1365px) {
    
    .algolia-instant-selector-results {
        padding: 10px 50px !important;
    }
    
}*/

@media only screen and (min-width: 991px) and (max-width: 1480px) {
    
    .ais-Hits-item {
        //width: calc(~'(100% - 41px) / 4') !important;
    }
    
    .ais-Hits-item:nth-child(4n+1) {
        margin-left: 0 !important;
    }
    
}

@media only screen and (min-width: 1481px) {
    
    .ais-Hits-item:nth-child(4n+1) {
        margin-left: 0;
    }
    
}

@media only screen and (max-width: 1280px) {
    
    .catalog-category-view #maincontent>.breadcrumbs {
        margin: 25px 15px 0 !important;
    }
    
}

@media only screen and (min-width: 1281px) and (max-width: 1365px) {
    
    .catalog-category-view #maincontent>.breadcrumbs {
        margin: 0 50px !important;
    }
    
}

@media only screen and (min-width: 1367px) and (max-width: 1680px) {
    
    .catalog-category-view #maincontent>.breadcrumbs {
        margin: 0 !important;
        padding: 10px 0 !important;
    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1680px) {
    
    .catalogsearch-result-index #maincontent {
        padding: 50px 0 !important;
    }
    
}

/*@media only screen and (min-width: 1681px) {
    
    .algolia-instant-selector-results {
        padding: 10px 50px !important;
    }
    
}*/

//
//  Mobile above
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    
}

//
//  Tablet and above
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    
}

//
//  Tablet
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    .ais-SearchBox-reset {
        padding: 13px !important;
        margin: 1px 10px;
    }
    
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    #algoliaAutocomplete .aa-SubmitButton {
        z-index: 2;
        padding: 10px;
    }
    
    .homepage-row.main-banner {
        margin-top: 10px !important;
    }
    
    .ais-SearchBox-reset {
        padding: 0 !important;
        height: unset !important;
        margin: 5px 15px !important;
    }
    
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    
}