/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 08 17, 25, 1:14:41 PM
    Author     : rondel
*/
.aa-Panel.productColumn2 {
    top: 183px !important;
    left: 0 !important;
    right: 0 !important;
    border-top: .5px solid #E5E5EA;
}

.aa-PanelLayout.aa-Panel--scrollable {
    width: 1325px;
    margin: 0 auto;
    padding-top: 40px;
}

.aa-Panel.productColumn2 .aa-PanelLayout section:nth-child(2) {
    border-left: 0 !important;
}

.aa-Panel.productColumn2 section:nth-child(2) .aa-List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.aa-SourceFooter {
    display: none;
}
