/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 08 17, 25, 1:14:41 PM
    Author     : rondel
*/

//Version 1
.aa-Panel.productColumn2 {
    //top: 183px !important;
    left: 0 !important;
    right: 0 !important;
    border-top: 0.5px solid #e5e5ea;
}

.aa-PanelLayout.aa-Panel--scrollable {
    width: 1327px;
    margin: 0 auto;
    padding-top: 40px;
}

.aa-Panel.productColumn2 .aa-PanelLayout section:nth-child(2) {
    border-left: 0 !important;
}

.aa-Panel.productColumn2 section:nth-child(2) .aa-List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.aa-SourceFooter {
    display: none;
}

.algoliasearch-autocomplete-category {
    display: none;
}

.algoliasearch-autocomplete-name {
    //width: 170px;
    font-size: 14px !important;
    color: #676767;
    font-family: "Inter";
    height: 40px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow-wrap: break-word;
    word-break: break-word;
}

span.before_price {
    font-size: 10px;
    color: #545456;
    text-decoration: line-through;
    margin-right: 15px;
}

span.after_special {
    color: #242426;
    font-size: 14px;
}

.aa-Panel .aa-PanelLayout {
    padding-right: 150px;
    padding-bottom: 60px !important;
}

.algoliasearch-autocomplete-hit .info {
    white-space: unset !important;
}

.algoliasearch-autocomplete-price {
    height: unset !important;
}

.algoliasearch-autocomplete-hit .discount {
    font-size: 10px;
    color: #fff;
    background: #fe4c25;
    width: fit-content;
    padding: 2px 10px;
    border: none;
    border-radius: 32px;
    margin-top: 5px;
}

.aa-Panel.productColumn2 section:nth-child(2) .aa-List li {
    width: unset !important;
}

.aa-Panel.productColumn2 .aa-PanelLayout section:nth-child(1) .aa-SourceFooter {
    display: block;
    margin-top: 40px;
}

.algoliasearch-autocomplete-hit .thumb img {
    width: 70px !important;
}

a.aa-ItemLink.algolia-suggestions.algoliasearch-autocomplete-hit {
    font-size: 14px !important;
    color: #676767 !important;
    font-family: "Inter";
}

.aa-SourceHeader {
    padding: 0 !important;
}

.aa-SourceHeader p {
    color: #242426;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.aa-Panel.productColumn2 .aa-PanelLayout section:nth-child(1) .aa-Item {
    display: flex;
}

.aa-Panel.productColumn2 .aa-PanelLayout section:nth-child(1) svg {
    margin-top: 5px;
}

.aa-Panel.productColumn2 .aa-PanelLayout section:nth-child(1) li a:hover {
    background: none !important;
}

.aa-Panel .aa-List li:hover {
    background: none !important;
}

.aa-Item[aria-selected="true"] {
    background: none !important;
}

//Version 2 Updates

.aa-Panel {
    top: 182px;
    left: 0 !important;
    right: 0 !important;
    border-top: 0.5px solid #e5e5ea !important;
    padding: 0 !important;
}

.aa-Panel .aa-PanelLayout section:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 20px;
    width: 230px;
}

.aa-Panel .aa-PanelLayout section:nth-child(1) .aa-Item {
    display: flex;
    margin-bottom: 2px;
}

.aa-Panel .aa-PanelLayout section:nth-child(1) svg {
    margin-top: 5px;
}

.aa-Panel .aa-PanelLayout section:nth-child(1) .aa-SourceFooter {
    display: block;
    margin-top: 40px;
}

.aa-Panel .aa-PanelLayout section:nth-child(2) {
    margin-bottom: 0;
    margin-left: 0 !important;
    min-width: 0;
    padding-left: 35px;
}

.aa-Panel section:nth-child(2) .aa-List {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 10px;
}

.aa-Panel section:nth-child(2) .aa-List li {
    width: unset !important;
}

.aa-Panel section:nth-child(2) .aa-List li .algoliasearch-autocomplete-hit {
    padding: 0;
}

div#autocomplete-products-footer {
    display: none;
}

@media screen and (max-width: 768px) {
    .aa-Panel .aa-PanelLayout section:nth-child(2) {
        overflow: scroll;
        height: calc(~"100vh - 235px");
    }
}
