@font-directory: '../fonts/';

@font-face {
  font-family: 'SF Pro';
  src: url('@{baseDir}fonts/SFPro/SFProDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro';
  src: url('@{baseDir}fonts/SFPro/SFProDisplay-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro';
  src: url('@{baseDir}fonts/SFPro/SFProDisplay-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}