footer.page-footer {
    background: #171717;
    border-top-left-radius: 96px;
    border-top-right-radius: 96px;
}

.footer.content {
    border: 0;
}

nav#footer_nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-menu span.link {
    color: #F5F5F5;
    font-size: 14px;
    text-transform: capitalize;
}

.footer a.link {
    color: #A2A2A2;
    font-size: 13px;
    font-family: 'SF Pro';
    line-height: 29px;
    letter-spacing: 0.32px;
    word-wrap: break-word;
}

.footer-bottom * {
    color: #fff;
}

.footer-menu img {
    margin-bottom: -8px;
}