footer.page-footer {
    background: #171717;
    border-top-left-radius: 96px;
    border-top-right-radius: 96px;
    position: relative;
}

.footer.content {
    border: 0;
    max-width: 1325px;
    padding: 20px 0 0 0;
}

nav#footer_nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-menu .sub-items ul.menu {
    margin-top: 14px;
}

.footer-menu span.link {
    color: #F5F5F5;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.footer a.link {
    color: #A2A2A2;
    font-size: 16px;
    font-family: 'SF Pro';
    line-height: 33.44px;
    letter-spacing: .32px;
    word-wrap: break-word;
}

.footer-bottom {
    position: absolute;
    z-index: 2;
    bottom: 15px;
}

.footer-bottom * {
    color: #fff;
}

.footer-menu img {
    margin-bottom: -8px;
}

.footer-line {
    position: relative;
    overflow: visible;
    z-index: 1;
    margin-top: 45px;
}

.footer-line img {
    position: relative;
    left: -40px;
    width: calc(~'100% + 80px');
    display: block;
    z-index: 2;
    max-width: unset;
}

.footer-black-gradient {
    z-index: 2;
    transition: opacity .5s ease;
    position: absolute;
    bottom: 0;
}