
.page-header .header.panel {
    max-width: 1325px;
    padding: 8px 0;
}

.panel.wrapper {
    background: #000;
}

.panel.header {
    display: flex;
}

header.page-header {
    background: #F2F2F7;
}

.header-links a {
    color: #fff;
    font-size: 12px;
}

.header-links a:not(:last-child) {
    margin-right: 25px;
}

.header-links img {
    margin-bottom: -2px;
}

.click-and-collect-link img {
    height: 12px;
}

.header.content {
    display: flex;
    margin-bottom: 0;
    padding: 15px 0;
    max-width: 1325px;
}

.header.content > *:not(:last-child) {
    //margin-right: 50px;
}

a.logo {
    margin: 0;
}

div#algoliaAutocomplete {
    width: 100%;
    padding: 0;
    max-width: 840px;
    margin: 0 auto;
}

.minicart-wrapper {
    margin: 0;
}

.aa-InputWrapper input {
    border-radius: 22px;
    padding: 3px 12px 7px 17px;
    height: 43px;
    box-shadow: 0px 3.4177639484405518px 6.8355278968811035px rgba(171, 171, 171, 0.06);
    border: 0;
    outline: 1px rgba(142, 142, 147, 0.22) solid;
    outline-offset: -1px;
}

#algoliaAutocomplete .aa-SubmitButton {
    height: 42px !important;
    margin-right: 4px;
}

button.aa-SubmitButton {
    padding: 0;
}

button.aa-SubmitButton:before {
    content: 'Search';
    background: #ff3c00;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 10px 33px;
    border-radius: 21px;
    font-family: 'SF Pro';
}

svg.aa-SubmitIcon {
    display: none;
}

.minicart-wrapper .action.showcart:before {
    display: none !important;
}

.minicart-wrapper {
    display: flex;
}

.minicart-wrapper a {
    display: block;
    text-align: center;
    color: #AEAEB2;
}

.minicart-wrapper .action.showcart {
    white-space: unset;
}

.minicart-wrapper a span {
    font-size: 10px;
}

.minicart-wrapper a:not(:last-of-type) {
    margin-right: 26px;
}

.minicart-wrapper img {
    display: block;
}

.minicart-wrapper .wishlist-container {
    position: relative;
}

.minicart-wrapper .wishlist-count {
    position: absolute;
    background-color: #fe4c25;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -5px;
    right: 0;
    font-size: 10px;
    line-height: unset;
    margin: 0;
    display: unset;
    min-width: unset;
    padding: 0;
    font-family: 'SF Pro';
}

.minicart-wrapper .action.showcart {
    position: relative;
}

.minicart-wrapper .action.showcart .counter.qty {
    position: absolute;
    background-color: #010202;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -5px;
    right: -6px;
    font-size: 7px;
    line-height: unset;
    margin: 0;
    display: unset;
    min-width: unset;
    padding: 0;
    font-family: 'SF Pro';
}

//Banner

.glow-up-banner-row > div {
    max-width: unset !important;
}

.pagebuilder-overlay.pagebuilder-poster-overlay {
    height: 506px;
}

ul.slick-dots {
    margin-top: -45px;
}