.icon-info:before {
    content: "\e900";
    font-family: "Icomoon";
}
.icon-box-remove:before {
    content: "\e902";
    color: #fe4c25;
    font-family: "Icomoon";
    font-size: 24px;
}
.icon-bank:before {
    content: "\e904";
    font-family: "Icomoon";
    font-size: 16px;
}
.icon-warning-penta:before {
    content: "\e905";
    color: #545456;
    font-family: "Icomoon";
    font-size: 30px;
}
.icon-buliding::before {
    content: "\e906";
    color: #7c7c80;
    font-family: "Icomoon";
    font-size: 16px;
}
.icon-call::before {
    content: "\e907";
    color: #7c7c80;
    font-family: "Icomoon";
    font-size: 16px;
}
.icon-sms::before {
    font-family: "Icomoon";
    content: "\e908";
    color: #7c7c80;
    font-size: 16px;
}
