
.custom-nav {
    background-color: #fff;
    padding: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    max-width: 1325px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 700;
    color: #363638;
    font-size: 14px;
}

.nav-menu .digi {
    color: #FE4C25; /* bright orange for 'digi' */
    font-weight: 700;
}

span.action.nav-toggle {
    display: none;
}

.sections.nav-sections {
    display: none;
}