/*
    Created on : 08 2, 25, 10:30:59 AM
    Author     : rondel
*/

body {
    font-family: 'SF Pro';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#maincontent {
    max-width: 1325px;
    padding: 0;
}

.ribbon-digideals {
    border-radius: 19px 0 34px 0;
    background: #FE4C25;
    color: #fff;
    padding: 7px 10px;
    font-size: 12px;
    width: 105px;
    text-align: center;
}

span.digi {
    font-weight: 700;
}

.ribbon-online {
    border-radius: 19px 0 34px 0;
    background: #010202;
    color: #fff;
    padding: 7px 10px;
    font-size: 12px;
    width: 105px;
    text-align: center;
    font-weight: 700;
}

