/*
    Created on : 08 2, 25, 10:30:59 AM
    Author     : rondel
*/

body {
    font-family: 'SF Pro';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#maincontent {
    max-width: 100%;
    padding: 0;
}

.homepage-row.pa-widget {
    background: #F2F2F7;
}

.pa-digidirect-product-widget {
    max-width: 1325px;
    margin: 0 auto;
}

.ribbon-digideals {
    border-radius: 19px 0 34px 0;
    background: #FE4C25;
    color: #fff;
    padding: 7px 10px;
    font-size: 12px;
    width: 105px;
    text-align: center;
}

span.digi {
    font-weight: 700;
}

.ribbon-online {
    border-radius: 19px 0 34px 0;
    background: #010202;
    color: #fff;
    padding: 7px 10px;
    font-size: 12px;
    width: 105px;
    text-align: center;
    font-weight: 700;
}

.ribbon-container {
    height: 31px;
}

a.product-item-link {
    align-self: stretch;
    color: #242426;
    font-size: 13px;
    font-family: SF Pro;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 21px;
    word-wrap: break-word;
}

strong.product-item-name {
    height: 42px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow-wrap: break-word;
    word-break: break-word;
}

.product-item .old-price .price {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #4D4E4E;
    font-size: 12px;
    font-family: SF Pro;
    font-weight: 400;
    text-decoration: line-through;
    word-wrap: break-word;
}

.product-item .special-price .price {
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #363638;
    font-size: 24px;
    font-family: SF Pro;
    font-weight: 500;
    word-wrap: break-word;
}

.product-item .price-box .price-label:after {
    display: none;
}

.product-item .price-box {
    margin: 0;
}

.owl-carousel.custom .owl-stage-outer {
    margin-right: -270px;
}