@font-face {
    font-family: "SF Pro";
    src: url("@{baseDir}fonts/SFPro/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro";
    src: url("@{baseDir}fonts/SFPro/SFProDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro";
    src: url("@{baseDir}fonts/SFPro/SFProDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

// //inter
// @font-face {
//     font-family: "Inter";
//     src: url("@{baseDir}fonts/Inter/Inter_28pt-Light.woff2") format("woff2");
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Inter";
//     src: url("@{baseDir}fonts/Inter/Inter_28pt-Regular.woff2") format("woff2");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("@{baseDir}fonts/Inter/Inter_28pt-Medium.woff2") format("woff2");
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Inter";
//     src: url("@{baseDir}fonts/Inter/Inter_28pt-Bold.woff2") format("woff2");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("@{baseDir}fonts/Inter/Inter_28pt-ExtraBold.woff2") format("woff2");
//     font-weight: 800;
//     font-style: normal;
// }

h2,
h1,
h3 {
    font-weight: 500;
    font-family: "inter";
}

h1,
h2 {
    color: @color-black-1;
}

h3 {
    color: @color-black;
}

p {
    color: @color-light-black;
}
