@color-orange: #fe4c25;
@color-black: #000000;
@color-black-1: #1d1d1f;
@color-light-black: #626262;
@color-white: #ffffff;
@color-grey: #d9d9d9;
@color-light-grey: #f5f5f7;
@color-light-black: #4d4e4e;
@color-yellow: #ffc321;
@color-blue: #0171e3;
@color-link-blue: #0066cc;
//
//  Typography
//  ---------------------------------------------

//  Fonts

@font-family-name__base: "Inter";
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
@login-button__bg__color: #2c2c2c;
@form-element-input__border-color: @color-grey;
@form-buton__min__width: 187px;

//Icons
@icon-info: "\e900";
