//
//  My Order Items: Filter Category
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-filter-category__is-enabled: true;

@my-order-items-filter-category__display: flex;
@my-order-items-filter-category__justify-content: flex-end;
@my-order-items-filter-category__margin: 0 0 20px;
@my-order-items-filter-category__padding: false;

@my-order-items-filter-category__filter__position: relative;
@my-order-items-filter-category__filter__margin-left: 10px;
@my-order-items-filter-category__filter__z-index: 1;

@my-order-items-filter-category__list__display: none;
@my-order-items-filter-category__list__position: absolute;
@my-order-items-filter-category__list__top: 100%;
@my-order-items-filter-category__list__right: 0;
@my-order-items-filter-category__list__min-width: 100%;
@my-order-items-filter-category__list__padding: 6px;
@my-order-items-filter-category__list__background: @color-white;
@my-order-items-filter-category__active__list__display: block;

@my-order-items-filter-category__item__display: block;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@my-order-items-filter-category__is-enabled = true) {
        .filter-category {
            & {
                .lib-css(display, @my-order-items-filter-category__display);
                .lib-css(justify-content, @my-order-items-filter-category__justify-content);
                .lib-css(margin, @my-order-items-filter-category__margin);
                .lib-css(padding, @my-order-items-filter-category__padding);
            }

            > .filter {
                .lib-css(position, @my-order-items-filter-category__filter__position);
                .lib-css(margin-left, @my-order-items-filter-category__filter__margin-left);
                .lib-css(z-index, @my-order-items-filter-category__filter__z-index);
            }

            .list {
                .lib-css(display, @my-order-items-filter-category__list__display);
                .lib-css(position, @my-order-items-filter-category__list__position);
                .lib-css(top, @my-order-items-filter-category__list__top);
                .lib-css(right, @my-order-items-filter-category__list__right);
                .lib-css(min-width, @my-order-items-filter-category__list__min-width);
                .lib-css(padding, @my-order-items-filter-category__list__padding);
                .lib-css(background, @my-order-items-filter-category__list__background);
            }

            .active > .list {
                .lib-css(display, @my-order-items-filter-category__active__list__display);
            }

            .item {
                .lib-css(display, @my-order-items-filter-category__item__display);
            }
        }
    }
}
