<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="layered_navigation_attribute_plugin" type="Digidirect\LayeredNavigation\Plugin\Admin\AttributePlugin" sortOrder="1"/>
    </type>
</config>
