<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Digidirect_OutOfStockNotif::out_of_stock_section" title="Out Of Stock Notification" translate="title" module="Digidirect_OutOfStockNotif" sortOrder="50" parent="Digidirect_Utilities::digidirect" dependsOnModule="Digidirect_Utilities" resource="Digidirect_OutOfStockNotif::out_of_stock_section" />
        <add id="Digidirect_OutOfStockNotif::out_of_stock" title="Out Of Stock Notification" translate="title" module="Digidirect_OutOfStockNotif" sortOrder="50" parent="Digidirect_OutOfStockNotif::out_of_stock_section" dependsOnModule="Digidirect_Utilities" resource="Digidirect_OutOfStockNotif::out_of_stock" action="digidirect_outofstock" />
    </menu>
</config>
