<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Mirasvit_SeoAudit::seoaudit_job" title="Seo Audit" module="Mirasvit_SeoAudit" sortOrder="100"
             action="seoaudit/job" resource="Mirasvit_SeoAudit::seoaudit_job" parent="Mirasvit_Seo::seo"/>
    </menu>
</config>
