<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xs">
    <system>
        <section id="seo_audit" showInDefault="1" showInWebsite="0" showInStore="0" type="text" translate="label" sortOrder="900">
            <label>SEO Audit</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_SeoAudit::config_seoaudit</resource>
            <group id="general" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                <label>General Settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable SEO Audit</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <attribute type="comment">
                        Enable/disable SEO Audit
                    </attribute>
                </field>
            </group>
        </section>
    </system>
</config>
