<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digidirect_related_product>
            <shown_parameters>
                <filter_tab_enable>1</filter_tab_enable>
                <category_attributes>description</category_attributes>
                <attributes>sku</attributes>
                <visibility_products>2,4</visibility_products>
                <images_enable>1</images_enable>
                <attribute_sets>4</attribute_sets>
                <display_one_category>0</display_one_category>
            </shown_parameters>
        </digidirect_related_product>
    </default>
</config>
