<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ewave_AddressVerification::address_verification" title="Address Autocomplete" module="Ewave_AddressVerification" sortOrder="10" parent="Ewave_Utilities::ewave" resource="Ewave_AddressVerification::address_verification"/>

        <add id="Ewave_AddressVerification::country_address_attributes" title="Country Address Attributes" module="Ewave_AddressVerification"
             sortOrder="20" resource="Ewave_AddressVerification::addressverificationcountryaddressattributes"
             action="ewave_addressverification/countryaddress" parent="Ewave_AddressVerification::address_verification"/>
    </menu>
</config>
