<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_prepare_save">
        <observer name="seo_cms_save_page" instance="\Mirasvit\Seo\Observer\System\Cms\SavePageObserver"/>
    </event>
    <event name="adminhtml_cms_page_edit_tab_main_prepare_form">
        <observer name="seo_cms_prepare_form" instance="\Mirasvit\Seo\Observer\System\Cms\PrepareFormObserver"/>
    </event>
    <event name="controller_action_predispatch_adminhtml_system_config_save">
        <observer name="m_seo" instance="\Mirasvit\Seo\Observer\System\Config\HreflangLocaleCodeInfoObserver"/>
        <observer name="m_seo_max_length" instance="\Mirasvit\Seo\Observer\System\Config\MaxLengthInfoObserver"/>
    </event>
    <!-- Hide SEO & Search menu if empty -->
    <event name="controller_front_send_response_before">
        <observer name="m_seo_observer_http_response_send_before" instance="\Mirasvit\Seo\Observer\Admin\MenuChange"/>
    </event>
</config>
