<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <marketplacer_brand>
            <general>
                <enabled>1</enabled>
                <allow_admin_edit>0</allow_admin_edit>
            </general>
            <seo>
                <base_url_key>brands</base_url_key>
                <url_suffix>.html</url_suffix>
            </seo>
            <listing>
                <page_title>Brands</page_title>
                <meta_title>Brands</meta_title>
                <meta_description>Brands</meta_description>
            </listing>
        </marketplacer_brand>
    </default>
</config>
