<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Digidirect_OutOfStockNotifPreOrder" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Utilities"/>
            <module name="Digidirect_OutOfStockNotif"/>
            <module name="Digidirect_PreOrder"/>
        </sequence>
    </module>
</config>
