/*
    Created on : 27 April 2021, 9:45:00 AM
    Author     : Johnry
*/

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .checkout-index-index{
        .authentication-wrapper{
            float: unset;
            margin-top: 0;
            width: 100%;
        }
        
        .footer-line{
            padding: 0;
        }
        
        .field-tooltip {
            top: -5px;
            right: 35px;
        }
    }
}