/*
    Created on : 15 Mar 2021, 5:41:17 PM
    Author     : Clint
*/

@span_padding: 30px;

.checkout-billing-address span
{
    padding: @span_padding;
}

.authentication-wrapper {
    margin-top: -20px !important;
}

.authentication-wrapper span {
    color: #e65300 !important;
}

.checkout-container {
    padding: 50px 10px !important;
}
.braintree-credit-card-selected {
    top: 13px !important;
}

.field-tooltip .field-tooltip-action {
    display: inline-block !important;
    text-decoration: none !important;
    padding: 10px 1px !important;
}
#braintree_expirationDate {
    width: 150px !important;
}

.fieldset .field .label {
    padding: 2px 14px 0px 10px !important;
}
.payment-method-braintree .hosted-control {
    height: 40px !important;
}
.minicart-items .product-image-wrapper {
    padding: 10px 0px !important;
}
.payment-method-title .label {
    font-weight: 700 !important;
    font-size: 16px !important;
}
.checkout-billing-address input[type=checkbox]:before {
    border-color: #e65300;
    background-color: #e65300;
    width: 18px;
    height: 18px;
}
.checkout-billing-address input[type=checkbox]:after {
    width: 18px;
    height: 18px;
}
    