.box-shadow(@params) {
        -webkit-box-shadow: @params;
        -moz-box-shadow: @params;
        box-shadow: @params;
    }

& when(@media-common = true){
    
    .opc-estimated-wrapper {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
        .box-shadow(~"rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px");
        
        .minicart-wrapper {

            .estimated-price {
                color:@digibutton-primary__color;
            }

            button {
                border:none!important;
                background:none;
                &:focus {
                    background: none;
                    border: none;
                    color: none;
                }
            }
        }

    }
}