//
//  Collect: Checkout
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .checkout-shipping-address {
        .collect-block .wrapper-title {
            width: ~'calc(100% - 40px)';
        }

        .collect-block .pickup-available-wrapper {
            margin-bottom: 16px;
        }

        .collect-block .pickup-available-text {
            & {
                .lib-css(color, @message-success__color);
                .lib-font-size(14);
                line-height: 1.43;
                padding-left: 18px;
                position: relative;
            }

            &:before {
                content: @base64-icon__ok;
                position: absolute;
                width: 14px;
                height: 12px;
                top: 0;
                left: 0;
            }
        }
    }

    .checkout-container .collect-type {
        & {
            .lib-css(border-bottom, 2px solid @color-black);
            border-top: none;
            margin-top: 28px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 14px;
        }

        input[type='radio'] {
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .label:before,
        .label:after {
            display: none;
        }

        input[type='radio'] + label {
            padding-left: 0;
        }

        label {
            .lib-font-size(12);
            padding-top: 12px;
            padding-bottom: 6px;
            .lib-css(background-color, @color-3-5);
        }

        > input:checked + label {
            .lib-css(border-bottom, 2px solid @color-black);
            .lib-css(background-color, @color-black);
            .lib-css(color, @color-white);
            padding-left: 0;
        }

        .svg-icon {
            width: 30px;
            height: 30px;
        }

        input:checked + .label.full-width {
            width: 100%;
            text-align: center;
            .lib-css(background, @color-white);
            .lib-css(color, @color-black);
            cursor: default;
        }

        input:checked + .label.full-width > .svg-icon {
            .lib-css(fill, @color-black);
        }

    }

    .checkout-container .table-checkout-shipping-method {
        .row.collect {
            display: none; //should be presented on page but hidden according to requirement
        }
    }

    .cart-summary .collect_place_class .collect-type input:checked + .label.full-width {
        width: 100%;
        text-align: center;
        cursor: default;
        .lib-css(background, @color-white);
        .lib-css(color, @color-black);
        .lib-font-size(16);
    }

    .cart-summary .collect_place_class .collect-type input:checked + .label.full-width > .svg-icon {
        .lib-css(fill, @color-black);
    }

    .cart-container .cart.item.message.webonly-message {
        .lib-css(color, @message-error__color);
        word-break: normal;
        .lib-font-size(12);
    }

    #block-opcmystorebar,
    .checkout-index-index .live-chat-additional-link {
        display: none;
    }

    .checkout-shipping-address {
        .collect-block .wrapper-title > span {
            .lib-css(color, @color-2-1);
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-shipping-address {
        .collect-block {
            padding-bottom: 40px;
            margin-top: 26px;
        }

        .collect-block .link {
            .lib-css(font-weight, @font-weight__heavier);
            .lib-font-size(14);
            max-width: 230px;
            right: 0;
            margin-top: 0;
            bottom: 0;
        }

        .collect-block .wrapper-title {
            .lib-font-size(12);
            padding-left: 13px;
        }

        .collect-block .wrapper-title > .title {
            .lib-css(font-weight, @font-weight__heavier);
            .lib-font-size(20);
            display: none;
        }

        .collect-block .wrapper-title > span {
            .lib-css(font-weight, @font-weight__heavier);
            .lib-css(color, @color-2-1);
            .lib-font-size(16);
        }
    }

    .checkout-container .collect-type {
        .label {
            .lib-font-size(20);
            font-weight: bold;
        }

        .svg-icon {
            width: 40px;
            height: 40px;
            margin-right: 18px;
        }
    }

    .checkout-container .collect-block .svgi-pin {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }
}

//
//  L +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .checkout-container .collect-block .svgi-pin {
        min-width: 34px;
        width: 34px;
        height: 50px;
    }

    .checkout-container .collect-block .wrap-block {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
    }
}
