//
//  Off Canvas
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@offcanvas__is-enabled = true) {
        // freeze body scroll if offcanvas opened
        .-offcanvas-opened {
            overflow: hidden;
            // fix for ios mobile to prevent body scroll on offCanvas scroll
            position: fixed;
            width: 100vw;
        }

        .trigger-offcanvas {
            .ewave-lib-offcanvas-trigger();
        }

        .offcanvas-panel:not(.-device-only) {
            .lib-offcanvas-panel();
        }

        .offcanvas-wrapper {
            .-offcanvas-overflow {
                overflow: hidden;
            }

            &.-move-body {
                .lib-css(transition, transform .3s, 1);
            }

            &.-move-body.-right {
                .lib-css(transform, translateX(-@offcanvas__width), 1);
            }

            &.-move-body.-left {
                .lib-css(transform, translateX(@offcanvas__width), 1);
            }

            &.-move-body.-right .offcanvas-panel.offcanvas-right.-active {
                .lib-css(right, -@offcanvas__width);
            }

            &.-move-body.-left .offcanvas-panel.offcanvas-left.-active {
                .lib-css(left, -@offcanvas__width);
            }
        }
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) and  (@hide-offcanvas__tablet = false) {
    & when (@offcanvas__is-enabled = true) {
        .@{offcanvas__wrapper-class} {
            &.-move-body.-right {
                .lib-css(transform, translateX(-@offcanvas__width__tablet), 1);
            }

            &.-move-body.-left {
                .lib-css(transform, translateX(@offcanvas__width__tablet), 1);
            }

            &.-move-body.-right .offcanvas-panel.offcanvas-right.-active {
                .lib-css(right, -@offcanvas__width__tablet);
            }

            &.-move-body.-left .offcanvas-panel.offcanvas-left.-active {
                .lib-css(left, -@offcanvas__width__tablet);
            }
        }

        .offcanvas-panel:not(.-device-only) {
            .lib-css(width, @offcanvas__width__tablet);
            .lib-css(left, calc(-@offcanvas__width__tablet - @offcanvas__box-shadow-blur));

            &.offcanvas-right {
                .lib-css(right, calc(-@offcanvas__width__tablet - @offcanvas__box-shadow-blur));
            }
        }
    }
}

//
//  Tablet -
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .offcanvas-panel.-device-only {
        .lib-offcanvas-panel();
    }
}

//  Hide rigger-offcanvas elements if @offOffcanvasForTablet is true
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) and (@hide-offcanvas__tablet = true) {
    & when (@offcanvas__is-enabled = true) {
        .trigger-offcanvas {
            display: none;
        }
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) and  (@hide-offcanvas__desktop = false) {
    & when (@offcanvas__is-enabled = true) {
        .@{offcanvas__wrapper-class} {
            &.-move-body.-right {
                .lib-css(transform, translateX(-@offcanvas__width__desktop), 1);
            }

            &.-move-body.-left {
                .lib-css(transform, translateX(@offcanvas__width__desktop), 1);
            }

            &.-move-body.-right .offcanvas-panel.offcanvas-right.-active {
                .lib-css(right, -@offcanvas__width__desktop);
            }

            &.-move-body.-left .offcanvas-panel.offcanvas-left.-active {
                .lib-css(left, -@offcanvas__width__desktop);
            }
        }

        .offcanvas-panel {
            .lib-css(width, @offcanvas__width__desktop);
            .lib-css(left, calc(-@offcanvas__width__desktop - @offcanvas__box-shadow-blur));

            &.offcanvas-right {
                .lib-css(right, calc(-@offcanvas__width__desktop - @offcanvas__box-shadow-blur));
            }
        }
    }
}

//  Hide and trigger-offcanvas elements if @hideOffcanvasForDesktop is true
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) and (@hide-offcanvas__desktop = true) {
    & when (@offcanvas__is-enabled = true) {
        .trigger-offcanvas {
            display: none;
        }

        .offcanvas-panel.-device-only {
            position: relative;
        }
    }
}
