<!--@subject Trade Up Form Submission @-->
<!--@vars {
"var fullname":"Customer Full Name",
"var email":"Customer Email",
"var phonenumber":"Customer Phone Number",
"var rate":"Condition Rating",
"var accessories":"Included Accessories",
"var miscellaneousaccessories":"General Notes",
"var shuttercount":"Shutter Count"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-info">
    <tr>
        <td style="background-color: unset;">
            <p>Dear {{var fullname}},</p>
            <p>Thank you for submitting your application for <b>Trade-Up.</b></p>
            <p>We’ve successfully received your details and our team will now review your application. Once the review process is complete, you’ll receive a follow-up email with a link to complete your business account setup.</p>
            <p>As a <b>Trade-Up.</b> customer, you’ll gain access to exclusive benefits including business pricing, dedicated support, and the digiDirect Trade-Up program, making it easier to upgrade your equipment as your business grows.</p>
            <p>Kind regards,</p>
            <p><b>digiDirect Online</b></p>
        </td>
    </tr>
</table>

{{layout handle="email_customer_help_handle" area="frontend"}}

{{template config_path="design/email/footer_template"}}
