<!--@subject Trade Up Form Submission @-->
<!--@vars {
"var fullname":"Customer Full Name",
"var email":"Customer Email",
"var phonenumber":"Customer Phone Number",
"var rate":"Condition Rating",
"var accessories":"Included Accessories",
"var miscellaneousaccessories":"General Notes",
"var shuttercount":"Shutter Count"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-info">
    <tr>
        <td style="background-color: unset;">
            <h2 style="text-align: center; font-size: 20px; font-weight: 600;">New</h2>
            <h1 style="text-align: center; font-size: 36px; font-weight: 600;">Trade Up Form Submission</h1>
            <h3 style="text-align: center; font-size: 14px; font-weight: 510;">You have received a new Trade Up form submission with the following details:</h3>
        </td>
    </tr>
</table>

<table class="data-table" style="margin-left: 10px;">
    <tr>
        <th style="font-size: 14px; font-weight: 500;">Full Name:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var fullname}}</td>
    </tr>
    <tr>
        <th style="font-size: 14px; font-weight: 500;">Email:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var email}}</td>
    </tr>
    <tr>
        <th style="font-size: 14px; font-weight: 500;">Contact Number:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var phonenumber}}</td>
    </tr>
    <tr>
        <th style="font-size: 14px; font-weight: 500;">Condition Rating:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var rate}}</td>
    </tr>
    <tr>
        <th style="font-size: 14px; font-weight: 500;">Included Accessories:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var accessories}}</td>
    </tr>
    <tr>
        <th style="font-size: 14px; font-weight: 500;">General:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var miscellaneousaccessories}}</td>
    </tr>
    <tr>
        <th style="font-size: 14px; font-weight: 500;">Shutter Count:</th>
        <td style="font-size: 14px; font-weight: 700;">{{var shuttercount}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
