//
//  Bundle: Block Summary
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@bundle-block-summary__is-enabled: true; // Enable/disable styles

@bundle-block-summary__padding: 20px;
@bundle-block-summary__background: @color-3-4;
//@bundle-block-summary__position__m: relative;
@bundle-block-summary__float__m: false;
@bundle-block-summary__width__m: false;

//  Title
@bundle-block-summary-title-strong__use-heading: false;
//@bundle-block-summary-title-strong-heading: h2;

//  Summary
//@bundle-block-summary-summary__margin-top: @indent__l;
//@bundle-block-summary-summary__empty__display: none;
//@bundle-block-summary-summary-subtitle__display: block;
//@bundle-block-summary-summary-subtitle__use-heading: true;
//@bundle-block-summary-summary-subtitle-heading: h3;

//  Summary Items
//@bundle-block-summary-items__use-reset-list: true;
//@bundle-block-summary-items-item__margin-bottom: @indent__s;

//  Box to Cart
@bundle-block-summary-box-tocart-actions__display: false;
@bundle-block-summary-box-tocart-actions__margin-bottom: false;
@bundle-block-summary-box-tocart-action-primary__use-button-l: false;

//  Product Add to Link
//@bundle-block-summary-product-addto-link-action__use-action-addto-product: true;
//@bundle-block-summary-product-addto-link-action__vertical-align: top;
