//
//  Braintree: Payment Method
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@braintree-payment-method__is-enabled: true; // Enable/disable styles
//
//@braintree-error__color: @color-red10;
//@braintree-success__color: @color-dark-green1;
//
//@braintree-payment-method-hosted-date-wrap__use-add-clearfix: true;
//
////   Hosted Control
//@braintree-payment-method-hosted-control__use-form-element-input: true;
//@braintree-payment-method-hosted-control__position: relative;
//@braintree-payment-method-hosted-control__width: false;
//
////  Hosted Control States
//@braintree-payment-method-hosted-control__focused__border-color: @color-blue2;
//@braintree-payment-method-hosted-control__invalid__border-color: @braintree-error__color;
//@braintree-payment-method-hosted-control__valid__border-color: @braintree-success__color;
//
////  Hosted Control - Error
//@braintree-payment-method-hosted-control-error__height: auto;
//@braintree-payment-method-hosted-control-error__opacity: 1;
//
////  Cid (CVC)
@braintree-payment-method-hosted-control-cid__width: 100%;
//
////  Date
@braintree-payment-method-hosted-control-date-distance: 0;
@braintree-payment-method-hosted-control-date__float: false;
@braintree-payment-method-hosted-control-date__width: 47%;
//@braintree-payment-method-hosted-control-date__margin-bottom: 0;
//@braintree-payment-method-hosted-control-date__first-of-type__margin-right: @braintree-payment-method-hosted-control-date-distance;
//@braintree-payment-method-hosted-control-date__first-of-type-after__content: false;
//@braintree-payment-method-hosted-control-date__first-of-type-after__display: false;
//@braintree-payment-method-hosted-control-date__first-of-type-after__padding-bottom: false;
//@braintree-payment-method-hosted-control-date__first-of-type-after__padding-top: false;
//@braintree-payment-method-hosted-control-date__first-of-type-after__position: false;
//@braintree-payment-method-hosted-control-date__first-of-type-after__right: false;
//@braintree-payment-method-hosted-control-date__first-of-type-after__top: false;
//
////  Field tooltip
//@braintree-payment-method-field-tooltip__right: false;
//@braintree-payment-method-cvv-field-tooltip__left__m: false;
//
////  Error
//@braintree-payment-method-error__height: 0;
//@braintree-payment-method-error__margin-top: 7px;
//@braintree-payment-method-error__clear: both;
//@braintree-payment-method-error__font-size: 1.2rem;
//@braintree-payment-method-error__color: @braintree-error__color;
//@braintree-payment-method-error__opacity: 0;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .payment-method-braintree .hosted-date-wrap {
        & {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-box-align(center);
        }

        .separator {
            width: 6%;
            text-align: center;
        }
    }

    .payment-methods .field-tooltip.toggle {
        position: static;
    }

    .payment-methods .field-tooltip-action {
        &::before {
            width: 1px;
        }

        span {
            .lib-css(font-weight, @font-weight__heavier);
            position: static;
            text-decoration: underline;
        }
    }

    .payment-group .field .control._with-tooltip {
        padding-right: 0;
    }

    .payment-methods .hosted-control {
        height: 50px;
    }

    .checkout-cart-index .googlepay-minicart-logo .braintree-googlepay-button,
    .minicart-wrapper .googlepay-minicart-logo .braintree-googlepay-button {
        background-image: url('@{baseDir}images/google-pay.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 86px;
        height: 50px;
        margin-top: -5px;
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .payment-methods .hosted-control:not(#braintree_cc_number) {
        max-width: 220px;
    }
}
