<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ewave\CmsUpgrade\Model\Entity\Banner">
        <arguments>
            <argument name="upgradeFields" xsi:type="array">
                <item name="0" xsi:type="string">name</item>
                <item name="1" xsi:type="string">is_enabled</item>
                <item name="2" xsi:type="string">types</item>
                <item name="3" xsi:type="string">is_ga_enabled</item>
                <item name="4" xsi:type="string">ga_creative</item>
                <item name="5" xsi:type="string">customer_segment_ids</item>
                <item name="6" xsi:type="string">store_contents</item>
                <item name="7" xsi:type="string">custom_attributes</item>
                <item name="8" xsi:type="string">images_banner</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="EntityWidgetVirtual" type="Ewave\CmsUpgrade\Model\Entity\AbstractEntity">
        <arguments>
            <argument name="generator" xsi:type="object">Ewave\CmsUpgrade\Model\WidgetGenerator</argument>
            <argument name="entityType" xsi:type="string">widget</argument>
            <argument name="upgradeFields" xsi:type="array">
                <item name="0" xsi:type="string">instance_type</item>
                <item name="1" xsi:type="string">theme_id</item>
                <item name="2" xsi:type="string">title</item>
                <item name="3" xsi:type="string">store_ids</item>
                <item name="4" xsi:type="string">widget_parameters</item>
                <item name="5" xsi:type="string">sort_order</item>
                <item name="6" xsi:type="string">store_contents</item>
                <item name="7" xsi:type="string">instance_code</item>
                <item name="8" xsi:type="string">page_groups</item>
                <item name="9" xsi:type="string">page_group_ids</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="EntityTransactionEmailVirtual" type="Ewave\CmsUpgrade\Model\Entity\AbstractEntity">
        <arguments>
            <argument name="generator" xsi:type="object">Ewave\CmsUpgrade\Model\TransactionEmailGenerator</argument>
            <argument name="entityType" xsi:type="string">transactionEmail</argument>
            <argument name="upgradeFields" xsi:type="array">
                <item name="0" xsi:type="string">template_code</item>
                <item name="1" xsi:type="string">template_text</item>
                <item name="2" xsi:type="string">template_styles</item>
                <item name="3" xsi:type="string">template_type</item>
                <item name="4" xsi:type="string">template_subject</item>
                <item name="5" xsi:type="string">template_sender_name</item>
                <item name="6" xsi:type="string">template_sender_email</item>
                <item name="7" xsi:type="string">added_at</item>
                <item name="8" xsi:type="string">modified_at</item>
                <item name="9" xsi:type="string">orig_template_code</item>
                <item name="10" xsi:type="string">orig_template_variables</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ewave\CmsUpgrade\Controller\Adminhtml\TransactionEmail\Generate">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Backend\App\Action\Context</argument>
            <argument name="entity" xsi:type="object">EntityTransactionEmailVirtual</argument>
            <argument name="nameMassForm" xsi:type="string">item</argument>
            <argument name="entityLabel" xsi:type="string">transaction email</argument>
        </arguments>
    </type>
    <type name="Ewave\CmsUpgrade\Controller\Adminhtml\Widget\Generate">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Backend\App\Action\Context</argument>
            <argument name="entity" xsi:type="object">EntityWidgetVirtual</argument>
            <argument name="nameMassForm" xsi:type="string">widget</argument>
            <argument name="entityLabel" xsi:type="string">widget</argument>
        </arguments>
    </type>
    <virtualType name="EntityCmsPageVirtual" type="Ewave\CmsUpgrade\Model\Entity\AbstractEntity">
        <arguments>
            <argument name="generator" xsi:type="object">Ewave\CmsUpgrade\Model\PageGenerator</argument>
            <argument name="entityType" xsi:type="string">page</argument>
            <argument name="upgradeFields" xsi:type="array">
                <item name="0" xsi:type="string">row_id</item>
                <item name="1" xsi:type="string">page_id</item>
                <item name="2" xsi:type="string">created_in</item>
                <item name="3" xsi:type="string">updated_in</item>
                <item name="4" xsi:type="string">creation_time</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ewave\CmsUpgrade\Controller\Adminhtml\Page\Generate">
        <arguments>
            <argument name="page" xsi:type="object">EntityCmsPageVirtual</argument>
            <argument name="context" xsi:type="object">Magento\Backend\App\Action\Context</argument>
            <argument name="entityLabel" xsi:type="string">page</argument>
        </arguments>
    </type>
    <virtualType name="EntityCmsBlockVirtual" type="Ewave\CmsUpgrade\Model\Cms\AbstractEntity">
        <arguments>
            <argument name="generator" xsi:type="object">Ewave\CmsUpgrade\Model\CmsGenerator</argument>
            <argument name="entityType" xsi:type="string">block</argument>
            <argument name="upgradeFields" xsi:type="array">
                <item name="0" xsi:type="string">title</item>
                <item name="1" xsi:type="string">identifier</item>
                <item name="2" xsi:type="string">content</item>
                <item name="3" xsi:type="string">is_active</item>
                <item name="4" xsi:type="string">stores</item>
                <item name="5" xsi:type="string">store_id</item>
                <item name="6" xsi:type="string">update_time</item>
                <item name="7" xsi:type="string">background_image</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ewave\CmsUpgrade\Controller\Adminhtml\Block\Generate">
        <arguments>
            <argument name="block" xsi:type="object">EntityCmsBlockVirtual</argument>
        </arguments>
    </type>
    <type name="Magento\Config\Block\System\Config\Form\Fieldset">
        <plugin name="ewave_cmsupgrade_config_system_render_plugin"
                type="Ewave\CmsUpgrade\Plugin\Magento\Config\Block\System\Config\Form\FieldsetPlugin"
        />
    </type>
    <preference for="Magento\Config\Block\System\Config\Edit" type="Ewave\CmsUpgrade\Block\Config\Edit" />
</config>