*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
/app/code/Magezon/NinjaMenus/nbproject/private/
/app/code/Digidirect/ProductOverlay/nbproject/private/
/app/code/Digidirect/productoverlay/nbproject/private/
/app/code/Digidirect/Navigation/nbproject/private/
/app/code/Digidirect/ProntoDigi/nbproject/private/
/app/code/Digidirect/LayeredNavigation/nbproject/private/
