*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/dev/tools/grunt/configs
!/pub
!/pub/*/
!/pub/media
!/pub/media/**
!/pub/media/wysiwyg/
!/pub/bridge2cart
!/pub/bridge2cart/**
!/lib
!/lib/*/
!/lib/internal/**
!/bridge2cart
!/bridge2cart/*
!/bridge2cart/bridge.php
!/bridge2cart/config.php