*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/scenario.bkf
!/update
!/update/.htaccess
!/README.md

!/Gruntfile.js
!/package.json
!/grunt-config.json
!/dev
!/dev/**
!/pub
!/pub/errors
!/pub/errors/**
!/vendor
!/vendor/ewave
!/vendor/ewave/**
!/ewave_xml
!/ewave_xml/**

!/pub/media/.htaccess
!/pub/media/*/.htaccess
!/pub/static/.htaccess
!/var/.htaccess
!/generated/.htaccess

!/pub/media
!/pub/media/**
!/pub/media/wysiwyg/

!/bridge2cart
!/bridge2cart/*
!/bridge2cart/bridge.php
!/bridge2cart/config.php