<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product" type="Digidirect\Catalog\Model\Product" />
    
    <!--<preference for="Magento\Catalog\Model\ResourceModel\Product\Collection" type="Digidirect\Catalog\Model\ResourceModel\Product\Collection"/>-->
</config>