<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Catalog\Model\Product" type="Digidirect\Catalog\Model\Product" />
    <preference for="Magento\Catalog\Helper\Product\Configuration" type="Digidirect\Catalog\Helper\Product\Configuration" />
    <type name="Magento\Catalog\Model\Config">
        <plugin name="sortby_add_custom_option" type="Digidirect\Catalog\Plugin\Model\Config" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="sortby_extend_default_sort_filters" type="Digidirect\Catalog\Plugin\Block\Toolbar" />
    </type>-->
    <preference for="Magento\Catalog\Block\Category\View" type="Digidirect\Catalog\Block\Category\View" />
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="override_robots" type="Digidirect\Catalog\Plugin\Robots"/>
    </type>
    <type name="Magento\Catalog\Pricing\Price\FinalPrice">
        <plugin name="wiser_finalprice" type="Digidirect\Catalog\Plugin\Pricing\Price\FinalPrice" />
    </type>
    <type name="Magento\Framework\View\Result\Page">
        <plugin name="digiprinit_class" type="Digidirect\Catalog\Plugin\Result\Page"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="digidirect_order_limit_validation" type="Digidirect\Catalog\Plugin\Checkout\OrderLimitValidation" sortOrder="10"/>
    </type>
</config>
