<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

<router id="standard">
    <route id="digidirect" frontName="digidirect_catalog">
       <module name="Digidirect_Catalog" before="Magento_Catalog" />
    </route>
</router>

</config>