/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07 20, 24, 2:30:42 PM
    Author     : rondel
*/

& when(@media-common = true){
    
    #pa-digimarket-side-panel-wrapper {
        position: relative;
    }
    
    #pa-digimarket-side-panel {
        position: absolute;
        right: -195px;
        top: -215px;
        width: 180px;
        background: #f5f5f5;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
    }

    #pa-digimarket-side-panel .title {
        font-size: 13px;
        font-weight: 400;
        background: #f5f5f5;
        padding: 10px 10px 0 10px;
        color: #ff3c00;
        text-align: center;
        margin-top: 0;
    }

    #pa-digimarket-side-panel .product-item-info {
        height: unset !important;
        border: none;
        width: unset !important;
        margin: 10px;
    }

    #pa-digimarket-side-panel .product-image-container {
        width: 100px !important;
    }

    #pa-digimarket-side-panel .product-image-wrapper {
        height: auto;
        padding: 0 !important;
        max-height: 97px;
    }

    #pa-digimarket-side-panel .product-image-photo {
        width: 100px;
        position: static;
        object-fit: contain;
        max-height: 100px;
        margin: 0;
    }

    #pa-digimarket-side-panel .product-item-details {
        margin-top: 0 !important;
    }

    #pa-digimarket-side-panel .product-item-link {
        font-size: 11px;
        line-height: 15px;
    }

    #pa-digimarket-side-panel .product-item-name {
        flex: 0 0 35px;
        display: block;
    }

    #pa-digimarket-side-panel .price-box.price-final_price {
        display: block !important;
        text-align: center;
        padding-top: 0 !important;
        min-height: unset;
        margin-top: -5px !important;
    }

    #pa-digimarket-side-panel .final-price {
        font-size: 18px;
        color: #ff3c00;
        font-weight: 700 !important;
    }

    #pa-digimarket-side-panel .digimarket-discover-more {
        margin-top: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) 
{
    
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) { 
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
}



//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
}

