/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07 20, 24, 2:30:42 PM
    Author     : rondel
*/

& when(@media-common = true){
    
    .product-info-main {
        position: relative !important;
    }
    
    #pa-digimarket-side-panel-wrapper {
        //position: relative;
        position: absolute;
        right: -175px;
        background: #f5f5f5;
    }
    
    #pa-digimarket-side-panel {
        /*position: absolute;
        right: -195px;
        top: -380px;*/
        width: 180px;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
    }

    #pa-digimarket-side-panel .title {
        font-size: 13px;
        font-weight: 400;
        background: #f5f5f5;
        padding: 10px 10px 0 10px;
        color: #ff3c00;
        text-align: center;
        margin-top: 0;
    }

    #pa-digimarket-side-panel .product-item-info {
        height: unset !important;
        border: none;
        width: unset !important;
        margin: 10px;
    }

    #pa-digimarket-side-panel .product-image-container {
        width: 100px !important;
    }

    #pa-digimarket-side-panel .product-image-wrapper {
        height: auto;
        padding: 0 !important;
        max-height: 97px;
    }

    #pa-digimarket-side-panel .product-image-photo {
        width: 100px;
        position: static;
        object-fit: contain;
        max-height: 100px;
        margin: 0;
    }

    #pa-digimarket-side-panel .product-item-details {
        margin-top: 0 !important;
    }

    #pa-digimarket-side-panel .product-item-link {
        font-size: 11px;
        line-height: 15px;
    }

    #pa-digimarket-side-panel .product-item-name {
        flex: 0 0 35px;
        display: block;
    }

    #pa-digimarket-side-panel .price-box.price-final_price {
        display: block !important;
        text-align: center;
        padding-top: 0 !important;
        min-height: unset;
        margin-top: -5px !important;
    }

    #pa-digimarket-side-panel .final-price {
        font-size: 18px;
        color: #ff3c00;
        font-weight: 700 !important;
    }

    #pa-digimarket-side-panel .digimarket-discover-more {
        margin-top: 0;
        text-align: center;
        padding: 5px;
        background: #ff3c00;
        border-radius: 30px;
        color: #ffffff !important;
        font-weight: 500;
        display: block;
        margin: 10px;
    }
    
    #pa-digimarket-widget .pa-product-widget-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .product-widget-header {
        display: flex;
    }

    #pa-digimarket-widget .product-image-container {
        display: unset;
    }

    #pa-digimarket-widget .product-image-wrapper {
        height: auto;
        padding: 0 !important;
    }

    #pa-digimarket-widget .product-image-photo {
        height: 150px !important;
        width: auto !important;
        object-fit: contain;
        position: static;
        margin-top: 22px;
    }

    #pa-digimarket-widget .product-item-info.product-item {
        width: unset !important;
        margin-left: 0;
        margin-right: 15px;
        border-radius: 5px;
        height: unset !important;
        border: 1px solid #cacaca;
    }

    #pa-digimarket-widget .price-final_price {
        margin: 0 !important;
        min-height: 67px;
        border: 1px solid #4e4e4e;
        border-radius: 5px;
        padding: 0;
        margin-bottom: 10px !important;
        position: relative;
    }

    #pa-digimarket-widget .final-price {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 700;
        color: #ff3c00;
    }

    #pa-digimarket-widget .product-item-info.product-item:last-child {
        //margin-right: 0;
    }

    #pa-digimarket-widget .product-item-actions {
        padding-bottom: 10px;
    }

    #pa-digimarket-widget .product-item-actions .actions-primary {
        width: 100% !important;
    }
    
    .digimarket-discover-more-widget {
        margin-right: 15px;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 10px;
        text-decoration-line: 
        underline;color: #ff3c00;
    }
    
    .pdp-frquently-bought-with .pa-digidirect-product-widget-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .pdp-frquently-bought-with .pa-checkbox-container {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 11px;
        color: #ff3c00;
        z-index: 99;
    }

    .pdp-frquently-bought-with .pa-bundle-container {
        background: #ff3c00;
    }

    .pdp-frquently-bought-with .pa-bundle-container .pa-checkbox-container {
        color: #fff !important;
    }
    
    .catalog-product-view #pa-digidirect-product-widget .product-item .price-box {
        border: 1px solid #4e4e4e;
        border-radius: 5px;
        padding: 0;
        margin-bottom: 10px !important;
        position: relative;
        min-height: 65px;
    }

    #pa-digidirect-product-widget .digidirectprice {
        display: none;
    }

    #pa-digidirect-product-widget .discount-price-wrapper {
        display: block !important;
    }

    .pa-bundle-container .action.tocart.primary {
        background: #ffff !important;
    }

    .pa-bundle-container .action.tocart.primary span {
        color: #ff3c00 !important;
        text-transform: capitalize;
    }


    .pdp-frquently-bought-with .pa-select-all-label-text {
        font-size: 13px;
        font-weight: 600;
    }

    .product-item-info.product-item.pa-bundle-container {
        border: none !important;
    }

    .pa-bundle-container .product-item-details {
        text-align: center;
        color: #fff;
        font-size: 16px;
        display: block;
        margin: auto;
    }

    #pa-bundle-total {
        display: block;
        margin-top: 15px;
        font-size: 27px;
        font-weight: 500;
    }

    .product-item .pa-checkbox-label input:checked~span:after {
        display: block;
    }

    .product-item .pa-checkbox-label span:after {
        font-family: Font Awesome\ 5 Free;
        content: "\F00C";
        position: absolute;
        display: none;
        right: 2px;
        top: 5px;
        font-size: 12px;
        font-weight: 900;
        color: #fff;
    }

    .pa-bundle-container .pa-checkbox-label input:checked~span:after {
        display: block;
    }

    .pa-bundle-container .pa-checkbox-label span:after {
        font-family: Font Awesome\ 5 Free;
        content: "\F00C";
        position: absolute;
        display: none;
        right: 2px;
        top: 5px;
        font-size: 12px;
        font-weight: 900;
        color: #fff;
    }

    .pa-bundle-container .pa-select-all-pa-checkbox-label span:after {
        color: #ff3c00;
    }
    
    .pdp-frquently-bought-with .product-item-info.product-item:hover {
        box-shadow: unset !important;
        transform: unset !important;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    #pa-digimarket-widget .pa-product-widget-container {
        grid-template-columns: repeat(2, 1fr);    
        row-gap: 10px;
        column-gap: 15px;
    }
    
    .digimarket-discover-more-widget {
        display: none;
    }
    
    #pa-digimarket-widget .product-item-info.product-item {
        margin-right: 0;
    }
    
    #pa-digimarket-widget .product-item-link {
        text-align: center;
    }
    
    #pa-digimarket-widget .product-item-info.product-item:last-child {
        display: none;
    }
    
    .digimarket-discover-more-mobile:after {
        font-family: "Font Awesome 5 Free";
        content: "\f103";
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px !important;
    }

    .digimarket-discover-more-mobile {
        display: block !important;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 17px;
        color: #ff3c00;
    }
}

@media only screen and (max-width: 1280px) {
    
    #pa-digimarket-widget .product-item-actions {
        padding-bottom: 0;
    }
    
}

@media only screen and (max-width: 1680px) {
    
    #pa-digimarket-side-panel {
        display: none !important;
    }
    
    #pa-digimarket-widget { 
        display: block;
    }
    
}

@media only screen and (min-width: 1680px) {
    
    #pa-digimarket-side-panel {
        display: block !important;
    }
    
    #pa-digimarket-widget { 
        display: none;
    }
    
}


//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
}

