//
//  Styles for example pages of style-guide.
//  Serves for more evident display of examples.
//  _____________________________________________

.grid-row,
[class*='block-grid-'] {
    & {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        background: #999;
    }

    > .column,
    > .item {
        background: #eee;
        text-align: center;
        font-style: italic;
        padding-top: 10px;
        padding-bottom: 10px;

        &:nth-child(2n) {
            background: #e1e1e1;
        }
    }
}