<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <login_popup>
            <general>
                <enable>1</enable>
                <show_on_every_login>1</show_on_every_login>
            </general>
        </login_popup>
    </default>
</config>