//
//  Theme: Slider Finder
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .finder-slider {
        &:not(.-active) {
            height: 0;
            margin: 0;
            overflow: hidden;
        }
    }

    .finder-slider {
        .slick-dotted {
            padding-top: 50px;
            overflow: hidden;
        }

        .slick-slide {
            height: 100%;
        }

        .slick-slide > div {
            height: auto;
        }

        .slick-prev.slick-arrow {
            display: none !important; // Override JS logic
        }

        .slick-dots {
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: 50%;
            width: auto;
            padding: 0 10px;
            white-space: nowrap;
            transform: translateX(-50%);

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                width: 600px;
                height: 1px;
                .lib-css(background-color, @color-3-2);
            }

            &::before {
                right: 100%;
            }
            &::after {
                left: 100%;
            }
        }

        .slick-dots li {
            width: 30px;
            height: 30px;
            padding: 0;
            .lib-css(border, 1px solid @color-3-2);
            border-radius: 50%;
            .lib-font-size(16px);
            line-height: 28px;
            .lib-css(color, @color-white);
            .lib-css(background-color, @color-3-2);
        }
        
        .slick-dots .slick-active {
            .lib-css(border-color, @color-2-1);
            .lib-css(background-color, @color-2-1);
        }

        .slick-dots .slick-active ~ li {
            .lib-css(color, @color-3-1);
            .lib-css(background-color,  @color-white);
        }

        .slick-dots li:last-child {
            pointer-events: none; // Disable click on the last dot
        }

        .slick-dots li:last-child button {
            text-indent: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 9px;
                width: 12px;
                height: 7px;
                .lib-css(border-left, 2px solid @color-3-1);
                .lib-css(border-bottom, 2px solid @color-3-1);
                transform: rotate(-45deg);
            }
        }

        .slick-dots .slick-active:last-child {
            .lib-css(border-color, @color-1-1);
            .lib-css(background-color, @color-1-1);
        }

        .slick-dots .slick-active:last-child button {
            &::before {
                .lib-css(border-left-color, @color-white);
                .lib-css(border-bottom-color, @color-white);
            }
        }

        .slick-dots li button {
            width: 100%;
            height: 100%;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            color: inherit;

            &:active {
                box-shadow: none;
            }
        }

        .actions-toolbar .prev {
            position: relative;
            padding-left: 40px;
            line-height: 40px;
            .lib-css(font-weight, @font-weight__heavier);
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                text-decoration: none;
                .lib-css(color, @color-2-1);
            }
        }

        .actions-toolbar .prev .svg-icon {
            position: absolute;
            top: 50%;
            left: 0;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);
        }

        .actions-toolbar .button.-fixed-sizes {
            min-width: 200px;
        }

        .actions-toolbar .start,
        .actions-toolbar .results,
        &.-penultimate .actions-toolbar .submit,
        &.-last-step .actions-toolbar .submit {
            display: none;
        }

        &.-penultimate .actions-toolbar .next,
        &.-last-step .actions-toolbar .next {
            display: none !important; // Override JS logic
        }

        &.-penultimate .actions-toolbar .results,
        &.-last-step .actions-toolbar .start {
            display: block;
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .finder-slider {
        .actions-toolbar .prev {
            float: left;
            line-height: 45px;
        }

        .actions-toolbar .button.-fixed-sizes {
            float: right;
            min-width: 160px;
        }
    }
}

//
//  XM +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xm) {
    .finder-slider {
        .actions-toolbar .prev {
            line-height: 50px;
        }

        .actions-toolbar .button.-fixed-sizes {
            min-width: 180px;
        }
    }
}