<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digidirect_tradeup>
            <general>
                <enabled>1</enabled>
                <recipient_email>tradeandsave@digidirect.com.au</recipient_email>
<!--                <email_template_company>digidirect_tradeup_submission_template_company</email_template_company>-->
<!--                <email_template_customer>digidirect_tradeup_submission_template_customer</email_template_customer>-->
            </general>
        </digidirect_tradeup>
    </default>
</config>
