& when(@media-common = true){ 
.qantas-pts-wrapper-minicart{
        .qantas-logo {
            height: 26px;
            vertical-align: middle;

            span{
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                color: #222;
            }
        }
    }

    .qantas-pts-wrapper-minicart-subtotal {
        text-align:right;
        .qantas-logo {
            height: 26px;
            vertical-align: middle;

            span{
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                color: #222;
            }
        }
    }

}

