& when(@media-common = true){  

    .cart {
        .qantas-pts-wrapper {
            img {
                width: 32px;
                height: 32px;
                vertical-align: middle;
            }

            span{
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                color: #222;
            }
        }
    }

}
