& when(@media-common = true){  
    .qantas-pts-wrapper-cart-summary{
        text-align:right;
        .qantas-logo {
            height: 26px;
            vertical-align: middle;

            span{
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                color: #222;
            }
        }
    }
}
