& when(@media-common = true){  
    .qantas-pts-wrapper-cart-summary{
        &{
            text-align: right;
            text-transform: uppercase;
            font-size: 12px;
            
            strong{
                font-weight: 500;
            }
        }
            
            
        .qantas-logo {
            height: 26px;
            vertical-align: middle;

            span{
                width: 100%;
                font-weight: 500;
                color: #222;
            }
        }
    }
}
