//
//  Extended Catalog Price Rule
//  _____________________________________________

//
// Variables
// ----------------------------------------------------------
@special-offer__background-position: calc(~'100% - 8px');

@extendedrule-price-box-with-special-offer__border-color: @color-3-5;
@extendedrule-price-box-with-special-offer__border: 2px solid @extendedrule-price-box-with-special-offer__border-color;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .product-info-main {
        .block-extendedrule {
            float: right;
        }

        .block-extendedrule .name {
            display: none;
        }

        .block-extendedrule + .price-container {
            float: left;
            text-align: left;
        }
    }

    .page-product-bundle {
        .product-info-main .block-extendedrule {
            padding-bottom: 20px;
        }
    }

    .modal-catalogrule {
        .description {
            line-height: 18px;
        }

        .description p {
            margin: 0 0 18px;
        }

        .modal-inner-wrap {
            max-width: 600px;
        }
    }

    .product-item-info {
        .block-extendedrule .price-box + .name {
            display: none;
        }

        .block-extendedrule .name {
            .lib-css(background-image, @base64-icon__special-offer);
            .lib-css(background-position, @special-offer__background-position center);
            .lib-font-size(12);
            .lib-css(font-weight, @font-weight__bold);
            padding: 0 8px 0 12px;
            background-repeat: no-repeat;
            background-size: 13px 15px;
            line-height: 1.9;
            cursor: pointer;
        }

        .block-extendedrule .name:not(:empty) {
            .lib-css(border, 1px solid @primary__color);
        }
    }

    .block-extendedrule.-cashback:not(.-special-price) ~ .price-box,
    .block-extendedrule + .block-extendedrule {
        display: none;
    }

    .block-extendedrule.-special-price .price-box {
        .lib-css(border-bottom, @extendedrule-price-box-with-special-offer__border);
        margin-bottom: 0;
        padding-bottom: 9px;
    }
}

//
//  M -
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .modal-catalogrule {
        .modal-content {
            padding: 20px;
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal-catalogrule {
        .description {
            line-height: 22px;
        }

        .description p {
            margin-bottom: 22px;
        }

        .description p:last-child {
            margin-bottom: 10px;
        }
    }
}