//
//  Extended Catalog Price Rule Price
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .block-extendedrule.-cashback {
        .price-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .price-container > .before-cashback,
        .price-container > .after-cashback,
        .price-container > .price-from,
        .price-container > .price-to {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            flex: 1;
        }

        .price-container > .after-cashback {
            align-items: flex-end;
        }

        .price-container > .before-cashback .price {
            .lib-font-size(12);
            .lib-line-height(24);
            font-weight: 400;
        }

        .price-container > .price-to > .price-label {
            .lib-font-size(14);
            .lib-css(font-weight, @font-weight__bold);
            text-transform: none;
        }
    }
}