//
//  Customer: Password Extend
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@blog-post-card-title-link__color: @color-white;
@blog-post-card__padding: 0;
@blog-post-card__margin: 0;