<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Digidirect\Navigation\Ui\DataProvider\Menu\Form\Modifier\MenuModifier">
        <arguments>
            <argument  name="data" xsi:type="array">
                <item name="fields" xsi:type="array">
                    <item name="12" xsi:type="string">attribute_id</item>
                    <item name="13" xsi:type="string">option_ids</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Meta and data modifiers for menu form ui component -->
    <virtualType name="Digidirect\Navigation\Ui\DataProvider\Menu\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="abstract_attribute" xsi:type="array">
                    <item name="class" xsi:type="string">Digidirect\AbstractAttributesNavigation\Ui\DataProvider\Menu\Form\Modifier\AbstractAttribute</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Digidirect\AbstractAttributes\Model\ResourceModel\Option">
        <plugin name="flush-abstract-attribute-menu-cache" type="Digidirect\AbstractAttributesNavigation\Plugin\AbstractAttributes\Model\ResourceModel\Option" />
    </type>
</config>
