<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_SeoAutolink::seoautolink_link" title="Cross Links" module="Mirasvit_SeoAutolink" sortOrder="50"
             action="seoautolink/link" resource="Mirasvit_SeoAutolink::seoautolink_autolinks" parent="Mirasvit_Seo::seo"/>
    </menu>
</config>
