<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <seo_markup>
                <product>
                    <is_remove_native_rs>1</is_remove_native_rs>
                    <is_rs_enabled>1</is_rs_enabled>
                    <is_price_enabled>1</is_price_enabled>
                    <brand_attribute>manufacturer</brand_attribute>
                    <color_attribute>color</color_attribute>
                    <size_attribute>size</size_attribute>
                    <gtin8_attribute>sku</gtin8_attribute>
                    <model_attribute>name</model_attribute>
                    <mpn_attribute>sku</mpn_attribute>
                    <is_variants_enabled>0</is_variants_enabled>
                </product>
                <category>
                    <is_rs_enabled>0</is_rs_enabled>
                    <is_remove_native_rs>1</is_remove_native_rs>
                    <product_offers_type>0</product_offers_type>
                </category>
            </seo_markup>
        </seo>
    </default>
</config>
