//
//  Locator:common
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@locator-map__min-height: 500px;
//@locator-map-img__max-width: none;

@locator-items-column__width__l: 510px;

//
//  Common
//  ---------------------------------------------
& when (@media-common = true) {
    /*.store-locator {*/
        .locator-details .name,
        .locator-item .name{
            font-family: 'Titillium Web', sans-serif;
        }
    /*}*/
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .store-locator {
        & {
            margin-bottom: 60px;
        }
        
        .grid-row {
            display: flex;
            margin-top: 30px;
            align-items: center;
            justify-content: center;
        }
        
        .store-view.grid-row > .column.-main {
            align-items: unset;
            justify-content: unset;
        }
        
        .grid-row > .column.-left {
            flex-basis: 700px;
        }
        
        .store-view.grid-row > .column.-left {
            flex-basis: 512px;
        }
        
        .grid-row > .column.-main {
            .lib-css(flex-basis, (@screen__xl - @locator-items-column__width__l) / @screen__xl * 100%);
            display: none;
        }
        
        .store-view.grid-row > .column.-main {
            display: block;
        }
        
        .locator-search {
            margin-bottom: 38px;
            display: none;
        }
    }
}

//
//  Mobile Only
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .store-locator {
        .locator-search {
            display: none;
        }
        
        .grid-row {
            display: flex;
            margin-top: 30px;
            justify-content: center;
        }
        
        .store-view.grid-row > .column.-main {
            align-items: unset;
            justify-content: unset;
        }
        
        .locator-list .details > .link{
            color: #222;
            font-weight: bold;
        }
        
        .locator-details .name,
        .locator-item .name{
            font-size: 18px;
            font-weight: bold;
        }
    }
    
    .message.info > *:first-child::before, 
    .message.error > *:first-child::before, 
    .message.warning > *:first-child::before, 
    .message.notice > *:first-child::before, 
    .message.success > *:first-child::before{
        transform: unset !important;
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .store-locator {
        .lib-css(max-width, @screen__xl);
        
        margin-left: auto;
        margin-right: auto;
    }
}