<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digidirect_myorderitems>
            <groups>
                <default_group_name><![CDATA[New Items Group]]></default_group_name>
            </groups>
        </digidirect_myorderitems>
    </default>
</config>