<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Marketplacer\Seller\Model\Layer\Seller" type="Digidirect\MarketplacerSeller\Model\Layer\Seller" />
    <preference for="Marketplacer\Seller\Controller\Seller\View" type="Digidirect\MarketplacerSeller\Plugin\Controller\Seller\View"/>
</config>