<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_marketplacer_brand">
        <observer name="marketplacer_brand_url_regenerate" instance="Marketplacer\Brand\Observer\Adminhtml\Config\SystemConfigUpdateAfter"/>
    </event>
</config>
