<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Digidirect_AbstractAttributes::attributes" title="Attributes" translate="title"
             module="Digidirect_AbstractAttributes" sortOrder="10" parent="Digidirect_Utilities::Digidirect"
             dependsOnModule="Digidirect_Utilities" resource="Digidirect_AbstractAttributes::attributes"/>
        <add id="Digidirect_AbstractAttributes::manage" title="Manage Attributes Options" translate="title"
             module="Digidirect_AbstractAttributes" action="eaa/option/grid" sortOrder="20"
             parent="Digidirect_AbstractAttributes::attributes" resource="Digidirect_AbstractAttributes::manage"/>
    </menu>
</config>
