<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="digidirect" translate="label" sortOrder="100">
            <label>Digidirect</label>
        </tab>
        <section id="digidirect_combination_pricing" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Combination Pricing</label>
            <tab>digidirect</tab>
            <resource>Digidirect_CombinationPricing::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable combination pricing rules</comment>
                </field>
                <field id="combinations" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Combinations</label>
                    <comment>Add multiple product combination rules</comment>
                    <frontend_model>Digidirect\CombinationPricing\Block\Adminhtml\Form\Field\Combinations</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>