<?xml version="1.0"?>
<!--
/**
 * Copyright © Digidirect. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="wiserprice" frontName="wiserprice">
            <module name="Digidirect_WiserPrice" />
        </route>
    </router>
</config>
