//
//  Slick Theme
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------
@slick-round-arrow__height: 10px;
@slick-round-arrow__width: 10px;
@slick-round-arrow__width__m: 24px;
@slick-round-arrow__height__m: 24px;
@slick-round-arrow__margin: 0 8px;
@slick-round-arrow__padding: 0 5px;
@slick-round-arrow__margin__m: 0 33px;
@slick-round-arrow__padding__m: 0 10px;
@slick-round-arrow__hover__border: @color-white;
@slick-round-arrow__hover__color: @color-2-1;
@slick-round-arrow__disabled__color: @color-white;
@slick-round-arrow__disabled__background: @color-white;
@slick-dot-item__padding: 3px;
@slick-dot-item__border: unset;
@slick-arrow__line-height: 2.1;
@slick-dot__bottom: 10px;
@slick-dot-item__background: @color-white;
@slick-dot-item__active__border: unset;
@slick-dot-item__active__color: @color-white;
@slick-dot-item__active__background: @color-2-1;
@slick-dot-button__width: 5px;
@slick-dot-button__height: @slick-dot-button__width;
@slick-arrow__background: none;
@slick-arrow__hover__background: none;
@slick-arrow__disabled__background: false;
@slick-arrow__color: @color-black;
@slick-arrow__hover__color: @color-2-1;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@slick-theme__is-enabled = true) {
        .round-arrows {
            & {
                margin-bottom: 0;
            }

            .slick-prev,
            .slick-next {
                & {
                    .lib-css(width, @slick-round-arrow__width);
                    .lib-css(height, @slick-round-arrow__height);
                    border-radius: 50%;
                    .lib-css(background, @color-white);
                    opacity: 1;
                    cursor: pointer;
                    .lib-css(margin, @slick-round-arrow__margin);
                    .lib-css(padding, @slick-round-arrow__padding);
                }

                &.slick-disabled {
                    opacity: 1;
                    cursor: pointer;
                }

                > .svgi-right,
                .svgi-left {
                    width: 5px;
                    height: 6px;
                    .lib-css(fill, @color-black);
                }

                > .svgi-left {
                    margin-left: -3px;
                    margin-top: -16px;
                }

                > .svgi-right {
                    transform: rotate(180deg);
                    margin-top: -16px;
                    margin-left: -2px;
                }
            }

            .slick-prev:hover,
            .slick-next:hover {
                .lib-css(background, @color-2-1);
            }

            .slick-prev:hover > .svgi-left {
                .lib-css(fill, @color-white);
            }

            .slick-next:hover > .svgi-right {
                .lib-css(fill, @color-white);
            }

            .slick-dots {
                li {
                    border-radius: 50%;
                }
            }
        }

        .slick-slide {
            & {
                height: auto;
            }

            > div {
                height: 100%;
            }
        }

        .slick-list {
            width: 100%;
            .lib-hover-out();
        }

        .slick-track {
            & {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                .lib-vendor-prefix-flex-wrap(nowrap);
                align-items: stretch;
            }
        }

        .products-widget .slick-list,
        .block.related .slick-list {
            padding-top: 10px;
            margin-top: -10px;
        }

        .products-widget .slick-next,
        .block.related .slick-next {
            right: -35px;
        }

        .products-widget .slick-prev,
        .block.related .slick-prev {
            left: -45px;
        }

        .products-widget .slick-arrow.slick-disabled,
        .block.related .slick-arrow.slick-disabled {
            opacity: .1;
        }
    }
}

//
//  Tablet
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    & when (@slick-theme__is-enabled = true) {
        .round-arrows {
            .slick-prev,
            .slick-next {
                & {
                    .lib-css(width, @slick-round-arrow__width__m);
                    .lib-css(height, @slick-round-arrow__height__m);
                    .lib-css(margin, @slick-round-arrow__margin__m);
                    .lib-css(padding, @slick-round-arrow__padding__m);
                }

                > .svgi-right,
                .svgi-left {
                    width: 10px;
                    height: 12px;
                    .lib-css(fill, @color-black);
                }

                > .svgi-left {
                    margin-top: -1px;
                }

                > .svgi-right {
                    margin-top: -1px;
                }
            }
        }
    }
}