<div id="opc-sidebar" class="opc-sidebar" data-bind="css: {'shipping-step': isShippingStep}">
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="opc-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <!-- ko foreach: getRegion('shipping-information-after') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
