<div class="qff-content" data-role="content">
    <form id="qff-form" class="form" novalidate="novalidate">
        <span class="form-title">Earn Points</span>
        
        <div class="qantas-promo-box">
            <div class="qff-logo-container"></div>
            <span><strong>Earn 2 Qantas Points</strong> per $1 spent when you add a valid Qantas Frequent Flyer number.</a>
            <a href="/qantas" target="_blank" rel="noopener">Learn more</a>
        </div>
        
        <fieldset class="fieldset create info">
            <div class="field">
                <label for="qff_number" class="label">Qantas Frequent Flyer Number</label>
                <div class="control">
                    <input type="text" 
                           name="qff_number" 
                           id="qff_number" 
                           title="Qantas Frequent Flyer Number" class="input-text"/>
                </div>
            </div>
            <div class="field">
                <label for="qff_lastname" class="label">Qantas Frequent Flyer Last Name</label>
                <div class="control">
                    <input type="text" 
                           name="qff_lastname" 
                           id="qff_lastname" 
                           title="Qantas Frequent Flyer Last Name" 
                           class="input-text"/>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary qff-action-container">
                <button id="qff-trigger" type="button" class="action action-add primary" data-action="link">
                    <span>Validate</span>
                </button>
            </div>
        </div>
    </form>
</div>