//
//  Banner
//  _____________________________________________

//
//  Common
//  ---------------------------------------------
& when (@media-common = true) {
    .banner-item {
        .content:not(.-alone) {
            .lib-css(transform, translate(0, -50%), 1);
            height: 100%;
            width: 50%;
            right: 0;
            padding-top: 40px;
        }

        .content:not(.-alone) > .control {
            padding: 10px 5px;
            margin: auto;
            max-width: 128px;
        }

        .content:not(.-alone) > .control > .-primary {
            width: 100%;
        }

        .content:not(.-alone) > .text {
            text-transform: uppercase;
            .lib-css(color, @color-white);
            font-size: 15px;
            font-weight: 300;
            margin: 0;
            letter-spacing: 6px;
            z-index: 2;
        }

        .content:not(.-alone) > .text:first-child {
            font-size: 17px;
            transform: scaleY(1.4);
            font-weight: 700;
            margin-bottom: 5px;
        }

        .lazyloaded + .loader,
        .lazyloading + .loader {
            display: none !important; // Firefix, IE fix
        }
    }
}

//
//  Tablet
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .banner-item {
        .picture > img {
            margin: 0;
        }

        .content:not(.-alone) {
            width: 32%;
        }

        .content:not(.-alone) > .control {
            max-width: 160px;
        }

        .content:not(.-alone) > .control > .-primary {
            font-size: 16px;
            padding: 15px;
        }

        .content:not(.-alone) > .text {
            font-size: 20px;
            padding-left: 5px;
        }

        .content:not(.-alone) > .text:first-child {
            font-size: 26px;
        }

        .content:not(.-alone) {
            padding-top: 17%;
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .banner-item {
        .content:not(.-alone) > .control {
            max-width: 220px;
        }

        .content:not(.-alone) > .text {
            font-size: 35px;
        }

        .content:not(.-alone) > .text:first-child {
            font-size: 45px;
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

//
//  Desktop Large
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .banner-item {
        .content:not(.-alone) > .text {
            font-size: 40px;
            letter-spacing: 10px;
        }

        .content:not(.-alone) > .text:first-child {
            font-size: 42px;
            letter-spacing: 16px;
        }
    }
}