//
//  Cms: main banner
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .banner-main-wrapper {
        & {
            &:extend(._negative-gutter);
            padding: 0 !important;
        }
    }
    .banner-main-wrapper > .additional-banner {
        max-width: calc(~'30% + 4px');
    }

}


//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .banner-main-wrapper {
        & {
            display: flex;
            width: calc(~'100% + 160px');
            .lib-css(margin-left, -(@layout-columns__padding__l + 30px));
            .lib-css(margin-right, -(@layout-columns__padding__l + 30px));
        }

        > .banner-items {
            width: calc(~'70% - 3px');
            margin: 0;
        }

        > .banner-items .banner-item {
            height: 100%;
            position: relative;
        }
    }
    .qantas-promo-banner
    {
        &{
            margin-top: 30px;
        }

        .child-banner{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        .image{
            width: 100%;
            max-width: 200px;
            display: inline-block;
            margin: 20px;
        }

        .blurb{
            &{
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
            }

            .highlight{
                color: red;
                font-weight: bold;
            }
        }

        .action{
            &{
                display: inline-block;
                margin: 20px;
            }

            a{
                line-height: 2.4rem; 
                font-size: 1.6rem;
                padding: 11px 71px!important;
                width: max-content;
            }
        }
    }
}

//1280
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .qantas-promo-banner
    {
        &{
            margin-top: 30px;
        }

        .child-banner{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        .image{
            width: 100%;
            max-width: 200px;
            display: inline-block;
            margin: 20px;
        }

        .blurb{
            &{
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
            }

            .highlight{
                color: red;
                font-weight: bold;
            }
        }

        .action{
            &{
                display: inline-block;
                margin: 20px;
            }

            a{
                line-height: 2.4rem;
                padding: 11px 15px;
                font-size: 1.6rem;
                padding: 11px 71px;
                width: max-content;
            }
        }
    }
}
/*768px*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {


    .qantas-promo-banner  {
        &{
            margin: 15px 6px;
            height: 100%;

            padding: 0;
        }

        .child-banner {
            display: grid;
            grid-template-columns: 27% 54% 20%;
            grid-template-rows: 100%;
            position: relative;
            grid-gap: 0;
            width: auto;
            justify-items: center;
        }

        .blurb {
            font-size: 16px;
            width: fit-content !important;
        }

        .image {
            width: 100%;
            max-width: 158px;
            min-width: 105px;
            margin: 0;
        }

        .action {
            &{  

                margin: 4px;
                justify-self: center;
            }

            a{
                padding: 7px 30px!important;
                font-size: 15px;
                width: max-content;
            }
        }
    }

}

/*768*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .qantas-promo-banner  {
        &{
            margin: 15px 6px;
            height: 100%;
            max-height: 13px;
            padding: 0;
        }

        .child-banner {
            display: grid;
            grid-template-columns: 27% 54% 20%;
            grid-template-rows: 100%;
            position: relative;
            grid-gap: 0;
            width: auto;
            justify-items: center;
        }

        .blurb {
            font-size: 11px;
            width: fit-content !important;
        }

        .image {
            width: 100%;
            max-width: 81px;
            min-width: 105px;
            margin: 0;
        }

        .action {
            &{  

                margin: 4px;
                justify-self: center;
            }

            a{
                padding: 1px 11px!important;
                font-size: 10px;
                width: max-content;
            }
        }
    }
}



/*640*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    .qantas-promo-banner  {
        &{
            margin: 15px 6px;
            height: 100%;
            max-height: 13px;
            padding: 0;
        }

        .child-banner {
            display: grid;
            grid-template-columns: 27% 54% 20%;
            grid-template-rows: 100%;
            position: relative;
            grid-gap: 0;
            width: auto;
            justify-items: center;
        }

        .blurb {
            font-size: 10px;
            width: fit-content !important;
        }

        .image {
            width: 100%;
            max-width: 81px;
            min-width: 105px;
            margin: 0;
        }

        .action {
            &{  

                margin: 4px;
                justify-self: center;
            }

            a{
                padding: 1px 11px!important;
                font-size: 10px;
                width: max-content;
            }
        }
    }
}

/*480*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs){
    .qantas-promo-banner  {
        &{
            margin: 15px 0;
            height: 100%;
            max-height: 80px;
            padding: 0;
        }

        .child-banner {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 40%;
            margin: 30px;
            position: relative;
            grid-gap: 19px;
        }

        .blurb {
            font-size: 10px;
            width: fit-content !important;
        }

        .image {
            width: 100%;
            max-width: 80px;
            min-width: 110px;            
            margin: 0;
            padding: 0;
        }

        .action {
            &{  
                display: inline-block;
                margin: 4px;
                grid-column: 1 e("/") 3;
                justify-self: center;
            }

            a{
                line-height: 2.4rem;
                padding: 4px 61px!important;
                font-size: 12px;
                width: max-content;
            }
        }
    }
}



/*320*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs){
    .qantas-promo-banner  {
        &{
            margin: 15px 0;
            height: 100%;
            max-height: 80px;
            padding: 0;
        }

        .child-banner {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 100%;
            margin: 0;
            position: relative;
        }

        .blurb {
            font-size: 10px;
            width: fit-content !important;
        }

        .image {
            width: 100%;
            max-width: 80px;
            min-width: 110px;            
            margin: 0;
            padding: 0;
        }

        .action {
            &{  
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 6em;
                margin: 0;
            }

            a{
                width: max-content;
                line-height: 12px;
                padding: 10px 15px;
                font-size: 9px;
                padding: 10px 60px;
                align-self: stretch;
                left: 0;  
            }
        }
    }
}