//
//  Cms: main banner
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .banner-main-wrapper {
        & {
            &:extend(._negative-gutter);
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .banner-main-wrapper {
        & {
            display: flex;
            width: calc(~'100% + 160px');
            .lib-css(margin-left, -(@layout-columns__padding__l + 30px));
            .lib-css(margin-right, -(@layout-columns__padding__l + 30px));
        }

        > .banner-items {
            width: calc(~'70% - 3px');
            margin: 0;
        }

        > .banner-items .banner-item {
            height: 100%;
            position: relative;
        }
    }

    .banner-main-wrapper > .additional-banner {
        max-width: calc(~'30% + 4px');
    }
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .banner-main-wrapper > .banner-items {
        width: calc(~'70% - 4px');
        margin: 0;
    }
}