//
//  Cms: main banner
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .banner-main-wrapper {
        & {
            &:extend(._negative-gutter);
            padding: 0 !important;
        }
    }
    .banner-main-wrapper > .additional-banner {
        max-width: calc(~'30% + 4px');
    }

    .qantas-promo-banner
    {
        &{
            margin-top: 30px;
        }

        .child-banner{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        .image{
            width: 100%;
            max-width: 200px;
            display: inline-block;
            margin: 20px;
        }

        .blurb{
            &{
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
            }

            .highlight{
                color: red;
                font-weight: bold;
            }
        }

        .action{
            &{
                display: inline-block;
                margin: 20px;
            }

            a{
                line-height: 2.4rem;
                padding: 11px 15px;
                font-size: 1.6rem;
                padding: 11px 71px;
                width: max-content;
            }
        }
    }

    .column-banner {
        float: left;
        padding: 10px;
    }

}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .banner-main-wrapper {
        & {
            display: flex;
            width: calc(~'100% + 160px');
            .lib-css(margin-left, -(@layout-columns__padding__l + 30px));
            .lib-css(margin-right, -(@layout-columns__padding__l + 30px));
        }

        > .banner-items {
            width: calc(~'70% - 3px');
            margin: 0;
        }

        > .banner-items .banner-item {
            height: 100%;
            position: relative;
        }
    }


}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .banner-main-wrapper > .banner-items {
        width: calc(~'70% - 4px');
        margin: 0;
    }
}


//1280px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .qantas-promo-banner  {
        .blurb{
            font-weight: 400!important;
        }

        .img{
            height: 100!important;
            min-width: 163px;

        }

        .action a {
            width: 11px!important;
            text-align: center!important;
            min-width: 134px!important;
            max-width: 10px!important;
            padding: 14px;
        }
        .qff-banner-container{

        }
    }
}
//780
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .qantas-promo-banner  {
        .blurb{
            font-weight: 400!important;
        }

        .img{
            height: 100!important;
            min-width: 194px!important;

        }



    }
}


//640
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    .qantas-promo-banner {

        &{
            text-align: center;
            position: relative;
            margin-bottom: 50%;
            margin-top: 25%;
        }
        .column-banner {
            float: left;
            width: 33.33%;
            padding: 10px;

        }
        .child-banner:after {
            content: "";
            display: table;
            clear: both;
        }
        .blurb{
            margin: 1px!important;
            font-size: 17px!important;
            position: absolute;
            top: 24px;
            width: fit-content!important;
        }

        img{
            width: 100%;
        }

        .image {
            width: 100%;
            max-width: 200px;
            display: inline-block;
            margin: 20px;
            position: absolute;
            top: -68px;
        }

        .qantas-promo-banner  {
            display: inline-block;
            margin: 20px;
            position: absolute;
            top: 62px;
        }

        .action{
            &{
                position: absolute;
                top: 71px;
            }
            a {
                max-width: 10px!important;

            }
        }



    }

}


