<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digidirect_myorderitems>
            <general>
                <items_per_page>10</items_per_page>
            </general>
        </digidirect_myorderitems>
    </default>
</config>