//
//  Checkout: Fields
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .checkout-index-index {
        .field-error {
            & {
                position: relative;
                margin-top: 0;
            }

            > span {
                position: absolute;
                bottom: -18px;
            }
        }

        .field.-postcode {
            & {
                position: relative;
            }

            .message.warning {
                position: absolute;
                z-index: 5;
            }
        }
    }
}