//
//  Theme: Shipping
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .action-show-popup,
    .edit-address-link {
        &:extend(.abs-action-button-as-link all);
        .lib-font-size(12);
        .lib-css(font-weight, @font-weight__heavier);

        span{
            color: #222 !important;
            text-decoration: underline !important;
            font-weight: bold !important;
        }
    }

    .action-show-popup {
        float: right;
        position: relative;
        z-index: 10;

        &:focus{
            background: #fff !important;
        }
    }

    .action-hide-popup{
         margin-left: 0 !important;
    }

    .edit-address-link {
        display: none;
        float: left;

        &:focus{
            background: #fff !important;
        }
    }

    .action-save-address{
        font-family: 'Poppins', sans-serif !important;

        &:hover{
            background: #c94901 !important;
            border: 2px solid #c94901 !important;
        }
    }

    .step-content .action.edit-address-link {
        float: none;
        margin-bottom: 30px;
    }

    .modal-header{
        h1{
            font-weight: bold !important;
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .action-show-popup,
    .edit-address-link {
        .lib-font-size(13);
    }
}

//
//  L +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .action-show-popup,
    .edit-address-link {
        .lib-font-size(14);
    }
}
