<div>
    <h3 data-bind="i18n: 'Default buttons'"></h3>

    <button class="action primary">
        <span data-bind="i18n:'Primary button'"></span>
    </button>

    <button class="action primary disabled" disabled="disabled">
        <span data-bind="i18n:'Disabled Primary button'"></span>
    </button>

    <button class="action secondary">
        <span data-bind="i18n:'Secondary button'"></span>
    </button>

    <button class="action secondary disabled" disabled="disabled">
        <span data-bind="i18n:'Disabled Secondary button'"></span>
    </button>
</div>

<div class="styleguide-buttons">
    <h3 data-bind="i18n: 'Size variants'"></h3>

    <button class="action -size-s">
        <span data-bind="i18n:'Button default S size'"></span>
    </button>

    <button class="action -size-m">
        <span data-bind="i18n:'Button size M'"></span>
    </button>

    <button class="action -size-l">
        <span data-bind="i18n:'Button L size'"></span>
    </button>

    <button class="action -size-xl">
        <span data-bind="i18n:'Button size XL'"></span>
    </button>

    <button class="action -size-xxl">
        <span data-bind="i18n:'Button size XXL'"></span>
    </button>
</div>

<div class="styleguide-buttons">
    <h3 data-bind="i18n: 'Color types'"></h3>

    <button class="action -size-l -color-type-1">
        <span data-bind="i18n:'Pre-order L size'"></span>
    </button>

    <button class="action -size-xl -color-type-2">
        <span data-bind="i18n:'Notify Me XL'"></span>
    </button>

    <button class="action -size-s -color-type-3">
        <span data-bind="i18n:'Sign Up S'"></span>
    </button>
</div>

<div>
    <h3 data-bind="i18n: 'Add to Cart - buttons'"></h3>

    <button class="action tocart">
        <span data-bind="i18n: 'Add to Cart'"></span>
    </button>

    <button class="action tocart primary">
        <span data-bind="i18n: 'Add to Cart'"></span>
    </button>
</div>

<div>
    <h3 data-bind="i18n: 'Checkout buttons'"></h3>

    <button class="action primary checkout">
        <span data-bind="i18n: 'Place Order'"></span>
    </button>

    <button class="action primary continue">
        <span data-bind="i18n: 'Continue to do smth'"></span>
    </button>
</div>

<div>
    <h3 data-bind="i18n: 'Buttons - ordinary operations'"></h3>

    <button class="action action-apply">
        <span data-bind="i18n: 'Apply'"></span>
    </button>

    <button class="action action-cancel">
        <span data-bind="i18n: 'Cancel'"></span>
    </button>

    <button class="action action-delete">
        <span data-bind="i18n: 'Delete'"></span>
    </button>

    <button class="action action-update">
        <span data-bind="i18n: 'Update'"></span>
    </button>

    <button class="action action-edit">
        <span data-bind="i18n: 'edit'"></span>
    </button>

    <button class="action action-gift">
        <span data-bind="i18n: 'Gift Message'"></span>
    </button>
</div>

<div>
    <h3 data-bind="i18n: 'Buttons in modals'"></h3>

    <button class="action-primary action-accept">
        <span data-bind="i18n: 'OK'"></span>
    </button>

    <button class="action-secondary action-dismiss">
        <span data-bind="i18n: 'Cancel'"></span>
    </button>
</div>