//
//  Form Additional Theme Styles
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    input[type='checkbox'] {
        &:checked + label::before {
            .lib-css(border-color, @color-black);
            .lib-css(background-color, @color-black);
        }
        &:checked + label::after {
            top: 15px;
            left: 4px;
            width: 11px;
            height: 6px;
            .lib-css(border-left, 2px solid @color-white);
            .lib-css(border-bottom, 2px solid @color-white);
            transform: rotate(-45deg);
        }
        &:disabled + label {
            .lib-css(opacity, @form-element-input__disabled__opacity);
        }
    }

    input[type='radio']:not([name*='ratings']):not(.@{default-radio-class}) {
        + label {
            .lib-css(line-height, @form-field-label__line-height);
        }
        &:checked + label::before {
            .lib-css(border-color, @color-black);
        }
        &:disabled + label {
            .lib-css(opacity, @form-element-input__disabled__opacity);
        }
    }

    .field {
        &.choice .label {
            padding-top: 2px;
            padding-bottom: 2px;
            vertical-align: top;
        }
    
        &.choice.-icon label {
            .lib-css(background, @color-white);
            .lib-font-size(18);
            .lib-hover-out();
            
            display: flex;
            flex-direction: column;
            padding: 25px 30px 20px;
            text-align: center;
            border-radius: 5px;
            
            &::before,
            &::after {
                display: none;
            }
    
            &:hover {
                .lib-border-block-hover();
            }
        }
    
        &.choice.-icon label .thumb {
            display: flex;
            height: 100%;
            margin-bottom: 20px;
        }
    
        &.choice.-icon .thumb img {
            display: block;
            max-width: 164px;
            max-height: 94px;
            margin: 0 auto;
        }
    
        &.choice.-icon input[type='radio']:checked + label {
            .lib-css(box-shadow, inset 0 0 1px 2px @color-orange-red1);
        }
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    input[type='text'],
    input[type='password'],
    input[type='url'],
    input[type='tel'],
    input[type='search'],
    input[type='number'],
    input[type='datetime'],
    input[type='email'],
    select:not([multiple]) {
        .lib-css(height, @form-element-input__height__m);
        .lib-font-size(@form-element-input__font-size__m);
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    input[type='text'],
    input[type='password'],
    input[type='url'],
    input[type='tel'],
    input[type='search'],
    input[type='number'],
    input[type='datetime'],
    input[type='email'],
    select:not([multiple]) {
        .lib-css(height, @form-element-input__height__l);
        .lib-font-size(@form-element-input__font-size__l);
    }

    select:not([multiple]) {
        background-size: 20px;
    }
}
