//
// SVG icons - styles
// _____________________________________

//
// Variables
// ______________________________________

@svg-icon__width: 32px;
@svg-icon__height: 32px;
@svg-icon__display: inline-block;
@svg-icon__vertical-align: middle;
@svg-icon__fill: currentColor;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .svg-icon {
        .lib-css(width, @svg-icon__height);
        .lib-css(height, @svg-icon__height);
        .lib-css(display, @svg-icon__display);
        .lib-css(fill, @svg-icon__fill);
        .lib-css(vertical-align, @svg-icon__vertical-align);
    }

    .svg-icon.svgi-blog-widget {
        .lib-css(fill, @color-black);
    }

    .svg-icon.svgi-arrow {
        .lib-css(fill, @color-2-1);
    }
}