<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="digidirect" translate="label" sortOrder="100">
            <label>Digidirect</label>
        </tab>
        <section id="digidirect_googleapi_config" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Google API</label>
            <tab>digidirect</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="google_api_key" translate="label comment" type="text" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google API Key</label>
                    <frontend_class>required-entry</frontend_class>
                </field>
            </group>
            <resource>Digidirect_Googleapi::digidirect_config</resource>
        </section>
    </system>
</config>