//
//  Catalog: Products Grid
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@catalog-products-grid-product-item__width: false;
@catalog-products-grid-product-item__width__s: false;
@catalog-products-grid-product-item__width__m: false;
@catalog-products-grid-product-item__width__l: false;
@catalog-products-grid-columns__2: 2;
@catalog-products-grid-columns__3: 3;
@catalog-products-grid-columns__4: 4;
@catalog-products-grid-columns__5: 5;
@catalog-products-grid-product-item__flex-basis__2: 100%/@catalog-products-grid-columns__2;
@catalog-products-grid-product-item__flex-basis__3: 100%/@catalog-products-grid-columns__3;
@catalog-products-grid-product-item__flex-basis__4: 100%/@catalog-products-grid-columns__4;
@catalog-products-grid-product-item__flex-basis__5: 100%/@catalog-products-grid-columns__5;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .products-widget {
        & {
            padding-bottom: 40px;
            .lib-css(background, @color-3-8);
        }

        .products-grid .product-items:not(.slick-slider) {
            overflow: hidden;
        }

        .products-grid > .product-items:not(.slick-slider) .product-item {
            height: auto;
        }

        > .title {
            display: block;
            .lib-font-size(22);
            font-weight: 500;
            margin: 0 5px 33px;
        }

        .products-grid {
            margin-bottom: 0;
        }

        .products-grid > .product-items {
            .lib-vendor-prefix-flex-wrap(nowrap);
            margin-bottom: 0;
        }

        .products-grid .product-item {
            padding-bottom: 0;
        }

        .product-item {
            height: 100%;
        }
    }

    .products-widget.-new-arrivals > .title {
        .lib-css(font-weight, @font-weight__bold);
    }
    

    .product-carousel {
        &.slick-initialized .product-item {
            height: 100%;
        }

        .slick-initialized .product-item {
            display: block;
        }
    }

    .upsell-block,
    .related {
        & {
            background: none;
        }

        .title {
            text-align: center;
        }
    }

    .checkout-cart-index .products-widget {
        & {
            margin-top: 27px;
            margin-bottom: 0;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        > .title {
            margin: 0 0 20px;
        }
    }

    .catalog-product-view,
    .checkout-cart-index {
        .products-widget .products-grid > .product-items:not(.slick-slider) .product-item {
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(@catalog-products-grid-product-item__flex-basis__2);
        }
    }
}

//
//  Tablet
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-widget {
        > .title {
            .lib-font-size(24);
        }
    }

    .blog-view-index,
    .catalog-product-view,
    .checkout-cart-index {
        .products-widget .products-grid > .product-items:not(.slick-slider) .product-item {
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(@catalog-products-grid-product-item__flex-basis__3);
        }
    }
    
    .upsell-block {
        & > .title {
            text-align: left;
        }
    }

    .checkout-cart-index .products-widget {
        & {
            margin-top: 0;
            padding-top: 30px;
            padding-bottom: 40px;
        }

        > .title {
            margin: 0 0 30px;
        }
    }
}

//
//  XM +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xm) {
    .catalog-product-view,
    .checkout-cart-index {
        .products-widget .products-grid > .product-items:not(.slick-slider) .product-item {
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(@catalog-products-grid-product-item__flex-basis__4);
        }
    }
}

//
//  Desktop 
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-widget {
        > .title {
            .lib-font-size(28);
        }
    }

    .checkout-cart-index .products-widget {
        & {
            padding-top: 45px;
            padding-bottom: 60px;
        }

        > .title {
            margin: 0 0 36px;
        }

        .product-item-details > .price-box {
            margin: 0 0 2px;
        }
    }
}

//
//  XL +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .catalog-product-view,
    .checkout-cart-index {
        .products-widget .products-grid > .product-items:not(.slick-slider) .product-item {
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(@catalog-products-grid-product-item__flex-basis__5);
        }
    }
}