<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ewave_Utilities::ewave" sortOrder="100">
                    <resource id="Ewave_GiftCardImage::gift_card_image" title="Gift Card Images" sortOrder="10">
                        <resource id="Ewave_GiftCardImage::gift_card_image_save" title="Save" sortOrder="20" />
                        <resource id="Ewave_GiftCardImage::gift_card_image_delete" title="Delete" sortOrder="30" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
