//
//  Theme: PLP customizable options
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .product-options-wrapper .options-list {
        > .field {
            margin-bottom: 12px;
        }

        .radio:checked + .label {
            &::after {
                left: 0;
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product-options-wrapper .options-list {
        & {
            padding-bottom: 5px;
        }

        > .field {
            margin-bottom: 17px;
        }

        .label {
            .lib-font-size(14);
        }
    }
}