//
//  Theme: Catalog: Price
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@catalog-price-product-info-main-options-bottom-price-box-price-wrapper-price__font-size__m: 30;
@catalog-price-product-info-main-options-bottom-price-box-price-wrapper-price__line-height__m: 36px;

@catalog-price-product-info-main-options-bottom-price-box-price-wrapper-price__font-size__l: 34;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .product-info-main {
        .price-box,
        .price-box .price-container {
            line-height: 34px;
        }

        .price-box .price {
            vertical-align: top;
        }

        .price-box .old-price {
            float: left;
            margin-top: 16px;
        }

        .old-price,
        .old-price .price-container,
        .old-price .price-container .price,
        .block-extendedrule + .price-container,
        .block-extendedrule + .price-container .price {
            line-height: 31px;
        }

        .price-box .old-price .price,
        .block-extendedrule + .price-container .price {
            .lib-font-size(13);
            .lib-css(font-weight, @font-weight__heavier);
        }

        .block-extendedrule.-special-price + .product-info-price {
            margin-top: 9px;
        }

        .special-price .price-container.price-final_price .price-wrapper {
            .lib-css(font-family, @font-family__special);
            .lib-css(color, @color-2-7);
        }
    }

    .product-info-main,
    .bundle-info {
        .price-label {
            display: block;
            .lib-font-size(11);
            line-height: 16px;
            text-transform: uppercase;
            .lib-css(color, @color-4-7);
        }
    }

    .product-item-info {
        .block-extendedrule.-cashback-available {
            align-self: flex-start;
            text-align: right;
        }

        .block-extendedrule.-cashback-available .price-box .price-label {
            .lib-font-size(14);
            .lib-css(font-weight, @font-weight__bold);
            text-transform: none;
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .price-label {
            .lib-font-size(12);
        }

        .price-box .price-wrapper .price {
            .lib-font-size(@catalog-price-product-info-main-options-bottom-price-box-price-wrapper-price__font-size__m);
            .lib-css(line-height, @catalog-price-product-info-main-options-bottom-price-box-price-wrapper-price__line-height__m);
        }

        .price-box .old-price .price,
        .block-extendedrule + .price-container .price {
            .lib-font-size(14);
            line-height: 31px;
        }
    }
}

//
//  XM +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xm) {
    .product-info-main {
        .price-label:not(:empty) {
            margin-bottom: 5px;
        }

        .price-box .price-wrapper .price {
            .lib-font-size(@catalog-price-product-info-main-options-bottom-price-box-price-wrapper-price__font-size__l);
        }

        .old-price,
        .old-price .price-container,
        .old-price .price-container .price,
        .block-extendedrule + .price-container,
        .block-extendedrule + .price-container .price {
            line-height: 24px;
        }

        .price-box .old-price .price,
        .block-extendedrule + .price-container .price {
            .lib-font-size(16);
        }
    }
}