<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Digidirect_AbstractGiftCardLogger" setup_version="1.0.0"  active="true">
        <sequence>
            <module name="Digidirect_AbstractGiftCard"/>
            <module name="Digidirect_AI"/>
        </sequence>
    </module>
</config>
