<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="digidirect_checkoutfields" id="digidirect_checkoutfields">
            <module before="Magento_Backend" name="Digidirect_CheckoutFields"/>
        </route>
    </router>
</config>
