<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout_fields" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Checkout Fields</label>
            <tab>digidirect</tab>
            <resource>Digidirect_CheckoutFields::checkout_fields</resource>

            <group id="checkout_fields" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enable_checkout_fields" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Checkout Fields</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout_fields" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Fields</label>
                    <frontend_model>Digidirect\CheckoutFields\Block\Adminhtml\System\Config\Fields</frontend_model>
                    <backend_model>Digidirect\CheckoutFields\Model\Config\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable_checkout_fields">1</field>
                    </depends>
                </field>
            </group>

            <group id="cron" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron</label>
                <depends>
                    <field id="*/checkout_fields/enable_checkout_fields">1</field>
                </depends>

                <field id="frequency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <depends>
                        <field id="*/checkout_fields/enable_checkout_fields">1</field>
                    </depends>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Digidirect\CheckoutFields\Model\Config\Backend\Cron</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                    <depends>
                        <field id="*/checkout_fields/enable_checkout_fields">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
