<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CustomAttributeManagement\Block\Form">
        <plugin name="get_attribute_html_before" type="Ewave\Digi\Plugin\Magento\CustomAttributeManagement\Block\Form"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="ewave_digi_checkout_default_config_provider" type="Ewave\Digi\Model\Plugin\Checkout\DefaultConfigProvider" sortOrder="110" disabled="false"/>
    </type>
</config>
