//
//  Locator:list
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@locator-list__margin: 0 0 20px;
@locator-list__padding: false;
@locator-list-count__text-align: center;
@locator-list-count__font: @font-weight__semibold 16px @font-family__base;

//  Items
@locator-items__position: false;
@locator-items__float: false;
@locator-items__max-height: 600px;
@locator-items__margin: false;
@locator-items__padding: false;
@locator-items__overflow: auto;

//  Item
@locator-item__margin: false;
@locator-item__padding: 10px 5px;
@locator-item__overflow: hidden;
@locator-item__border-top: @border-width__base solid @border-color__base;
@locator-item__background-color: false;
//  Item:image
@locator-item-image__float: left;
@locator-item-image__margin: 0 10px 0 0;
@locator-item-image__max-width: 50px;
//  Item:details
@locator-item-details__overflow: hidden;
//  Item:name
@locator-item-name__display: block;
@locator-item-name__margin: 0 0 5px;
@locator-item-name__padding: false;
@locator-item-name__font: @font-weight__bold 14px @font-family__base;
//  Item:address
@locator-item-address__margin: 0 0 5px;
@locator-item-address__padding: false;
// Item:children
@locator-item-children__margin: 5px 0 0 20px;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .locator-list {
        & {
            .lib-css(margin, @locator-list__margin);
            .lib-css(padding, @locator-list__padding);
        }
        > .count {
            .lib-css(text-align, @locator-list-count__text-align);
            .lib-css(font, @locator-list-count__font);
        }
    }

    .locator-items {
        .lib-css(position, @locator-items__position);
        .lib-css(float, @locator-items__float);
        .lib-css(max-height, @locator-items__max-height);
        .lib-css(margin, @locator-items__margin);
        .lib-css(padding, @locator-items__padding);
        .lib-css(overflow, @locator-items__overflow);
    }

    .locator-item {
        & {
            .lib-css(margin, @locator-item__margin);
            .lib-css(padding, @locator-item__padding);
            .lib-css(overflow, @locator-item__overflow);
            .lib-css(background-color, @locator-item__background-color);
        }

        &:not(:first-child) {
            .lib-css(border-top, @locator-item__border-top);
        }

        .image {
            .lib-css(float, @locator-item-image__float);
            .lib-css(margin, @locator-item-image__margin);
            .lib-css(max-width, @locator-item-image__max-width);
        }

        .details {
            .lib-css(overflow, @locator-item-details__overflow);
        }

        .name {
            .lib-css(display, @locator-item-name__display);
            .lib-css(margin, @locator-item-name__margin);
            .lib-css(padding, @locator-item-name__padding);
            .lib-css(font, @locator-item-name__font);
        }

        .address {
            .lib-css(margin, @locator-item-address__margin);
            .lib-css(padding, @locator-item-address__padding);
        }

        .children {
            .lib-css(margin, @locator-item-children__margin);
        }
    }
}
