<div class="fieldset">
    <div class="field">
        <label class="label" for="el_inputtext_0">
            <span>Field label (input text)</span>
        </label>
        <div class="control">
            <input class="input-text"
                   type="text" id="el_inputtext_0"
                   name="input" title="Input" disabled/>
        </div>
    </div>

    <div class="field">
        <label class="label" for="el_inputtext_1">
            <span>Field label (input text)</span>
        </label>
        <div class="control">
            <input class="input-text"
                   type="text" id="el_inputtext_1"
                   name="input" title="Input"/>
        </div>
    </div>

    <div class="field">
        <label class="label" for="el_inputtext_2">
            <span>Loading input-text</span>
        </label>
        <div class="control">
            <input class="input-text -loading"
                   type="text" id="el_inputtext_2"
                   name="input" title="Input"/>
        </div>
    </div>

    <div class="field">
        <label class="label" for="el_inputtext_3">
            <span>Field label (input text error)</span>
        </label>
        <div class="control">
            <input class="input-text mage-error"
                   type="text" id="el_inputtext_3"
                   name="input" title="Input"/>
            <div generated="true" class="mage-error">This is a required field.</div>
        </div>
    </div>
</div>
