<div class="product-reviews-summary" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
    <div class="rating-summary">
        <span class="label"><span>Rating:</span></span>
        <div class="rating-result" title="67%">
             <span style="width: 67%;">
                 <span>
                     <span itemprop="ratingValue">67</span>% of <span itemprop="bestRating">100</span>
                 </span>
             </span>
        </div>
    </div>
    <div class="reviews-actions">
        <a class="action view" href="http://demo-acm2.bird.eu/push-it-messenger-bag.html#reviews">
            <span itemprop="reviewCount">3</span>&nbsp;
            <span>Reviews</span>
        </a>
        <a class="action add" href="http://demo-acm2.bird.eu/push-it-messenger-bag.html#review-form">Add Your Review</a>
    </div>
</div>