//
//  Toolbar-sorter
//  _____________________________________________

//  ____________________________________________
//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .desktop-row .toolbar-sorter,
    .toolbar-products .desktop-row .sorter.-mobile {
        .sorter-action {
            margin: 0;
        }

        .sorter-action.-active {
            pointer-events: none;
        }

        .sorter-action.sort-desc.-active::before {
            content: '';
            .lib-css(background-image, @base64-icon__sort-decr-black);
        }

        .sorter-action.sort-desc.-passive::before {
            content: '';
            .lib-css(background-image, @base64-icon__sort-decr-gray);
        }

        .sorter-action.sort-asc.-active::before {
            content: '';
            .lib-css(background-image, @base64-icon__sort-incr-black);
        }

        .sorter-action.sort-asc.-passive::before {
            content: '';
            .lib-css(background-image, @base64-icon__sort-incr-gray);
        }
    }
    
    //Rondel Changes
    
    .sorter-action {
        margin: 0 !important;
    }
    
    .sorter-action.sort-desc.-active::before {
        content: '';
        .lib-css(background-image, @base64-icon__sort-decr-black);
    }

    .sorter-action.sort-desc.-passive::before {
        content: '';
        .lib-css(background-image, @base64-icon__sort-decr-gray);
    }

    .sorter-action.sort-asc.-active::before {
        content: '';
        .lib-css(background-image, @base64-icon__sort-incr-black);
    }

    .sorter-action.sort-asc.-passive::before {
        content: '';
        .lib-css(background-image, @base64-icon__sort-incr-gray);
    }

    .toolbar-products .desktop-row .sorter.-mobile {
        & {
            //flex-wrap: wrap;
            flex-wrap: initial;
            justify-content: flex-start;
        }

        .sort-label-wrapper {
            display: block;
            flex-basis: 100%;
            .lib-css(border-right, 0px solid @color-4-3);
            min-width: 80px;
        }

        .sorter-trigger {
            display: block;
            text-align: left;
            padding-left: 20px;
        }

        .sorter-mobile-wrapper {
            flex-basis: 50%;
            min-width: 100px;
        }

        .sort-label-mobile {
            display: block;
            text-align: left;
            padding-left: 20px;
        }

        .sort-label-mobile span {
            display: none;
        }

        .sort-label-mobile span.selected {
            display: block;
            font-size: 8px;
            font-weight: bold;
            .lib-css(color, @color-2-1);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sorter-mobile-wrapper {
        flex-basis: 50%;
        min-width: none;
    }
}