<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="Ewave\Digi\Rewrite\Wishlist\CustomerData\Wishlist" />
    <preference for="Magento\Braintree\Model\Paypal\Helper\OrderPlace" type="Ewave\Digi\Rewrite\Model\Paypal\Helper\OrderPlace" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ResizeImageWithParamsCommand" xsi:type="object">Ewave\Digi\Console\Command\ImagesResizeCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="\Magento\Catalog\Block\Category\View">
        <plugin name="category.view.after.pulugin"
                type="\Ewave\Digi\Plugin\Magento\Catalog\Block\Category\View"
                sortOrder="1"
                disabled="false" />
    </type>

    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="ewave_brand_filter" xsi:type="array">
                    <item name="class" xsi:type="string">Ewave\Digi\Controller\Router\NoRouteBrandHandler</item>
                    <item name="sortOrder" xsi:type="string">1</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Ewave\LayeredNavigation\Helper\Meta">
        <plugin name="layarednavigation.meta.after.pulugin"
                type="Ewave\Digi\Plugin\Ewave\LayeredNavigation\Helper\Meta"
                sortOrder="1"
                disabled="false" />
    </type>
    <virtualType name="BraintreeAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="item" xsi:type="string">Ewave\Digi\Gateway\Request\ItemDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
</config>