<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ewave_Digi" setup_version="1.0.28">
        <sequence>
            <module name="Ewave_Utilities"/>
            <module name="Ewave_Store"/>
            <module name="Ewave_MSI"/>
            <module name="Ewave_CollectAbstractEntity"/>
            <module name="Magento_MediaStorage"/>
            <module name="Ewave_ProntoDigi"/>
            <module name="Ewave_AbstractAttributes"/>
            <module name="Ewave_Collect"/>
            <moduel name="LiveChat_LiveChat"/>
        </sequence>
    </module>
</config>
