//
//  Checkout: Credit Cards
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@checkout-credit-card__is-enabled: true; // Enable/disable style

@checkout-credit-card-types__margin: 0 auto;
@checkout-credit-card-types__padding: 0;
@checkout-credit-card-types__text-align: center;

//  Item
@checkout-credit-card-types-item__display: inline-block;
@checkout-credit-card-types-item__margin: 0 @indent__xs 0 0;
@checkout-credit-card-types-item__list-style: none;
@checkout-credit-card-types-item__vertical-align: top;
@checkout-credit-card-types-item__active__font-weight: @font-weight__bold;
@checkout-credit-card-types-item__inactive__opacity: .4;
@checkout-credit-card-types-item-img__filter: grayscale(100%);
@checkout-credit-card-types-item-img__transition: all .6s ease;
@checkout-credit-card-types-item-img__active__filter: grayscale(0%);

@checkout-credit-card-types-item-span__display: inline-block;
@checkout-credit-card-types-item-span__padding-top: 6px;
@checkout-credit-card-types-item-span__vertical-align: top;

//  Fieldset
@checkout-credit-card-fieldset__max-width: false;
@checkout-credit-card-fieldset__max-width__m: 230px;

//  Legend
@checkout-credit-card-legend__use-visually-hidden: true;

//  Year
@checkout-credit-card-field-year__padding-left: @indent__xs;

//  CVV
@checkout-credit-card-cvv-control__width: 60px;
@checkout-credit-card-cvv-control-field-tooltip__right: auto;
@checkout-credit-card-cvv-control-field-tooltip__left: @checkout-credit-card-cvv-control__width + 15px;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    & when (@checkout-credit-card__is-enabled = true) {
        .checkout-payment-method {
            .credit-card-types {
                .lib-css(margin, @checkout-credit-card-types__margin);
                .lib-css(padding, @checkout-credit-card-types__padding);
                .lib-css(text-align, @checkout-credit-card-types__text-align);
            }
            .credit-card-types img {
                .lib-css(filter, @checkout-credit-card-types-item-img__filter);
                .lib-css(transition, @checkout-credit-card-types-item-img__transition);
            }
            .credit-card-types .item {
                .lib-css(display, @checkout-credit-card-types-item__display);
                .lib-css(margin, @checkout-credit-card-types-item__margin);
                .lib-css(list-style, @checkout-credit-card-types-item__list-style);
                .lib-css(vertical-align, @checkout-credit-card-types-item__vertical-align);
            }
            .credit-card-types .item._active {
                .lib-css(font-weight, @checkout-credit-card-types-item__active__font-weight);
            }
            .credit-card-types .item._active img {
                .lib-css(filter, @checkout-credit-card-types-item-img__active__filter);
            }
            .credit-card-types .item._inactive {
                .lib-css(opacity, @checkout-credit-card-types-item__inactive__opacity);
            }
            .credit-card-types .item span {
                .lib-css(display, @checkout-credit-card-types-item-span__display);
                .lib-css(padding-top, @checkout-credit-card-types-item-span__padding-top);
                .lib-css(vertical-align, @checkout-credit-card-types-item-span__vertical-align);
            }

            .ccard.fieldset {
                .lib-css(max-width, @checkout-credit-card-fieldset__max-width);
            }
            .ccard .legend {
                & when (@checkout-credit-card-legend__use-visually-hidden = true) {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .ccard .fields > .year {
                .lib-css(padding-left, @checkout-credit-card-field-year__padding-left);
            }
            .ccard > .field.cvv .input-text {
                .lib-css(width, @checkout-credit-card-cvv-control__width);
            }
            .ccard > .field.cvv .control._with-tooltip .field-tooltip {
                .lib-css(right, @checkout-credit-card-cvv-control-field-tooltip__right);
                .lib-css(left, @checkout-credit-card-cvv-control-field-tooltip__left);
            }
        }
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    & when (@checkout-credit-card__is-enabled = true) {
        .checkout-payment-method {
            .ccard.fieldset {
                .lib-css(max-width, @checkout-credit-card-fieldset__max-width__m);
            }
        }
    }
}
