<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <arguments>
            <argument name="catalogProduct" xsi:type="object">Digidirect\OutOfStockNotif\Helper\Catalog\Product</argument>
        </arguments>
    </type>
    <type name="Magento\ProductAlert\Model\Stock">
        <plugin name="Digidirect_OutOfStockNotif::stockAddData" type="Digidirect\OutOfStockNotif\Plugin\ProductAlert\Model\Stock" />
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Digidirect_OutOfStockNotif::ConfigurableProductBlock" type="Digidirect\OutOfStockNotif\Plugin\ConfigurableProduct\Block\Product\View\Type\Configurable" />
    </type>
    <type name="Magento\ProductAlert\Model\ProductSalability">
        <plugin name="product_alert_adapt_salability" type="Digidirect\OutOfStockNotif\Plugin\Magento\ProductAlert\Model\ProductSalabilityPlugin"/>
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="Digidirect_OutOfStockNotif::CustomerData_emailAdded" type="Digidirect\OutOfStockNotif\Plugin\Customer\CustomerData\CustomerPlugin"/>
    </type>
</config>
