//
//  Search Form
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .form.minisearch {
        & {
            position: relative;
        }

        &.active {
            padding-bottom: 20px;
        }

        .input-text {
            .lib-font-size(16);
            .lib-css(color, @primary__color);
            width: 0;
            opacity: 0;

            &:focus {
                box-shadow: none;
            }
        }

        &.active .input-text {
            position: absolute;
            width: inherit;
            opacity: 1;
            border: none;
        }

        .nested {
            display: none;
        }

        .control {
            border-top: none;
            margin: 0 -40px -40px;
        }

        .label {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
            cursor: pointer;

            &::before {
                display: none;
            }
        }

        .label > span {
            .lib-font-size(11);
            position: static;
            height: inherit;
            width: inherit;
            margin-top: 1px;
        }

        .svg-icon {
            width: 20px;
            height: 22px;
            margin-bottom: 4px;
        }
        
        .actions button {
            .lib-css(color, @primary__color);
            
            &:disabled {
                opacity: .5;
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .input-text {
        .lib-css(border-bottom, 2px solid @color-black) !important;
    }
    
    .minicart-wrapper{
        margin-top: 0 !important;
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .form.minisearch {
        .label {
            width: inherit;
            height: inherit;
            position: static;
            overflow: visible;
            margin: 0;
        }

        .input-text {
            .lib-input-placeholder(@color-gray64);
            left: 50px;
            margin: 15px 0;
            background-color: transparent;
        }
    }

    body .klevu-fluid > .klevu-pt-rs-hover {
        width: 232px!important;
    }
}

//
//  Tablet -
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body .klevu-fluid > .klevu-pt-rs-hover {
        width: 212px!important;
    }
}

//
//  Tablet Large -
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xm) {
    body .klevu-fluid > .klevu-pt-rs-hover {
        width: 232px!important;
    }
}

//
//  Desktop -
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    body .klevu-fluid > .klevu-pt-rs-hover {
        right: 17px!important;
        width: 232px!important;
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .form.minisearch {
        & {
            width: 344px;
        }

        .input-text {
            width: 100%;
            opacity: 1;
        }

        .label {
            width: 1px;
            height: 1px;
            position: absolute;
        }

        &.active {
            padding-bottom: 0;
        }

        .input-text {
            margin: 0;
        }

        &.active .input-text {
            position: static;
            width: 100%;
        }
    }

    body .klevu-fluid .klevu-pt-rs-hover,
    body .klevu-pt-rs-hover .klevu-pt-hover-box {
        width: 344px !important;
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .form.minisearch {
        .lib-css(width, @block-search__width);
    }

    body .klevu-fluid .klevu-pt-rs-hover,
    body .klevu-pt-rs-hover .klevu-pt-hover-box {
        width: 644px !important;
    }
}