/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 4 Feb 2021, 3:56:34 pm
    Author     : Dev
*/
/*
@media only screen and (orientation: portrait) {
  .page-header {
    margin:0px;
  }
}*/
& when(@media-common = true){
    .nav-help{
    min-height: 80px;
    align-items: center;
    margin: 0;
    }
    /*
    div#store\.menu {
        background-color: #000;
    }*/

    #ninjamenus1 {
        width: max-content;
        background-color: #000000;
        white-space: nowrap;
        margin-top: 0 auto;
        margin-bottom: 0 auto;
        display: flex;
/*        justify-content: center;
        align-items: center;*/
        margin-left: 80px;
        margin-right: inherit;
        
    }
    
    div#store\.menu {
        background-color: #000000 !important;
        margin-top: 0 auto;
        margin-bottom: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        width: 1280px;

    }

    #top-menu{
        background-color:#000000;
    }
    
    nav.navigation{
/*        background-color: #000000 !important;
        display: -webkit-flex;
        display: -ms-flexbox;*/
        display: flex;
        width: inherit;
        width: 1280px;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
      }
    
    .item-submenu.mgz-element-inner {
    width: 1080px !important ;
    position: fixed;
    align-items: center;
    }
    
    .left_edge_menu_bar {
/*        max-width:100%;*/
/*        width: 1040px !important;*/
/*        position: fixed;*/
        position: relative;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .navigation {
        background-color: #000000 !important;
        align-items: center;

    }
    
    .section-items.nav-sections-items {
        background-color: #000000 !important;
        justify-content: center;
        padding: 0;
        text-transform: uppercase;


    }
    
    .ninjamenus.ninjamenus-desktop.ninjamenus-horizontal > .magezon-builder > .nav-item{
        text-transform: uppercase;
        align-items: center;

    }
    
    .top-items {
        text-align: center;
    }
    
}

    @media only screen and (orientation: portrait) {
      .page-header {
        margin:0px;
      }
    }
    
    