/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07 26, 24, 2:43:10 PM
    Author     : rondel
*/


& when(@media-common = true){
    
    #pa-blue-right-side-widget-wrapper {
        background: #004f67;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-left: -5px;
        margin-top: -15px;
        //margin-bottom: 15px;
    }

    .pa-product-widget-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        padding-bottom: 4px;
    }

    #pa-blue-right-side-widget .title {
        font-size: 14px;
        margin-top: 0;
    }

    #pa-blue-right-side-widget-wrapper .product-item-info.product-item {
        margin: 0;
        padding: 0;
        border: none;
        width: unset !important;
        display: block !important;
        border-radius: 5px;
    }

    #pa-blue-right-side-widget .product-image-wrapper {
        padding-bottom: 0 !important;
        height: auto;
    }

    #pa-blue-right-side-widget .product-image-container {
        width: 100% !important;
        padding: 15px 15px 0;
    }

    #pa-blue-right-side-widget .product-image-photo {
        height: 60px;
        margin-bottom: 0;
        margin-top: 5px;
        position: static;
        object-fit: contain;
    }

    #pa-blue-right-side-widget .product-item-details {
        padding: 5px 3px;
    }
    
    #pa-blue-right-side-widget .product-item-name {
        flex: 0;
    }

    #pa-blue-right-side-widget .product-item .price-box {
        border: none;
        min-height: 25px !important;
        margin-bottom: 0 !important;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #pa-blue-right-side-widget .special-price .price {
        font-size: 14px;
        font-weight: 600;
    }
    
    #pa-blue-right-side-widget .price-label {
        display: none !important;
    }
    
    #pa-blue-right-side-widget .discount-price-wrapper {
        display: none;
    }
    
    #pa-blue-right-side-widget .current-price-wrapper {
        margin-top: -5px;
    }
    
    #pa-blue-right-side-widget .old-price-wrapper {
        margin-top: -5px;
    }
    
    .pa-digidirect-product-widget-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 15px;
    }

    .product-widget-header {
        display: flex;
    }

    #pa-digidirect-product-widget .product-image-container {
        display: unset;
    }

    #pa-digidirect-product-widget .product-image-wrapper {
        height: auto;
        padding: 0 !important;
    }
    
    #pa-digidirect-product-widget .wish-list-wrapper {
        position: absolute;
        right: 5px;
        top: 10px;
    }

    #pa-digidirect-product-widget .product-image-photo {
        height: 150px !important;
        width: auto !important;
        object-fit: contain;
        position: static;
        margin-top: 22px;
    }

    #pa-digidirect-product-widget .product-item-info.product-item {
        width: unset !important;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
        height: unset !important;
        border: 1px solid #cacaca;
        margin-top: 0;
        position: relative;
    }
    
    #pa-digidirect-product-widget .product-item-info.product-item:hover {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
        transform: translate(0, -10px);
    }

    #pa-digidirect-product-widget .final-price {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 700;
        color: #ff3c00;
    }

    #pa-digidirect-product-widget .product-item-info.product-item:last-child {
        //margin-right: 0;
    }

    #pa-digidirect-product-widget .product-item-actions {
        padding-bottom: 10px;
    }

    #pa-digidirect-product-widget .product-item-actions .actions-primary {
        width: 100% !important;
    }
    
    .hide-product-item {
        display: none !important;
    }
    
    .pa-digidirect-product-widget-container.mobile-widget {
        display: none;
    }
    
    #pa-digidirect-product-widget .product-tab-mobile-widget-load-more.grid-toggle-more, #pa-digidirect-product-widget .product-tab-mobile-widget-view-less.grid-toggle-more, #pa-digidirect-product-widget .product-tab-mobile-widget-view-all.grid-toggle-more {
        margin-top: 0 !important;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .pa-digidirect-product-widget-container {
        display: none;
    }
    
    .pa-digidirect-product-widget-container.mobile-widget {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);    
        row-gap: 10px;
        column-gap: 15px;
    }
    
    #pa-digidirect-product-widget .product-item-info.product-item {
        margin-right: 0;
    }
    
    #pa-digidirect-product-widget .product-item-link {
        text-align: center;
    }
    
    #pa-digidirect-product-widget .load-more {
        display: block;
    }
}

@media only screen and (max-width: 1280px) {
    
    #pa-digidirect-product-widget .product-item-actions {
        padding-bottom: 0;
    }
    
}


//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    
    #pa-digidirect-product-widget .load-more {
        display: none !important;
    }
    
    #pa-digidirect-product-widget .view-less {
        display: none !important;
    }
    
    #pa-digidirect-product-widget .view-all {
        display: none !important;
    }
    
}

