//
//  Catalog: Product (PDP)
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@catalog-pdp__is-enabled: true; // Enable/disable styles
//
////  Column Main
//@catalog-pdp-column-main__use-vendor-prefix-display__m-only: true;
//@catalog-pdp-column-main__use-vendor-prefix-flex-direction-column__m-only: true;

//  Media
@catalog-pdp-media__use-vendor-prefix-order__m-only: false;
@catalog-pdp-media__float__m: false;
@catalog-pdp-media__width__m: false;
@catalog-pdp-media__margin-bottom__m: false;
//@catalog-pdp-media-photo-image__use-adaptive-images-centered: true;
//@catalog-pdp-media-placeholder-photo-container__max-width: 100%;
//@catalog-pdp-media-notice__margin: @indent__s 0;
//@catalog-pdp-media-notice__font-size: @font-size__s;
//@catalog-pdp-media-notice__color: @text__color__muted;
//@catalog-pdp-media-product-thumbs__margin: @indent__base 0 @indent__l;

//  Items Thumbs
//@catalog-pdp-media-items-thumbs__use-list-inline: true;
//@catalog-pdp-media-items-thumbs__active__display: block;
//@catalog-pdp-media-items-thumbs__active__line-height: 1;

//  Product Info Detailed
//@catalog-pdp-product-info-detailed__margin-bottom: 30px;
//@catalog-pdp-product-info-detailed__clear: both;
//@catalog-pdp-product-info-detailed-additional-attributes__width: auto;
//
////  Product Info Main
@catalog-pdp-product-info-main__float__m: false;
@catalog-pdp-product-info-main__width__m: false;

//  Page Title
//@catalog-pdp-product-info-main-page-title__margin-bottom: @indent__s;
//@catalog-pdp-product-info-main-page-title__line-height: @line-height__base;

//  Stock
//@catalog-pdp-product-info-main-stock__display: inline-block;
@catalog-pdp-product-info-main-stock__margin-right: false;
//@catalog-pdp-product-info-main-stock__vertical-align: top;
@catalog-pdp-product-info-main-stock__font-weight: @font-weight__heavier;
@catalog-pdp-product-info-main-stock__text-transform: false;
//
////  SKU
//@catalog-pdp-product-info-main-sku__display: inline-block;
//@catalog-pdp-product-info-main-sku__vertical-align: top;
//@catalog-pdp-product-info-main-sku__color: @text__color__muted;
//@catalog-pdp-product-info-main-sku-value__display: inline-block;
//@catalog-pdp-product-info-main-sku-value__vertical-align: top;
//@catalog-pdp-product-info-main-sku-value__word-break: break-all;
//@catalog-pdp-product-info-main-sku-type__margin-right: @indent__xs;

//  Overview
//@catalog-pdp-product-info-main-overview__margin: @indent__base 0;

//  Product Alert
//@catalog-pdp-product-info-main-product-alert__margin: @indent__s 0;

////  Product Options
//@catalog-pdp-product-options-wrapper-field-note__display: block;
@catalog-pdp-product-options-wrapper-field-price-notice__use-adjustment-incl-excl-tax: false;
//
////  Product Options (type: date)
//@catalog-pdp-product-options-type-date__is-enabled: true;
//
////  Product Options Inner Legend
//@catalog-pdp-product-options-type-inner-legend__float: none;
//@catalog-pdp-product-options-type-inner-legend__display: inline-block;
//@catalog-pdp-product-options-type-inner-legend__margin: 0 0 @indent__xs;
//@catalog-pdp-product-options-type-inner-legend__padding: 0;
//@catalog-pdp-product-options-type-inner-legend__border: none;
//@catalog-pdp-product-options-type-inner-legend__font-size: 14px;
//@catalog-pdp-product-options-type-inner-legend__font-weight: @font-weight__bold;
//
////  Date & Time Custom Option
//@catalog-pdp-product-options-type-inner-input-siblings-select-datetime-picker__margin-top: @indent__s;
//
////  Product Options Required Legend
//@catalog-pdp-product-options-type-inner-input-required-legend__after__content: '*';
//@catalog-pdp-product-options-type-inner-input-required-legend__after__margin: @form-field-label-asterisk__margin;
//@catalog-pdp-product-options-type-inner-input-required-legend__after__font-size: @form-field-label-asterisk__font-size;
//@catalog-pdp-product-options-type-inner-input-required-legend__after__color: @form-field-label-asterisk__color;
//@catalog-pdp-product-options-type-inner-input-required-legend__after__font-family: @form-field-label-asterisk__font-family;
//@catalog-pdp-product-options-type-inner-input-required-legend__after__font-weight: @form-field-label-asterisk__font-weight;
//@catalog-pdp-product-options-type-inner-input-required-legend__after__line-height: @form-field-label-asterisk__line-height;
//@catalog-pdp-product-options-type-inner-input-required-legend__after__font-style: @form-field-label-asterisk__font-style;

//  Box to Cart
@catalog-pdp-box-tocart__margin: 0 0 21px;
@catalog-pdp-box-tocart-field-qty__padding-right: 20px;
//@catalog-pdp-box-tocart-input-size: @button__line-height__l + 28px;
@catalog-pdp-box-tocart-input-tex-qty__width: 55px;
@catalog-pdp-box-tocart-input-tex-qty__height: 50px;
//@catalog-pdp-box-tocart-input-tex-qty__text-align: center;
//@catalog-pdp-box-tocart-actions__text-align: center;
//@catalog-pdp-box-tocart-action-tocart__use-button-l: true;

@catalog-pdp-box-tocart__display__m: false;
@catalog-pdp-box-tocart-field-qty__display__m: false;
@catalog-pdp-box-tocart-actions__display__m: false;
//@catalog-pdp-box-tocart-actions-action-tocart__use-button-responsive-smaller__m-only: true;
@catalog-pdp-box-tocart-actions__padding-top__m: false;
@catalog-pdp-box-tocart-actions__text-align__m: false;
@catalog-pdp-box-tocart-actions__vertical-align__m: false;

//  Add to Links
@catalog-pdp-product-addto-links__margin: false;
//@catalog-pdp-action-tocompare__use-action-addto-product: true;
//@catalog-pdp-action-tocompare__vertical-align: top;

//  Related
//@catalog-pdp-related-block-actions__margin: 0 0 15px;
//@catalog-pdp-related-action-select__margin: 0 @indent__xs;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .product-section {
        & {
            position: relative;
            margin-bottom: 40px;
        }

        .breadcrumbs {
            margin: 15px 0 49px;
        }
    }

    .@{layout-class-1column} {
        .product-section.column.main {
            order: 0;
        }
    }

    .product-bg {
        & {
            position: absolute;
            top: 0;
            .lib-css(right, -@layout__width-xs-indent);
            bottom: 0;
            .lib-css(left, -@layout__width-xs-indent);
            z-index: -1;
            .lib-css(background-color, @color-4-6);
        }

        > .img {
            width: 100%;
            height: 100%;
        }
    }

    .product-basic {
        & {
            display: flex;
            .lib-css(background-color, @color-white);
        }

        .product.media {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .product-overview {
        margin-bottom: 16px;
        .lib-css(background-color, @color-4-4); // But real color #464646
    }

    .product-info-price {
        position: relative;
        margin-bottom: 15px;
        text-align: right;
    }

    .product-info-main {
        & {
            display: flex;
            flex-direction: column;
        }

        .product-info-stock-sku {
            clear: both;
        }

        .stock {
            .lib-font-size(13);
            line-height: 17px;
        }
    }

    .product-add-form {
        clear: both;
    }

    .box-tocart {
        .fieldset {
            position: relative;
            display: flex;
        }

        .field {
            margin: 0;
        }

        .qty .label {
            &:extend(.abs-visually-hidden all);
        }

        .input-text.qty {
            padding-right: 5px;
            padding-left: 5px;
            .lib-font-size(14);
            .lib-css(color, @color-black);
        }

        .actions {
            flex-grow: 1;
        }

        .action {
            width: 100%;
        }
        
        div.mage-error {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 2px;
        }
    }

    .product-extra {
        & {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .zip-money {
            max-width: 200px;
            margin-right: 5px;
        }
        
        .widget-product {
            margin-left: -15px;
        }

        .zip-money img {
            vertical-align: top;
        }

        .product-addto-links {
            text-align: right;
        }

        .action.towishlist {
            .lib-css(font-weight, @font-weight__heavier);
            text-align: right;
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-overview {
        margin-bottom: 20px;
    }

    .product-info-main {
        .stock {
            .lib-font-size(14);
        }
    }
}

//
//  XM -
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xm) {
    .product-basic {
        padding-top: 20px;
        flex-direction: column;
        .lib-css(margin-left, -@layout__width-xs-indent);
        .lib-css(margin-right, -@layout__width-xs-indent);
        .lib-css(padding-left, @layout__width-xs-indent);
        .lib-css(padding-right, @layout__width-xs-indent);
    }
}

//
//  XM +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xm) {
    .product-basic {
        margin-bottom: 80px;
    }

    .product-bg {
        right: 0;
        left: 0;
    }

    .media-area {
        flex-grow: 1;
        width: 50%;
        padding: 40px 50px 0;
    }

    .product-info-main {
        & {
            width: 463px;
            padding: 56px 63px 0 4px;
        }

        .stock {
            .lib-font-size(16);
            line-height: 22px;
        }
    }

    .box-tocart {
        & {
            margin-bottom: 33px;
        }

        .input-text.qty {
            width: 60px;
            height: 55px;
            .lib-font-size(16);
        }

        .action {
            padding-top: 14px;
            padding-bottom: 13px;
            .lib-font-size(18);
        }
    }

    .product-extra {
        margin-bottom: 32px;
    }
}

//
//  L +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product-section {
        margin-bottom: 60px;
    }

    .catalog-product-view {
        .products-widget {
            padding-bottom: 60px;
        }
    }
}

//
//  XXL +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .product-basic {
        .product.media {
            flex-grow: 1;
            width: 50%;
            padding: 40px;
        }
    }

    .media-area {
        display: flex;
        padding: 0;
    }

    .product-overview {
        order: -1;
        width: 343px;
        margin-bottom: 0;
    }
}