//
//  Extend: Checkout: Checkout
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@checkout__is-enabled: true; // Enable/disable style
//
//@checkout-nav-elements__display: none;

//  Logo
@checkout-logo__margin: false;

//  Page Title
@checkout-page-title-wrapper__use-visually-hidden: false;

//  Container
//@checkout-container__use-add-clearfix: true;
@checkout-container__margin: 0 0 30px;

//  Wrapper
@checkout-wrapper__margin: 0 0 30px;
@checkout-wrapper__float__m: false;
@checkout-wrapper__width__m: false;
@checkout-wrapper__padding-right__m: false;

//  List of Steps
//@checkout-wrapper-opc__use-reset-list: true;

//@checkout-step-title__use-checkout-title: true;
@checkout-step-content__margin: false;

@checkout-step-title__padding-bottom__s-only: false;
@checkout-step-title__border-bottom__s-only: false;
@checkout-step-title__font-size__s-only: false;
