//
//  Extend: Checkout: Sidebar Shipping Information
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@checkout-sidebar-shipping-information__is-enabled: true; // Enable/disable style

@checkout-sidebar-shipping-information__padding: false;
@checkout-sidebar-shipping-information-block__margin: 35px 0 10px;

//  Title
//@checkout-sidebar-shipping-information-title__use-checkout-title: true;
//@checkout-sidebar-shipping-information-title__position: relative;
@checkout-sidebar-shipping-information-title__margin: 0 0 19px;

//  Action: Edit
//@checkout-sidebar-shipping-information-action-edit__use-action-button-as-link: true;
//@checkout-sidebar-shipping-information-action-edit__position: absolute;
//@checkout-sidebar-shipping-information-action-edit__top: 0;
//@checkout-sidebar-shipping-information-action-edit__right: 0;
//@checkout-sidebar-shipping-information-action-edit__margin: 0;
@checkout-sidebar-shipping-information-action-edit-icon__use-base64: false;
@checkout-sidebar-shipping-information-action-edit-icon__width: false;
@checkout-sidebar-shipping-information-action-edit-icon__height: false;
@checkout-sidebar-shipping-information-action-edit-icon__background-image: false;
//@checkout-sidebar-shipping-information-action-edit-icon__text-hide: true;

//  Content
@checkout-sidebar-shipping-information-content__line-height: 19px;
//@checkout-sidebar-shipping-information-content-actions-toolbar__margin-left: 0;
