<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seo">
            <group id="seo_content" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" sortOrder="200">
                <label>SEO Templates and Rewrites</label>

                <group id="meta" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Meta</label>

                    <field id="is_category_meta_tags_used" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use meta tags from categories if they are not empty</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="is_product_meta_tags_used" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use meta tags from products if they are not empty</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="is_cms_meta_tags_used" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use meta tags from CMS pages if they are not empty</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="is_blog_meta_tags_used" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use meta tags from blog pages if they are not empty</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <tooltip>Works with the Mirasvit_BlogMx module</tooltip>
                    </field>

                    <field id="is_brand_meta_tags_used" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use meta tags from brand pages if they are not empty</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <tooltip>Works with the Mirasvit_Brand module</tooltip>
                    </field>

                    <field id="is_add_prefix_suffix" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Add "Page Title Prefix/Suffix" to custom Meta Title</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>If option enabled, extension will add default prefix/suffix for custom meta titles too.</comment>
                    </field>
                </group>

                <group id="pagination" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Pagination</label>

                    <field id="meta_title_page_number" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Page Number for Meta Title</label>
                        <source_model>Mirasvit\SeoContent\Model\Config\Source\PageNumberInMetaSource</source_model>
                    </field>

                    <field id="meta_description_page_number" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Page Number for Meta Description</label>
                        <source_model>Mirasvit\SeoContent\Model\Config\Source\PageNumberInMetaSource</source_model>
                    </field>
                </group>

                <group id="limiter" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Limiters</label>

                    <field id="is_use_html_symbols_in_meta_tags" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allow use HTML symbols in meta tags</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <tooltip><![CDATA[Allow use HTML symbols like &, < etc. in meta tags.]]></tooltip>
                    </field>

                    <field id="meta_title_max_length" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Max Length for Meta Title</label>
                        <tooltip>Crop Meta Title using max length value. Recommended length up to 55 characters. If you set value less than 25, will be used recommended value 55.</tooltip>
                    </field>

                    <field id="meta_description_max_length" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Max Length for Meta Description</label>
                        <tooltip>Crop Meta Description using max length value. Recommended length up to 150 characters. If you set value less than 25, will be used recommended value 150.</tooltip>
                    </field>

                    <field id="product_name_max_length" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Max Length for Product Name</label>
                        <tooltip>Crop Product Name. If you set value less than 10, will be used value 25.</tooltip>
                    </field>

                    <field id="product_short_description_max_length" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Max Length for Product Short Description</label>
                        <tooltip>Crop Product Short Description. If you set value less than 25, will be used value 90.</tooltip>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
