.tcl-banner__carousel_wrapper {
    inline-size: 100%;
    z-index: 400;
}

.tcl-banner__carousel-container {
    background: linear-gradient(90deg, #e4c678, #f2e5c2 50%, #e8d199);
}
.tcl-banner__carousel-container .tcl-banner__carousel {
    align-items: center;
    display: flex;
    flex-direction: row;
    inline-size: 100%;
    justify-content: center;
    min-block-size: var(--tcl-banner-min-block-size);
    padding-block: var(--tds-size-1x);
    padding-inline: var(--tds-size-3x);
    text-align: center;
    max-width: 1327px;
    margin: 0 auto;
}

.tcl-banner__carousel .tcl-banner__slides-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    inline-size: 100%;
    //width: 67%;
    touch-action: pan-y;
}

.tcl-banner__slide {
    inset-block-start: 50%;
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: opacity 1s ease-in-out;
    visibility: hidden;
}

.tcl-banner__slide--active {
    opacity: 1;
    visibility: visible;
}

.tcl-banner__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tcl-banner__carousel .tcl-banner__heading {
    font-weight: 500;
    padding-inline-end: 0.4rem;
    font-size: 1.4rem;
}
.tcl-banner__carousel .tcl-banner__heading .hello-bar-bold-txt {
    font-weight: 550;
}

.tcl-banner__carousel .tcl-banner__heading a {
    color: #171a20;
    font-weight: 550;
    text-decoration: underline;
}

.tcl-banner__carousel .tcl-banner__heading a:hover {
    color: #171a20;
    font-weight: 550;
}

.tcl-banner__carousel .tcl-banner__body {
    font-size: 0.9rem;
}

.tcl-banner__button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin-left: 0.3rem;
    text-decoration: underline;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0;
    vertical-align: middle;
}

.tcl-banner__button:hover {
    text-decoration-thickness: 1.5px;
    opacity: 0.8;
}

nav.tcl-banner__tabList {
    display: flex;
    justify-content: center;
    margin-right: 2px;
}

.tds-tab-list--dots {
    display: flex;
    gap: 4px;
    position: relative;
    padding: 5px 0;
}

.tds-tab {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #171a20;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
    position: relative;
    z-index: 1;
    padding: 0;
    opacity: 20%
}

.tds-tab[aria-selected="true"] {
    background-color: #333;
}

.tds--animated-backdrop {
    position: absolute;
    background-color: #333;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    transition: left 1s cubic-bezier(0.25, 1.2, 0.5, 1);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 0;
}


@media only screen and (max-width: 768px) {
    .tcl-banner__carousel-container .tcl-banner__carousel {
        flex-direction: column;
        padding: 5px;
    }
}
