<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Store/etc/config.xsd">
    <default>
        <ewave_extendedcatalogpricerules>
            <general>
                <add_dynamic_price>0</add_dynamic_price>
            </general>
        </ewave_extendedcatalogpricerules>
    </default>
</config>