//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    body.page-print {
        & {
            .lib-css(background, @color-white);
        }
    
        &.account .page-main {
            .lib-css(background, @color-white);
            .lib-css(padding-left, @layout-indent__width);
            .lib-css(padding-right, @layout-indent__width);
    
            display: block;
        }
        
        .columns {
            padding: 0;
        }
        
        .action.nav-toggle {
            display: none !important;
        }
        
        .logo img {
            .lib-css(margin, @layout-indent__width);
        }
        
        .page-title-wrapper {
            padding: 0;
        }
    
        .page-title-wrapper .page-title {
            padding: 0;
        }
    
        .product-item-name {
            word-break: break-all;
        }
        
        .copyright {
            display: block;
            text-align: center;
        }
    
        .table-wrapper table {
            width: 100%;
            table-layout: fixed;
        }
    
        .table-wrapper tfoot tr td:last-child {
            text-align: right;
        }
        
        .table-wrapper table & > tfoot > tr:first-child {
            .lib-css(border-top, 1px solid @border-color__base);
        }
    
        .table-wrapper .product-item-name {
            text-align: left;
        }
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    body.page-print {
        &.account .page-title-wrapper,
        .logo {
            .lib-css(color, @primary__color);
            
            max-width: 1800px;
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    
        .logo img {
            margin-left: 0;
        }
    
        &.account .page-title-wrapper .page-title {
            .lib-css(color, @primary__color);
        }
    }
}

