//
//  Layered Navigation
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------
@filters-offcanvas-panel__width: 308px;

//  Show more/less
@ln-more-less__display: inline-block;
@ln-more-less__margin: false;
@ln-more-less__padding: false;
@ln-more-less__text-align: false;
@ln-more-less__color: false;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .filter-trigger.-mobile {
        .digidirect-lib-offcanvas-trigger-overlay-only();
    }

    .sidedar-toolbar {
        & {
            .lib-css(background, @color-white);
            .lib-css(width, @filters-offcanvas-panel__width);
            .lib-css(border-bottom, 1px solid @border-color__base);
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-order(2);
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            -webkit-transition: all .3s .2s;
            -o-transition: all .3s .2s;
            transition: all .3s .2s;
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            z-index: 100;
        }

        body.-offcanvas-opened & {
            transform: translateY(0);
            position: fixed;
        }

        > .primary,
        > .button-holder {
            width: 50%;
            text-align: center;
        }

        > .button-holder {
            display: inline-block;
        }

        .button-holder + .primary {
            margin-left: 20px;
        }
    }

    .filter-options-title {
        padding: 10px 0;
    }

    .filter-content {
        & {
            .lib-vendor-prefix-order(2);
        }

        .items > .item {
            margin-bottom: 9px;
        }

        .filter-link {
            text-decoration: none;
            cursor: pointer;
        }

        .filter-link .label {
            .lib-font-size(12);

            margin-top: 2px;
            clear: both;
            display: block;
            cursor: pointer;
            padding-left: 34px;
        }

        .label .count {
            .lib-css(background-color, @color-3-4);
            .lib-font-size(12);

            float: right;
            padding: 4px 7px;
            min-width: 33px;
            text-align: center;
            line-height: 1;
        }

        .filter-options-item {
            .lib-css(border-bottom, 1px solid @border-color__base);

            margin-bottom: 4px;
            padding-bottom: 6px;
        }

        .filter-options-content {
            padding-top: 3px;
        }

        .filter-options-item:last-child {
            border-bottom: 0;
        }

        .more-wrapper {
            padding: 24px 0 10px;
            text-align: center;
        }

        .more-wrapper .more-less {
            .lib-font-size(12);

            font-weight: 700;
            line-height: 16px;
            text-decoration: none;
        }
    }

    .sub-category-block {
        & {
            .lib-css(background-color, @color-white);
            .lib-vendor-prefix-order(1);
            margin-bottom: 40px;
            margin-top: -20px;
            position: relative;
        }

        &:after {
            .lib-css(background-color, @color-white-smoke);
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            height: 20px;
            margin-left: -20px;
            width: 120%;
        }

        .items {
            margin-bottom: 20px;
        }

        .filter-options-title {
            display: block;
        }
    }

    #catalogSidebar {
        .sub-category-block .filter-options-title:after,
        .sub-category-block .filter-options-title:before {
            content: none;
        }
    }

    .sub-categories .item .link {
        text-decoration: none;

        &.-all {
            .lib-css(font-weight, @font-weight__bold);
            .lib-font-size(14);
            display: block;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            margin-top: 25px;
            display: none;
        }
    }

    .block.filter {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction (column);
        > .sidedar-toolbar .clear.action {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:hover{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-products {
        .offcanvas-panel.device-only {
            .lib-css(width, @filters-offcanvas-panel__width);
            .lib-css(left, -(@filters-offcanvas-panel__width + @layout-indent__width));
            padding-top: 86px;
        }
        
        .offcanvas-panel.device-only.offcanvas-left.-active {
            left: 0;
        }
        
        .offcanvas-panel.device-only.-active {
            z-index: 101;
        }
        
        .offcanvas-panel.device-only {
            position: fixed;
            top: 0;
            left: calc(-80%);
            width: 70%;
            height: 100%;
            padding: 20px;
            background: #fff;
            color: #000;
            font-size: 14px;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
            box-shadow: 0 1px 10px #000;
            z-index: 100;
            overflow-y: auto;
        }

        .block.filter {
            position: static;
        }

        .offcanvas-panel.device-only.-without-padding {
            padding: 0;
        }
    }
}

//
//  Tablet -
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .sub-category-block {
        margin-top: 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .page-products {
        .offcanvas-panel.device-only {
            .lib-css(width, @filters-offcanvas-panel__width);
            .lib-css(left, -(@filters-offcanvas-panel__width + @layout-indent__width));
            padding-top: 86px;
        }

        .block.filter {
            position: static;
        }

        .offcanvas-panel.device-only.-without-padding {
            padding: 0;
        }
    }
}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .ln-apply {
        &.-mobile-only {
            display: inline-block;
        }
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-products {
        .sidebar-main .filter.block {
            margin-bottom: 0;
        }
    }

    .sidebar-main {
        .offcanvas-panel {
            .lib-css(background, @color-white);

            padding: 20px;
        }
    }

    .ln-apply {
        &.-mobile-only {
            display: none;
        }
    }

    .block.filter {
        > .sidedar-toolbar {
            .lib-css(border-bottom, 1px solid @border-color__base);
            z-index: 10;
            position: static;
            transform: none;
            width: auto;
            padding: 0;
            margin-bottom: 8px;
        }

        > .sidedar-toolbar .clear.action {
            width: 100%;
            margin: -8px 0 20px;
        }

        > .sidedar-toolbar .ln-apply {
            width: 100%;
            margin: 0 0 15px;
            position: relative;
            top: 0;

            &:hover {
                .lib-css(background-color, @color-white);
                .lib-css(color, @primary__color);
                .lib-css(border-color, @primary__color);
            }
        }

        > .sidedar-toolbar .button-holder {
            width: 100%;
            display: block;
            text-align: left;
        }

        .ln-apply._sticky {
            .lib-css(box-shadow, 0 0 30px 30px @color-white);
            position: fixed;
            z-index: 5;
        }
    }

    .sidedar-toolbar {
        & {
            display: block;
        }

        > .title {
            .lib-font-size(20);
            .lib-css(color, darken(@color-4-6, 3%));

            margin: 6px 0 12px;
            display: block;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .filter-options-title {
        .lib-font-size(16);
        .lib-line-height(26);
        margin-bottom: 6px;
        margin-top: 14px;
    }

    .filter-content {
        .filter-link .label {
            .lib-font-size(14);

            padding-top: 2px;
        }

        .more-wrapper .more-less {
            .lib-font-size(14);
        }

        .filter-options-item {
            padding-bottom: 10px
        }
    }
}
