<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_template_from_identity_before">
        <observer name="digidirect_change_template" instance="Digidirect\Sales\Observer\ChangeOrderEmailTemplateObserver"/>
    </event>
</config>
