<?xml version="1.0"?>
<!--
/**
 * @author      WebPanda
 * @package     WebPanda_SalesProductImage
 * @copyright   Copyright (c) WebPanda (https://webpanda-solutions.com/)
 * @license     https://webpanda-solutions.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid" type="WebPanda\SalesProductImage\Block\Adminhtml\Order\Create\Search\Grid" />
</config>
