<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_priority>
            <sort_settings>
                <sort_by>revenue</sort_by>
                <sort_by_period>180</sort_by_period>
                <period_for_new_products>14</period_for_new_products>
            </sort_settings>
            <cron_settings>
                <cron_time>0 0 * * *</cron_time>
            </cron_settings>
        </product_priority>
    </default>
</config>