<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="addQuickViewHandle" instance="Digidirect\QuickView\Observer\AddQuickViewHandle"/>
    </event>
    <event name="controller_action_postdispatch">
        <observer name="addQuickViewResponse" instance="Digidirect\QuickView\Observer\AddQuickViewResponse"/>
    </event>
</config>
