/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07 20, 24, 2:30:42 PM
    Author     : rondel
*/

.product-info-main {
    position: relative !important;
}

#pa-digimarket-side-panel-wrapper {
    //position: relative;
    position: absolute;
    right: -175px;
    background: #f5f5f5;
}

#pa-digimarket-side-panel {
    /*position: absolute;
        right: -195px;
        top: -380px;*/
    width: 180px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

#pa-digimarket-side-panel .title {
    font-size: 13px;
    font-weight: 400;
    background: #f5f5f5;
    padding: 10px 10px 0 10px;
    color: #ff3c00;
    text-align: center;
    margin-top: 0;
}

#pa-digimarket-side-panel .product-item-info {
    height: unset !important;
    border: none;
    width: unset !important;
    margin: 10px;
}

#pa-digimarket-side-panel .product-image-container {
    width: 100px !important;
}

#pa-digimarket-side-panel .product-image-wrapper {
    height: auto;
    padding: 0 !important;
    max-height: 97px;
}

#pa-digimarket-side-panel .product-image-photo {
    width: 100px;
    position: static;
    object-fit: contain;
    max-height: 100px;
    margin: 0;
}

#pa-digimarket-side-panel .product-item-details {
    margin-top: 0 !important;
}

#pa-digimarket-side-panel .product-item-link {
    font-size: 11px;
    line-height: 15px;
}

#pa-digimarket-side-panel .product-item-name {
    flex: 0 0 35px;
    display: block;
}

#pa-digimarket-side-panel .price-box.price-final_price {
    display: block !important;
    text-align: center;
    padding-top: 0 !important;
    min-height: unset;
    margin-top: -5px !important;
}

#pa-digimarket-side-panel .final-price {
    font-size: 18px;
    color: #ff3c00;
    font-weight: 700 !important;
}

#pa-digimarket-side-panel .digimarket-discover-more {
    margin-top: 0;
    text-align: center;
    padding: 5px;
    background: #ff3c00;
    border-radius: 30px;
    color: #ffffff !important;
    font-weight: 500;
    display: block;
    margin: 10px;
}

#pa-digimarket-widget .pa-product-widget-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product-widget-header {
    display: flex;
}

#pa-digimarket-widget .product-image-container {
    display: unset;
}

#pa-digimarket-widget .product-image-wrapper {
    height: auto;
    padding: 0 !important;
}

#pa-digimarket-widget .product-image-photo {
    height: 150px !important;
    width: auto !important;
    object-fit: contain;
    position: static;
    margin-top: 22px;
}

#pa-digimarket-widget .final-price {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 700;
    color: #ff3c00;
}

#pa-digimarket-widget .product-item-info.product-item:last-child {
    //margin-right: 0;
}

#pa-digimarket-widget .product-item-actions {
    padding-bottom: 10px;
}

#pa-digimarket-widget .product-item-actions .actions-primary {
    width: 100% !important;
}

.digimarket-discover-more-widget {
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration-line: underline;
    color: #ff3c00;
}

.pdp-frquently-bought-with .pa-digidirect-product-widget-container {
    //grid-template-columns: repeat(6, 1fr);
    display: flex;
    justify-content: center;
}

.pdp-frquently-bought-with .pa-checkbox-container {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    color: #ff3c00;
    z-index: 99;
}

.pdp-frquently-bought-with {
    background-color: #f5f5f5 !important;
    margin: 0 -9999rem !important;
    padding: 2rem 9999rem 3rem !important;
}

.pdp-frquently-bought-with .pa-bundle-container {
    background: #ff3c00;
}

.pdp-frquently-bought-with .pa-bundle-container .pa-checkbox-container {
    color: #fff !important;
}

.catalog-product-view #pa-digidirect-product-widget .product-item .price-box {
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px !important;
    position: relative;
    min-height: 65px;
}

#pa-digidirect-product-widget .digidirectprice {
    display: none;
}

#pa-digidirect-product-widget .discount-price-wrapper {
    display: block !important;
}

.pa-bundle-container .action.tocart.primary {
    background: #ffff !important;
}

.pa-bundle-container .action.tocart.primary span {
    color: #ff3c00 !important;
    text-transform: capitalize;
}

.pdp-frquently-bought-with .pa-select-all-label-text {
    font-size: 13px;
    font-weight: 600;
}

.product-item-info.product-item.pa-bundle-container {
    border: none !important;
}

.pa-bundle-container .product-item-details {
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: block;
    margin: auto;
}

#pa-bundle-total {
    display: block;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 500;
}

.product-item .pa-checkbox-label input:checked ~ span:after {
    display: block;
}

.product-item .pa-checkbox-label span:after {
    font-family: Font Awesome\5 Free;
    content: "\F00C";
    position: absolute;
    display: none;
    right: 2px;
    top: 5px;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
}

.pa-bundle-container .pa-checkbox-label input:checked ~ span:after {
    display: block;
}

.pa-bundle-container .pa-checkbox-label span:after {
    font-family: Font Awesome\5 Free;
    content: "\F00C";
    position: absolute;
    display: none;
    right: 2px;
    top: 5px;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
}

.pa-bundle-container .pa-select-all-pa-checkbox-label span:after {
    color: #ff3c00;
}

.product-widget-header .pa-checkbox-label input:checked ~ span:after {
    display: block;
}

.product-widget-header .pa-checkbox-label span:after {
    font-family: Font Awesome\5 Free;
    content: "\F00C";
    position: absolute;
    display: none;
    right: 2px;
    top: 5px;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
}

.product-widget-header .pa-select-all-pa-checkbox-label span:after {
    color: #ff3c00 !important;
}

.pdp-frquently-bought-with .product-item-info.product-item:hover {
    box-shadow: unset !important;
    transform: unset !important;
}

#pa-digimarket-side-panel .product-item-info:nth-child(1n + 5) {
    display: none;
}

.digidirectprice {
    display: none !important;
}

.pa-digidirect-product-widget .discount-price-wrapper {
    display: block !important;
    margin-top: 2px;
}

.pa-digidirect-product-widget
    .desktop-widget
    .product-item-info.product-item:nth-child(1n + 6) {
    display: none;
}

.old-price .price-label {
    margin-right: 5px;
}

.product-item-info.product-item .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 3px solid #cacaca;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 65% auto;
}

#pa-digimarket-side-panel .product-item-info.product-item .loader {
    width: 30px;
    height: 30px;
    margin: 50% auto;
}

.bundle-overlay-container {
    display: none;
    position: fixed !important;
    margin: 0 !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2147483647;
    background: rgba(33, 33, 33, 0.8);
    max-width: none;
}

.pa-digidirect-product-widget.pdp-bundle-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    /*width: 1110px;*/
}

#bundle-overlay-exit {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #cacaca;
}

.pdp-bundle-overlay .product-widget-header {
    text-align: center;
    display: block;
}

.pdp-bundle-overlay .pa-checkbox-container {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    color: #ff3c00;
    z-index: 99;
}

.pdp-bundle-overlay .pa-select-all-checkbox-container {
    color: #fff !important;
}

#pa-bundle-overlay-total {
    display: block;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 500;
}

.pdp-bundle-overlay .pa-bundle-container {
    background: #ff3c00;
}

#pa-minicart-desktop {
    grid-template-columns: repeat(3, 1fr);
}

.pa-minicart .product-item-info.product-item:nth-child(1n + 4) {
    display: none;
}

.pa-minicart .action.tocart.primary {
    height: unset;
}

.pa-digidirect-product-widget.pa-minicart {
    font-family: "Inter";
    width: 92%;
    margin-right: 0;
    margin-left: auto;
}

.pa-minicart .old-price .price {
    font-weight: 400;
    font-size: 11px !important;
}

.fa-clipboard:before {
    content: "\f328" !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.catalog-product-view .pa-digidirect-product-widget .digiseconds-overlay {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 97;
    max-width: 75px;
    top: 7px;
    left: 7px;
}

.catalog-product-view .pa-digidirect-product-widget .digiseconds-rating {
    margin-left: 30px;
    margin-top: -21px;
    color: #ffae00;
    font-size: 8px;
}

//Hide Bundle Add To Cart Temporarily
.product-item-info.product-item.pa-bundle-container {
    display: none;
}

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    #pa-digimarket-widget .pa-product-widget-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 15px;
    }

    .digimarket-discover-more-widget {
        display: none;
    }

    #pa-digimarket-widget .product-item-info.product-item {
        margin-right: 0;
    }

    #pa-digimarket-widget .product-item-link {
        text-align: center;
    }

    #pa-digimarket-widget .product-item-info.product-item:last-child {
        display: none;
    }

    .digimarket-discover-more-mobile:after {
        font-family: "Font Awesome 5 Free";
        content: "\f103";
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px !important;
    }

    .digimarket-discover-more-mobile {
        display: block !important;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 17px;
        color: #ff3c00;
    }

    .pdp-frquently-bought-with .title {
        color: #fff !important;
    }

    .pa-select-all-checkbox-container {
        display: block !important;
        color: #fff !important;
    }

    .pdp-frquently-bought-with {
        background-color: #ff3c00 !important;
        margin: 0 -9999rem !important;
        padding: 2rem 9999rem 3rem !important;
    }

    #pdp-frquently-bought-with-desktop
        .product-item-info.product-item:nth-child(5) {
        //display: none;
    }

    .product-item-info .pa-select-all-checkbox-container {
        display: none !important;
    }

    .product-item-info.product-item.pa-bundle-container {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .pa-digidirect-product-widget.pa-minicart {
        display: none;
    }

    .pdp-bundle-overlay .product-widget-header .pa-checkbox-container {
        top: -5px;
    }

    #pdp-bundle-overlay-desktop {
        display: grid !important;
    }

    .pdp-bundle-overlay .title {
        color: #fff;
        text-align: left;
    }
}

@media only screen and (max-width: 1180px) {
    .pa-digidirect-product-widget.pdp-bundle-overlay {
        background: #ff3c00;
    }

    .pdp-bundle-overlay .title {
        color: #fff;
    }

    #pdp-bundle-overlay-desktop {
        display: grid !important;
        height: 85vh;
        overflow: scroll;
        overflow-x: hidden;
    }

    .pdp-bundle-overlay .product-widget-header .pa-checkbox-container {
        display: block !important;
        color: #fff !important;
        top: -5px;
        right: 0;
    }

    .pa-bundle-container
        .pa-checkbox-container.pa-select-all-checkbox-container {
        display: none !important;
    }

    .pa-digidirect-product-widget-container.mobile-widget {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 15px;
    }

    .pa-digidirect-product-widget.pdp-bundle-overlay {
        width: unset !important;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        margin: 10px;
    }

    .pa-digidirect-product-widget .product-widget-header {
        position: relative;
        //margin-top: 30px;
    }

    .pdp-bundle-overlay .product-widget-header .pa-checkbox-container {
        top: -5px;
    }

    .pdp-bundle-overlay .product-item-info.product-item.pa-bundle-container {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #pdp-frquently-bought-with-desktop {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 15px;
        height: 785px;
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1181px) {
    .pdp-frquently-bought-with .product-item-info.product-item {
        width: 210.83px !important;
    }

    #pdp-bundle-overlay-desktop {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #pdp-bundle-overlay-desktop .product-item-info.product-item {
        width: 210px !important;
    }
}

@media only screen and (max-width: 1280px) {
    #pa-digimarket-widget .product-item-actions {
        padding-bottom: 0;
    }

    #pa-minicart-desktop {
        grid-template-columns: repeat(2, 1fr);
    }

    .pa-minicart .product-item-info.product-item:nth-child(1n + 3) {
        display: none;
    }
}

@media only screen and (max-width: 1680px) {
    #pa-digimarket-side-panel {
        display: none !important;
    }

    #pa-digimarket-widget {
        display: block;
    }
}

@media only screen and (min-width: 1680px) {
    #pa-digimarket-side-panel {
        display: block !important;
    }

    #pa-digimarket-widget {
        display: none;
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__l) {
}
