@media screen and (max-width: 768px) {
    .product-info-bottom.black-friday .discount-price-wrapper {
        font-weight: 600 !important;
        line-height: 3.5 !important;
        font-size: 6px !important;
        padding: 3px !important;
    }

    .ais-Hits-item .discount-price-wrapper {
        margin-right: 0 !important;
    }

    .product-info-bottom.black-friday {
        gap: 5px !important;
    }

    .result-wrapper .result-content .result-sub-content .price {
        margin-top: 15px !important;
    }

    .after_special.custom_final_price.black-friday {
        width: 101px !important;
        text-align: center !important;
        font-weight: 700 !important;
    }

    .catalog-category-view .list-view-col {
        .result-container {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            width: 100% !important;
        }

        .result-sub-content {
            width: 127px !important;
        }

        .result-title.text-ellipsis {
            font-size: 10px !important;
            font-weight: 590 !important;
            height: unset !important;
            -webkit-line-clamp: unset !important;
        }

        .result-sub-content span {
            font-size: 10px !important;
        }

        .result-sub-content > .discount-price-wrapper {
            display: block !important;
        }

        .discount-price-wrapper {
            margin: -70px -10px 0 -10px !important;
            padding: 3px 3px !important;
        }

        .ais-Hits-item .discount-price-wrapper {
            font-size: 8px;
            font-weight: 500;
            width: 150px;
        }
    }

}
