@media screen and (max-width: 768px) {
    .product-info-bottom.black-friday .discount-price-wrapper {
        font-weight: 600 !important;
        line-height: 3.5 !important;
        font-size: 6px !important;
        padding: 3px !important;
    }

    .ais-Hits-item .discount-price-wrapper {
        margin-right: 0 !important;
    }

    .product-info-bottom.black-friday {
        gap: 5px !important;
    }

    .result-wrapper .price {
        margin-top: 15px !important;
    }

    .after_special.custom_final_price.black-friday {
        width: 101px !important;
        text-align: center !important;
        font-weight: 700 !important;
    }
}
