@media screen and (max-width: 768px) {
    .product-info-bottom.black-friday .discount-price-wrapper {
        font-weight: 600 !important;
        line-height: 3.5 !important;
        font-size: 6px !important;
        padding: 3px !important;
        margin-right: 0 !important;
    }

    .ais-Hits-item .discount-price-wrapper {
        margin-right: 0 !important;
    }

    .product-info-bottom.black-friday {
        gap: 5px !important;
    }

    .result-wrapper .result-content .result-sub-content .price {
        margin-top: 15px !important;
    }

    .after_special.custom_final_price.black-friday {
        width: 101px !important;
        text-align: center !important;
        font-weight: 700 !important;
    }

    .ais-Hits-item .ribbon-digideals, .black-friday-deal {
        font-size: 8px !important;
    }

    .ais-Hits-item .after_special {
        font-size: 17px !important;
    }

    .after_special.custom_final_price.black-friday {
        width: 85px !important;
    }

    .ais-Hits-item .action.tocart.primary,
    .pa-digidirect-product-widget .action.tocart.primary {
        font-size: 8px !important;
        font-weight: 600 !important;
        padding: 3px 15px 3px 15px !important;
    }

    .black-friday-deal {
        padding: 2px 10px !important;
    }

    .catalog-category-view.list-view {
        .result-content {
            gap: 5px !important;
        }
        .result-container {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            width: 220px !important;
        }

        .result-sub-content {
            width: unset !important;
            padding: 0 5px !important;
        }

        .result-sub-content.right-content {
         //   width: unset !important;
            margin-right: 10px !important;
        }

        .result-title.text-ellipsis {
            font-size: 10px !important;
            font-weight: 590 !important;
            height: unset !important;
            -webkit-line-clamp: unset !important;
        }

        .result-sub-content span {
            font-size: 8px !important;
        }

        .result-sub-content span.digi {
          //  font-size: 8px !important;
        }

        .result-sub-content > .discount-price-wrapper {
            display: block !important;
            width: 132px !important;
        }

        .discount-price-wrapper {
            margin: -69px -10px 0 -15px !important;
            padding: 8px 6px 3px 6px !important;
        }

        .ais-Hits-item .discount-price-wrapper {
            font-size: 8px !important;
            font-weight: 500 !important;
            //width: 150px;
        }

        .black-friday-deal {
            font-size: 8px !important;
            padding: 3px 8px !important;
        }

        .ais-Hits-item .after_special {
            font-size: 16px !important;
        }

        .after_special.custom_final_price.black-friday {
            width: 85px !important;
            padding: 3px 5px !important;
            font-size: 15px !important;
        }

        .action.tocart.primary {
            padding: 2px 20px !important;
            font-size: 8px !important;
            font-weight: 600 !important;
        }
    }

    .catalog-product-view .product-main-container {
        .product-price-section .price-box {
            flex-direction: column !important;
        }

        .product-middle-column .product-price-section .price-box .discount-price-wrapper.has-sale {
            margin: 5px 5px 0 5px !important;
            height: unset !important;
            font-weight: 600 !important;
            font-size: 13px !important;
            padding: 10px 14px !important;
        }

        /*.current-price-wrapper.has-special-price {
            display: flex !important;;
            flex-direction: column !important;;
            gap: 10px !important;
            padding: 8px 14px !important;
        }*/

        .product-middle-column .product-price-section .price-box .price {
            font-size: 26px !important;
            font-weight: 600 !important;
        }

        .product-middle-column .product-price-section .price-box .has-special-price .special-price .price {
            padding: 5px 25px !important;
        }

        .black-friday-pdp {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .black-friday-deal {
            font-size: 18px !important;
            padding: 3px 10px !important;
        }
    }

}

.catalog-product-view .product-main-container {
    .current-price-wrapper.has-special-price {
        display: flex !important;;
        flex-direction: column !important;;
        gap: 10px !important;
        padding: 8px 14px !important;
    }

    .black-friday-deal {
        font-size: 18px !important;
        padding: 4px 16px !important;
    }

    .product-middle-column .product-price-section .price-box .discount-price-wrapper.has-sale {
        display: flex !important;
        align-items: center !important;
    }
}

@media screen and (min-width: 768px) {
    .catalog-product-view .product-main-container {
        .product-middle-column .product-price-section .price-box .discount-price-wrapper.has-sale {
            margin: 50px 5px 0 5px !important;
        }
    }
}
