<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <plugin name="add_links_inside_templates" type="Mirasvit\SeoAutolink\Plugin\AddLinkInsideTemplates" sortOrder="1000"/>
    </type>

    <type name="Mirasvit\SeoContent\Service\ContentService">
        <plugin name="mstSeoAutolinkAddLinks" type="Mirasvit\SeoAutolink\Plugin\Frontend\SeoContent\Service\ContentService\AddLinksPlugin" sortOrder="1000"/>
    </type>

    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="mstSeoAutolinkAddCatalogAttributeLinks" type="Mirasvit\SeoAutolink\Plugin\Frontend\Framework\App\Action\AddCatalogAttributeLinksPlugin" sortOrder="1020"/>
    </type>
</config>
