<!--@subject {{trans "Invoice for your %store_name order" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name",
"var customer.name":"Customer Name",
"var order.increment_id":"Order Id",
"var order":"Order"
} @-->
​
<table align="center" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;margin:0 auto;max-width:720px">
    <tr>
        <td>{{template config_path="design/email/header_template"}}</td>

    </tr>
    <tr>
        <td>



<!-- Outer container background -->
            <table align="center" width="100%" cellpadding="0" cellspacing="0" style="padding: 0; margin: 0;">
                <tr>
                    <td align="center">

                        <!-- Main card -->
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:720px; margin:0 auto;">

                            <!-- Intro paragraph -->
                            <tr>
                                <td style="padding:0 55px 30px 55px; color:#333; font-size:15px; line-height:22px;">
                                    <p class="greeting">Dear {{trans "%customer_fullname,"  customer_fullname=$customer_fullname|raw}}</p>
                                    <p>Thank you for your order from digiDirect. Please see below your invoice details.</p>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding:0 55px 30px 55px; color:#333;">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #e6e6eb; border-radius:30px; padding:30px; border-collapse: initial !important;">

                                        <!-- ORDER DETAILS -->
                                        <tr>
                                            <td style="font-size: 15px; font-weight:500; color: #242426; padding-bottom: 5px;">
                                                Tax Invoice Number: <span style="font-weight: 700">{{trans "%invoice_number"  invoice_number=$invoice_number|raw}}</span>
                                            </td>
                                            <td style="font-size: 15px; font-weight:500; color: #242426; padding-bottom: 5px;">
                                                Order Number: <span style="font-weight: 700">{{var order.increment_id}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="color: #666; padding-bottom: 15px;">
                                                <p style="font-size: 15px; color: #242426; padding-bottom: 10px;">{{trans "ABN 92 122 703 806 "}}</p>
                                                <p style="font-size: 13px; padding-bottom: 0;">{{trans "Digital Imaging Express Pty Ltd"}}</p>
                                                <p style="font-size: 13px; padding-bottom: 0;">{{trans "Building 2/34-48 Cosgrove Road, Strathfield South NSW 2136"}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 15px; color: #666; padding-bottom: 25px;">
                                                Invoice Date  {{trans "%invoice_date" invoice_date=$invoice_date|raw}}
                                            </td>
                                        </tr>

                                        <!-- Shipping Address -->

                                        <tr>
                                            <td style="padding-right:30px; padding-bottom: 20px;">

                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <!-- ICON -->
                                                        <td width="40" valign="top" style="padding-top:3px;">
                                                            <img src="{{media url='wysiwyg/glow-up/emai-template/truck-fast.png'}}" alt="truck" width="28"/>
                                                        </td>

                                                        <!-- TEXT -->
                                                        <td valign="top">
                                                            <h3 style="margin:0 0 5px; font-size:16px; font-weight:700; color: #666;">Shipping Address</h3>
                                                            <p style="margin:0; font-size:14px; line-height:20px;">{{trans "%shippingAddress,"  shippingAddress=$shippingAddress|raw}}</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>


                                        <!-- Billing Address -->
                                        <tr>
                                            <td style="padding-right:30px; padding-bottom: 20px;">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <!-- ICON -->
                                                        <td width="40" valign="top" style="padding-top:3px;">
                                                            <img src="{{media url='wysiwyg/glow-up/emai-template/bill.png'}}?rand=1765415468" alt="truck" width="28"/>
                                                        </td>

                                                        <!-- TEXT -->
                                                        <td valign="top">
                                                            <h3 style="margin:0 0 5px; font-size:16px; font-weight:700; color: #666;">Billing Address</h3>
                                                            <p style="margin:0; font-size:14px; line-height:20px;">{{trans "%billingAddress,"  billingAddress=$billingAddress|raw}}</p>
                                                            <p style="margin:0; font-size:14px; line-height:20px;">{{var order.getBillingAddress().format('html') |raw}}</p>
                                                            <p> T: {{var order.getBillingAddress().getTelephone()}}</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>

                                        <!-- Payment Method -->
                                        <tr>
                                            <td style="padding-right:30px; padding-bottom: 20px;">

                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <!-- ICON -->
                                                        <td width="40" valign="top" style="padding-top:3px;">
                                                            <img src="{{media url='wysiwyg/glow-up/emai-template/wallet.png'}}?rand=1765415592" alt="truck" width="28"/>
                                                        </td>

                                                        <!-- TEXT -->
                                                        <td valign="top">
                                                            <h3 style="margin:0 0 5px; font-size:16px; font-weight:700; color: #666;">Payment Method</h3>
                                                            <div style="font-size:14px; line-height:20px;">{{trans "%payment_method"  payment_method=$payment_method|raw}}</div>
                                                            {{if payment_card_type}}
                                                                <table cellpadding="0" cellspacing="0" border="0">
                                                                    <tr>
                                                                        <td style="vertical-align:top; padding-top: 10px;">
                                                                            <img src="{{view url='images/pdp/visa.svg' _absolute=true}}"
                                                                                 alt="Visa"
                                                                                 width="40"
                                                                                 style="display:block;">
                                                                        </td>
                                                                        <td style="vertical-align:middle; padding-left:8px; font-size:14px; line-height:20px;">
                                                                            <table>
                                                                                <tr><td style="padding-top: 5px;">{{trans "%payment_card_type"  payment_card_type=$payment_card_type|raw}}</td></tr>
                                                                                <tr><td>{{trans "%payment_card_number"  payment_card_number=$payment_card_number|raw}}</td></tr>
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>

                                        <!-- Shipping Method -->
                                        <tr>
                                            <td style="padding-right:30px; padding-bottom: 20px;">

                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <!-- ICON -->
                                                        <td width="40" valign="top" style="padding-top:3px;">
                                                            <img src="{{media url='wysiwyg/glow-up/emai-template/box.png'}}" alt="truck" width="28"/>
                                                        </td>

                                                        <!-- TEXT -->
                                                        <td valign="top">
                                                            <h3 style="margin:0 0 5px; font-size:16px; font-weight:700; color: #666;">Shipping Method</h3>
                                                            <p style="margin:0; font-size:14px; line-height:20px;">{{var order.shipping_description}}</p>
                                                            {{if trackTitle}}
                                                                <p style="margin:0; font-size:14px; line-height:20px;">{{trans "%trackTitle" trackTitle=$trackTitle|raw}} - {{trans "%trackNumber" trackNumber=$trackNumber|raw}}</p>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                            <!-- ORDER SUMMARY CARD -->
                            <tr>
                                <td style="padding:0 55px 30px 55px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background:#fff; border-radius: 30px; margin: 0 auto; border-collapse: collapse;">
                                        <tr>
                                            <td align="center" style="padding:35px 20px 20px;">
                                                <h2 style="margin:0; font-size:24px; font-weight:700; color:#000;">
                                                    Order Summary
                                                </h2>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- Magento order item block -->
                                            <td style="padding:0 30px 30px 30px;">
                                                {{layout handle="email_product_list" items=$items area="frontend"}}
                                                <table width="100%" align="right" style="background-color: #F2F2F7;">
                                                    <tr>
                                                        <td align="right" width="80%">
                                                            <p>Subtotal</p>
                                                        </td>
                                                        <td align="right">
                                                            <p>{{trans "%order_subtotal" order_subtotal=$order_subtotal|raw}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right">
                                                            <p>Coupon Discount</p>
                                                        </td>
                                                        <td align="right">
                                                            <p>{{trans "%coupon_discount" coupon_discount=$coupon_discount|raw}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right">
                                                            <p>Shipping Amount</p>
                                                        </td>
                                                        <td align="right">
                                                            <p>{{trans "%shippingAmount" shippingAmount=$shippingAmount|raw}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right">
                                                            <p>Total Ex</p>
                                                        </td>
                                                        <td align="right">
                                                            <p>{{trans "%total_ex" total_ex=$total_ex|raw}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right">
                                                            <p>GST</p>
                                                        </td>
                                                        <td align="right">
                                                            <p>{{trans "%gst" gst=$gst|raw}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right">
                                                            <p>Total</p>
                                                        </td>
                                                        <td align="right">
                                                            <p>{{trans "%order_grandtotal" order_grandtotal=$order_grandtotal|raw}}</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- CTA Box - 2 Columns -->
                        {{layout handle="email_customer_help_handle" area="frontend"}}
                    </td>
                </tr>
            </table>
            {{template config_path="design/email/footer_template"}}
        </td>
    </tr>
</table>
<style>
    [class*="email-items"] img {
        /* display: none; */
        width: 100px !important;
    }
    table[width="90%"] {
        display: flex;
        justify-content: space-around !important;
        justify-items: center !important;
    }
</style>
