<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="ewave_extendedshippingrates_add_active_carrier"
                type="Ewave\ExtendedShippingRates\Plugin\Magento\Checkout\Model\DefaultConfigProvider"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
