<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ewave_productmultiview" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <resource>Ewave_ProductMultiView::config</resource>
            <class>separator-top</class>
            <label>Product Multi-View</label>
            <tab>ewave</tab>
            <group id="product_multi_view" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Product Multi-View</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_random_hover" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Multi-View If Alternative Image Is Not Specified</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Random image will be shown if product does not have Alternative Hover Image.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
