<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_product_add_after">
        <observer name="ewave_giftcard_image_sales_quote_product_add_after" instance="Ewave\GiftCardImage\Observer\SalesQuoteProductAddAfter" />
    </event>
    <event name="sales_quote_item_save_after">
        <observer name="ewave_giftcard_image_sales_quote_item_save_after" instance="Ewave\GiftCardImage\Observer\SalesQuoteItemSaveAfter" />
    </event>
</config>
