//
//  Messages variables
//  _____________________________________________

@message__padding: 14px 14px 14px 64px;
@message__margin: 0 0 15px;

//@message__color: false; // Each message type has its own message color
@message__font-size: 14px;
//@message__font-family: false;
//@message__font-style: false;
//@message__font-weight: false;
@message__line-height: 16px;

//@message-icon__font-size: ceil(@message__font-size * 2 + 2);
//@message-icon__font-line-height: @message-icon__font-size;
@message-icon__inner-padding-left: 64px;
//@message-icon__lateral-width: 30px;
//@message-icon__lateral-arrow-size: 5px;
//@message-icon__top: 18px;
//@message-icon__right: false;
//@message-icon__bottom: false;
//@message-icon__left: 0;
//
//@message__border-width: false;
//@message__border-color: false;
//@message__border-style: false;
//@message__border-radius: false;

//  Information message
@message-info__color: #e65300;
@message-info__background: #f3bb97;
//@message-info__border-color: @message__border-color;

@message-info-link__color: inherit;
@message-info-link__color-hover: @message-info-link__color;
@message-info-link__color-active: @message-info-link__color;

//@message-info-icon: @icon-warning;
//@message-info-icon__color-inner: @color-brownie-light1;
//@message-info-icon__color-lateral: @color-white;
//@message-info-icon__background: @color-brownie1;
//@message-info-icon__top: @message-icon__top;
//@message-info-icon__right: @message-icon__right;
//@message-info-icon__bottom: @message-icon__bottom;
//@message-info-icon__left: @message-icon__left;

//  eWave: Base64
//@message-base64-info-icon__is-enabled: true;
//@message-base64-info-icon__display: @base64__display;
//@message-base64-info-icon__position: absolute;
@message-base64-info-icon__top: 50%;
//@message-base64-info-icon__right: @base64__right;
//@message-base64-info-icon__bottom: @base64__bottom;
@message-base64-info-icon__left: 17px;
@message-base64-info-icon__width: 28px;
@message-base64-info-icon__height: 28px;
//@message-base64-info-icon__margin: @base64__margin;
//@message-base64-info-icon__padding: @base64__padding;
//@message-base64-info-icon__vertical-align: @base64__vertical-align;
//@message-base64-info-icon__background-image: @base64-icon__warning;
//@message-base64-info-icon__background-position: @base64__background-position;
//@message-base64-info-icon__background-repeat: @base64__background-repeat;
//@message-base64-info-icon__background-size: @base64__background-size;
//@message-base64-info-icon__hover__background-image: false;
//@message-base64-info-icon__active__background-image: false;
//@message-base64-info-icon__text-hide: @base64__text-hide;
//@message-base64-info-icon__pseudo-type: @base64__pseudo-type;

//  Warning message
//@message-warning__color: @message-info__color;
//@message-warning__background: @message-info__background;
//@message-warning__border-color: @message-info__border-color;

//@message-warning-link__color: @message-info-link__color;
//@message-warning-link__color-hover: @message-info-link__color-hover;
//@message-warning-link__color-active: @message-info-link__color-active;

//@message-warning-icon: @message-info-icon;
//@message-warning-icon__color-inner: @message-info-icon__color-inner;
//@message-warning-icon__color-lateral: @message-info-icon__color-lateral;
//@message-warning-icon__background: @message-info-icon__background;
//@message-warning-icon__top: @message-icon__top;
//@message-warning-icon__right: @message-icon__right;
//@message-warning-icon__bottom: @message-icon__bottom;
//@message-warning-icon__left: @message-icon__left;

//  eWave: Base64
//@message-base64-warning-icon__is-enabled: true;
//@message-base64-warning-icon__display: @base64__display;
//@message-base64-warning-icon__position: absolute;
@message-base64-warning-icon__top: 50%;
//@message-base64-warning-icon__right: @base64__right;
//@message-base64-warning-icon__bottom: @base64__bottom;
@message-base64-warning-icon__left: 17px;
@message-base64-warning-icon__width: 28px;
@message-base64-warning-icon__height: 28px;
//@message-base64-warning-icon__margin: @base64__margin;
//@message-base64-warning-icon__padding: @base64__padding;
//@message-base64-warning-icon__vertical-align: @base64__vertical-align;
//@message-base64-warning-icon__background-image: @base64-icon__warning;
//@message-base64-warning-icon__background-position: @base64__background-position;
//@message-base64-warning-icon__background-repeat: @base64__background-repeat;
//@message-base64-warning-icon__background-size: @base64__background-size;
//@message-base64-warning-icon__hover__background-image: false;
//@message-base64-warning-icon__active__background-image: false;
//@message-base64-warning-icon__text-hide: @base64__text-hide;
//@message-base64-warning-icon__pseudo-type: @base64__pseudo-type;

//  Error message
@message-error__color: #ca3232;
@message-error__background: #ffa3a3;
//@message-error__border-color: @message__border-color;

@message-error-link__color: inherit;
@message-error-link__color-hover: @message-error-link__color;
@message-error-link__color-active: @message-error-link__color;

//@message-error-icon: @icon-warning;
//@message-error-icon__color-inner: @color-red11;
//@message-error-icon__color-lateral: @color-white;
//@message-error-icon__background: @color-red11;
//@message-error-icon__top: @message-icon__top;
//@message-error-icon__right: @message-icon__right;
//@message-error-icon__bottom: @message-icon__bottom;
//@message-error-icon__left: @message-icon__left;

//  eWave: Base64
//@message-base64-error-icon__is-enabled: true;
//@message-base64-error-icon__display: @base64__display;
//@message-base64-error-icon__position: absolute;
@message-base64-error-icon__top: 50%;
//@message-base64-error-icon__right: @base64__right;
//@message-base64-error-icon__bottom: @base64__bottom;
@message-base64-error-icon__left: 17px;
@message-base64-error-icon__width: 28px;
@message-base64-error-icon__height: 28px;
//@message-base64-error-icon__margin: @base64__margin;
//@message-base64-error-icon__padding: @base64__padding;
//@message-base64-error-icon__vertical-align: @base64__vertical-align;
//@message-base64-error-icon__background-image: @base64-icon__error;
//@message-base64-error-icon__background-position: @base64__background-position;
//@message-base64-error-icon__background-repeat: @base64__background-repeat;
//@message-base64-error-icon__background-size: @base64__background-size;
//@message-base64-error-icon__hover__background-image: false;
//@message-base64-error-icon__active__background-image: false;
//@message-base64-error-icon__text-hide: @base64__text-hide;
//@message-base64-error-icon__pseudo-type: @base64__pseudo-type;

//  Success message
@message-success__color: #507f1d;
@message-success__background: #c1e798;
//@message-success__border-color: @message__border-color;

@message-success-link__color: inherit;
@message-success-link__color-hover: @message-success-link__color;
@message-success-link__color-active: @message-success-link__color;

//@message-success-icon: @icon-checkmark;
//@message-success-icon__color-inner: @color-dark-green1;
//@message-success-icon__color-lateral: @color-white;
//@message-success-icon__background: @color-dark-green1;
//@message-success-icon__top: @message-icon__top;
//@message-success-icon__right: @message-icon__right;
//@message-success-icon__bottom: @message-icon__bottom;
//@message-success-icon__left: @message-icon__left;
//
//@message-base64-success-icon__is-enabled: true;
//@message-base64-success-icon__display: @base64__display;
//@message-base64-success-icon__position: absolute;
@message-base64-success-icon__top: 50%;
//@message-base64-success-icon__right: @base64__right;
//@message-base64-success-icon__bottom: @base64__bottom;
@message-base64-success-icon__left: 17px;
@message-base64-success-icon__width: 28px;
@message-base64-success-icon__height: 28px;
//@message-base64-success-icon__margin: @base64__margin;
//@message-base64-success-icon__padding: @base64__padding;
//@message-base64-success-icon__vertical-align: @base64__vertical-align;
//@message-base64-success-icon__background-image: @base64-icon__success;
//@message-base64-success-icon__background-position: @base64__background-position;
//@message-base64-success-icon__background-repeat: @base64__background-repeat;
//@message-base64-success-icon__background-size: @base64__background-size;
//@message-base64-success-icon__hover__background-image: false;
//@message-base64-success-icon__active__background-image: false;
//@message-base64-success-icon__text-hide: @base64__text-hide;
//@message-base64-success-icon__pseudo-type: @base64__pseudo-type;

//  Notice message
//@message-notice__color: @message-info__color;
//@message-notice__background: @message-info__background;
//@message-notice__border-color: @message-info__border-color;
//
//@message-notice-link__color: @message-info-link__color;
//@message-notice-link__color-hover: @message-info-link__color-hover;
//@message-notice-link__color-active: @message-info-link__color-active;
//
//@message-notice-icon: @message-info-icon;
//@message-notice-icon__color-inner: @message-info-icon__color-inner;
//@message-notice-icon__color-lateral: @message-info-icon__color-lateral;
//@message-notice-icon__background: @message-info-icon__background;
//@message-notice-icon__top: @message-icon__top;
//@message-notice-icon__right: @message-icon__right;
//@message-notice-icon__bottom: @message-icon__bottom;
//@message-notice-icon__left: @message-icon__left;

//  eWave: Base64
//@message-base64-notice-icon__is-enabled: true;
//@message-base64-notice-icon__display: @base64__display;
//@message-base64-notice-icon__position: absolute;
@message-base64-notice-icon__top: 50%;
//@message-base64-notice-icon__right: @base64__right;
//@message-base64-notice-icon__bottom: @base64__bottom;
@message-base64-notice-icon__left: 17px;
@message-base64-notice-icon__width: 28px;
@message-base64-notice-icon__height: 28px;
//@message-base64-notice-icon__margin: @base64__margin;
//@message-base64-notice-icon__padding: @base64__padding;
//@message-base64-notice-icon__vertical-align: @base64__vertical-align;
//@message-base64-notice-icon__background-image: @base64-icon__warning;
//@message-base64-notice-icon__background-position: @base64__background-position;
//@message-base64-notice-icon__background-repeat: @base64__background-repeat;
//@message-base64-notice-icon__background-size: @base64__background-size;
//@message-base64-notice-icon__hover__background-image: false;
//@message-base64-notice-icon__active__background-image: false;
//@message-base64-notice-icon__text-hide: @base64__text-hide;
//@message-base64-notice-icon__pseudo-type: @base64__pseudo-type;
