//
//  Modals: Extend
//  _____________________________________________

//@modal-extend__is-enabled: true; // Enable/disable styles

//@modal-extend-action-close__use-button-reset: true;
//@modal-extend-action-close__position: absolute;
@modal-extend-action-close__top: 16px;
@modal-extend-action-close__right: 16px;
//@modal-extend-action-close__padding: 10px;

//@modal-extend-action-close-icon__use-base64: true;
@modal-extend-action-close-icon__width: 18px;
@modal-extend-action-close-icon__height: 18px;
@modal-extend-action-close-icon__margin: false;
//@modal-extend-action-close-icon__background-image: @base64-icon__close;
//@modal-extend-action-close-icon__text-hide: true;

//  Title
//@modal-title__margin: 0;
@modal-title__font-size: 18px;
//@modal-title__line-height: 1.2;
//@modal-title__color: @text__color;

//  Modal Popup
//@modal-popup__pointer-events: none;

//  Modal Slide
//@modal-slide-page-main-actions__margin-top: @modal-sections__padding-vertical;
//@modal-slide-page-main-actions__margin-bottom: @modal-sections__padding-vertical - (@indent__l/2);

//  Header
@modal-header__border-bottom: 1px solid @color-3-2;

//  Footer
//@modal-footer__border-top: @modal-header__border-bottom;
@modal-footer__text-align: center;

//@modal-slide-mobile__background-color: @color-gray-light01;

//  Modal Custom
//@modal-has-modal-custom-modal-custom-overlay__position: fixed;
//@modal-has-modal-custom-modal-custom-overlay__top: 0;
//@modal-has-modal-custom-modal-custom-overlay__left: 0;
//@modal-has-modal-custom-modal-custom-overlay__z-index: @overlay__z-index;
//@modal-has-modal-custom-modal-custom-overlay__width: 100vw;
//@modal-has-modal-custom-modal-custom-overlay__height: 100vh;
//@modal-body-has-modal-custom__width__m-only: 100vw;
//@modal-body-has-modal-custom__height__m-only: 100vh;
//@modal-body-has-modal-custom__overflow__m-only: hidden;
//@modal-body-has-modal-custom-modal-custom-overlay__background-color__m-only: @modal-overlay__background-color;
//@modal-custom-slide__use-modal__m-only: true;
//@modal-custom-slide__use-modal-slide__m-only: true;
//@modal-custom-slide__show__webkit-overflow-scrolling__m-only: touch;
//@modal-custom-slide__show__overflow-x__m-only: hidden;
//@modal-custom-slide__show__overflow-y__m-only: auto;
//@modal-custom-slide-modal-inner-wrap__height__m-only: auto;
//@modal-custom-slide-modal-inner-wrap__min-height__m-only: 100%;
//@modal-custom-slide-modal-inner-wrap__background-color__m-only: @modal-slide-mobile__background-color;

//  breakpoint-screen__m
//@modal-popup-breakpoint-screen__m: @screen__m;
//@modal-popup-slide-modal-inner-wrap__background-color__m-custom-only: @modal-slide-mobile__background-color;
//@modal-popup-slide-inner-scroll__show__webkit-overflow-scrolling__m-custom-only: touch;
//@modal-popup-slide-inner-scroll__show__overflow-y__m-custom-only: auto;
//@modal-popup-slide-inner-scroll-modal-inner-wrap__height__m-custom-only: auto;
//@modal-popup-slide-inner-scroll-modal-inner-wrap__min-height__m-custom-only: 100%;
