//
//  Modals
//  _____________________________________________

//@modal__is-enabled: true; // Enable/disable styles
//
//@modal-body-has-modal__width: 100%;
//@modal-body-has-modal__height: 100%;
//@modal-body-has-modal__overflow: hidden;

//@modal-overlay__position: fixed;
//@modal-overlay__top: 0;
//@modal-overlay__right: 0;
//@modal-overlay__bottom: 0;
//@modal-overlay__left: 0;
//@modal-overlay__z-index: @overlay__z-index;
@modal-overlay__background-color: fade(@color-black, 50%);

//@modal-sections__padding: @modal-sections__padding-vertical @modal-sections__padding-horizontal;
@modal-sections__padding-horizontal: 20px;
@modal-sections__padding-vertical: 30px;

//@modal-header-footer__use-vendor-prefix-flex-grow: true;
//@modal-header-footer__use-vendor-prefix-flex-shrink: true;

@modal-header__padding-vertical: 24px;
//@modal-header__padding-top: @modal-header__padding-vertical;
//@modal-header__padding-bottom: @modal-header__padding-vertical;

@modal-content__padding-top: 28px;
//@modal-content__padding-bottom: @modal-sections__padding-vertical;
//
//@modal-footer__margin-top: auto;
//@modal-footer__padding-top: @modal-sections__padding-vertical;
//@modal-footer__padding-bottom: @modal-sections__padding-vertical;
//@modal-footer-actions__text-align: right;

//@modal-slide-popup__use-modal: true;
//@modal-slide__use-modal-slide: true;
//@modal-slide__use-modal-slide__m: true;
//@modal-slide-inner-scroll-modal-inner-wrap__use-vendor-prefix-display: true;
//@modal-slide-inner-scroll-modal-inner-wrap__use-vendor-prefix-flex-direction: true;
//@modal-slide-inner-scroll-modal-inner-wrap__overflow-y: visible;
//
//@modal-slide-inner-scroll-content__overflow-y: auto;
//@modal-slide-inner-scroll-footer__margin-top: auto;
//@modal-slide-inner-wrap__margin__m: 0;
//@modal-slide-inner-wrap__max-height__m: none;
//
//@modal-popup__use-modal-popup: true;
//@modal-popup-inner-scroll__overflow-y: visible;
//@modal-popup-inner-scroll__overflow-y__ie: auto;
//@modal-popup-inner-scroll-modal-inner-wrap__max-height: 90%;
//@modal-popup-inner-scroll-modal-inner-wrap__max-height__ie: none;
//@modal-popup-inner-scroll-content__overflow-y: auto;

@modal-popup__padding: 20px;
//@modal-popup-sections__padding-vertical: 2rem;
