<!-- ko if: isCollectEnableOnCheckout && isSingleCartCollectVariation -->
    <div class="collect-type">
        <!-- ko ifnot: isWebOnly() -->
    <input type="radio" id="collect_type_delivery" class="half-width" name="delivery_type" value="delivery" data-bind="event: {change: function(data, event) {toggleCollectType(data, event)}},
attr:{'checked': collectPlaces().length <= 0 ? 'checked' : false}"/>
    <label for="collect_type_delivery" class="label">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgi-delivery"></use>
        </svg>
        <span class="text"><!-- ko i18n: 'Delivery'--><!-- /ko --></span>
    </label>
    <input type="radio"  id="collect_type_collect" name="delivery_type" value="collect"
           data-bind="event: {change: function(data, event) {toggleCollectType(data, event)}}, attr:{'checked': collectPlaces().length > 0 ? 'checked' : false}"/>
    <label for="collect_type_collect" class="label">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgi-collect"></use>
        </svg>
        <span class="text"><!-- ko i18n: 'Pick up in-store'--><!-- /ko --></span>
        </svg>
    </label>
    <!-- /ko-->
        <!-- ko if: isWebOnly() -->
        <input type="radio" id="collect_type_delivery" name="delivery_type" value="delivery" data-bind="event: {change: function(data, event) {toggleCollectType(data, event)}},
attr:{'checked': collectPlaces().length <= 0 ? 'checked' : false}"/>
        <label for="collect_type_delivery" class="label full-width">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgi-delivery"></use>
            </svg>
            <span class="text"><!-- ko i18n: 'Delivery'--><!-- /ko --></span>
        </label>
        <!-- /ko-->
</div>

<div data-bind="css: 'collect-block -visible'" data-role="collect-block" data-collect-type="delivery">
    <div data-bind="i18n: 'For shipping methods and times see below.'"></div>
</div>

<!-- ko ifnot: isWebOnly() -->
<div data-bind="css: 'collect-block'" data-role="collect-block"
     data-collect-type="collect">
    <!-- ko if: window.selectStore -->
    <div class="message notice">
        <span><!-- ko i18n: 'Please select a store.'--><!-- /ko --></span>
    </div>
    <!-- /ko-->
    <!-- ko if: collectPlaces().length > 0 -->
    <div class="pickup-cms" data-bind="html: window.pickUpStoreCmsBlock"></div>
    <div class="wrap-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svgi-pin">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgi-pin"></use>
        </svg>
        <div class="wrapper-title">
            <div class="title" data-bind="i18n: 'Your selected Store'"></div>
            <span data-bind="text: collectPlaces()[0].collect_place_name + ' (' + collectPlaces()[0].collect_place_address + ')'"></span>
        </div>

        <a class="link -collect action primary"
           href="#collect-block-modal-checkout"
           data-bind="click: function(data, event) { showFormPopUp(data, event) }, i18n: 'Change'"></a>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: collectPlaces().length > 0 -->
    <!-- ko ifnot: getDeliveryPlace(collectPlaces()[0]) -->
    <div class="pickup-cms" data-bind="html: window.pickUpStoreCmsBlock"></div>
    <div class="wrap-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svgi-pin">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgi-pin"></use>
        </svg>
        <div class="wrapper-title">
            <div class="title" data-bind="i18n: 'Your selected Store'"></div>
            <div data-bind="i18n: 'No store selected'"></div>
        </div>
        <!-- ko if: getDeliveryPlace(collectPlaces()[0]) -->
        <a class="link -change action primary"
           href="#collect-block-modal-checkout"
           data-bind="click: function(data, event) { showFormPopUp(data, event) }"></a>
        <!-- /ko -->
        <!-- ko ifnot: getDeliveryPlace(collectPlaces()[0]) -->
        <a class="link -collect action primary"
           href="#collect-block-modal-checkout"
           data-bind="click: function(data, event) { showFormPopUp(data, event) }, i18n: 'Choose Your Store'"></a>
        <!-- /ko -->
    </div>

    <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko-->

<div id="collect-block-modal-checkout" data-bind="visible: isSingleCartFormPopUpVisible()">
    <!-- ko template: collectFormTemplate --><!-- /ko -->
</div>
<!-- /ko -->
