& when (@media-common = true) {
    .page-products {
        .products-grid {
            .product-item {
/*                min-height: 500px;
                min-width: fit-content;*/

                .price-box {
                    margin: 25px 0 25px;
                    text-align:center;
                }

                .product-item-name {
                    text-align: center;
                }
                
                .product-item-actions {
                    text-align: center;
                }
            }
        }
    }
    
    .product-items{
        border-radius:5px;
    }

}