& when (@media-common = true) {
    .block.widget {
        .products-grid{
            .product-item {
                background-color:white;
                display: inline-block;
                min-height: 500px;
                margin-top:2%;
                
                .price-box {
                    margin: 25px 0 25px;
                    text-align: center;
                }
                
                .product-item-name {
                    text-align: center;
                }

                .product-item-actions {
                    text-align: center;
                }
                
                .action.tocompare{
                    visibility:hidden;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}
