<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Digidirect_StoreLocator" setup_version="1.0.10">
        <sequence>
            <module name="Digidirect_AbstractEntity"/>
            <module name="Digidirect_Locator"/>
            <module name="Digidirect_Store"/>
            <module name="Digidirect_Utilities"/>
            <module name="Digidirect_Googleapi"/>
            <module name="Digidirect_Localization"/>
        </sequence>
    </module>
</config>
