<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ewave_ProductOverlay::product_overlay" title="Product Overlays" parent="Ewave_Utilities::ewave"
             translate="title" module="Ewave_ProductOverlay" sortOrder="10" dependsOnModule="Ewave_Utilities"
             resource="Ewave_ProductOverlay::overlay"/>
        <add id="Ewave_ProductOverlay::overlay" title="Product Overlays" module="Ewave_ProductOverlay" sortOrder="40"
             parent="Ewave_ProductOverlay::product_overlay" action="ewave_productoverlay/overlays/"
             resource="Ewave_ProductOverlay::overlay"/>
    </menu>
</config>
