<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
               <resource id="Magento_Backend::marketing">
                        <resource id="Mirasvit_Seo::seo" title="Mirasvit SEO" sortOrder="71">
                            <resource id="Mirasvit_Seo::seo_redirect_node" title="Redirects" sortOrder="300">
                                <resource id="Mirasvit_Seo::seo_redirect" title="Management" sortOrder="10"/>
                                <resource id="Mirasvit_Seo::seo_redirect_import_export" title="Import/Export" sortOrder="20"/>
                            </resource>
                            <resource id="Mirasvit_Seo::seo_canonicalRewrite" title="Canonical Rewrite" sortOrder="400"/>
                            <resource id="Mirasvit_Seo::seo_manual" title="User Manual" sortOrder="800"/>
                            <resource id="Mirasvit_Seo::seo_get_support" title="Get Support" sortOrder="900"/>
                            <resource id="Mirasvit_Seo::seo_settings" title="Settings" sortOrder="1000"/>
                            <resource id="Mirasvit_Seo::seo_checklist" title="Checklist" sortOrder="1100"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_Seo::config_seo" title="Mirasvit Seo Section" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
