<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mirasvit>
            <seo>
                <enabled>1</enabled>
            </seo>
        </mirasvit>
        <seo>
            <general>
                <is_add_canonical_url>1</is_add_canonical_url>
                <crossdomain/>
                <trailing_slash>0</trailing_slash>
                <canonical_url_ignore_pages/>
                <layered_navigation_friendly_urls>1</layered_navigation_friendly_urls>
                <is_enable_image_friendly_urls>0</is_enable_image_friendly_urls>
                <image_url_template>[product_name]</image_url_template>
                <is_enable_image_alt>0</is_enable_image_alt>
                <image_alt_template>[product_name]</image_alt_template>
                <is_category_meta_tags_used>1</is_category_meta_tags_used>
                <is_product_meta_tags_used>1</is_product_meta_tags_used>
            </general>
            <extended>
                <meta_title_page_number>1</meta_title_page_number>
            </extended>
            <image>
                <image_url_template/>
                <image_alt_template/>
            </image>
        </seo>
    </default>
</config>
