<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--CONFIG-->
    <preference for="Mirasvit\Seo\Api\Config\AlternateConfigInterface" type="Mirasvit\Seo\Service\Config\AlternateConfig"/>
    <preference for="Mirasvit\Seo\Api\Config\InfoInterface" type="Mirasvit\Seo\Service\Config\InfoConfig"/>
    <preference for="Magento\MediaStorage\App\Media" type="Mirasvit\Seo\Model\MediaStorage\Media"/>

    <!--SERVICE-->
     <preference for="Mirasvit\Seo\Api\Service\Template\SeoDescription\TemplateInterface" type="Mirasvit\Seo\Service\Template\SeoDescription\Template"/>
    <preference for="Mirasvit\Seo\Api\Service\Alternate\StrategyFactoryInterface" type="Mirasvit\Seo\Service\Alternate\StrategyFactory"/>
    <preference for="Mirasvit\Seo\Api\Service\Alternate\UrlInterface" type="Mirasvit\Seo\Service\Alternate\Url"/>
    <preference for="Mirasvit\Seo\Api\Service\CanonicalRewrite\CanonicalRewriteServiceInterface" type="Mirasvit\Seo\Service\CanonicalRewrite\CanonicalRewriteService"/>
    <preference for="Mirasvit\Seo\Api\Service\CompatibilityServiceInterface" type="Mirasvit\Seo\Service\CompatibilityService"/>
    <preference for="Mirasvit\Seo\Api\Service\WidgetGeneratorServiceInterface" type="Mirasvit\Seo\Service\WidgetGeneratorService"/>
    <preference for="Mirasvit\Seo\Api\Service\MessageInterface" type="Mirasvit\Seo\Service\MessageService"/>
    <preference for="Mirasvit\Seo\Api\Service\DesignServiceInterface" type="Mirasvit\Seo\Service\DesignService"/>
    <preference for="Mirasvit\Seo\Api\Service\Image\ImageServiceInterface" type="Mirasvit\Seo\Service\Image\ImageService"/>

    <preference for="Mirasvit\Seo\Api\Service\TemplateEngineServiceInterface" type="Mirasvit\Seo\Service\TemplateEngineService"/>
    <preference for="Mirasvit\Seo\Api\Service\StateServiceInterface" type="Mirasvit\Seo\Service\StateService"/>
    <preference for="Mirasvit\Seo\Api\Service\FriendlyImageUrlServiceInterface" type="Mirasvit\Seo\Service\FriendlyImageUrlService"/>


    <!--DATA-->
    <preference for="Mirasvit\Seo\Api\Data\SuffixInterface" type="Mirasvit\Seo\Service\Data\Suffix"/>
    <preference for="Mirasvit\Seo\Api\Data\TableInterface" type="Mirasvit\Seo\Service\Data\Table"/>
    <preference for="Mirasvit\Seo\Api\Data\CanonicalRewriteInterface" type="Mirasvit\Seo\Model\CanonicalRewrite"/>

    <!--REPOSITORY-->
    <preference for="Mirasvit\Seo\Api\Repository\CanonicalRewriteRepositoryInterface" type="Mirasvit\Seo\Repository\CanonicalRewriteRepository"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mstSeoProductUrlTemplate" xsi:type="object">Mirasvit\Seo\Console\Command\ProductUrlTemplateCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\Seo\Api\Service\FriendlyImageUrlServiceInterface">
        <arguments>
            <argument name="FriendlyImageUrlService" xsi:type="object">Mirasvit\Seo\Api\Service\FriendlyImageUrlServiceInterface\Proxy</argument>
        </arguments>
    </type>

    <!--UI-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="seo_template_listing_data_source" xsi:type="string">Mirasvit\Seo\Model\ResourceModel\Template\Grid\Collection</item>
                <item name="seo_rewrite_listing_data_source" xsi:type="string">Mirasvit\Seo\Model\ResourceModel\Rewrite\Grid\Collection</item>
                <item name="seo_redirect_listing_data_source" xsi:type="string">Mirasvit\Seo\Model\ResourceModel\Redirect\Grid\Collection</item>
                <item name="seo_canonical_rewrite_listing_data_source" xsi:type="string">Mirasvit\Seo\Model\ResourceModel\CanonicalRewrite\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!--template-->
    <virtualType name="SeoGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SeoTemplateGridDataProvider" type="Mirasvit\Seo\Ui\Template\DataProvider\SeoTemplateGridDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mirasvit\Seo\Model\ResourceModel\Template\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SeoGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <!--rewrite-->
    <virtualType name="SeoRewriteGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SeoRewriteGridDataProvider" type="Mirasvit\Seo\Ui\Rewrite\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mirasvit\Seo\Model\ResourceModel\Rewrite\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SeoRewriteGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <!--redirect-->
    <virtualType name="SeoRedirectGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SeoRedirectGridDataProvider" type="Mirasvit\Seo\Ui\Redirect\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mirasvit\Seo\Model\ResourceModel\Rewrite\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SeoRedirectGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <!-- canonical rewrite -->
    <virtualType name="SeoCanonicalRewriteGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SeoCanonicalRewriteGridDataProvider" type="Mirasvit\Seo\Ui\CanonicalRewrite\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mirasvit\Seo\Model\ResourceModel\CanonicalRewrite\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SeoCanonicalRewriteGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <!--Entity Manager-->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mirasvit\Seo\Api\Data\CanonicalRewriteInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Mirasvit\Seo\Api\Data\CanonicalRewriteInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Mirasvit\Seo\Api\Data\CanonicalRewriteInterface::ID</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mirasvit\Seo\Api\Data\CanonicalRewriteInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>


    <!--TemplateEngine-->
    <type name="Mirasvit\Seo\Service\TemplateEngine\TemplateProcessor">
        <arguments>
            <argument name="dataPool" xsi:type="array">
                <item name="store" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\StoreData</item>
                <item name="category" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\CategoryData</item>
                <item name="filter" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\FilterData</item>
                <item name="product" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\ProductData</item>
                <item name="pager" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\PagerData</item>
                <item name="page" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\PageData</item>
                <item name="cmsPage" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\CmsPageData</item>
                <item name="blog" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\BlogData</item>
                <item name="brand" xsi:type="object">Mirasvit\Seo\Service\TemplateEngine\Data\BrandData</item>
            </argument>
        </arguments>
    </type>

    <!-- admin logo uploader -->
    <virtualType name="Mirasvit\Seo\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category</argument>
            <argument name="basePath" xsi:type="string">catalog/category</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mirasvit\Seo\Model\Image\ImageFile">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mirasvit\Seo\CategoryImageUpload</argument>
        </arguments>
    </type>
    <type name="Mirasvit\Seo\Model\Template">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mirasvit\Seo\CategoryImageUpload</argument>
        </arguments>
    </type>

    <type name="Manadev\LayeredNavigation\Engine">
        <plugin name="mstSetFilters" type="Mirasvit\Seo\Plugin\Manadev\LayeredNavigation\EnginePrepareFiltersToShowIn" />
    </type>
</config>
