//
//  Layout
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------
@layout-columns__padding__l: 50px;
@layout-columns__padding__xl: 0;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .page-wrapper {
        overflow: hidden;
    }

    .page-main {
        min-height: 1px; // IE11 fix
    }
    
    body.cms-home,
    .page-below {
        .lib-css(background, @color-white);
    }
    
    .page-below {
        > .content {
            .lib-css(max-width, @layout__max-width);
            
            margin: 0 auto;
        }
    }

    .full-height {
        height: 100%;
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .columns {
        .lib-css(padding-left, @layout-columns__padding__l);
        .lib-css(padding-right, @layout-columns__padding__l);
    }

    .section-center,
    .footer.content,
    .footer-bottom,
    .page-below {
        .lib-css(padding-left, @layout-columns__padding__l + @layout-indent__width);
        .lib-css(padding-right, @layout-columns__padding__l + @layout-indent__width);
    }
}

//
//  Desktop XL +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .columns {
        .lib-css(padding-left, @layout-columns__padding__xl);
        .lib-css(padding-right, @layout-columns__padding__xl);
    }

    .section-center,
    .footer.content,
    .footer-bottom,
    .page-below > .content {
        .lib-css(padding-left, @layout-indent__width);
        .lib-css(padding-right, @layout-indent__width);
    }
}