//
//  Loader
//  _____________________________________________

//
//  Loader variables
//  _____________________________________________

@loader-icon__background-image: url('@{baseDir}images/loader-1.gif');
@lazyload__content: @loader-icon__background-image;

//@ewaveloader__is-enabled: true;

//@ewaveloader__position: fixed;
//@ewaveloader__top: 50%;
//@ewaveloader__left: 50%;
//@ewaveloader__padding: 0;
//@ewaveloader__margin: 0;
//@ewaveloader__background: false;
//@ewaveloader__border-width: false;
//@ewaveloader__border-style: false;
//@ewaveloader__border-color: false;

//
//  Loader Image Variables
//  ---------------------------------------------

//@ewaveloader-img__margin: 0;

//
//  Loader Text Variables
//  ---------------------------------------------

//@ewaveloader-text__margin: 0;
//@ewaveloader-text__padding: 0;
//@ewaveloader-text__background: false;
//@ewaveloader-text__border-color: false;
//@ewaveloader-text__border-style: false;
//@ewaveloader-text__border-width: false;
//@ewaveloader-text__color: @primary__color;
//@ewaveloader-text__font-size: @font-size__base;
//@ewaveloader-text__font-family: @font-family__base;
//@ewaveloader-text__font-weight: @font-weight__regular;
//@ewaveloader-text__font-style: @font-style__base;

//
//  Loader Mask Variables
//  ---------------------------------------------

@ewaveloader-mask__background: rgba(255, 255, 255, .5);

//
//  Loader Block Variables
//  ---------------------------------------------

//@block-loading-mask__position: absolute;
//@block-loading-mask__width: 100%;
//@block-loading-mask__height: 100%;
//@block-loader__position: relative;
//@block-loader-text__display: none;

//@ewaveloader-block__position: relative;
//@ewaveloader-block-loading-mask__position: absolute;
//@ewaveloader-block-loading-mask__width: 100%;
//@ewaveloader-block-loading-mask__height: 100%;
//@ewaveloader-block-loader__position: relative;
//@ewaveloader-block-loader-text__display: none;


//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    body._has-modal {
        > .loading-mask {
            z-index: 1001;
        }
    }
    
    ._block-content-loading {
        > .loading-mask > .loader > img {
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}
