<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Digidirect\LayeredNavigation\Api\Data\FilterSettingInterface" type="Digidirect\LayeredNavigation\Model\FilterSetting"/>
    <preference for="Digidirect\LayeredNavigation\Api\FilterSettingRepositoryInterface" type="Digidirect\LayeredNavigation\Model\FilterSettingRepository"/>
</config>
