//
//  Theme: Checkout: Totals
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .table-totals {
        & {
            margin-top: 20px;
        }

        .mark,
        .amount {
            padding-top: 0;
            padding-bottom: 20px;
            line-height: 20px;
        }

        .mark .value {
            .lib-font-size(12);
        }

        .grand .mark,
        .grand .amount {
            padding-top: 20px;
            padding-bottom: 20px;
            .lib-css(border-top, 1px solid @border-color__base);
            .lib-font-size(14);
        }

        .discount.coupon {
            display: none; //hide discount label
        }
    }
}

//
//  M +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .table-totals {
        .grand .mark,
        .grand .amount {
            .lib-font-size(15);
        }
    }
}

//
//  L +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .table-totals {
        .grand .mark,
        .grand .amount {
            .lib-font-size(16);
        }
    }
}