//
//  Extend: Bundle: Images
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@bundle-images__is-enabled: true; // Enable/disable styles

//  Bundle Item
//@bundle-images-item__use-clearfix: true;
//@bundle-images-item__margin: 0 0 10px;
//@bundle-images-item__padding: false;

//  Bundle Item Image
@bundle-images-item-img__margin: 0 10px 0 26px;
@bundle-images-item-img__vertical-align: false;

//  Bundle Item Content
@bundle-images-item-content__display: false;
//@bundle-images-item-content__width: false;
//@bundle-images-item-content__height: false;
//@bundle-images-item-content__margin: false;
//@bundle-images-item-content__padding: false;
@bundle-images-item-content__vertical-align: false;

//  Image
//@bundle-images-img__display: inline-block;
//@bundle-images-img__width: 90px;
//@bundle-images-img__height: false;
//@bundle-images-img__margin: 0 20px 10px 0;
//@bundle-images-img__padding: false;
//@bundle-images-img__vertical-align: top;
