//
//  Bundle: Common
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@bundle__is-enabled: true; // Enable/disable styles

@bundle-actions__use-box-tocart: false;
@bundle-actions-action-primary__use-button-l: false;

//  Options Container
@bundle-options-container__margin-bottom: false;
//@bundle-options-container__clear: both;

//  Legend
//@bundle-options-container-legend-title__use-heading: both;
//@bundle-options-container-legend-title-heading: h2;
@bundle-options-container-legend-title__use-reset-left-margin-desktop__m: false;

//  Wrappers (.bundle-options-wrapper, .product-options-wrapper)
@bundle-options-container-wrappers__float__m: false;
@bundle-options-container-wrappers__width__m: false;

//  Add Form
@bundle-options-container-product-add-form__display: false;
//@bundle-options-container-input-text-qty__use-input-qty: true;

//  Product Options Wrapper
@bundle-options-container-product-options-wrapper__margin-bottom: 23px;
@bundle-options-container-action-back__margin-bottom: 20px;

//  Price Box
@bundle-options-container-price-box-price__font-size: 28px;
//@bundle-options-container-price-box-price__font-weight: @font-weight__bold;
@bundle-options-container-price-notice__use-adjustment-incl-excl-tax: false;

//  Nested
@bundle-options-container-nested-field-qty__margin-top: false;
@bundle-options-container-nested-field-qty-label__display: false;
@bundle-options-container-nested-field-qty-label__margin: false;
@bundle-options-container-nested-field-qty-label__font-weight: false;

//  Required
//@bundle-options-container-required__color: @form-field-label-asterisk__color;

//  Product Options Bottom
//@bundle-options-container-product-options-bottom__clear: left;
