<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content" type="Digidirect\RelatedProduct\Block\Adminhtml\Product\Helper\Form\Gallery\Content" />
    <type name="Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content">
        <plugin name="digidirect-product-images-adminhtml-product-view-popup-plugin" type="Digidirect\RelatedProduct\Plugin\Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Gallery\CreateHandler">
        <plugin name="digidirect-product-images-model-product-gallery-create-handler" type="Digidirect\RelatedProduct\Plugin\Magento\Catalog\Model\Product\Gallery\CreateHandler" sortOrder="10" />
    </type>
    <virtualType name="Digidirect\RelatedProduct\Model\Config\Source\ProductAttribute" type="Digidirect\RelatedProduct\Model\Config\Source\Attribute">
        <arguments>
            <argument name="attrRepository" xsi:type="object">\Magento\Catalog\Api\ProductAttributeRepositoryInterface</argument>
            <argument name="excludedFrontendInputs" xsi:type="array">
                <item name="1" xsi:type="string">gallery</item>
            </argument>
            <argument name="excludedAttributes" xsi:type="array">
                <item name="1" xsi:type="string">media_gallery</item>
                <item name="2" xsi:type="string">gallery</item>
                <item name="3" xsi:type="string">custom_design</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Digidirect\RelatedProduct\Model\Config\Source\CategoryAttribute" type="Digidirect\RelatedProduct\Model\Config\Source\Attribute">
        <arguments>
            <argument name="attrRepository" xsi:type="object">Magento\Catalog\Api\CategoryAttributeRepositoryInterface</argument>
            <argument name="excludedFrontendInputs" xsi:type="array">
                <item name="1" xsi:type="string">name</item>
            </argument>
            <argument name="excludedAttributes" xsi:type="array">
                <item name="1" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
</config>
