//
//  Variables
//  _____________________________________________

@freegift-overlay__background-color: rgba(0, 0, 0, .8);
@freegift-overlay__text-align: center;

@freegift-items-wrapper__max-height: 82vh;
@freegift-items-wrapper__max-height__mobile: 65vh;

@freegift-items__display: inline-block;
@freegift-items__border: 1px solid #ededed;
@freegift-items__background-color: white;
@freegift-items__margin: 30px auto;
@freegift-items__padding: 24px;
@freegift-items__text-align: left;
@freegift-items__max-height: 95%;
@freegift-items__max-height__mobile: 90%;

@freegift-item__width: 290px;
@freegift-item__margin: 0 8px 7px;
@freegift-item__padding: 20px 0;
@freegift-item__border: 1px solid #ededed;
@freegift-item-buttons__text-align: center;
@freegift-item-buttons-close__top: 7px;
@freegift-item-buttons-close__right: 7px;
@freegift-item-buttons-close__width: 16px;
@freegift-item-buttons-close__height: 16px;
@freegift-item-buttons-close__margin: 0;
@freegift-item-buttons-close__padding: 0;
@freegift-item-buttons-close__font-size: 14px;
@freegift-item-buttons-close__opacity: .8;
@freegift-item-buttons-close__hover__opacity: 1;
@freegift-item-buttons-close__hover__transition: opacity .2s ease;
@freegift-item-image__margin: 20px auto;

@freegift-item-overlay__background: #000;
@freegift-item-overlay__opacity: .1;
@freegift-item-overlay__z-index: 10;

@freegift-items-add__border: 1px solid #ededed;
@freegift-items-add__padding: 7px;
@freegift-items-add__text-align: center;
@freegift-items-add__margin-bottom: 12px;
@freegift-items-add-link__text-decoration: none;
@freegift-items-add-link__border-bottom: 1px dashed;

@freegift-gallery__margin: 0 30px;

@freegift-gallery-item__text-align: center;
@freegift-gallery-item__padding: 0 25px;

@freegift-gallery-item-img__display: inline-block;
@freegift-gallery-item-img__margin: 0;

//
//  Free Gift By Rules
//  ---------------------------------------------

@freegift-rule__text-align: left;
@freegift-rule__font-size: 18px;
@freegift-rule__font-weight: 600;

@freegift-totals-numbers__font-weight: 600;

@freegift-total-count__text-align: center;
@freegift-total-count__margin: 0;
@freegift-total-count__padding: 0;

@freegift-rule-count__text-align: left;
@freegift-rule-count__margin: 0 0 15px;
@freegift-rule-count__padding: 0;