// @import "custom/_tradeup.less";
@import "custom/tradeup-form.less";

* #digimarketseler_form_application {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
  }

  #digimarketseler_form_application {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    // background: #333;
    margin-bottom: 55px;

  // range version 2
  .range-wrap {
    position: relative;
    margin: 0 auto 1rem;
  }
  .range {
    width: 100%;
  }
  .bubble {
    background: #ff6600;
    // background: #FCD900;
    color: black;
    padding: 4px;
    width: 50px;
    // padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    text-align: center;
  }
  .bubble::after {
    content: "";
    position: absolute;
    /**
    width: 5px;
    height: 5px;
    background: #FCD900;
    // top: -1px;
    left: 50%;
    top: 28px;
    **/
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff6600;
    // border-top: 5px solid #FCD900;
    bottom: -5px;
    left: 40%;


  }

  // end range version 2



  //range
  .container {
    margin-top: 80px;

    .rangeSlider {
      .rangeSlider__handle {
        .tooltip {
          position: absolute;
          bottom: 50px;
          left: 50%;
          transform: translateX(-50%);

          border: 1px solid #707070;
          border-radius: 3px;
          background-color: #e4e4e4;
          padding: 4px;
          display: block;
          width: 200px;

        }
      }
    }

    .tickmarks {
      // display: inline-flex;
      display: flex;
      justify-content: space-between;
      color: black;
      width: 100%;
      // padding: 10px;

        option {
          // padding: 0 25px;
          width: 100%;
          // text-align: center;
          display: flex;
          justify-content: space-between;
          // position: relative;
        }

        option[value="2"]{
          margin-left: 20px !important;
        }

        option[value="3"]{
          margin-left: 15px !important;
        }

        option[value="4"]{
          margin-left: 10px !important;
        }

        option[value="5"]{
          margin-left: 20px !important;
        }

        option[value="6"]{
          margin-right: -135px !important;
        }


    }



    /* For Chrome, Safari, Opera, and Edge  */
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      background: black;
      outline: none;
      // opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      border-radius: 25px !important;
    }

    /* For Firefox */
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      background: black;
      outline: none;
      // opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      border-radius: 25px !important;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: #ff6600;
      // background: #FCD900;
      cursor: pointer;
      border-radius: 25px !important;
    }

    input[type="range"]::-moz-range-thumb {
      width: 15px;
      height: 15px;
      background: #ff6600;
      // background: #FCD900;
      cursor: pointer;
      border-radius: 25px !important;
    }

    .tool-tip {
      position: absolute;
      color:black;
      border: 1px solid #ff6600;
      // border: 1px solid #FCD900;
      background: #ff6600;
      // background: #FCD900;
      min-width: 50px;
      text-align: center;

      // background: red;
      // display: inline-block;
      // // height: 55px;
      // margin-left: 20px;
      // margin-top: 55px;
      // position: relative;
      // width: 100px

    }

    .tool-tip:before {
      border-top: 15px solid #ff6600;
      // border-top: 15px solid #FCD900;
      border-right: 25px solid transparent;
      border-left: 25px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      bottom: -16px;
      width: 0;
    }

  }
    // range end


    header {
        font-size: 28px;
        font-weight: 600;
        margin: 0 0 50px 0;
        // color: #ff6600;
        text-align: center;
    }

    .title-text-orange {
        color: #ff6600;
    }

    .checklist-row {
        margin-top: 15px;

      ul {
        columns: 4;
        -webkit-columns: 4;
        -moz-columns: 4;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      li {
        margin-bottom: unset !important;
      }

      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        position: relative !important;
        margin: unset !important;
      }

    }

    .margin-top-extra {
        margin-top: 25px;
    }

    #seller_country_select, #seller_country_select2, #products_intend, #annual_sales {
        margin: 10px 0;
    }

    select {
        border:none;
        border-bottom: 1px solid #b6b6b6;
        border-radius: 0 !important;
        outline:none;
        padding: unset !important;

        option {
            color: #323232;
        }

        option[value=""][disabled] {
            display: none;
        }
    }

    .input-placeholder {
        position: relative;
    }

    .input-placeholder input {
        padding: 2px;
    }

    .input-placeholder input:valid + .placeholder {
        display: none;
    }

    .placeholder-remove + .placeholder{
      display: none !important;
    }

    .select-title>select:valid ~ .title-label {
        display: none;
    }

    .placeholder {
        position: absolute;
        pointer-events: none;
        // top: 2px;
        bottom: 20px;
        left: 6px;
        margin: auto;
        color: gray;
    }

    .placeholder span {
        color: red;
    }

    .label-title {
        span {
        color: red;
        }
    }

  }

  #digimarketseler_form_application input, #digimarketseler_form_application textarea {
        border: none;
        border-bottom: 1px solid #b6b6b6;
        border-radius: 0 !important;
        outline:none;
        font-family: 'Poppins',sans-serif;
        margin: 5px 0px;
  }

  #digimarketseler_form_application .inline-row {
        display: block;

    .row1 {
        display: inline-block;
        width: 49.9%;
    }

    .row1:first-child {
        padding-right: 5px;
    }

    .row1:nth-child(2) {
        padding-left: 5px;
    }

  }

    #digimarketseler_form_application input[type=file] {
        display:none;
    }

    .uploadfile {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        color: #cccccc;
        border: 1px solid #b6b6b6;
        margin: 15px 0;
    }

    .drop-zone--over {
        border-style: solid;
    }

    .drop-zone__input {
        display: none;
    }

    .drop-zone__prompt1 {
        color: #ff6600;
        margin-right: 5px;
    }

    .drop-zone__prompt2 {
        color: #737373;
    }

    .drop-zone__thumb {
        width: 50%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: transparent;
        background-size: cover;
        position: relative;
        background-image: unset !important;
    }

    .drop-zone__thumb::after {
        content: attr(data-label);
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        text-align: center;
    }


    #digimarketseler_form_application input[type=submit] {
        background: #ff6600;
        border-radius: 25px;
        border-radius: 25px;
        padding: 10px 28px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .successmessage {
        background: #e5efe5;
        color: #006400;
        padding: 15px 14px;
        margin-top: 25px !important;
    }


  @media screen and (max-width: 668px) {

    #digimarketseler_form_application {
        width: 100%;
        // width: 400px;
        display: block;

        .container {
            margin-top: unset;
            padding: 15px;
        }

        .checklist-row {
          margin-top: 15px;

          ul {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            list-style: none;
            margin-top: 10px;
            margin-bottom: 15px;
          }

          li {
            margin-bottom: unset !important;
          }

          input[type="checkbox"] {
            width: 15px;
            height: 15px;
            position: relative !important;
            margin: unset !important;
          }

        }

        .tickmarks {
          // display: inline-flex;
          display: flex;
          justify-content: space-between;
          color: black;
          width: 100%;
          // padding: 10px;
          display: none !important;

            option {
              // padding: 0 25px;
              width: 100%;
              // text-align: center;
              display: flex;
              justify-content: space-between;
              // position: relative;
              display: none !important;
            }

            option[value="2"]{
              margin-left: 20px !important;
            }

            option[value="3"]{
              margin-left: 15px !important;
            }

            option[value="4"]{
              margin-left: 10px !important;
            }

            option[value="5"]{
              margin-left: 20px !important;
            }

            option[value="6"]{
              margin-right: -50px !important;
            }


        }

    }


  }

  @media screen and (max-width: 490px) {
    #digimarketseler_form_application {
        width: 100%;
        display: block;

        .container {
            box-sizing: border-box;
            border-radius: 0;
            padding: 15px;
            width: 100%;
        }
    }

    .container header {
        font-size: 22px !important;
        margin: 0 0 50px 0;
    }

    .checklist-row {
      margin-top: 15px;

      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      li {
        margin-bottom: unset !important;
      }

      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        position: relative !important;
        margin: unset !important;
      }

    }


  }

  @media screen and (max-width: 780px) {
  #digimarketseler_form_application .inline-row {
    display: block;

    .row1 {
        display: block;
        width: 100%;
    }

    .row1:first-child {
        padding-right: unset;
    }

    .row1:nth-child(2) {
        padding-left: unset;
    }

    .margin-top-extra {
      margin-top: 15px !important;
    }

    select {
      height: 40px;
    }

    .select-title .placeholder {
      bottom: 10px !important;
    }

    #seller_country_select, #seller_country_select2, #products_intend, #annual_sales {
      margin: unset;
    }


    .checklist-row {
      margin-top: 15px;

      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      li {
        margin-bottom: unset !important;
      }

      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        position: relative !important;
        margin: unset !important;
      }

    }

    // #rating  {
    //   display: none;
    // }

  }

  }


  @media screen and (min-width: 1024px) and (max-width: 1380px) {
  #digimarketseler_form_application .inline-row {

    .tickmarks {
      // display: inline-flex;
      display: flex;
      justify-content: space-between;
      color: black;
      width: 100%;
      // padding: 10px;


        option {
          // padding: 0 25px;
          width: 100%;
          // text-align: center;
          display: flex;
          justify-content: space-between;
          // position: relative;
        }

        option[value="2"]{
          margin-left: 2px !important;
        }

        option[value="3"]{
          margin-left: -5px !important;
        }

        option[value="4"]{
          margin-left: -5px !important;
        }

        option[value="5"]{
          margin-left: -5px !important;
        }

        option[value="6"]{
          margin-right: -105px !important;
        }


    }

  }

}




