.checkout-cart-index {
    .cart-empty {
        max-width: 1384px;
        padding: 20px 25px;
        margin: 0 auto;

        .cart-empty-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 23px;
            .text {
                color: #000000;
                font-weight: 600;
                font-size: 32px;
                max-width: 335px;
            }
            .action.primary {
                line-height: 14px;
            }
        }
    }
    .page-main {
        background: #f2f2f7;
    }
    .cart-container {
        display: flex;
        justify-content: space-between;
        max-width: 1384px;
        padding: 20px;
        margin: 0 auto;
        gap: 20px;
        align-items: flex-start;

        &::after,
        &::before {
            display: none;
        }

        .form-cart {
            width: 100%;
        }

        .cart.table-wrapper .items {
            thead + .item {
                border-top: none !important;
            }

            > .item {
                border-bottom: none !important;
            }
        }

        #shopping-cart-table {
            thead {
                display: none;
                tr {
                    th {
                        height: 0px;
                        padding: 0px;
                        width: 0px;
                    }
                }
            }
            .cart.item .item-info {
                background: #fff;
                border-radius: 16px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
                padding: 20px 24px;
                margin-bottom: 20px;
                display: flex;
                align-items: flex-start;
                gap: 20px;
                border: 1px solid #e5e7eb;

                .col.item {
                    display: flex;
                    width: 100%;
                }

                .product-image-container {
                    flex: 0 0 160px;
                    border-radius: 12px;
                    overflow: hidden;
                }

                .product-item-photo {
                    display: block;
                    max-width: 100%;
                    padding-right: 20px;
                    position: static;
                    width: auto;
                }
                .product-item-details {
                    flex: 1;
                }
                .product-item-name {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000000;
                    margin-bottom: 4px;
                    margin-top: 0;
                    height: auto;
                }
                .price {
                    font-size: 20px;
                    font-weight: 600;
                    color: #1d1d1f;
                }
                .old-price {
                    font-size: 14px;
                    color: #7f7f7f;
                    text-decoration: line-through;
                    margin-left: 6px;
                }
                .input-text.qty {
                    margin-top: 0;
                    border: 0;
                }
                .actions-toolbar {
                    text-align: right;
                }
                .action {
                    font-weight: 500;
                    font-size: 14px;
                    text-decoration: none;
                    width: max-content;
                    padding: 0;
                    position: relative;
                    margin: 0 0 0 16px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .col {
            &.subtotal {
                position: relative;
                padding-top: 30px;

                .gift-options-cart-item {
                    display: none;
                }
            }
            &.stock-status {
                text-align: center;
                display: flex;
                flex-direction: column;
                min-width: 20%;
                padding-top: 40px;
                .stock {
                    font-size: 16px;
                    color: #000;
                    margin-bottom: 5px;
                }
                .ship {
                    color: #7f7f7f;
                    font-size: 10px;
                }
            }
            &.qty {
                min-width: 20%;
                justify-content: center;
                display: flex;
                text-align: center;
                padding-top: 27px;
            }

            .item-actions {
                position: relative;
                top: 50px;
                display: flex;
                .action-delete {
                    width: 30px;
                    height: 30px;
                    border: 1px solid #d9d9d9;
                    border-radius: 50%;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    color: #262628;
                    background-color: unset;
                    margin: 0;
                    border: 0;
                    &:hover {
                        text-decoration: none;
                        &::before {
                            opacity: 1;
                        }
                    }
                    &:before {
                        font-size: 14px;
                        font-weight: 400;
                        color: #eb5757;
                        content: "Remove";
                        font-family: "Inter";
                    }
                }
            }
        }
    }

    .qantas-pts-wrapper {
        display: none;
    }

    .cart.main.actions {
        display: none;
    }

    #co-shipping-method-form {
        display: none;
    }
    #gift-options-cart {
        display: none;
    }

    .item-info {
        .product.options {
            display: none;
        }
    }

    button.action.update {
        display: none !important;
    }

    .cart-summary {
        position: static;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        padding: 40px 38px 20px 38px;
        margin-top: 73px;

        #block-shipping,
        #block-discount {
            display: none !important;
        }

        .zip-widget__wrapper {
            display: none !important;
        }

        .summary.title {
            margin-top: 0;
            color: @color-black;
            font-size: 20px;
            font-weight: 500;
        }

        .block > .title {
            border-top: none;
        }
        .cart-totals {
            border-top: none;
            padding-top: 10px;
        }
        tr.grand.totals {
            border-top: 1px solid #d9d9d9;

            .mark {
                strong {
                    font-weight: 500;
                    color: #1d1d1f;
                    font-size: 18px;
                }
            }
            .amount {
                .price {
                    font-weight: 500;
                    color: #1d1d1f;
                    font-size: 18px;
                }
            }
        }
        tr.totals.shipping.excl {
            .mark,
            .amount {
                padding-bottom: 20px;
            }
        }

        .action.primary.checkout {
            padding: 8px 30px;
            font-size: 1.6rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .checkout-cart-index {
        .cart-summary {
            position: static;
            min-width: 350px;
        }
    }
    .cart.table-wrapper .item .col.item {
        padding: 27px 8px 10px;
        width: 100%;
    }
}
@media screen and (min-width: 1025px) {
    .cart.table-wrapper {
        .price-wrapper-mobile,
        .stock-status-mobile,
        .mobile-actions {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .checkout-cart-index .cart-empty .cart-empty-wrapper {
        flex-direction: column;

        .text {
            font-size: 17px;
            max-width: unset;
        }
    }
    .checkout-cart-index {
        .cart.table-wrapper .cart.item {
            flex-direction: column;
            padding: 16px;
        }
        .cart.table-wrapper .cart.item .product-image-container {
            width: 100%;
        }
        .cart.table-wrapper .cart.item .actions-toolbar {
            text-align: left;
            margin-top: 12px;
        }
        .cart-container {
            flex-direction: column;
            gap: 0;

            .item-options {
                display: none;
            }

            #shopping-cart-table .cart.item {
                .item-info {
                    flex-direction: column;

                    .product-item-name {
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .cart-price {
                        .price {
                            color: #1d1d1f;
                            font-size: 17px;
                        }
                    }
                    .col {
                        &.item {
                            padding: 2px;
                            flex-direction: row;
                            position: relative;
                        }

                        .product-image-name-wrapper {
                            flex-direction: row;
                            gap: 12px;
                            justify-content: space-between;
                            width: 100%;
                            display: flex;
                        }
                        &.stock-status {
                            display: none;
                        }
                        &.subtotal {
                            display: none;
                        }
                        &.qty {
                            align-items: flex-start;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            gap: 20px;
                            padding-top: 0;
                            padding-left: 132px;

                            .stock-status-mobile {
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                padding-top: 0;
                                align-items: baseline;

                                .stock {
                                    font-size: 16px;
                                    color: #000;
                                    margin-bottom: 5px;
                                }
                                .ship {
                                    color: #7f7f7f;
                                    font-size: 10px;
                                }
                            }
                        }

                        .product-image-photo {
                            max-width: 90px;
                        }

                        .stock-status-mobile {
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            padding-top: 40px;
                        }

                        .mobile-actions {
                            position: absolute;
                        }
                    }
                }
            }
        }
        .price-including-tax,
        .price-excluding-tax {
            text-align: right;
        }
    }
    .checkout-cart-index .cart-summary {
        margin-top: 0;
        width: 100%;
    }
}

.cart.item.message.notice {
    border-radius: 10px;
}
