<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="digidirect" translate="label" sortOrder="10">
            <label>Digidirect</label>
        </tab>
        <section id="digidirect_tradeup" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Trade Up Form</label>
            <tab>digidirect</tab>
            <resource>Digidirect_TradeUp::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Trade Up Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipient_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipient Email</label>
                    <validate>required-entry validate-email</validate>
                </field>
<!--                <field id="email_template_company" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                    <label>Email Template Company</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>-->
<!--                </field>-->
<!--                <field id="email_template_customer" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                    <label>Email Template Customer</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
