<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="digidirect_abstractgiftcard_order_place_before" disabled="true" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="digidirect_abstractgiftcard_quote_submit_success" disabled="true" />
        <observer name="Digidirect_Vii::digidirect_abstractgiftcard_quote_submit_success" instance="Digidirect\Vii\Observer\QuoteSubmitSuccess" />
    </event>
    <event name="sales_model_service_quote_submit_failure">
        <observer name="digidirect_abstractgiftcard_quote_submit_failure" disabled="true" />
    </event>
</config>