<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cart_price_rules_checkout_config_provider" xsi:type="object">Ewave\ExtendedCartPriceRules\Model\Checkout\Provider\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="Ewave_ExtendedCartPriceRules::Quote\Model\Quote"
                type="Ewave\ExtendedCartPriceRules\Plugin\Magento\Quote\Model\Quote"/>
    </type>
    <type name="Magento\Quote\Model\QuoteRepository">
        <plugin name="Ewave_ExtendedCartPriceRules::Quote\Model\QuoteRepository"
                type="Ewave\ExtendedCartPriceRules\Plugin\Magento\Quote\Model\QuoteRepository"/>
    </type>

    <!--Use for Restrict add to cart-->
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="update_quote_item"
                type="Ewave\ExtendedCartPriceRules\Plugin\Magento\Checkout\Model\Cart"/>
    </type>

    <type name="Magento\Wishlist\Controller\Index\Allcart">
        <arguments>
            <argument name="itemCarrier" xsi:type="object">Ewave\ExtendedCartPriceRules\Model\Wishlist\ItemCarrier</argument>
        </arguments>
    </type>

    <type name="Magento\Wishlist\Model\Item">
        <plugin name="before_add_to_cart"
                type="Ewave\ExtendedCartPriceRules\Plugin\Magento\Wishlist\Model\Item" sortOrder="9999" />
    </type>

    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="Ewave_ExtendedCartPriceRules::Checkout\Controller\Cart\Add"
                type="Ewave\ExtendedCartPriceRules\Plugin\Magento\Checkout\Controller\Cart\Add" sortOrder="9999"/>
    </type>
</config>
