//
//  Form variables
//  _____________________________________________

@form-element-input__height__m: 45px;
@form-element-input__font-size__m: 13px;

@form-element-input__height__l: 50px;
@form-element-input__font-size__l: 14px;