//
//  Theme: Category top description
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .category-view {
        & {
            .lib-css(margin, 0 -@layout-indent__width);
            position: relative;
            padding: 44px 20px 50px;
        }

        .cms-description {
            .lib-vendor-prefix-display(flex);
            .digidirect-lib-box-align(center);
        }

        .main-image {
            width: 160px;
        }

        .description-block {
            width: 52%;
            padding-left: 12px;
            text-align: center;
        }

        .title {
            .lib-font-size(20);
            .lib-css(color, @color-white);
            .lib-css(text-shadow, 0 0 1px @color-white);
        }

        .top {
            width: 80px;
            margin: 0 auto 5px;
        }

        .control {
            width: 120px;
            margin: 15px auto 0;
        }

        .button {
            width: 100%;
        }
    }
}

//
//  Tablet
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .category-view {
        .main-image {
            margin-right: 85px;
        }

        .description-block {
            max-width: 172px;
            padding-left: 0;
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .category-view {
        & {
            padding: 15px 20px 130px;
            margin-bottom: -82px;
        }

        .main-image {
            width: 247px;
            margin-right: 123px;
        }

        .description-block {
            max-width: 524px;
        }

        .title {
            .lib-font-size(40);
        }

        .top {
            width: 100%;
            margin: 15px auto 12px;
        }

        .top.-crossed {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            .digidirect-lib-box-align(center);
        }

        .top .image {
            width: 153px;
            margin: 0 14px;
        }

        .control {
            width: 218px;
            margin-top: 23px;
        }

        .button {
            .lib-font-size(16);
            padding: 16px 15px;
        }

        .top {
            &::before,
            &::after {
                content: '';
                .lib-css(background-color, @color-white);
                width: 32%;
                height: 1px;
                opacity: .4;
            }
        }
    }
}