//
//  CMS block
//  _____________________________________________

.cms-navigation (
    @_cms-block__padding: @nav-cms-block__padding;
    @_cms-block__margin: @nav-cms-block__margin;
    @_cms-block__text-transform: @nav-cms-block__text-transform;
    @_cms-block__background: @nav-cms-block__background;
    @_cms-block__color: @nav-cms-block__color;
) {
    .lib-css(padding, @_cms-block__padding);
    .lib-css(margin, @_cms-block__margin);
    .lib-css(text-transform, @_cms-block__text-transform);
    .lib-css(background, @_cms-block__background);
    .lib-css(color, @_cms-block__color);
}

//
//  Horizontal
//  _____________________________________________

.horizontal-sub-menu(
    @_submenu__background-color: @main-horizontal-submenu-desktop__background;
    @_submenu__border-width: @main-horizontal-submenu-desktop__border-width;
    @_submenu__border-style: @main-horizontal-submenu-desktop__border-style;
    @_submenu__border-color: @main-horizontal-submenu-desktop__border-color;
    @_submenu__box-shadow: @main-horizontal-submenu-desktop__box-shadow;
    @_submenu__font-size: @main-horizontal-submenu-desktop__font-size;
    @_submenu__font-weight: @main-horizontal-submenu-desktop__font-weight;
    @_submenu__min-width: @main-horizontal-submenu-desktop__min-width;
    @_submenu__padding: @main-horizontal-submenu-desktop__padding;
    @_submenu__white-space: @main-horizontal-submenu-desktop__white-space;
    @_submenu__inner__top: @main-horizontal-submenu-desktop__inner__top;
    @_submenu__z-index: @main-horizontal-submenu-desktop__z-index;
    @_submenu__display: @main-horizontal-submenu-desktop__display;
    @_submenu__left: @main-horizontal-submenu-desktop__left;
    @_submenu__top: @main-horizontal-submenu-desktop__top;
    @_submenu__open__left: @main-horizontal-submenu-desktop__open__left;
    @_submenu-item__padding: @main-horizontal-submenu-desktop-item__padding;
    @_submenu-item__color: @main-horizontal-submenu-desktop-item__color;
    @_submenu-item__text-decoration: @main-horizontal-submenu-desktop-item__text-decoration;
    @_submenu-item__hover__background-color: @main-horizontal-submenu-desktop-item__hover__background;
    @_submenu-item__hover__color: @main-horizontal-submenu-desktop-item__hover__color;
    @_submenu-item__hover__text-decoration: @main-horizontal-submenu-desktop-item__hover__text-decoration;
    @_submenu-item__active__border-color: @main-horizontal-submenu-desktop-item__active__border-color;
    @_submenu-item__active__border-style: @main-horizontal-submenu-desktop-item__active__border-style;
    @_submenu-item__active__border-width: @main-horizontal-submenu-desktop-item__active__border-width;
    @_submenu-item__active__text-decoration: @main-horizontal-submenu-desktop-item__active__text-decoration;
    @_submenu-nesting__open__left: @main-horizontal-submenu-nesting-desktop__open__left
) {
    .sub-menu {
        .lib-css(top, @_submenu__top);
        .lib-css(left, @_submenu__left);
        .lib-css(z-index, @_submenu__z-index);
        .lib-css(display, @_submenu__display);
        .lib-css(min-width, @_submenu__min-width);
        .lib-css(padding, @_submenu__padding);
        .lib-css(border-width, @_submenu__border-width);
        .lib-css(border-style, @_submenu__border-style);
        .lib-css(border-color, @_submenu__border-color);
        .lib-css(box-shadow, @_submenu__box-shadow);
        .lib-css(font-size, @_submenu__font-size);
        .lib-css(font-weight, @_submenu__font-weight);
        .lib-css(white-space, @_submenu__white-space);
        .lib-css(background-color, @_submenu__background-color);
    }

    .sub-menu.-open {
        position: absolute;
        .lib-css(left, @_submenu__open__left);
    }

    .sub-menu.-open:not(.-level1) {
        .lib-css(top, @_submenu__inner__top);
        .lib-css(left, @_submenu-nesting__open__left);
    }

    .sub-menu .item {
        position: relative;
        box-sizing: border-box;

        &:hover {
            .lib-css(background-color, @_submenu-item__hover__background-color);
        }
    }

    .sub-menu .item > .link {
        .lib-css(padding, @_submenu-item__padding);
        .lib-css(color, @_submenu-item__color);
        .lib-css(text-decoration, @_submenu-item__text-decoration);

        &::after {
            content: '';
        }
    }

    .sub-menu .item:hover > .link {
        .lib-css(color, @_submenu-item__hover__color);
        .lib-css(text-decoration, @_submenu-item__hover__text-decoration);
    }

    .sub-menu .item.-active > .link {
        .lib-css(text-decoration, @_submenu-item__active__text-decoration);
        .lib-css(border-color, @_submenu-item__active__border-color);
        .lib-css(border-style, @_submenu-item__active__border-style);
        .lib-css(border-width, @_submenu-item__active__border-width);
    }
}

.digidirect-navigation-main-horizontal-desktop (
    @_nav__padding: @main-nav-horizontal-desktop__padding;
    @_nav__background-color: @main-nav-horizontal-desktop__background-color;
    @_nav-level0__font-size: @main-nav-horizontal-desktop-level0-item__font-size;
    @_nav-level0__font-weight: @main-nav-horizontal-desktop-level0-item__font-weight;
    @_nav-level0-item__line-height: @main-nav-horizontal-desktop-level0-item__line-height;
    @_nav-level0-item__margin: @main-nav-horizontal-desktop-level0-item__margin;
    @_nav-level0-item__padding: @main-nav-horizontal-desktop-level0-item__padding;
    @_nav-level0-item__color: @main-nav-horizontal-desktop-level0-item__color;
    @_nav-level0-item__text-transform: @main-nav-horizontal-desktop-level0-item__text-transform;
    @_nav-level0-item__text-decoration: @main-nav-horizontal-desktop-level0-item__text-decoration;
    @_nav-level0-item__hover__text-decoration: @main-nav-horizontal-desktop-level0-item__hover__text-decoration;
    @_nav-level0-item__hover__color: @main-nav-horizontal-desktop-item__hover__color;
    @_nav-level0-item__active__border-color: @main-nav-horizontal-desktop-level0-item__active__border-color;
    @_nav-level0-item__active__border-style: @main-nav-horizontal-desktop-level0-item__active__border-style;
    @_nav-level0-item__active__border-width: @main-nav-horizontal-desktop-level0-item__active__border-width
) {
    & {
        width: auto;
        .lib-css(padding, @_nav__padding);
        .lib-css(background-color, @_nav__background-color);
    }

    & > .item {
        position: relative;
        display: inline-block;
        .lib-css(margin, @_nav-level0-item__margin);
    }

    & > .item > .link {
        .lib-css(padding, @_nav-level0-item__padding);
        .lib-css(line-height, @_nav-level0-item__line-height);
        .lib-css(text-decoration, @_nav-level0-item__text-decoration);
        .lib-css(font-weight, @_nav-level0__font-weight);
        .lib-css(font-size, @_nav-level0__font-size);
        .lib-css(color, @_nav-level0-item__color);
        .lib-css(text-transform, @_nav-level0-item__text-transform);
        cursor: pointer;

        &:hover {
            .lib-css(color, @_nav-level0-item__hover__color);
            .lib-css(text-decoration, @_nav-level0-item__hover__text-decoration);
        }

        &::after {
            content: '';
        }
    }

    & > .item.-active > .link {
        .lib-css(border-color, @_nav-level0-item__active__border-color);
        .lib-css(border-width, @_nav-level0-item__active__border-width);
        .lib-css(border-style, @_nav-level0-item__active__border-style);
    }

    .horizontal-sub-menu();
}

//
//  Vertical Expanded
//  _____________________________________________

.digidirect-navigation-main-vertical-expanded-desktop (
    @_nav__background-color: @main-nav-vertical-expanded__background-color;
    @_nav-level0-item__padding: @main-nav-vertical-expanded-level0-item__padding;
    @_nav-level0-item__color: @main-nav-vertical-expanded-level0-item__color;
    @_nav-level0-item__text-decoration: @main-nav-vertical-expanded-level0-item__text-decoration;
    @_nav-level0-item__border-color: @main-nav-vertical-expanded-level0-item__border-color;
    @_nav-level0-item__border-style: @main-nav-vertical-expanded-level0-item__border-style;
    @_nav-level0-item__border-width: @main-nav-vertical-expanded-level0-item__border-width;
    @_nav-level0-item__font-weight: @main-nav-vertical-expanded-level0-item__font-weight;
    @_nav-level0-item__font-size: @main-nav-vertical-expanded-level0-item__font-size;
    @_nav-level0-item__text-transform: @main-nav-vertical-expanded-level0-item__text-transform;
    @_submenu__border-color: @main-nav-vertical-expanded-submenu__border-color;
    @_submenu-item__active__border-width: @main-nav-vertical-expanded-submenu-item__active__border-width;
    @_submenu-item__active__border-color: @main-nav-vertical-expanded-submenu-item__active__border-color;
    @_submenu-item__active__border-style: @main-nav-vertical-expanded-submenu-item__active__border-style;
    @_submenu__padding: @main-nav-vertical-expanded-submenu__padding
) {
    & {
        .lib-css(background-color, @_nav__background-color);
    }

    .item {
        position: static;
        .lib-css(border-style, @_nav-level0-item__border-style);
        .lib-css(border-width, @_nav-level0-item__border-width);
        .lib-css(border-color, @_submenu__border-color);
        cursor: pointer;
    }

    .item > .link {
        .lib-css(padding, @_nav-level0-item__padding);
        .lib-css(font-size, @_nav-level0-item__font-size);
        .lib-css(text-decoration, @_nav-level0-item__text-decoration);
        word-wrap: break-word;
        .lib-css(color, @_nav-level0-item__color);
    }

    > .item > .link {
        .lib-css(font-weight, @_nav-level0-item__font-weight);
        .lib-css(text-transform, @_nav-level0-item__text-transform);
    }

    .sub-menu {
        .lib-css(padding, @_submenu__padding);
    }

    .sub-menu .item.-active > .link {
        .lib-css(border-color, @_submenu-item__active__border-color);
        .lib-css(border-style, @_submenu-item__active__border-style);
        .lib-css(border-width, @_submenu-item__active__border-width);
    }
}

//
//  Vertical normal
//  _____________________________________________

.digidirect-navigation-main-vertical-desktop (
    @_nav__background-color: @main-nav-vertical__background-color;
    @_nav__width: @main-nav-vertical__width;
    @_nav-item-level0__font-weight: @main-nav-vertical-item-level0__font-weight;
    @_nav-item-level0__text-transform: @main-nav-vertical-item-level0__text-transform;
    @_nav-item-level0__hover__color: @main-nav-vertical-item-level0__hover__color;
    @_nav-item-level0__hover__text-decoration: @main-nav-vertical-item-level0__hover__text-decoration;
    @_nav-level0-item__active__border-color: @main-nav-vertical-item-level0__active__border-color;
    @_nav-level0-item__active__border-style: @main-nav-vertical-item-level0__active__border-style;
    @_nav-level0-item__active__border-width: @main-nav-vertical-item-level0__active__border-width;
    @_nav-item__padding: @main-nav-vertical-item__padding;
    @_nav-item__font-size: @main-nav-vertical-item__font-size;
    @_nav-item__text-decoration: @main-nav-vertical-item__text-decoration;
    @_nav-item__color: @main-nav-vertical-item__color;
    @_sub-menu__background-color: @main-nav-vertical-sub-menu__background-color;
    @_sub-menu__border-style: @main-nav-vertical-sub-menu__border-style;
    @_sub-menu__border-width: @main-nav-vertical-sub-menu__border-width;
    @_sub-menu__border-color: @main-nav-vertical-sub-menu__border-color;
    @_sub-menu_inner__top: @main-nav-vertical-sub-menu-inner__top;
    @_sub-menu__z-index: @main-nav-vertical-sub-menu__z-index;
    @_sub-menu__min-width: @main-nav-vertical-sub-menu__min-width;
    @_sub-menu-item__hover__background: @main-nav-vertical-sub-menu__hover__background;
    @_sub-menu-item__active__border-width: @main-nav-vertical-sub-menu__active__border-width;
    @_sub-menu-item__active__border-color: @main-nav-vertical-sub-menu__active__border-color;
    @_sub-menu-item__active__border-style: @main-nav-vertical-sub-menu__active__border-style;
    @_sub-menu-pseudo-side: 35px
) {
    & {
        list-style: none;
        cursor: default;
        .lib-css(margin, 0);
        .lib-css(padding, 0);
        .lib-css(background-color, @_nav__background-color);
        .lib-css(width, @_nav__width);
    }

    .item {
        position: relative;
        .lib-css(margin, 0);
        .lib-css(padding, 0);
    }

    .item > .link {
        display: block;
        .lib-css(padding, @_nav-item__padding);
        .lib-css(font-size, @_nav-item__font-size);
        .lib-css(text-decoration, @_nav-item__text-decoration);
        word-wrap: break-word;
        .lib-css(color, @_nav-item__color);
    }

    & > .item.-active > .link {
        .lib-css(border-color, @_nav-level0-item__active__border-color);
        .lib-css(border-width, @_nav-level0-item__active__border-width);
        .lib-css(border-style, @_nav-level0-item__active__border-style);
    }

    > .item > .link {
        .lib-css(font-weight, @_nav-item-level0__font-weight);
        .lib-css(text-transform, @_nav-item-level0__text-transform);

        &:hover {
            .lib-css(color, @_nav-item-level0__hover__color);
            .lib-css(text-decoration, @_nav-item-level0__hover__text-decoration);
        }
    }

    .sub-menu {
        .lib-css(background-color, @_sub-menu__background-color);
        .lib-css(border-color, @_sub-menu__border-color);
        .lib-css(border-style, @_sub-menu__border-style);
        .lib-css(border-width, @_sub-menu__border-width);
        .lib-css(top, @_sub-menu_inner__top);
        .lib-css(z-index, @_sub-menu__z-index);
        .lib-css(min-width, @_sub-menu__min-width);
    }

    .sub-menu > .cms {
        .cms-navigation();
    }

    .sub-menu .item:hover {
        .lib-css(background-color, @_sub-menu-item__hover__background);
    }

    .sub-menu .item.-active > .link {
        .lib-css(border-color, @_sub-menu-item__active__border-color);
        .lib-css(border-style, @_sub-menu-item__active__border-style);
        .lib-css(border-width, @_sub-menu-item__active__border-width);
    }

    .sub-menu.-open:not(.-level1) {
        &::before,
        &::after {
            position: absolute;
            .lib-css(width, @_sub-menu-pseudo-side);
            .lib-css(height, @_sub-menu-pseudo-side);
            .lib-css(background, transparent);
            content: '';
        }

        &::before {
            .lib-css(top, -@_sub-menu-pseudo-side / 2);
            .lib-css(left, -@_sub-menu-pseudo-side / 2);
        }

        &::after {
            .lib-css(top, @_sub-menu-pseudo-side);
            .lib-css(left, -@_sub-menu-pseudo-side / 2);
        }
    }
}

.vertical-links-desktop(
    @_menu-item__active__color: @menu-item__active__color;
    @_menu-item__active__text-decoration: @menu-item__active__text-decoration;
) {
    & {
        .item.-active > .link {
            .lib-css(color, @_menu-item__active__color);
            .lib-css(text-decoration, @_menu-item__active__text-decoration);
        }

        .item.-active:hover > .link {
            .lib-css(text-decoration, @_menu-item__active__text-decoration);
        }
    }
}

.digidirect-navigation-main-horizontal-expanded() {
    & {
        .sub-menu.-level1,
        .sub-menu.-level2 {
            position: absolute;
        }

        .sub-menu {
            position: static;
        }
    }
}

//
//  Menu Item: Content
//  _____________________________________________

.navigation-content (
    @_content-block__position: @nav-content-block__position;
    @_content-block__min-width: @nav-content-block__min-width;
    @_content-block__max-width: @nav-content-block__max-width;
    @_content-block__margin: @nav-content-block__margin;
    @_content-block__padding: @nav-content-block__padding;
    @_content-block__color: @nav-content-block__color;
    @_content-block__background: @nav-content-block__background
) {
    .lib-css(position, @_content-block__position);
    .lib-css(min-width, @_content-block__min-width);
    .lib-css(max-width, @_content-block__max-width);
    .lib-css(margin, @_content-block__margin);
    .lib-css(padding, @_content-block__padding);
    .lib-css(color, @_content-block__color);
    .lib-css(background, @_content-block__background);
}
