body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body {
    color: #222;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

a {
    color: #1979c3;
    text-decoration: none;
}

button {
    background-image: none;
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    color: #222;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



.product-item-name {
    font-weight: 400;
}

.product-item-name>a {
    color: #222;
    text-decoration: none;
}

.header.content:before,
.header.content:after {
    content: '';
    display: table;
}

.header.content:after {
    clear: both;
}

.product-item {
    box-sizing: border-box;
}

.page-header .header.panel,
.header.content {
    padding-right: 5px;
    padding-left: 5px;
}

button {
    border-radius: 3px;
}

.ambanner-slider-wrap {
    position: relative;
    margin: 20px 0;
}

.ambanner-slider-wrap.-alignment-left {
    margin-right: auto;
}

.ambanner-slider-wrap.-alignment-center {
    margin-right: auto;
    margin-left: auto;
}

.ambanner-slider-block {
    overflow: hidden;
}

.ambanner-slider-block.-ambanner-preloader:not(.-ambanner-loaded) {
    position: relative;
    height: 30vh;
}

.ambanner-slider-block.-ambanner-preloader:not(.-ambanner-loaded):after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    background: #fff url('../Amasty_BannerSlider/images/loader.gif') center/80px no-repeat;
    content: '';
}

.ambanner-slider-block:not(.-ambanner-loaded) .ambanner-item-block:not(:first-of-type) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.ambanner-item-block {
    position: relative;
    overflow: hidden;
}

.ambanner-item-block>.ambanner-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.ambanner-image-block>.ambanner-image {
    display: block;
    width: 100%;
}

.product-item {
    font-size: 1.4rem;
    vertical-align: top;
}

.product-item:nth-child(2n+1) {
    margin-left: 0;
}

.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}

.product-item-info {
    max-width: 100%;
    width: 152px;
}

.product-item-actions {
    font-size: 0;
}

.product-item-actions>* {
    font-size: 1.4rem;
}

.product-item-actions .actions-primary {
    display: inline-block;
    vertical-align: middle;
}

.product-item .price-box {
    margin: 10px 0 25px;
}

.product-item .price-box .price {
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
}

.product-item .price-box .price-label {
    font-size: 12px;
}

.product-item .price-box .price-label:after {
    content: ':';
}

.product-item .special-price .price {
    font-size: 1.4rem;
    font-weight: 700;
}

.product-item .special-price .price-wrapper {
    display: inline-block;
    color: #ff3c00;
}

.product-item .special-price {
    display: inline-block;
    float: right;
}

.price-container .price {
    font-size: 1.4rem;
}

.product-image-container {
    display: inline-block;
    max-width: 100%;
}

.product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product-image-photo {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

body {
    background-color: #f5f5f5;
}

.page-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 20px;
}

.header.content {
    padding-top: 10px;
    position: relative;
}

.cookie-status-message {
    display: none;
}

.price-container.weee:before {
    display: none;
}

@media only screen and (max-width:767px) {
    .ambanner-slider-block {
        margin: 0 -20px;
    }

    .product-item .product-item-info {
        padding: 10px 10px 0 !important;
    }

    .page-header .header.panel,
    .header.content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header.content {
        padding-top: 0;
    }

    .product-image-container {
        height: auto !important;
    }

    .header.content {
        padding-top: 0;
        margin-bottom: 28px !important;
    }

    .side-product-widget-row .mgz-element-inner .inner-content {
        width: 450px !important;
    }

    .product-item {
        margin-bottom: 5px !important;
    }

    .page-header {
        margin-bottom: 0;
        border-bottom: none;
    }

    .panel.wrapper {
        padding: 0 15px;
    }

    .panel .header-links a {
        display: inline-block;
    }

    .panel.header .store-locator-link,
    .panel.header .call-us-link {
        display: unset;
    }

    .panel.header .call-us-link .company-number {
        display: inline-block;
    }

    .main-header-wrapper {
        padding: 15px !important;
    }

    .header-link-left {
        margin-left: 0 !important;
    }

    .header-link-right {
        margin-right: 15px !important;
    }

    .mgz-element-single_image {
        display: none;
    }

    .mgz-tabs-nav .mgz-tabs-tab-title {
        display: block !important;
    }

    .mgz-tabs-content {
        position: absolute;
        top: 0;
        left: 110px;
        background: #fff;
    }

    .nav-toggle svg {
        width: 20px;
        height: 20px;
    }

    .product-item .price-box .price-label:after {
        display: none;
    }

    .panel.header .qantas-link {
        display: none;
    }

    .ambanner-slider-container {
        padding: 0 !important;
    }

    .ambanner-slider-wrap.-alignment-left {
        margin-top: auto;
        margin-bottom: -20px;
    }

    .ambanner-slider-wrap {
        margin-top: unset !important;
    }
}

.page-wrapper {
    min-width: 375px;
    overflow: hidden;
}

body.cms-home {
    background: #fff;
}

button {
    font-family: 'Poppins',sans-serif;
}

@media only screen and (min-width:768px) and (max-width:1280px) {
    .product-item-name {
        flex: none !important;
        height: 52px !important;
        text-align: center !important;
    }

    .header.content {
        height: 155px;
    }
}

.price-container>.price-label {
    text-align: right;
}

.product-item .price-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
    min-height: 33px;
    border-bottom: none;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.product-item .price-box .price {
    line-height: 2.4rem;
}

.product-item .price-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-item .price-final_price {
    text-align: right;
}

.product-item .price-label {
    text-transform: uppercase;
}

.product-item-name {
    font-weight: 700;
    line-height: 20px;
}

.product-item .product-item-name a {
    width: 100%;
    overflow: hidden;
    line-height: 2rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.product-item-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    height: 100%;
}

.product-item-photo {
    position: relative;
    text-align: center;
    margin: -15px -15px 0;
    padding: 15px 15px 0;
}

.product-item-name {
    height: 52px;
    flex: 0 0 52px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: normal;
    z-index: 1;
    color: #313131;
    font-weight: 600;
    font-size: 14px !important;
}

.product-item-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: auto;
}

.product-item-inner {
    position: relative;
    margin-top: auto;
    margin-bottom: 10px;
}

.shop-by-interest-new-inner .mgz-tabs:not(.mgz-tabs-no-fill-content) .mgz-tabs-tab-content {
    border-left: 0 !important;
    border: 1px solid #e6e6e6 !important;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins',sans-serif;
    background-color: #fff !important;
}

.top-header-wrapper {
    background: #222;
    margin: 0 -9999rem;
    padding: 0 9999rem;
}

.panel.wrapper {
    display: flex;
    justify-content: space-between;
}

.panel.header {
    background: 0 0 !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 10px 0 !important;
    max-width: 1920px !important;
    margin: unset !important;
}

.panel.header span,
.panel.header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.panel.header .header-links a:after {
    content: "";
    padding: 0 10px;
}

.panel.header .header-links a:last-child:after {
    content: "";
    padding: 0 !important;
}

.panel.header .qantas-link {
    position: relative;
    padding-left: 65px;
}

.panel.header .qantas-link img {
    max-width: 62px;
    position: absolute;
    left: 0;
}

.panel.header:before,
.panel.header:after {
    display: none !important;
}

.header-links-account {
    margin-right: 0 !important;
}

.wrapper {
    border-bottom-color: #3c3c3c !important;
    padding: 0;
}

.main-header-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    justify-content: space-between;
    padding: 20px 30px;
    background: #fff;
}

@media screen and (min-width:768px) and (max-width:992px) {
    .panel.wrapper {
        padding: 0 15px;
    }

    .panel .header-links a {
        display: inline-block;
    }

    .panel.header .store-locator-link,
    .panel.header .call-us-link {
        display: unset;
    }

    .panel.header .call-us-link .company-number {
        display: inline-block;
    }
}

@media screen and (min-width:768px) and (max-width:1280px) {
    .mgz-element-single_image {
        display: none;
    }
}

.product-item .price-box .price {
    color: #ff3c00 !important;
}

.cart_plus_logo {
    float: right;
}

.ymal-button span {
    color: #ff3c00 !important;
    text-decoration: none !important;
}

button {
    background-image: none;
    background: #e65300;
    border: 2px solid transparent;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none !important;
    border-radius: 0;
}

button span {
    color: #fff !important;
    text-decoration: none !important;
}

.main-banner-wrapper .ambanner-slider-wrap {
    width: 1080px;
    height: 468px;
    margin-top: 0 !important;
}

.ymal-product-wrapper {
    display: grid;
    grid-template-columns: 230px 230px;
    column-gap: 12px;
}

.ymal-title {
    color: #ff3c00;
    font-size: 18px;
    font-weight: 650;
    margin-bottom: 10px;
}

.ymal-product-info {
    max-width: 200px;
}

.ymal-product-info.product-item-info {
    width: 220px !important;
    height: max-content;
    margin: 0 !important;
    border-radius: 5px;
    max-width: 300px !important;
}

.ymal-product.product-item.item {
    margin-bottom: 15px;
}

.ymal-item-photo.product-item-photo>.product-image-container {
    width: 60px !important;
    margin-top: 1px;
}

.ymal-item-photo.product-item-photo {
    padding: 0 !important;
}

.ymal-item-details.product-item-details {
    margin-top: -15px !important;
}

.ymal-item-details>.price-box {
    margin-top: -45px !important;
    margin-bottom: 0 !important;
    padding: 0;
}

.ymal-actions.actions-primary {
    width: 100% !important;
    text-align: center !important;
}

.ymal-actions>form>button {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    line-height: 1.6rem !important;
    padding: 3px !important;
    font-family: 'Poppins',sans-serif !important;
    border: 1px solid #ff3c00 !important;
    width: 90% !important;
    border-radius: 5px !important;
    background: #fff !important;
}

strong.ymal-item-name.product-item-name {
    font-size: 10px !important;
    font-weight: 500 !important;
}

.ymal-item-name>a {
    line-height: 1.2rem !important;
}

.ymal-item-details {
    min-height: 0 !important;
}

.ymal-item-details>.price-box>.current-price-wrapper>.special-price>.price-container>.price-wrapper>.price {
    font-size: 12px !important;
}

.right-side-banner-lower {
    margin-right: -30px;
    padding-top: 10px;
    margin-bottom: 0;
    padding-left: 35px;
}

.mgz-tabs .mgz-tabs-tab-content>.mgz-element>.mgz-element-inner {
    padding-top: 0 !important;
}

a.product-item-link {
    font-weight: 400;
}

.current-promotion-wrapper {
    margin-top: 30px !important;
}

svg.svg-icon.digidirectprice {
    display: none;
}

.current-price-wrapper {
    padding-right: 10px;
}

.current-promotion-wrapper-inner {
    width: 1465px !important;
}

.shop-by-interest-wrapper-inner {
    width: 1465px !important;
}

.product-tab-mobile-load-more.grid-toggle-more>div>p:after {
    font-family: "Font Awesome 5 Free";
    content: "\f103";
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px !important;
}

.shop-by-interest-new-inner {
    background: 0 0 !important;
    height: max-content;
}

.shop-by-interest-new-inner .mgz-tabs-nav>div>a {
    background: 0 0 !important;
    padding: 15px 5px !important;
    border: none !important;
}

.shop-by-interest-new-inner .mgz-tabs-nav {
    padding: 0 15px !important;
}

.shop-by-interest-new-inner .mgz-tabs-nav:before {
    content: 'Shop By Interest';
    display: inline-block;
    float: left;
    padding: 10px 0;
    font-size: 18px !important;
    font-weight: 650;
    color: #ff3c00;
}

.shop-by-interest-new-inner .mgz-tabs-content>.mgz-tabs-tab-content {
    border-radius: 0 !important;
    border: none !important;
    border: 2px solid #e6e6e6 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.shop-by-interest-new-inner .mgz-tabs-nav {
    background: #e6e6e6 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.shop-by-interest-new {
    margin-right: 20px !important;
    max-width: 890px !important;
}

.shop-by-interest-new-inner .mgz-tabs-nav>div>a {
    font-size: 13px;
    font-weight: 500;
}

.shop-by-interest-new-inner .mgz-tabs-nav>div>a:before {
    content: '|';
    margin-right: 15px;
    font-size: 13px;
    font-weight: 500;
}

.shop-by-interest-new-inner .mgz-tabs-nav>div:first-child>a:before {
    content: '';
}

.shop-by-interest-new-inner .mgz-tabs-nav .mgz-active>a {
    color: #ff3c00 !important;
}

.shop-by-interest-new-inner .mgz-tabs-nav .mgz-active>a:before {
    color: #666;
}

.panel.header .qantas-link img {
    min-width: 70px;
    position: absolute;
    margin-top: 1px !important;
    left: 0;
}

.simple-link {
    text-decoration: none !important;
    color: inherit !important;
}



.magezon-builder {
    z-index: 0 !important;
}

@charset "UTF-8";

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url('../webfonts/fa-solid-900.eot');
    src: url('../webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),url('../webfonts/fa-solid-900.woff2') format('woff2'),url('../webfonts/fa-solid-900.woff') format('woff'),url('../webfonts/fa-solid-900.ttf') format('truetype'),url('../webfonts/fa-solid-900.svg#fontawesome') format('svg');
}

.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../webfonts/fa-regular-400.eot');
    src: url('../webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),url('../webfonts/fa-regular-400.woff2') format('woff2'),url('../webfonts/fa-regular-400.woff') format('woff'),url('../webfonts/fa-regular-400.ttf') format('truetype'),url('../webfonts/fa-regular-400.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Magezon-Icons';
    src: url('../fonts/mgz_icons.eot?lbpphw');
    src: url('../css/fonts/mgz_icons.eot?lbpphw#iefix') format('embedded-opentype'),url('../fonts/mgz_icons.ttf?lbpphw') format('truetype'),url('../fonts/mgz_icons.woff?lbpphw') format('woff'),url('../fonts/mgz_icons.svg?lbpphw#mgz_icons') format('svg');
    font-weight: 400;
    font-style: normal;
}

[class*=mgz-col-] {
    width: 100%;
    float: left;
}

.mgz-col-md-3,
.mgz-col-md-4,
.mgz-col-md-6,
.mgz-col-md-8,
.mgz-col-md-9,
.mgz-col-xs-12,
.mgz-col-md-12 {
    position: relative;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mgz-col-xs-12 {
    float: left;
}

.mgz-col-xs-12 {
    width: 100%;
}

.mgz-container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width:575px) {
    .mgz-hidden-xs {
        display: none !important;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .mgz-hidden-sm {
        display: none !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .mgz-hidden-md {
        display: none !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .mgz-hidden-lg {
        display: none !important;
    }
}

@charset "UTF-8";

.mgz-element-row.mgz-row-equal-height>.mgz-element-inner,
.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content,
.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content>.mgz-element,
.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content>.mgz-element>.mgz-element-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tabs-opener:before {
    font-family: 'Magezon-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mgz-hover-main {
    overflow: hidden;
}

[class^=mgz-hover-],
[class^=mgz-hover-]:before,
[class^=mgz-hover-]:after {
    box-sizing: border-box;
}

.mgz-element-inner {
    height: 100%;
    position: relative;
}

.mgz-element-inner:before,
.mgz-element-inner:after {
    content: " ";
    display: table;
    clear: both;
}

.inner-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.inner-content:before,
.inner-content:after {
    content: " ";
    display: table;
    clear: both;
}

.magezon-builder-preload .mgz-element {
    z-index: 0;
}

.mgz-child:not(:last-child)>.mgz-element-inner {
    margin-bottom: 15px;
}

.mgz-element {
    position: relative;
    text-align: left;
}

.mgz-element:before,
.mgz-element:after {
    content: " ";
    display: table;
    clear: both;
}

.mgz-element p:last-child {
    margin-bottom: 0;
}

.mgz-parallax,
.mgz-parallax-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mgz-parallax {
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.mgz-parallax .mgz-parallax-inner {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content:before,
.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content:after {
    display: none;
}

.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content>.mgz-element {
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

.mgz-element-row.mgz-row-equal-height>.mgz-element-inner>.inner-content>.mgz-element>.mgz-element-inner {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.mgz-element-row.content-top>.mgz-element-inner>.inner-content>.mgz-element>.mgz-element-inner {
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

.mgz-element-column>.mgz-element-inner {
    padding: 10px;
}

.mgz-element-column.mgz-element-column-empty>.mgz-element-inner {
    padding: 0;
    margin: 0;
}

.mgz-tabs:before,
.mgz-tabs-nav:before,
.mgz-tabs-content:before,
.mgz-tabs:after,
.mgz-tabs-nav:after,
.mgz-tabs-content:after {
    content: " ";
    display: table;
    clear: both;
}

.mgz-tabs-nav>.mgz-tabs-tab-title>a {
    color: #666;
}

.mgz-tabs-nav>.mgz-tabs-tab-title:not(.mgz-active)>a {
    background: #ebebeb;
}

.mgz-tabs-nav>.mgz-tabs-tab-title:first-child>a {
    margin-top: 0 !important;
}

.mgz-tabs-nav>.mgz-tabs-tab-title.mgz-active>a {
    background: #f8f8f8;
}

.mgz-tabs {
    color: #333;
}

.mgz-tabs .mgz-tabs-tab-title>a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 14px 20px;
    display: block;
    position: relative;
    z-index: 1;
    border: 1px solid #e3e3e3;
}

.mgz-tabs .mgz-tabs-tab-content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
}

.mgz-tabs .mgz-tabs-tab-content.mgz-active {
    display: block;
}

.mgz-tabs .mgz-tabs-tab-content>.mgz-element>.mgz-element-inner {
    margin-bottom: 0;
}

.mgz-tabs:not(.mgz-tabs-no-fill-content) .mgz-tabs-tab-content {
    border: 1px solid #e3e3e3;
    background: #f8f8f8;
    margin-top: -1px;
}

.mgz-element-tab-position-top.mgz-tabs {
    flex-direction: column;
}

.mgz-element-tab-position-top.mgz-tabs>.mgz-tabs-nav>.mgz-tabs-tab-title>a {
    margin-right: 5px;
}

.mgz-element-tab-position-top.mgz-tabs>.mgz-tabs-nav>.mgz-tabs-tab-title:last-child {
    margin-right: 0;
}

.tabs-opener {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    display: none;
}

.tabs-opener:before {
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    content: '\e624';
}

@media (max-width:767px) {
    .mgz-tabs-nav .mgz-tabs-tab-title {
        display: inline-block;
    }

    .mgz-tabs:not(.mgz-tabs-no-fill-content)[data-gap="0"]>.mgz-tabs-content>.mgz-tabs-tab-content.mgz-active {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .mgz-tabs:not(.mgz-tabs-no-fill-content)[data-gap="0"]>.mgz-tabs-content>.mgz-tabs-tab-content.mgz-active {
        border-top-color: transparent;
    }

    .mgz-tabs .mgz-tabs-content>.mgz-tabs-tab-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.mgz-element-text p:first-child {
    margin-top: 0;
}

.mgz-element-text p:last-child {
    margin-bottom: 0;
}

.mgz-element-single_image .mgz-element-inner {
    font-size: 0;
}

.mgz-single-image-wrapper {
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    font-size: 1.4rem;
    position: relative;
}

.mgz-single-image-wrapper a {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    display: block;
}

.mgz-single-image-wrapper img {
    border-color: #ebebeb;
}



.page-layout-1column {
    overflow-x: hidden;
}

.magezon-builder {
    position: relative;
    z-index: 2;
}

.magezon-builder:before,
.magezon-builder:after {
    content: " ";
    display: table;
    clear: both;
}

.magezon-builder * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.magezon-builder img {
    max-width: 100%;
}

.magezon-builder p {
    margin-top: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

@charset "UTF-8";

@media only screen and (min-width:768px) and (max-width:1280px) {
    .product-item-name {
        flex: none !important;
        height: 52px !important;
        text-align: center !important;
    }

    .header.content {
        height: 155px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .panel.wrapper {
        padding: 0 15px;
    }

    .panel .header-links a {
        display: inline-block;
    }

    .panel.header .store-locator-link,
    .panel.header .call-us-link {
        display: unset;
    }

    .panel.header .call-us-link .company-number {
        display: inline-block;
    }
}

@media screen and (min-width:768px) and (max-width:1280px) {
    .mgz-element-single_image {
        display: none;
    }
}

.ymal-button span {
    color: #ff3c00 !important;
    text-decoration: none !important;
}

button {
    background-image: none;
    background: #e65300;
    border: 2px solid transparent;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none !important;
    border-radius: 0;
}

button span {
    color: #fff !important;
    text-decoration: none !important;
}

.simple-link {
    text-decoration: none !important;
    color: inherit !important;
}



.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-bolt:before {
    content: "\f0e7";
}

.fa-cart-plus:before {
    content: "\f217";
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(../webfonts/fa-regular-400.eot);
    src: url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-regular-400.woff2) format("woff2"),url(../webfonts/fa-regular-400.woff) format("woff"),url(../webfonts/fa-regular-400.ttf) format("truetype"),url(../webfonts/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url(../webfonts/fa-solid-900.eot);
    src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg");
}

.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
