<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Indexer\Model\Indexer">
        <plugin name="digidirect_magentofixes_indexer_model_plugin"
                type="Digidirect\MagentoFixes\Preference\Magento\Indexer\Plugin\Model\Indexer"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Indexer\Model\Indexer\State">
        <plugin name="digidirect_magentofixes_indexer_model_indexer_state_plugin"
                type="Digidirect\MagentoFixes\Preference\Magento\Indexer\Plugin\Model\Indexer\State"
                sortOrder="100" disabled="false"/>
    </type>

    <preference for="Magento\Swatches\Block\Product\Renderer\Configurable"
                type="Digidirect\MagentoFixes\Preference\Magento\Swatches\Block\Product\Renderer\Configurable" />

    <preference for="Magento\Customer\Model\Indexer\Source"
                type="Digidirect\MagentoFixes\Preference\Magento\Customer\Model\Indexer\Source" />

    <type name="Digidirect\Utilities\Plugin\Magento\Framework\Config\Dom\UrnResolver">
        <arguments>
            <argument name="overwrittenSchemas" xsi:type="array">
                <item name="urn:magento:framework:View/Layout/etc/elements.xsd" xsi:type="string">urn:digidirect:module:Digidirect_MagentoFixes:etc/layout_merged.xsd</item>
                <item name="urn:magento:framework:View/Layout/etc/layout_merged.xsd" xsi:type="string">urn:digidirect:module:Digidirect_MagentoFixes:etc/layout_merged.xsd</item>
                <item name="urn:magento:framework:View/Layout/etc/layout_generic.xsd" xsi:type="string">urn:digidirect:module:Digidirect_MagentoFixes:etc/layout_generic.xsd</item>
                <item name="urn:magento:framework:View/Layout/etc/page_layout.xsd" xsi:type="string">urn:digidirect:module:Digidirect_MagentoFixes:etc/page_layout.xsd</item>
                <item name="urn:magento:framework:View/Layout/etc/body.xsd" xsi:type="string">urn:digidirect:module:Digidirect_MagentoFixes:etc/body.xsd</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Api\DataObjectHelper">
        <plugin name="digidirect_magentofixes_is12655_plugin"
                type="Digidirect\MagentoFixes\Plugin\Framework\Api\DataObjectHelper"
                sortOrder="100"
                disabled="false"/>
    </type>

    <preference for="Magento\Framework\App\Filesystem\DirectoryResolver"
                type="Digidirect\MagentoFixes\App\Filesystem\DirectoryResolver"/>

    <type name="Magento\Sales\Model\Order">
        <plugin name="express_order_invoice" type="Digidirect\MagentoFixes\Plugin\OrderCanInvoice"/>
    </type>
    <type name="Magento\Sales\Model\Order\Validation\CanInvoice">
        <plugin name="express_order_invoice" type="Digidirect\MagentoFixes\Plugin\ValidatorCanInvoice"/>
    </type>
    <preference for="Magento\Paypal\Model\Express"
                type="Digidirect\MagentoFixes\Model\Express"/>
    <preference for="Magento\Paypal\Model\Ipn"
                type="Digidirect\MagentoFixes\Preference\Magento\Paypal\Model\Ipn"/>
    <preference for="Magento\Paypal\Model\Pro"
                type="Digidirect\MagentoFixes\Preference\Magento\Paypal\Model\Pro"/>
</config>
