.customer-address-form {
    .form-address-edit {
        max-width: 800px;
    }

    fieldset .legend {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .label span {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #545456;
    }

    .input-text:focus {
        border-color: #ff6600;
        outline: none;
    }

    .name-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .field._required > .label:after {
        content: '*';
        color: #e02b27;
        font-size: 1.2rem;
        margin: 0 0 0 5px;
    }

    .field.-half {
        width: 48%;
        vertical-align: top;
        //padding-right: 20px;
    }

    .field.-half:first-child {
        margin-right: 4%;
    }

    .fieldset {
        margin-bottom: 20px !important;
    }

    .fieldset > .field:not(.choice) > .label {
        text-align: left !important;
        float: unset !important;
        width: 30% !important;
    }


    .field.choice {
        margin: 20px 0;
    }

    .field.choice label {
        margin-left: 8px;
        font-weight: 500;
        font-size: 14px;
    }

    .field.company {
        padding-top: 10px;
    }

    .address-raw {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 29px;
    }

    .country-raw {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 29px;
    }

    .field.telephone {
        width: 48% !important;
    }

    .field.-region {
        margin-left: 30px !important;
    }

    .fieldset .field:not(.choice) > .control input[type="text"] {
        background: @color-white !important;
       // width: 96% !important;
    }

    .fieldset .field:not(.choice) > .control {
        width: auto !important;
        float: unset !important;
    }

    .field .control {
        margin-top: 15px;
    }

    .fieldset > .field.choice:before {
        width: auto !important;
        padding: 15px 0 5px 0 !important;
    }

    .actions-toolbar {
        justify-content: left !important;
    }

    /*.action.submit {
        margin-right: 0;
        background-color: @color-orange;
        color: @color-white;
        font-size: 16px;
        padding: 11px 30px;
        border-radius: 32px;
        width: 100%;
        border: none;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease;
        text-transform: lowercase;

        &:first-letter {
            text-transform: uppercase;
        }
    }*/

   /* .action.save:hover {
        background-color: #e85c00;
    }*/

    @media screen and (max-width: 768px) {
        .field.-half {
            display: block;
            width: 100%;
            margin-right: 0 !important;
            margin-bottom: 16px;
        }

        .action.save {
            width: 100%;
            padding: 14px;
            font-size: 16px;
        }
    }
}

.customer-address-index {
   .actions-toolbar {
        justify-content: left !important;

       /*  .action.add {
            margin-right: 0;
            background-color: @color-orange;
            color: @color-white;
            font-size: 16px;
            padding: 11px 30px;
            border-radius: 32px;
            width: 100%;
            border: none;
            font-weight: 600;
            cursor: pointer;
            transition: background 0.3s ease;
            text-transform: uppercase;
        }*/
    }
}

@media (max-width: 768px) {
    .customer-address-form .field.-half {
        margin-bottom: 0 !important;
    }

}

.account .message.message {
    margin: unset !important;
    margin-top: 20px !important;
}
