.message.info {
    background: #FFE0DD !important;
    border-radius: 100px;
    color: #1D1D1F;
    margin-top: 20px;
}

.message.info > *:first-child:before {
    color: #242426;
    font-size: 48px;
    position: unset;
}
