.customer-account-create {
    .account-create-block {
        padding: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        background-color: #ffffff;
        display: flex;
        width: 85%;
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;

        .block-title {
            h3 {
                font-size: 20px;
                font-family: "Inter";
                font-weight: 500;
                color: #000000;
                text-align: center;
            }
        }
    }

    .form-create-account {
        padding: 15px 35px;
        background: #f5f5f7;
        border-radius: 10px;

        .title-form {
            text-align: center;
            font-size: 28px;
            font-weight: 500;
            float: none;
            margin-bottom: 0;
        }

        .actions-toolbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 24px 0;

            .primary {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            button.primary {
                margin-right: 0;
                // background-color: #fe4c25;
                color: #ffffff;
                font-size: 16px;
                padding: 10px 25px;
                border-radius: 32px;
                width: 100%;
                max-width: 187px;
                border: none;
            }
        }

        .terms-conditions {
            text-align: center;
            padding: 20px 75px;
            color: #626262;
            font-size: 11px;
            font-weight: 400;
            padding-top: 0;

            a {
                color: #626262;
                text-decoration: underline;
            }
        }
    }

    .form.create.account {
        min-width: 0;
        width: 100%;
    }

    .fieldset {
        margin-bottom: 0;
        .legend {
            margin-left: 0;
        }
    }

    .name-container .label {
        display: none;
    }

    .fieldset .field {
        margin-bottom: 15px;
    }
}
//back
.back-button {
    display: flex;
    width: 85%;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 11px 0;

    .back {
        color: #ffffff;
        font-size: 16px;
        font-family: "Inter";
        font-weight: 500;
        line-height: 30px;
        display: inline-block;
        position: relative;
        padding-left: 16px;
        cursor: pointer;

        &::before {
            content: "";
            border: 2px solid #ffffff;
            border-top: 0;
            border-right: 0;
            margin-right: 5px;
            transform: rotate(45deg);
            font-size: 16px;
            font-family: "Inter";
            font-weight: 500;
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            left: 0;
            top: 11px;
        }
    }
}
