a:visited, .alink:visited, a, .alink {
    color: @color-black-1;
}

.message.info {
    background-color: #FFE0DD !important;
    border-radius: 100px;
    color: #1D1D1F;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-family: sans-serif;
    height: 70px;
    justify-content: center;
}

.message.info > *:first-child:before {
    color: #242426;
    font-size: 68px;
    position: unset;
    display: inline;
}

.pages a.page {
    color: #1D1D1F;
}

select {
    height: 42px !important;
    border-radius: 5px !important;
    //color: #AEAEB2;
}


@media (max-width: 768px) {
    .account-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        //height: calc(100% - 60px);
        height: auto ;
        bottom: 60px;
        background: #fff;
        color: #333;
        z-index: 2000;
        display: none;
        flex-direction: column;
        overflow-y: auto;
        animation: fadeIn 0.3s ease;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .account-popup.active {
        display: flex;
    }

    .account-popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .account-popup-header .signout {
        color: #999;
    }

    .account-popup-header .close-popup {
        background: none;
        border: none;
        font-size: 28px;
        color: #000;
    }

    .account-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .account-menu li {
        border-bottom: 1px solid #f0f0f0;
    }

    .account-menu a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px;
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }

    .account-menu a:hover {
        background: #f9f9f9;
    }

    .icon-account,
    .icon-profile,
    .icon-address,
    .icon-review,
    .icon-wishlist,
    .icon-orders,
    .icon-gift,
    .icon-newsletter,
    .icon-company,
    .icon-club {
        width: 20px;
        height: 20px;
        background-color: #ff4400;
        border-radius: 50%;
        display: inline-block;
    }

    #mobile-account-popup .block-collapsible-nav {
         top: 68px !important;
    }

    .account {
        #maincontent {
            padding-left: 20px;
        }

        .sidebar-main {
            display: none;
        }
    }


}
