a:visited, .alink:visited, a, .alink {
    color: @color-black-1;
}

.message.info {
    background-color: #FFE0DD !important;
    border-radius: 100px;
    color: #1D1D1F;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-family: sans-serif;
    height: 70px;
    justify-content: center;
}

.message.info > *:first-child:before {
    color: #242426;
    font-size: 68px;
    position: unset;
    display: inline;
}

.pages a.page {
    color: #1D1D1F;
}

select {
    height: 42px !important;
    border-radius: 5px !important;
}
@media (min-width: 768px) {
    .account-popup-header-in-pages {
        display: none;
    }
}

@media (max-width: 768px) {
    .account-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        //height: calc(100% - 60px);
        height: auto ;
        bottom: 60px;
        background: #fff;
        color: #333;
        z-index: 2000;
        display: none;
        flex-direction: column;
        overflow-y: auto;
        animation: fadeIn 0.3s ease;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .account-popup.active {
        display: flex;
    }

    .account-popup-header, .account-popup-header-in-pages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .account-popup-header-in-pages {
        padding: 50px 20px 0 20px !important;
    }

    .account-popup-header .signout, .account-popup-header-in-pages .signout {
        color: #7C7C80;
        font-size: 14px;
        font-weight: 590;
        letter-spacing: 0.2px;
        padding-top: 8px;
    }

    .account-popup-header .close-popup, .account-popup-header-in-pages .close-popup {
        background: none;
        border: none;
        font-size: 40px;
        color: #000;
        font-weight: 100;
    }

    .account .block-collapsible-nav .nav.item a {
        font-size: 18px;
    }

    .block-collapsible-nav .content {
        border-bottom: none !important;
    }

    #mobile-account-popup .block-collapsible-nav {
         top: 68px !important;
    }

    .account {
        .page-main {
            padding-top: 10px;
        }

        #maincontent {
            padding-left: 20px;
        }

        .sidebar-main,
        .panel.wrapper,
        .header.content,
        .header-placeholder,
        div.ruby-menu-demo-header,
        nav.footer-nav,
        .footer-line{
            display: none !important;
        }

        .page-header {
            border-bottom: none;
            margin-bottom: 0;
        }

        .page-title-wrapper span.base {
            font-size: 18px;
        }

        footer.page-footer {
            background-color: unset;
        }

    }

}
