.customer-account-forgotpassword {
    .forgot-pw-block {
        padding: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        background-color: #ffffff;
        width: 85%;
        margin: 0 auto;
        max-width: 500px;
        height: 560px;
        text-align: center;

        .form.password-forget {
            background: @color-light-grey;
            display: flex;
            padding: 35px;
            align-items: center;
            border-radius: 10px;
            justify-content: center;
            height: 100%;
            flex-direction: column;

            > .fieldset {
                margin-bottom: 0;
            }
        }

        .block-title {
            h3 {
                font-size: 20px;
                font-family: "Inter";
                font-weight: 500;
                color: #000000;
                text-align: center;
            }
        }
    }

    // .back-button {
    //     display: flex;
    //     width: 85%;
    //     flex-direction: column;
    //     margin: 0 auto;
    //     max-width: 500px;
    //     padding: 11px 0;

    //     .back {
    //         color: #ffffff;
    //         font-size: 16px;
    //         font-family: "Inter";
    //         font-weight: 500;
    //         line-height: 30px;
    //         display: inline-block;

    //         &::before {
    //             content: "<";
    //             margin-right: 5px;
    //             font-size: 16px;
    //             font-family: "Inter";
    //             font-weight: 500;
    //         }
    //     }
    // }
    .actions-toolbar {
        display: flex;
        justify-content: center;
    }
}
