.giftcard-account {
    .fieldset {
        margin: unset !important;
    }
    .fieldset > .field:not(.choice) > .label {
        text-align: left !important;
        padding-bottom: 15px;
    }

    .fieldset > .field:not(.choice) > .label {
        width: 100% !important
    }

    .wrap-content {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }


    .field.giftcard {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .field.giftcard .label {
        margin-bottom: 5px;
    }

    .control {
        display: flex;
        flex-direction: column;
    }

    .giftcard-balance-lookup {
        padding-top: 20px;
    }

    .input-text {
        width: 500px !important;
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .actions-toolbar {
        display: flex;
        padding-left: 20px;
        padding-top: 68px;
        justify-content: flex-start;
    }

    .actions-toolbar .action.check {
        margin-right: 0;
        background-color: @color-orange;
        color: @color-white;
        font-size: 16px;
        padding: 11px 30px;
        border-radius: 32px;
        width: 100%;
        max-width: 187px;
        border: none;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease;
        white-space: nowrap;
    }

    .giftcard-account.title {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding-bottom: 10px;
    }
}

.giftcard-account.abstract-giftcards {
    display: none;
}
