.sales-order-history {
    form#my-orders-search-advanced-form .actions-toolbar {
        clear: both;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ccc;
    }

    .filters-collapse button {
        border-radius: 100px;
    }

    .actions-toolbar .primary button.secondary {
        background: #2c2c2c !important;
    }

    form#my-orders-search-advanced-form .actions-toolbar .primary {
        display: flex;
        gap: 10px;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    form#my-orders-search-advanced-form fieldset.fieldset.info.extra-order-search {
        overflow: visible;
    }

    form#my-orders-search-advanced-form {
        .field-dates .control {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
        }

        .field-order-totals .range{
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            margin-left: -10px;



            .field-order-total .control {
                display: flex;
                gap: 5px;
                justify-content: space-between;
                align-items: center;

            }

        }
        .field-date .control button.ui-datepicker-trigger {
            margin: 0 !important;
        }

        .field-dates .range.fields {
            position: relative;

            #order-date-from-error {
                width: 100%;
                position: absolute;
                top: 36px;
                left: -16px;
            }
        }

    }

    .fieldset > .field:not(.choice) > .label {
        text-align: left !important;
    }



}

@media (max-width: 768px) {
    .sales-order-history {
        #filter-show-btn, #filter-close-btn {
            margin-left: 10px;
        }

        .price-excluding-tax .price {
            font-size: 1.2rem !important;
        }

        .order-details-items .order-title > strong {
            font-weight: 700 !important;
        }

        .flatpickr-mobile {
            width: 50% !important;
        }
    }

    .search-sku button[type='submit'] {
        //margin-left: -16px !important;
        top: 64px !important;
        left: 280px !important;
    }

    .my-orders-search-advanced .fieldset:first-of-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .field-date .control input {
        border-radius: 10px;
    }

    .ui-datepicker-trigger-glowup {
        display: none !important;
    }

    .sales-order-history form#my-orders-search-advanced-form .field-order-totals .range .field-order-total .control {
        flex-direction: column;
    }

    .account .field-order-total .control .sub-label {
        width: 100% !important;
    }

    .sales-order-history form#my-orders-search-advanced-form .actions-toolbar {
        display: flex !important;
    }

    #product-name-sku {
        width: 100% !important;
    }

    .my-orders-search-advanced .field-order-status {
        width: 100% !important;
    }

    .sales-order-history form#my-orders-search-advanced-form .field-dates .control {
        justify-content: flex-start !important;
    }

    .field-date .control .sub-label {
        width: unset !important;
    }

    .sales-order-view, .sales-order-invoice {
        .actions-toolbar.order-actions-toolbar .actions {
            display: flex !important;
            justify-content: flex-end;
        }
        .order-details-items.invoice .actions-toolbar {
            text-align: center !important;
        }
        .order-details-items.invoice .order-title {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
        }
    }

}

.my-orders-search-advanced {
    .field-order-status,
    .field-created-by {
        position: relative;
        display: inline-block;
    }

    .field-order-status:after,
    .field-created-by:after {
        content: "";
        position: absolute;
        top: 70%;
        right: 8px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url('../images/iconsax-arrow-down-02.png') no-repeat center center;
        background-size: contain;
        pointer-events: none;
        display: block;

    }

    #order-status,
    #created-by {
        appearance: none !important;
        min-width: 50px;
        padding-right: 40px !important;
    }

    .search-sku button[type='submit'] {
        margin-left: 0 !important;
        left: 400px;
        top: 4px;
    }

    .action-remove:not(.action-clear-all):before {
        font-size: 22px !important;
        position: relative;
        top: 4px;
    }

    .filter-summary .action-remove.action-clear-all {
        position: relative;
        top: 2px;
    }
}


.sales-order-print {
    #maincontent {
        max-width: 1327px;
    }

    .page-title-wrapper {
        margin-top: 20px;
        font-size: 30px !important;
    }

    .column.main {
        width: 100% !important;
    }

    .table-wrapper.order-items {
        .col.image img{
            width: 200px !important;
        }
    }

    .footer-line, .block.newsletter {
        display: none;
    }
}

.sales-order-view, .sales-order-invoice, .sales-order-shipment {
    .order-links {
        li.item.current {
            background: unset !important;
            color: #fe4c25 !important;
        }
    }

    .order-references {
        border-bottom: none !important;
    }

    .order-actions-toolbar {
        justify-content: flex-end !important;
    }
}

.account table .table-order-items tbody td {
    max-width: 250px !important;

    img {
        width: 35% !important;
    }
}
