.wishlist-index-index{
    .actions-primary {
        .action.tocart {
            margin-right: 0;
            background-color: @color-orange;
            color: @color-white;
            font-size: 16px;
            padding: 11px 30px;
            border-radius: 32px;
            width: 100%;
            border: none;
            font-weight: 600;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background-color: #e85c00;
            }
        }

    }

    .product-item-actions {
        a:visited, .alink:visited, a {
            color: #0066CC  !important;
        }
    }

    .actions-toolbar {
        padding-top: 40px;
    }

    .box-tocart {
        .fieldset {
            .field.qty {
                clear: both;
                display: flex;
                align-items: center;
                padding-bottom: 10px;
            }
        }
    }

    .product-items{
        .product-item {
            padding-right: 10px;
        }
    }
}

.wishlist-index-share {
    fieldset .legend {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .fieldset > .field:not(.choice) > .label {
        padding: 6px 15px 10px 0 !important;
        width: auto !important;
    }
}
