.wishlist-index-index{
    .actions-toolbar .primary button {
        margin-right: 5px !important;
    }

    .product-item-actions {
        a:visited, .alink:visited, a {
         //   color: #0066CC  !important;
        }
    }

    .actions-toolbar {
        padding-top: 40px;
        justify-content: left !important;
    }

    .box-tocart {
        .fieldset {
            .field.qty {
                clear: both;
                display: flex;
                align-items: center;
                padding-bottom: 10px;
            }
        }
    }

    .product-items{
        .product-item {
            padding-right: 10px;

            .price-box {
                display: none !important;
            }

            .special-price .price {
                font-size: 14px !important;
            }
        }
    }

    .products-grid.wishlist .product-item-comment {
        height: 127px !important;
    }

    .product-item-name,
    .product-item-inner {
        text-align: center;
    }


    .box-tocart .control {
        width: auto !important;
    }

    .fieldset .field:not(.choice) > .control {
        width: auto !important;
    }

    .box-tocart .fieldset .field.qty {
        justify-content: center !important;
    }

    .toolbar.wishlist-toolbar {
        margin-bottom: 0 !important;
    }
}

.wishlist-index-share {
    fieldset .legend {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .fieldset > .field:not(.choice) > .label {
        padding: 6px 15px 10px 0 !important;
        width: auto !important;
    }

    .actions-toolbar {
        justify-content: left !important;
    }
}

.form-wishlist-items {
    .actions-toolbar .primary button {
        background-color: #2c2c2c !important;
        width: auto !important;

        &:hover {
            background-color: #2c2c2c !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .wishlist-index-index {
        .pager {
            text-align: left !important;
        }

        .toolbar .limiter {
            float: right !important;
            padding-right: 10px;
        }

        .box-tocart .control {
            padding-left: 5px !important;
        }

        .products-grid.wishlist .product-item-actions {
            float: right !important;
        }

        .fieldset > .field > .label {
            margin: 10px 0 5px !important;
        }

        .products-grid.wishlist {
            .product-item-name {
                position: relative;
                top: 20px;
            }
        }

        .product-item-inner {
            fieldset {
                margin-bottom: 10px !important;
                .product-item-actions {
                    width: 100% !important;

                    .actions-primary {
                        width: 100% !important;

                        button.action.tocart.primary {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

.products-grid.wishlist .product-item .box-tocart input.qty {
    height: 40px !important;
}

