<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <tab>catalog</tab>
            <group id="seo">
                <field id="enable_category_metadata_generation" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Auto-Generate Category Meta Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="ewave_seo" translate="label" type="text" sortOrder="840" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Search Engine Optimization</label>
            <tab>ewave</tab>
            <resource>Ewave_SEO::searchengineoptimization</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Engine Optimization</label>
                <field id="enable_trailing_slash" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Trailing Slash</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_hreflang_tags" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Hreflang Tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to ‘Yes’, hreflang tags < link rel="alternate" hreflang="{hreflang_code}" href="{page_URL}" /> will be added to store pages code]]></comment>
                </field>
                <field id="hreflang_code_selection" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hreflang Code Selection</label>
                    <source_model>Ewave\SEO\Model\Config\Source\StoreCode</source_model>
                    <comment>Select from where Hreflang Code will be picked up</comment>
                    <depends>
                        <field id="enable_hreflang_tags">1</field>
                    </depends>
                </field>
                <field id="enable_contextual_redirects" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Contextual Redirects</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to 'Yes', contextual 301 redirects will be enabled</comment>
                </field>
            </group>
            <group id="sitemap" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sitemap Settings</label>
                <field id="exclude_from_sitemap" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Exclude From Sitemap</label>
                    <comment>Enables a setting on category level to exclude category URL from sitemap</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
