//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    
    .dealstest-index-index .toolbar-products {
        margin-left: -105px;
    }

    .dealstest-index-index .products.wrapper.products-widget.product-category-listing.grid.products-grid {
        margin-left: -67px !important;
        float: unset !important;
    }

    .dealstest-index-index .products.wrapper~.toolbar .pages {
        margin-left: 40px;
    }

    .dealstest-index-index .products.wrapper~.toolbar .limiter {
        margin-right: 35px !important;
    }

    .dealstest-index-index .block-title.filter-title {
        display: none;
    }
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
 
}