//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    
    .deals-index-index .block-content.filter-content {
        margin-left: 30px;
    }

    .deals-index-index .block.filter {
        padding-right: 0 !important;
        margin-right: 20px;
    }

    .deals-index-index .toolbar-amount {
        padding: 0 0 0 45px;
        margin: 20px 0;
    }
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
 
}