/*
    Created on : Feb 19, 2021, 11:38:32 AM
    Author     : Johnry Valeriano
*/
& when (@media-common = true) {
    .owl-item{
        .product-item{
            width: 100% !important;
        }
    }
    
    .main-banner-wrapper{
        a.mgz-carousel-custom_link{
            width: 100%;
        }
    }
}