/*
    Created on : Feb 19, 2021, 11:38:32 AM
    Author     : Johnry Valeriano
*/
& when (@media-common = true) {
    .product-item{
        .qantas-pts-wrapper{
            &{
                text-align: center;
                margin: 1rem;
            }
            
            .svg-icon{
                width: 28px;
                height: 28px;
                display: inline-block;
                vertical-align: middle;
            }
            
            span{
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                color: #222;
            }
        }
    }
}