/*
    Created on : Feb 19, 2021, 11:38:32 AM
    Author     : Johnry Valeriano
*/
& when (@media-common = true) {
    .product-item{
        .qantas-pts-wrapper{
            &{
                text-align: center;
                padding: 10px 15px;
                background: #f8f8f8;
            }
            
            .svg-icon{
                width: 28px;
                height: 28px;
                display: inline-block;
                vertical-align: middle;
            }
            
            span{
                width: 100%;
                color: #222;
            }
        }
    }
    
    .qantas-promo-banner {
        &{
            background: #ee4242;
        }
        
        .child-banner {
            padding: 0;
            margin: 0;
        }
        
        .blurb {
            color: #fff;
        }
        
        .button{
            background: transparent;
            width: 100%;
            border: 1px solid #fff;
            border-radius: 30px;
            padding: 15px 40px;
            color: #fff;
            font-weight: 300;
            
            &:hover{
                background: #fff;
                color: #ee4242;
            }
        }
    }
}
//
//  Mobile Only
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .qantas-promo-banner{   
        &{
            padding: 10px !important;
        }
        
        .child-banner{
            display: block;
        }
        
       .column-banner{
            width: 100%;
            margin: 5px 0;
            max-width: unset;
            display: block;
            text-align: center;
        } 
        
        .action{
            display: none;
        }
        
        .image {
            width: 120px;
            display: inline-block;
            margin: 0 auto;
            padding: 0 5px;
        }
        
        .blurb {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            width: calc(~"100% - 120px");
            padding: 0 5px;
            text-align: center;
        }
        
        .mgz-element-column > .mgz-element-inner{
            padding: 0 10px !important;
        }
    }
    
    .product-item{
        &{
            margin-bottom: 5px !important;
        }
        
        .qantas-pts-wrapper{
            &{
                margin: 15px -10px 0;
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    .product-item{
        .qantas-pts-wrapper{
            &{
                margin: 15px -15px 0;
            }
        }
    }
    
    .qantas-promo-banner {
        &{
            background: #ee4242;
            padding: 20px 0;
        }

        .child-banner {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .blurb {
            display: inline-block;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
        }
        
        .column-banner{
            padding: 0 30px;
        }
        
        .image {
            width: 100%;
            max-width: 320px;
            display: inline-block;
            margin: 20px;
        }
    }
}