/*
    Created on : Feb 10, 2021, 11:38:32 AM
    Author     : Johnry Valeriano
*/
& when (@media-common = true) {
    .ninjamenus-desktop-wrapper{
        margin-bottom: 0;
    }
    
    .page-main{
        max-width: 100%;
    }
}
/*//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .ninjamenus-mobile-wrapper{
        //margin-bottom: 0;
        width: 100px;
    }
}

//Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .ninjamenus-mobile-wrapper{
        margin-bottom: 0;
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .ninjamenus-desktop-wrapper{
        margin-bottom: 0;
    }
}*/