/*
    Created on : Feb 10, 2021, 11:38:32 AM
    Author     : Johnry Valeriano
*/
& when (@media-common = true) {
    .ninjamenus-desktop-wrapper{
        margin-bottom: 0;
    }
    
    .page-main{
        max-width: 100%;
    }
}