<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement(EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category  Ced
 * @package   Ced_MPCatch
 * @author    CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright Copyright CEDCOMMERCE(http://cedcommerce.com/)
 * @license   http://cedcommerce.com/license-agreement.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_MPCatch::MPCatch"
             title="Catch Integration"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="14"
             resource="Ced_MPCatch::MPCatch"
        />

        <add id="Ced_MPCatch::product"
             title="Products"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="10"
             parent="Ced_MPCatch::MPCatch"
             resource="Ced_MPCatch::product"
        />
        <add id="Ced_MPCatch::mpcatch_profile"
             title="Profile Manager"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="1"
             parent="Ced_MPCatch::product"
             action="mpcatch/profile/index"
             resource="Ced_MPCatch::mpcatch_profile"
        />
        <add id="Ced_MPCatch::mpcatch_product"
             title="Product Listing"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="2"
             parent="Ced_MPCatch::product"
             action="mpcatch/product/index"
             resource="Ced_MPCatch::mpcatch_product"
        />


        <!--orders start-->
        <add id="Ced_MPCatch::mpcatch_orders"
             title="Orders"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="20"
             parent="Ced_MPCatch::MPCatch"
             resource="Ced_MPCatch::mpcatch_orders"
        />

        <add id="Ced_MPCatch::mpcatch_order_listing"
             title="Orders Listing"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="10"
             parent="Ced_MPCatch::mpcatch_orders"
             action="mpcatch/order/index"
             resource="Ced_MPCatch::mpcatch_order_listing"
        />
        <add id="Ced_MPCatch::mpcatch_failed_order"
             title="Failed Orders"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="20"
             parent="Ced_MPCatch::mpcatch_orders"
             action="mpcatch/failedorder"
             resource="Ced_MPCatch::mpcatch_failed_order"
        />
        <!--orders end-->

        <!--developer start-->
        <add id="Ced_MPCatch::developer"
             title="Developer"
             module="Ced_MPCatch"
             sortOrder="35"
             parent="Ced_MPCatch::MPCatch"
             resource="Ced_MPCatch::developer"
        />

        <add id="Ced_MPCatch::mpcatch_feeds"
             title="Feeds"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="10"
             parent="Ced_MPCatch::developer"
             action="mpcatch/feeds"
             resource="Ced_MPCatch::mpcatch_feeds"
        />

       <!-- <add id="Ced_MPCatch::mpcatch_queue"
             title="Feed Queues"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="20"
             parent="Ced_MPCatch::developer"
             action="mpcatch/queue"
             resource="Ced_MPCatch::mpcatch_queue"
        />-->

        <add id="Ced_MPCatch::mpcatch_cron"
             title="Cron Logs"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="30"
             parent="Ced_MPCatch::developer"
             action="mpcatch/cron"
             resource="Ced_MPCatch::mpcatch_cron"
        />

        <add id="Ced_MPCatch::mpcatch_logs"
             title="Activity Logs"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="40"
             parent="Ced_MPCatch::developer"
             action="mpcatch/logs"
             resource="Ced_MPCatch::mpcatch_logs"
        />

        <add id="Ced_MPCatch::mpcatch_category"
             title="Categories"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="50"
             parent="Ced_MPCatch::developer"
             action="mpcatch/category/index"
             resource="Ced_MPCatch::mpcatch_category"
        />

        <add id="Ced_MPCatch::mpcatch_attribute"
             title="Attributes"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="60"
             parent="Ced_MPCatch::developer"
             action="mpcatch/attribute/index"
             resource="Ced_MPCatch::mpcatch_attribute"
        />
        <!--developer end-->

        <add id="Ced_MPCatch::configuration"
             title="Configurations"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="30"
             parent="Ced_MPCatch::MPCatch"
             resource="Ced_MPCatch::configuration"
        />
        <add id="Ced_MPCatch::mpcatch_configuration"
             title="Configuration"
             module="Ced_MPCatch"
             sortOrder="1"
             parent="Ced_MPCatch::configuration"
             action="adminhtml/system_config/edit/section/mpcatch_config"
             resource="Ced_MPCatch::mpcatch_configuration"
        />


        <add id="Ced_MPCatch::extras"
             title="Extras"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="40"
             parent="Ced_MPCatch::MPCatch"
             resource="Ced_MPCatch::extras"
        />

        <add id="Ced_MPCatch::mpcatch_support"
             title="Help and Support"
             translate="title"
             module="Ced_MPCatch"
             sortOrder="10"
             parent="Ced_MPCatch::extras"
             action="mpcatch/help"
             resource="Ced_MPCatch::mpcatch_support"
        />



    </menu>
</config>
