<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Digidirect_abstractentity" frontName="Digidirect_abstractentity">
            <module name="Digidirect_AbstractEntity" />
        </route>
    </router>
</config>
