<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digidirect_combination_pricing>
            <general>
                <enabled>0</enabled>
                <combinations></combinations>
            </general>
        </digidirect_combination_pricing>
    </default>
</config>