<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/Manager/etc/events.xsd">
    <event name="sales_quote_collect_totals_before">
        <observer name="digidirect_combination_pricing_change_price" instance="Digidirect\CombinationPricing\Observer\ChangePriceObserver" />
    </event>
</config>