<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <SellerShipping>
            <SellerShipping>
                <status>1</status>
            </SellerShipping>
        </SellerShipping>
        <SellerShipping>
            <SellerShipping>
                <name>Extra Fee</name>
            </SellerShipping>
        </SellerShipping>
		<SellerShipping>
            <SellerShipping>
                <SellerShipping_amount>5</SellerShipping_amount>
            </SellerShipping>
        </SellerShipping>
    </default>
</config>
