<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_custom_fee_in_quote" type="Digidirect\SellerShipping\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_seller_shipping_to_shipping_total" type="Digidirect\SellerShipping\Plugin\Quote\Model\Quote\Address\Rate" sortOrder="10"/>
    </type>
</config>
