<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ewave\Navigation\Controller\Adminhtml\Menu\Save">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="invalidate_cache_types" xsi:type="array">
                    <item name="0" xsi:type="string">block_html</item>
                    <item name="1" xsi:type="string">full_page</item>
                    <item name="menu_cache" xsi:type="const">Ewave\Navigation\Model\MenuCache::TYPE_IDENTIFIER</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\MenuModifier">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="fields" xsi:type="array">
                    <item name="0" xsi:type="string">title</item>
                    <item name="1" xsi:type="string">position</item>
                    <item name="2" xsi:type="string">is_logged_in</item>
                    <item name="3" xsi:type="string">cms_block_id</item>
                    <item name="4" xsi:type="string">status</item>
                    <item name="5" xsi:type="string">parent_menu_item_id</item>
                    <item name="6" xsi:type="string">category_id</item>
                    <item name="7" xsi:type="string">menu_item_is_link</item>
                    <item name="8" xsi:type="string">link</item>
                    <item name="9" xsi:type="string">parent_menu_item_id</item>
                    <item name="10" xsi:type="string">use_category_hierarchy</item>
                    <item name="11" xsi:type="string">nesting_level</item>
                    <item name="content" xsi:type="string">content</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Ewave\Navigation\Ui\DataProvider\Menu\Form\MenuDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <!-- Meta and data modifiers for menu form ui component -->
    <virtualType name="Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <!-- Add categories drop down -->
                <item name="category" xsi:type="array">
                    <item name="class" xsi:type="string">Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\Category</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <!-- Add "use default checkboxes and disable/enable depending on values and store"-->
                <item name="main" xsi:type="array">
                    <item name="class" xsi:type="string">Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\Main</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>

                <!-- Add Menu item drop down ui -->
                <item name="menu_items" xsi:type="array">
                    <item name="class" xsi:type="string">Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\MenuItems</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>

                <!-- Add store parameter to save/validate buttons url -->
                <item name="system" xsi:type="array">
                    <item name="class" xsi:type="string">Ewave\Navigation\Ui\DataProvider\Menu\Form\Modifier\System</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Ewave\Navigation\Model\ResourceModel\Set\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ewave_navigation_menu_set</argument>
            <argument name="eventPrefix" xsi:type="string">ewave_navigation_menu_set_collection</argument>
            <argument name="eventObject" xsi:type="string">navigation_menu_set_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ewave\Navigation\Model\ResourceModel\Set</argument>
        </arguments>
    </type>
    <type name="Ewave\Navigation\Model\ResourceModel\Menu\Grid\Collection">
        <arguments>
            <argument name="joinProcessors" xsi:type="array">
                <item name="cms_block" xsi:type="object">CmsBlockJoinProcessor</item>
            </argument>
            <argument name="joinCallback" xsi:type="array">
                <item name="_joinSetLink" xsi:type="string">_joinSetLink</item>
            </argument>
        </arguments>
    </type>
</config>
