//
//  Tab: Default
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {

    .ambanner-slider-wrap {
        width: 1080px;
        height: 468px;
    }

    .nav-sections-item-content > .navigation {
        //margin-left: 175px !important;
    }

    .logo-wrapper {
        //margin-left: 25px;
    }

    .minicart-wrapper {
        //margin-right: 15px !important;
    }

    .owl-item {
        min-width: 230px;
    }

    .ymal-product-wrapper {
        display: grid;
        grid-template-columns: 230px 230px;
        column-gap: 12px;
    }

    .ymal-title {
        color: #ff3c00;
        font-size: 18px;
        font-weight: 650;
        margin-bottom: 10px;
    }

    .ymal-product-info {
        //margin: 0 !important;
        max-width: 200px;
        //padding-bottom: 15px !important;
    }

    .ymal-product-info.product-item-info {
        width: 220px !important;
        height: max-content;
        margin: 0 !important;
        border-radius: 5px;
        max-width: 300px !important;
    }

    .ymal-product.product-item.item {
        margin-bottom: 15px;
    }

    .ymal-item-photo.product-item-photo > .product-image-container {
        width: 60px !important;
        margin-top: 1px;
    }

    .ymal-item-photo.product-item-photo {
        padding: 0 !important;
    }

    .ymal-item-details.product-item-details {
        margin-top: -15px !important;
    }

    .ymal-item-details > .price-box {
        margin-top: -45px !important;
        margin-bottom: 0 !important;
        padding: 0px;
    }

    .ymal-item-details > .block-extendedrule.-cashback:not(.-special-price)~.price-box {
        display: inherit !important;
    }

    .ymal-actions.actions-primary {
        width: 100% !important;
        text-align: center !important;
    }

    .ymal-actions > form > button {
        font-weight: 700 !important;
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
        padding: 3px !important;
        font-family: 'Poppins',sans-serif !important;
        border: 1px solid #ff3c00 !important;
        width: 90% !important;
        border-radius: 5px !important;
        background: #fff !important;
    }

    strong.ymal-item-name.product-item-name {
        font-size: 10px !important;
        font-weight: 500 !important;
    }

    .ymal-item-name > a {
        line-height: 1.2rem !important;
    }

    .ymal-item-details > .price-box > .price-container > .price-wrapper > .price {
        font-size: 12px !important;
    }

    .ymal-item-details > .block-extendedrule {
        display: none;
    }

    .ymal-item-details {
        min-height: 0 !important;
    }

    .ymal-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    .ymal-item-details > .price-box > .current-price-wrapper > .special-price > .price-container > .price-wrapper > .price {
        font-size: 12px!important;
    }

    .ymal-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-wrapper > .price {
        font-size: 12px !important;
    }

    .shop-by-category-dropdown {
        white-space: nowrap;
        margin-left: 10px;
    }

    .label-brands-dropdown {
        margin-right: 20px;
        color: #ff3c00;
        font-size: 18px;
        font-weight: 650;
    }

    .shop-by-category-container {
        height: 300px;
        display: flex;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .shop-by-category-category {
        margin: 10px;
        width: 300px;
        transition: transform .5s ease;
    }

    .shop-by-category-category:hover {
        transform: scale(1.1);
    }

    .shop-by-category-category img {
        min-width: 222.5px;
        height: 300px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .shop-by-category-category a {
        text-decoration: none;
    }

    .product-count {
        text-align: center;
        background: #ff3c00;
        color: white;
        padding: 10px;
        margin-top: -3px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 3px;
    }

    .right-side-banner-lower-inner > .mgz-single-image-wrapper > .mgz-single-image-inner > img {
        height: 222px;
        width: 333px !important;
        margin-top: 9px !important;
        margin-left: 27px !important
    }

    .mgz-tabs .mgz-tabs-tab-content>.mgz-element>.mgz-element-inner {
        padding-top: 0 !important;
    }

    .block.widget.block-new-products.product-home-listing.products-widget.grid {
        margin-top: -20px;
    }

    .block.widget .product-item-info {
        border-radius: 5px;
        min-width: 275px;
        max-height: 350px;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 275px !important;
        margin-left: 8.7px !important;
    }

    div#recommended-products-carousel > .owl-stage-outer {
        margin-left: 0;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a {
        height: 180px;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a > span > span > .product-image-photo {
        top: unset !important;
        bottom: unset !important;
        height: 150px !important;
        width: auto !important;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details {
        //min-height: 190px;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-name {
        flex: 0 0 !important;
        min-height: 40px !important;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box {
        margin: 0 !important;
        justify-content: center;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule {
        //margin-bottom: 3px !important;
        display: none !important;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container .before-cashback .price-label {
        position: initial !important;
    }

    div#recommended-products-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container {
        text-align: center;
    }

    div#recommended-products-carousel {
        overflow: visible !important;
    }






    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 275px !important;
        margin-left: 8.7px !important;
    }

    div#new-arrival-carousel > .owl-stage-outer {
        margin-left: 0;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a {
        height: 180px;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a > span > span > .product-image-photo {
        top: unset !important;
        bottom: unset !important;
        height: 150px !important;
        width: auto !important;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details {
        //min-height: 190px;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-name {
        flex: 0 0 !important;
        min-height: 40px !important;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box {
        margin: 0 !important;
        justify-content: center;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule {
        //margin-bottom: 3px !important;
        display: none !important;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container .before-cashback .price-label {
        position: initial !important;
    }

    div#new-arrival-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container {
        text-align: center;
    }

    div#new-arrival-carousel {
        overflow: visible !important;
    }




    .products-grid .product-item-actions {
        margin: 0 0 10px 0 !important;
    }

    .owl-carousel.product-carousel .owl-nav .owl-prev {
        left: -50px !important;
        background: none !important;
    }

    .owl-carousel.product-carousel .owl-nav .owl-prev span {
        color: #e6e6e6 !important;
        font-size: 50px;
        line-height: 8px;
    }

    .owl-carousel.product-carousel .owl-nav .owl-next {
        right: -50px;
        background: none !important;
    }

    .owl-carousel.product-carousel .owl-nav .owl-next span {
        color: #e6e6e6 !important;
        font-size: 50px;
        line-height: 8px;
    }

    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none !important;
    }

    .owl-carousel .owl-nav button.owl-next:hover {
        background: none !important;
    }

    a.product-item-link {
        font-weight: 400;
    }

    .product-tab-navigation {
        margin-bottom: -160px !important;
    }

    .current-promotion-wrapper {
        margin-top: 50px !important;
    }

    svg.svg-icon.digidirectprice {
        display: none;
    }

    .current-price-wrapper {
        padding-right: 10px;
    }

    .product-item .price-box .old-price .price {
        color: #777777 !important;
    }

    .product-add-form .current-price-wrapper {
        margin-top: 25px;
        border-top: 2px solid #cacaca;
    }





    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {

    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 275px !important;
        margin-left: 15px !important;
        margin-right: 1px;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer {
        margin-left: 0;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a {
        height: 180px;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a > span > span > .product-image-photo {
        top: unset !important;
        bottom: unset !important;
        height: 150px !important;
        width: auto !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details {
        //min-height: 190px;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-name {
        flex: 0 0 !important;
        min-height: 40px !important;
        font-size: 13px !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box {
        margin: 0 !important;
        justify-content: center;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box > .price-container > .price-wrapper > .price {
        font-size: 20px !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule {
        //margin-bottom: 3px !important;
        display: none !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container .before-cashback .price-label {
        position: initial !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container {
        text-align: center;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel {
        overflow: visible !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info {
        border-radius: 10px;
        min-width: 275px;
        max-height: 350px;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .actions-secondary {
        margin-top: -5px;
        margin-right: -5px;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .actions-secondary > a > i {
        font-size: 22px !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item:hover .product-item-info {
        box-shadow: 0 2px 8px 0 #e6e6e6 !important;
        transform: translate(0,-10px) !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-actions {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-actions .actions-primary {
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-actions > .actions-primary > form > button > span > i {
        font-size: 15px;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav {
        font-size: 30px !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav > .owl-prev {
        margin-left: -40px;
        color: #e6e6e6 !important;
    }

    .temp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav > .owl-next {
        margin-right: -60px;
        color: #e6e6e6 !important;
    }


    button.action.tocart.primary:hover {
        background: #ff3c00 !important;
    }

    button.action.tocart.primary:hover > span {
        color: #fff !important;
    }

    .current-promotion-wrapper-inner {
        width: 1465px !important;
    }

    .current-promotion-carousel-img > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage {
        width: 1465px !important;
    }

    .current-promotion-carousel-img > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 463.3333px !important;
    }

    .current-promotion-carousel-img > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer {
        height: 200px !important;
    }

    .shop-by-interest-wrapper-inner {
        width: 1465px !important;
    }

    .shop-by-interest-inner {
        max-width: 950px !important;
    }



    .brand-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer {
        width: 1455px !important;
    }

    .brand-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        min-width: 222.5px !important
    }

    .brand-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav > .owl-prev {
        margin-left: -85px;
        background: none !important;
        font-size: 25px;
        color: #e6e6e6 !important;
    }

    .brand-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav > .owl-next {
        margin-right: -145px;
        background: none !important;
        font-size: 25px;
        color: #e6e6e6 !important;
    }

    .digiservice-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer {
        width: 1465px !important;
    }

    .digiservice-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage {
        width: 1500px !important;
    }

    .digiservice-block-design > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 345px !important;
    }

    //Rondel Changes PDP

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {

    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 275px !important;
        margin-left: 15px !important;
        margin-right: 1px;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer {
        margin-left: 0;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a {
        height: 180px;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > a > span > span > .product-image-photo {
        top: unset !important;
        bottom: unset !important;
        height: 150px !important;
        width: auto !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details {
        //min-height: 190px;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-name {
        flex: 0 0 !important;
        min-height: 40px !important;
        font-size: 13px !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box {
        margin: 0 !important;
        justify-content: center;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box > .price-container > .price-wrapper > .price {
        font-size: 20px !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule {
        //margin-bottom: 3px !important;
        display: none !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container .before-cashback .price-label {
        position: initial !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container {
        text-align: center;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel {
        overflow: visible !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info {
        border-radius: 10px;
        min-width: 275px;
        max-height: 350px;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .actions-secondary {
        margin-top: -5px;
        margin-right: -5px;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .actions-secondary > a > i {
        font-size: 22px !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item:hover .product-item-info {
        box-shadow: 0 2px 8px 0 #e6e6e6 !important;
        transform: translate(0,-10px) !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-actions {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-actions .actions-primary {
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info > .product-item-details > .product-item-actions > .actions-primary > form > button > span > i {
        font-size: 15px;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav {
        font-size: 30px !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav > .owl-prev {
        margin-left: -40px;
        color: #e6e6e6 !important;
    }

    .pdp-slider-class-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-nav > .owl-next {
        margin-right: -60px;
        color: #e6e6e6 !important;
    }

    .catalog-product-view .page-main {
        background: #fff !important;
    }

    .product.attributes > .product.info.detailed {
        width: 1440px !important;
        margin-left: -50px;
        margin-top: 90px;
    }

    .product.data.items {
        width: 1440px !important;
    }

    .pdp-slider-label {
        margin-left: -62px;
    }

    .pdp-slider-class {
        margin-left: -85px;
        width: 1475px;
    }

    .frequently-bought-with-row {
        margin: 0 -9999rem !important;
        padding: 2rem 9999rem 3rem !important;
        background: #f5f5f5 !important;
    }

    .also-viewed-row {
        margin-bottom: 40px;
    }

    .pdp-you-may-also-like-row {
        margin-bottom: 40px;
    }

    .product.data.items>.data.item.title.active .data.switch {
        box-shadow: none !important;
        color: #ff3c00 !important;
    }

    .product.data.items .data.item.content {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }

    a#tab-label-productoverview-title {
        border-top-left-radius: 10px !important;
    }

    a#tab-label-whatinthebox-title {
        border-top-right-radius: 10px !important;
    }

    .product.data.items>.item.content {
        border-top: none !important;
    }

    .product.data.items .data.item.title>.data.switch {
        border-bottom: none !important;
    }

    .product.data.items .data.item.title > a {
        font-size: 20px !important;
        font-weight: 500;
    }

    .tab_check {
        /* width: -webkit-calc(20%) !important; */
        width: initial !important;
    }

    .product.data.items .data.item.content {
        margin-top: 70px !important;
    }

    .product.attributes>.product.info.detailed .new-block {
        padding-top: 0 !important;
    }

    //Rondel Changes (Category Page)

    .page-products .columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .products.wrapper.products-widget.product-category-listing.grid.products-grid {
        margin-left: -105px !important;
        width: 1255px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > a {
        height: 180px;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > a > span > span > .product-image-photo {
        top: unset !important;
        bottom: unset !important;
        height: 150px !important;
        width: auto !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details {
        //min-height: 190px;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .product-item-name {
        flex: 0 0 !important;
        min-height: 40px !important;
        font-size: 13px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .price-box {
        margin: 0 !important;
        justify-content: center;
        margin-top: -25px !important;
        margin-bottom: -10px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .price-box > .price-container > .price-wrapper > .price {
        font-size: 20px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .block-extendedrule {
        //margin-bottom: 3px !important;
        display: none !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container .before-cashback .price-label {
        position: initial !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container {
        text-align: center;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info {
        border-radius: 10px;
        //min-width: 275px;
        max-height: 350px;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .actions-secondary {
        margin-top: -5px;
        margin-right: -5px;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .actions-secondary > a > i {
        font-size: 22px !important;
    }

    .product-category-listing > .product-items > .product-item:hover .product-item-info {
        //box-shadow: 0 2px 8px 0 #e6e6e6 !important;
        //transform: translate(0,-10px) !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .product-item-actions {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .product-item-actions .actions-primary {
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-details > .product-item-actions > .actions-primary > form > button > span > i {
        font-size: 15px;
    }

    .toolbar-products {
        margin-bottom: 0 !important;
    }

    .toolbar-sorter .sorter-label {
        visibility: hidden;
    }

    .selectric-wrapper {
        visibility: hidden;
    }

    .page-products .sidebar.sidebar-main, .page-products .sidebar.sidebar-additional {
        margin-top: 38px !important;
    }

    .product-category-listing > .product-items > .product-item > .product-item-info > .product-item-name > a {
        font-weight: 400;
    }

    .category-view {
        display: none !important;
    }

    .pdp-banner-class {
        margin-left: -90px;
        width: 1183px;
    }

    .toolbar-products {
        margin-left: -110px;
    }

    .toolbar-sorter.sorter {
        margin-top: 6px !important;
    }

    .toolbar-products .desktop-row {
        padding: 0 0 10px 10px !important;
    }

    .rating-summary .rating-result > span:before {
        color: #fdad12;
    }

    .breadcrumbs {
        margin: 10px 0px 10px 0px !important;
    }

    .page-products .sidebar.sidebar-main, .page-products .sidebar.sidebar-additional {
        margin-top: 0 !important;
    }

    .offcanvas-panel.device-only {
        width: 225.9px !important;
    }

    .block-content.filter-content {
        background: #f5f5f5 !important;
        padding: 0px 20px 0px 20px !important;
        border-radius: 5px !important;
    }

    .sidedar-toolbar {
        display: none !important;
    }

    .block-content.filter-content {
        background: #f5f5f5 !important;
        padding: 5px 20px 0px 20px;
    }

    div#block-category-brand-container {
        display: none !important;
    }


    //Homepage Mobile (Rondel Changes)

    .product-tab-mobile {
        margin: 0 -9999rem !important;
        padding: 2rem 9999rem 3rem !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer > .owl-stage > .owl-item {
        width: 275px !important;
        margin-left: 15px !important;
        margin-right: 1px;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-carousel > .owl-stage-outer {
        margin-left: 0;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > a {
        height: 180px;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > a > span > span > .product-image-photo {
        top: unset !important;
        bottom: unset !important;
        height: 150px !important;
        width: auto !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details {
        //min-height: 190px;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .product-item-name {
        flex: 0 0 !important;
        min-height: 40px !important;
        font-size: 13px !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .price-box {
        margin: 0 !important;
        justify-content: center;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .price-box > .price-container > .price-wrapper > .price {
        font-size: 20px !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .price-box > .old-price-wrapper > .old-price > .price-container > .price-label {
        display: none;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item-info > .product-item-details > .block-extendedrule {
        //margin-bottom: 3px !important;
        display: none !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container .before-cashback .price-label {
        position: initial !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .block-extendedrule > .price-box .price-container {
        text-align: center;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-carousel {
        overflow: visible !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info {
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        max-height: 350px;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .actions-secondary > a > i {
        font-size: 22px !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item:hover .product-item-info {
        box-shadow: 0 2px 8px 0 #e6e6e6 !important;
        transform: translate(0,-10px) !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .product-item-actions {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .product-item-actions .actions-primary {
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-content > .mgz-grid > .mgz-grid-page > .product-item > .product-item-info > .product-item-details > .product-item-actions > .actions-primary > form > button > span > i {
        font-size: 15px;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-heading-line:before {
        display: none !important;
    }

    .product-tab-mobile-inner > .mgz-block > .mgz-block-heading-line > .title {
        background: none !important;
        color: #ff3c00 !important;
        padding: 0 !important;
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product-item .price-box .price-label:after{
        display: none;
    }

    .product-widget-wrapper {
        margin: 15px -30px 0;
    }

    .product-tab-navigation{
        max-height: 630px;

        .mgz-tabs-nav > .mgz-tabs-tab-title,
        .mgz-tabs-content > .mgz-tabs-tab-title{

            &{
                position: relative;
            }

            &
            {
                :before{
                    content: " ";
                    height: 30px;
                    width: 3px;
                    background: #d0c9c9;
                    display: inline-block;
                    position: absolute;
                    top: 6px;
                    left: -10px;
                }

                > a{
                    margin-left: 50px;
                }
            }

            &:first-child{
                :before{
                    display: none;
                }
            }

            & > a{
                background: #fff !important;
                border: 0;
                border-bottom: 3px solid #fff;
                padding: 5px 0;
                margin: 5px 5px 5px 15px;
                font-size: 22px;

                &:hover{
                    background: #fff;
                    color: #ff3c00;
                    border-bottom: 3px solid;
                    border-bottom-color: #ff3c00 !important;
                }
            }


            &.mgz-active > a{
                color: #ff3c00;
                border-bottom: 3px solid;
                border-bottom-color: #ff3c00 !important;
                border-radius: 0;
            }

        }

        .mgz-tabs:not(.mgz-tabs-no-fill-content) .mgz-tabs-tab-content{
            background: #fff;
            border: 0;
        }

        .mgz-tabs-tab-title{
            font-size: 24px;
            font-weight: 400;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-tab-navigation{
        margin: 40px 0 0 0;
        min-height: 600px;

        .mgz-tabs-nav > .mgz-tabs-tab-title,
        .mgz-tabs-content > .mgz-tabs-tab-title{

            &{
                position: relative;
            }

            //&:last-child
            &{
                :before{
                    content: " ";
                    height: 20px;
                    width: 3.5px;
                    background: #101010;
                    display: inline-block;
                    position: absolute;
                    top: 9px;
                    left: -30px;
                }

                > a{
                    margin-left: 50px;
                }
            }

            &:first-child{
                :before{
                    display: none;
                }
            }

            & > a{
                background: #fff;
                border: 0;
                border-bottom: 3px solid #fff;
                padding: 5px 0;
                margin: -2px;
                margin-bottom: 15px !important;
                color: #101010;

                &:hover{
                    background: #fff;
                    color: #ff3c00;
                    border-bottom: 3px solid;
                    border-bottom-color: #ff3c00 !important;
                }
            }


            &.mgz-active > a{
                color: #ff3c00;
                border-bottom: 3px solid;
                border-bottom-color: #ff3c00 !important;
                border-radius: 0;
                border: none;
            }

        }

        .mgz-tabs:not(.mgz-tabs-no-fill-content) .mgz-tabs-tab-content{
            background: #fff;
            border: 0;
        }

        .mgz-tabs-tab-title{
            font-size: 18px;
            font-weight: 650;
            margin-right: 45px;
            margin-left: 5px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .shop-by-interest-mobile {
        margin: 0px -30px !important;
    }
}
