/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 19, 2020, 2:48:58 PM
    Author     : admin
*/


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 17, 2020, 7:41:06 PM
    Author     : admin
*/
& when (@media-common = true) 
{

    .qantas-span, .price-font{
            font-size: 12px;
    }
    .block-minicart .block-content > .actions .action {
      margin-top: 18px;
      font-weight: bold;

    }
   
    .qantas-pts-wrapper-minicart{
        position: absolute;
        right: 19px;
        margin-top: 10px;
        font-weight: bold;

    }
    
    .qantas-faq{

        text-decoration: none;
         color: white;
    }
    .qantas-landing-banner{
        background-color: black;
    }
    
   .qff-row {
    
        color: #040404!important;
    }
    .terms{
    
        padding: 27px;

        background: center;

        p{
           letter-spacing: 1px;
            font-stretch: extra-condensed; 
                text-align: justify;
        }
        
    }
    .qff-bot-logo{
        width: 39rem;
    }

   .qantas-bot .bot-content 
    {
        background:#000;
        color: white; 
        text-align: center;
        padding: 19px 34px 19px 67px!important;
        p{
               font-size: 20px;
        }
    }
    
    .qff-column-content {
    
    background-color: #f4f4f4!important;
    border-bottom: solid;
}
    .qantas-button 
    {
        background-image: none;
        background: #d90001;
        border: 2px solid transparent;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 700;
        margin: 0;
        padding: 10px 15px;
        font-size: 1.3rem;
        line-height: 1.6rem;
        box-sizing: border-box;
        vertical-align: middle;
        height: 55px;
        width: 200px;
        
      
           text-decoration: none;
           font-size: 15px;
           padding: 15px;
        
         
    }
    
     .how{
        h1 {
        font-size: 30px!important;
        font-weight: 900;
        text-align: center;
        }
        p{
            font-weight: 900;
             text-align: center;
           
        }
        
    }
    
    .qff-column ,  .qff-column-content
    {
        float: left;
        width: 32.33%;
        padding: 76px;
        height: 299px;
       
    } 
    
    .qff-column 
    {
     
        backdrop-filter: grayscale(0.5) opacity(0.8);
        position: relative;
        left: 177px;
        top: 188px;
        background: currentColor;
        padding: 20px;
        margin: -2px;
    }
          
 
    .qff-column-content
    {
        border-radius: 19px;
        margin-top: 69px!important;
    }
    
     /* Clear floats after the columns */
    .qff-row:after , .qff-row-contet:after
    {
      content: "";
      display: table;
      clear: both;
      position: inherit;
      
    }
    
  
    .steps{
        
        p{
           
        letter-spacing: 2px;

        }
        h1{
                letter-spacing: 2px;
               margin-top: 10px;
                margin-bottom: 30px;
                font-size: 24px;
        }

    }
     .qantas-bot
     {
            h1 
            {
                margin-top: 10px;
                margin-bottom: 30px;                
                font-weight: bold;
                font-size: 22px;
            }
                     
                position: relative;
                left: -109px;
                width: 103%;
                height: 50%;
                

                    .bot-content
                    {

                            padding: 109px 174px;
                            padding-top: 71px;
                            margin-top: 432px;
                    }
      }
    .shop
     {
        position: relative;
                    top: 13px;
         h1
         {          
                color: #e65300;
                letter-spacing: 9px;   
                
                font-style: italic;
                font-family: monospace;
                font: small-caption;
                font-size: 15px;
                position: inherit; 
                left: 16px;
          }      
             p
             {
                font-size: 22px;
                color: white;
                FONT-STYLE: italic;
                letter-spacing: 7px;
/*                position: relative;
                left: 10px;
                top: -53px;*/
               }
               .digi-logo
               {
                width: 111%;
                height: 400px;
                background: url('@{baseDir}images/digi.png')no-repeat;

                background-size: contain;
                width: 52%;
/*                position: relative;
                top:  -59px;*/

                }
    }
    
     .qantas-fqq
     {
        
            width: 107%;
            height: 400px;
            background: url('@{baseDir}images/QFF-logo.png')no-repeat;
            background-size: contain;
            position: relative;
            top: 84px;       
     }
     
  
}


.media-width(@extremum, @break) when (@extremum = 'min')and (@break = @screen__xxs){
    
    .qantas-fqq {
        

        width: 91%;
    }
     .qantas-landing-banner  
     {
        width: 128%;
        height: 400px;
        background: url('@{baseDir}images/qantas-banner-landing.jpg')no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -68px;
        margin-bottom: 22rem;
    }
    .qff-column 
    {
        width: 44.33%;
        padding: 19px; 
         left: 73px;;
         top: 39rem;
    }

    .qff-column-content 
    {
        width: 107%;
        padding: 36px;
        margin-top: 42px!important;
    }

    .qantas-bot 
    {
        
        h1{
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 24px;
            
        }

        position: relative;
        left: -48px;
        width: 122%;
        height: fit-content;
        
        .bot-content {

         padding: 18px 34px 2rem 8rem!important;
        

            margin-top: 10px;


        }
    }
    
    .qff-row{
        left: -25px;
        position: relative;
    }
    .qff-row-content{
        position: relative;
            left: -10px;
    }
    
    
    .how{
        
        padding-top: 95px;
    }
    
    .shop h1 {
    color: #e65300;
    letter-spacing: 9px;
    font-style: italic;
    font-family: monospace;
    font: small-caption;
    font-size: 12px;
    position: inherit;
    left: -3px;
    }
    
    .shop .digi-logo {
  
        height: 110px;
    
         width: 92%;
    }
    .steps{
         font-size: initial;
    }


}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs)
{
    ._test {
       position: absolute;
        top: 262px;
        right: 15px;
   
    }
    .qantas-fqq {
        
    width: 91%;
    }
     .qantas-landing-banner  
     {
        width: 128%;
        height: 400px;
        background: url('@{baseDir}images/qantas-banner-landing.jpg')no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -68px;
        margin-bottom: 22rem;
    }
    .qff-column 
    {
        width: 44.33%;
        padding: 19px; 
         left: 73px;;
         top: 39rem;
    }

    .qff-column-content 
    {
        width: 107%;
        padding: 36px;
        margin-top: 42px!important;
    }

    .qantas-bot 
    {
        
        h1{
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 24px;
            
        }
       
        position: relative;
        left: -33px;
        width: 122%;
        height: fit-content;
        
        .bot-content {
         padding: 61px!important;
            margin-top: 10px;
        
           

        }
    }
    
    .qff-row{
        left: -25px;
        position: relative;
    }
    .qff-row-content{
        position: relative;
        left: -10px;
    }
    
    
    .how{
        
        padding-top: 95px;
    }
    
    .shop h1 {
    color: #e65300;
    letter-spacing: 9px;
    font-style: italic;
    font-family: monospace;
    font: small-caption;
    font-size: 8px;
    position: inherit;
    left: -3px;
    }
    
    .shop .digi-logo {
  
        height: 110px;
    
         width: 92%;
    }
    .steps{
         font-size: initial;
    }
   .terms {
    margin-top: 1px;
    }

>>>>>>> d1ae0d994... Qantas landing page and points on checkout
}
 
                                                                                    
//480px

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
     .terms {
        margin-top: 0px;
    }
    
     ._test {
       position: absolute;
        top: 262px;
        right: 15px;
   
    }
}
//480px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs){
    .how {


    padding-top: 0px;
    }
     .qantas-landing-banner  

    {
        width: 120%;
        height: 400px;
        background: url('@{baseDir}images/qantas-banner-landing.jpg')no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -68px;


        margin-bottom: 233px;


    }
    .qff-column 
    {
        padding: 19px; 
            left: 73px;
    top: 32rem;
    width: 46.33%;
    }
    .qantas-fqq 
    {
        width: 94%;

    }

    .steps h1 
    {
    font-weight: 600;
        font-size: 17px;
    }
    .qff-column-content 
    {

        padding: 37px;
        margin-top: 42px!important
    }

    .qantas-bot 
    {
        h1{
            font-size: 17px;
        }
        
        position: relative;
        left: -92px;
        width: 143%;
        height: 264px;
        
        .bot-content{
            padding: 13px 115px 10px 105px!important;
        }
    }

    
    
    .how{
        
        padding-top: 11px;
    }
    .qff-row-content {
    position: relative;
    left: -15px;
    }
    
    
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s)
{
    .terms {
        margin-top: 172px;
    }
    ._test {
       position: absolute;
        top: 262px;
        right: 15px;
   
    }
    
}
//640min
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s)
{
   .qantas-landing-banner  {
        width: 115%;
        height: 400px;
        background: url('@{baseDir}images/qantas-banner-landing.jpg')no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -68px;
            margin-bottom: 411px;
    }
   
    .qantas-fqq
    {
        width: 63%;
        height: 400px;
        background: url('@{baseDir}images/QFF-logo.png') no-repeat;
        background-size: contain;
        position: relative;
        top: -4px;    
     }
     .qff-column 
     {
       left: 72px;
        height: 249px;
        width: 100%;
        top: 258px;
    }
    .shop {
        position: relative;
       top: -31px;
        left: -16px;
    }
    .qff-column-content {
            float: left;
            width: 31.33%;
            padding: 14px;
            height: 299px;
            margin: 3px;
    }

    .qantas-bot 
    {


            width: 121%;
            position: relative;
            left: -56px;
            height: fit-content;
       .bot-content 

           {
                padding: 50px 90px;
                margin-top: 432px;
            }

    }

    .qff-row-content
    {
        position: relative;
        left: 9px;
    }
    .shop .digi-logo {
       
        width: 50%;
    }
.how {
    padding-top: 10px;
}
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
     ._test {
       position: absolute;
        top: 319px;
        right: 15px;
   
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
   ._test {
    position: absolute;
    top: 242px;
    right: 15px;;
   
}
   .qantas-landing-banner  
   {
        width: 113%;
        height: 400px;
        background: url('@{baseDir}images/qantas-banner-landing.jpg')no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -68px;
        margin-bottom: 360px;
   }
    .qantas-fqq
    {


        width: 44%;
    height: 400px;
    background: url(../images/QFF-logo.png) no-repeat;
    background-size: contain;
    position: relative;
    top: -3px;     
    }
  
  
           .qff-column 
           {
                left: 48px;
                width: 102%;
                height: 216px;
            }    
   
    .qff-row
    {
          left: 1px;
          top: 69px;
        
    }
    
     
    .qff-column-content 
    {
       
        padding: 17px !important;
        
        margin-left: 6px;
    }
    .qff-row-contet:after 
    {
      content: "";
      display: table;
      clear: both;
      position: inherit;
      
    }
    .qff-row-contet
    {
          left: 231px;
          top: 129px;
        
    }
    .shop
    {
       position: relative;
   
    top: -53px;

    left: -40px;
         h1
         {          
                color: #e65300;
                letter-spacing: 9px;   
                
                font-style: italic;
                font-family: monospace;
                font: small-caption;
                font-size: 15px;
                position: inherit; 
                left: 16px;
         }      
             p
             {
                font-size: 22px;
                color: white;
                FONT-STYLE: italic;
                letter-spacing: 7px;

               }
               .digi-logo
               {
                width: 32rem!important;
                height: 400px;
                background: url('@{baseDir}images/digi.png')no-repeat;
                background-size: contain;
                width: 52%;


            }   
    }
    
    .qantas-bot {
        width: 116%;
        height: fit-content;

        
        .bot-content {
            padding: 49px 79px;
    
        }
        h1 {
        font-size: 28px;
        }

    }
    
    .how {
    padding-top: 60px;
    }



}




.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xm) {
    
    .shop .digi-logo {
        width: 23rem;
    }
    .how {
    padding-top: 0px;
}

   

    .qantas-landing-banner  
    {
         width: 119%;
        height: 499px;
        background: url(../images/qantas-banner-landing.jpg) no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -68px;
        margin-bottom: 42px;
    }

   
    .qff-column
    {
       position: relative!important;
        left: -5%!important;
        padding: 45px!important;
        width: 52%
    }

    .qantas-fqq 
    {
            width: 70%!important;
    left: 11rem;
    }
        
        .bot-content{
            
            padding-top: 96px;
        }
        .shop {
    left: 8rem;
    top: -7rem;
        }
        
        .qff-row {
    left: 1px;
    top: -256px;
    width: 93%;
}
}  
        


//1280px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .qff-row {
    top: 3%;
    
    }


   ._test {
        position: absolute;
        top: 246px;
        right: 23px;
        
    }
    
    .qantas-landing-banner  
    
    {
        width: 119%;
        height: 499px;
        background: url(../images/qantas-banner-landing.jpg) no-repeat;
        background-size: cover;
        background-position: left;
        position: relative;
        left: -71px;
        margin-bottom: 34px;
        
    }
    
    .qff-column 
    {
        position: relative!important;
       left: 7% !important;
        padding: 45px!important;
        width: 55%!important;
        top: -9px;
    }
    .qff-column-content 
    {

        margin-left: 10px;
    }

    .qantas-fqq 
    {
        width: 62%!important;
        top: -8%;
        left: 1rem;
    }
    .qantas-bot {
        left: -70px;
        height: fit-content;
         .bot-content 
        {

           padding: 35px;

        }
    }
    
    .qff-row {
        width: 81%;
        top: 3%;
    }
    .shop 
    {
          left: -5%;
    top: -9rem;
    }
}
//1440px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

  
      .qantas-landing-banner{

        width: 122%;
        height: 628px;
        background: url(../images/qantas-banner-landing.jpg) no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        left: -72px;
        margin-bottom: 34px!important;
        }


        .qff-column{
            position: relative !important;
            left: 43px !important;
            padding: 45px !important;
            height: 271px!important;
            width: 52%!important;
        }



        .qantas-bot {
            left: -72px!important;
            height: fit-content;
            
             .bot-content 
                {
                    padding: 109px 428px!important;
                    
                    margin-top: 432px!important;
                    padding-left: 421px;
                }
                p{
                font-size: 23px;
                }
              h1 {
                font-size: 28px;
                }

        }
    }


                    margin-left: 10px;
                }

                .qantas-fqq{
                    width: 95%!important;
                }


        }


       

       .qff-column-content {
           margin-left: 10px;
           padding: 30px !important;
       }
       .shop{
           
            left: 2%;
            top: -5rem;

           .digi-logo{
             width: 31rem;
            }
       } 
       
       

    }

}
//1800px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) 
{
    
    .qantas-landing-banner {
    width: 111%;
    height: 628px;
    background: url(../images/qantas-banner-landing.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    left: -72px;
    margin-bottom: 34px!important;

    }
    
    

    .how {
        
        padding-top: 0px;
    
    }

    .qff-row {
        
        top: 2%;
    }
    


    .qantas-fqq {
        width: 70%!important;
        top: 5rem;
        left: 5rem;

    }
    
    .qff-column-content {
        margin-left: 10px;
        padding: 30px !important;
    }

    .shop{
        left: 1%;
        top: -4rem;
        .digi-logo{
        width: 40rem;
        }
    } 

}
//1800px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) 
{
        .qantas-landing-banner {
            
                width: 111%;
                height: 628px;
                background: url(../images/qantas-banner-landing.jpg) no-repeat;
                background-size: cover;
                background-position: right;
                position: relative;
                left: -72px;
                margin-bottom: 34px!important;
            }

            .qantas-pts-wrapper-summary
            {
                font-size: 15px!important;
            }

            .how {
                padding-top: 0px;
            }

            .qff-row {

                .qantas-bot 
                {
                    left: -12rem!important;
                        .bot-content {
                            padding: 6rem!important;
                        }
                 }

                .qff-column{
                    left: 175px !important;
                }
            }

}
