//
//  My Order Items: Group block
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .group-manage.nav-container .icon-kit {
        display: block;
        width: 20px;
        height: 20px;
    }
}

