<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Block\System\Config\Form">
        <plugin name="ewave-add-extension-version" type="Ewave\Utilities\Plugin\Magento\Config\Block\System\Config\Form" />
    </type>
    <type name="Ewave\Utilities\Block\Adminhtml\System\Config\Form\Fieldset\Modules\DisableOutput">
        <plugin name="ewave-add-disabled-config-module-version" type="Ewave\Utilities\Plugin\Magento\Config\Block\System\Config\Fieldset\Modules\DisableOutputPlugin" />
    </type>
    <!-- Widget noroute layout handle fix -->
    <type name="Magento\Widget\Model\ResourceModel\Widget\Instance">
        <plugin name="change_handle_name" type="Ewave\Utilities\Plugin\Magento\Widget\Model\ResourceModel\Widget\Instance" />
    </type>
    <type name="Ewave\Utilities\Plugin\Magento\Widget\Model\ResourceModel\Widget\Instance">
        <arguments>
            <argument name="handlesToCorrect" xsi:type="array">
                <item name="cms_index_noroute" xsi:type="string">cms_noroute_index</item>
            </argument>
        </arguments>
    </type>
    <!-- EOF Widget noroute layout handle fix  -->
    <type name="Ewave\Utilities\Block\Adminhtml\System\Config\Form\Field\MessageIdentifiers">
        <arguments>
            <argument name="blockType" xsi:type="string">\Ewave\Utilities\Block\Adminhtml\System\Config\Form\Field\RendererType</argument>
        </arguments>
    </type>
    <!-- Allowed file types for upload using WYSIWYG -->
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin
            name="EwaveUtilities::MagentoCmsModelWysiwygImagesStoragePlugin"
            sortOrder="10"
            type="Ewave\Utilities\Plugin\Magento\Cms\Model\Wysiwyg\Images\StoragePlugin"
        />
    </type>
    <!-- Adding allowed mime type from Allowed file types for upload using WYSIWYG -->
    <type name="Magento\Framework\File\Uploader">
        <plugin
            name="EwaveUtilities::MagentoFrameworkFileUploaderPlugin"
            sortOrder="10"
            type="Ewave\Utilities\Plugin\Magento\Framework\File\UploaderPlugin"
        />
    </type>
    <type name="Magento\Framework\Image\Adapter\Gd2">
        <plugin
            name="EwaveUtilities::MagentoFrameworkImageAdapterGd2Plugin"
            sortOrder="10"
            type="Ewave\Utilities\Plugin\Magento\Framework\Image\Adapter\Gd2Plugin"
        />
    </type>
    <type name="Magento\Cms\Block\Adminhtml\Wysiwyg\Images\Content\Files">
        <plugin
            name="EwaveUtilities::MagentoCmsBlockAdminhtmlWysiwygImagesContentFilesPlugin"
            sortOrder="10"
            type="Ewave\Utilities\Plugin\Magento\Cms\Block\Adminhtml\Wysiwyg\Images\Content\FilesPlugin"
        />
    </type>
    <!-- Additional WYSIWYG Configs:  -->
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <plugin
                name="EwaveUtilities::MagentoCmsModelWysiwygConfig"
                sortOrder="10"
                type="Ewave\Utilities\Plugin\Magento\Cms\Model\Wysiwyg\ConfigPlugin"
        />
    </type>

    <!-- Allow to preview SVG files in WYSIWYG:  -->
    <preference for="Magento\Cms\Controller\Adminhtml\Wysiwyg\Directive"
                type="Ewave\Utilities\Preference\Magento\Cms\Controller\Adminhtml\Wysiwyg\Directive"/>

    <type name="Ewave\Utilities\Preference\Magento\Cms\Controller\Adminhtml\Wysiwyg\Directive">
        <arguments>
            <argument name="xmlImageTypes" xsi:type="array">
                <item name="image/svg+xml" xsi:type="string">image/svg+xml</item>
                <item name="image/svg" xsi:type="string">image/svg</item>
            </argument>
        </arguments>
    </type>
</config>
