<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ewave_Utilities::ewave" title="Ewave" module="Ewave_Utilities" sortOrder="20" resource="Ewave_Utilities::ewave"/>
    </menu>
</config>
