//
//  Modals variables
//  _____________________________________________

//@modal__position: fixed;
//@modal__top: 0;
//@modal__right: 0;
//@modal__bottom: 0;
//@modal__left: 0;
//@modal__min-width: 0;
//@modal__visibility: hidden;
//@modal__opacity: 0;
//@modal__transition: visibility 0s .3s, opacity .3s ease;
//
//@modal-inner-wrap__background-color: @color-white;
//@modal-inner-wrap__box-shadow: 0 0 12px 2px rgba(0, 0, 0, .35);
//@modal-inner-wrap__opacity: 1;
//@modal-inner-wrap__pointer-events: auto;
//
////  Show
//@modal__show__visibility: visible;
//@modal__show__opacity: 1;
//@modal__show__transition: opacity .3s ease;
//@modal-inner-wrap__show__transform: translate(0, 0);
//
////  Modal Slide
//@modal-slide__left: 14.8rem;
//@modal-slide__z-index: @modal__z-index;
//
//@modal-slide-inner-wrap__position: static;
//@modal-slide-inner-wrap__width: auto;
//@modal-slide-inner-wrap__height: 100%;
//@modal-slide-inner-wrap__overflow-y: auto;
//@modal-slide-inner-wrap__transform: translateX(100%);
//@modal-slide-inner-wrap__transition: transform .3s ease-in-out;
//@modal-slide-inner-wrap__show__transform: translateX(0);

//  Modal Popup
//@modal-popup__left: 0;
//@modal-popup__z-index: @modal__z-index;
//@modal-popup__overflow-y: auto;

//@modal-popup-inner-wrap__position: absolute;
@modal-popup-inner-wrap__left: @layout-indent__width;
@modal-popup-inner-wrap__right: @layout-indent__width;
//@modal-popup-inner-wrap__use-vendor-prefix-display: true;
//@modal-popup-inner-wrap__use-vendor-prefix-flex-direction: true;
@modal-popup-inner-wrap__width: auto;
//@modal-popup-inner-wrap__height: auto;
//@modal-popup-inner-wrap__margin: 5rem auto;
//@modal-popup-inner-wrap__transform: translateY(-200%);
//@modal-popup-inner-wrap__transition: transform .2s ease;
//@modal-popup-inner-wrap__show__transform: translateY(0);

//@modal-popup-confirm-inner-wrap__width: 50rem;