<span class="step-title"> Payment Information </span>
<div class="gift" data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">

     <div class="payment-option-title field choice digigift" data-role="title">
       <span class="action action-toggle"> Apply Gift Card &amp; Promo Code </span>
    </div>
    <div class="payment-option-content field choice" data-role="content">
        
        <div class="giftcard-content" data-role="content">
            <form id="giftcard-form" class="form" novalidate="novalidate">
                <fieldset class="fieldset create info">
                    <div class="field">
                        <label for="giftcard_number" class="label">Gift Card Number</label>
                        <div class="control">
                            <input type="text" 
                                   name="giftcard_number" 
                                   id="giftcard_number" 
                                   title="Gift Card Number" class="input-text"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="giftcard_pin" class="label">Gift Card Pin</label>
                        <div class="control">
                            <input type="text" 
                                   name="giftcard_pin" 
                                   id="giftcard_pin" 
                                   title="Gift Card Pin" 
                                   class="input-text"/>
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar gift-action">
                    <div class="primary qff-action-container">
                        <button id="qff-trigger" type="button" class="action action-add primary">
                            <span>Apply</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="promotional-content" data-role="content">
            <form id="promotional-form" class="form" novalidate="novalidate">
                <fieldset class="fieldset create info">
                    <div class="field">
                        <label for="promotional_code" class="label">Promotional Code</label>
                        <div class="control">
                            <input type="text" 
                                   name="promotional_code" 
                                   id="promotional_code" 
                                   title="Promotional Code" class="input-text"/>
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar gift-action">
                    <div class="primary qff-action-container">
                        <button id="qff-trigger" type="button" class="action action-add primary">
                            <span>Apply</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>