<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="subtotal">
    <span class="label">
        <!-- ko i18n: 'Subtotal (Inc. GST)' --><!-- /ko -->
    </span>

    <div class="subtotal-items">
        <!-- ko foreach: elems -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>

<div class="qantas-pts-wrapper-minicart-subtotal">
    <img class="qantas-logo" data-bind="attr: { src: require.toUrl('images/qantas.svg') }"></img>
    <strong><span> Earn <span  data-bind="html: cart().minicart_qantas_points"></span> Qantas points</span></strong>
</div>
