<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_bannerslider" translate="label" type="text" sortOrder="020119" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Banner Slider</label>
            <tab>amasty</tab>
            <resource>Amasty_BannerSlider::config</resource>
        </section>
    </system>
</config>
