.product-help-box {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    background: #fff;

    .product-help-icon {
        margin-bottom: 10px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .product-help-content {
        font-size: 16px;
        color: #545456;
        font-weight: 500;
    }

    .product-help-links {
        margin-top: 10px;
        font-size: 10px;
        line-height: 12px;

        a {
            color: #0171e3;
            text-decoration: none;
            font-size: 10px;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.paypal-button-tagline {
    display: none !important;
}

.paypal-button-text.true {
    display: none !important;
}

.catalog-product-view {
    a.action.towishlist {
        background: url("@{baseDir}images/heart.png") no-repeat center center;
        width: 32px;
        height: 32px;
        border: 1px solid #eeeeee;
        box-shadow: 0px 1px 1px 0px rgba(150, 150, 150, 0.09);
        border-radius: 16px;

        span {
            display: none;
        }
    }
}
/* Accordion container */
.product-accordion {
    border-top: 1px solid #e0e0e0;
    font-family: Arial, sans-serif;
    margin-top: 20px;

    [data-role="trigger"] {
        padding: 25px 0;
        color: #242426;
        font-size: 16px;
        font-weight: 600;
        border-top: 1px solid #e6e6e6;
        position: relative;
        cursor: pointer;
        &:after {
            content: ""; /* down arrow */
            position: absolute;
            width: 12px;
            height: 12px;
            border: 1px solid #010202;
            right: 5px;
            top: 25px;
            transform: translateY(-50%);
            transition: transform 0.3s ease;
            transform: rotate(45deg);
            border-top: none;
            border-left: none;
        }
    }
    [role="tab"] {
        &[aria-selected="true"] {
            [data-role="trigger"] {
                &:after {
                    transform: rotate(-135deg);
                }
            }
        }
    }
}

.product-accordion [data-role="content"] a {
    color: #d60000;
    text-decoration: none;
}
