<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Digidirect_Utilities::Digidirect" title="Digidirect" module="Digidirect_Utilities" sortOrder="20" resource="Digidirect_Utilities::Digidirect"/>
    </menu>
</config>
