<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="digidirect_extendedcatalogpricerules" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <resource>Digidirect_ExtendedCatalogPriceRule::config</resource>
            <label>Extended Catalog Price Rule</label>
            <tab>digidirect</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="add_dynamic_price" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Catalog Price Rules Calculation To The Product REST API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set up to "Yes" - Magento's Product REST API will return the Catalog Price Rule value of the product</comment>
                </field>
            </group>
        </section>
    </system>
</config>
