.modals-wrapper .modal-popup .modal-inner-wrap {
    max-height: 90vh !important;
    margin: 0 !important;
    left: 25% !important;
    overflow-y: auto !important;
    max-width: 740px !important;
    top: 5%;
}

.modals-wrapper footer.modal-footer {
    display: flex !important;
    justify-content: space-evenly;
}

.modal-popup.-content-scroll._inner-scroll._show {
    overflow: hidden;
}

.modal-popup .modal-inner-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-popup .modal-title {
    padding-left: 35px;
}

.modal-popup .modal-content {
    overflow-y: auto;
    flex: 1 1 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-popup .modal-content::-webkit-scrollbar {
    display: none;
}

.modal-popup .action.primary {
    background-color: @color-orange;
    border-radius: 100px;
}

.modal-popup .action.secondary {
    border-radius: 100px;
}

.field.choice:has(#shipping-save-in-address-book) {
    display: none;
}

.modal-popup .fieldset > .field:not(.choice) > .label {
    text-align: left !important;
}

.locator-item.locator-details .-cannington-note {
    padding-left: 20px !important;
    max-width: 250px !important;
}

.locator-item.selected-store {
    background-color: #ffe8c4;
    border: 2px solid #f90;
}

.wrap-block .link.-collect.action.primary {
    background-color: #f2f2f2;
}

/*#checkout-step-shipping .fieldset:has(.field):has(.delivery-number) {
    display: none !important;
}*/

.shipping-methods li.row .col-carrier {
    padding-right: 5px;
}

@media only screen and (max-width: 320px) {
    .shipping-methods {
        li.row {
            flex-wrap: wrap !important;
        }
    }
}

/* Outer circle */
/*.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"] + label:before,
.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"]:checked + label:before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #A2A2A2;
    border-radius: 50%;
    background-color: #A2A2A2;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
}*/

/* Inner gray ball */
//.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"] + label:after,
//.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"]:checked + label:after {
//    content: "";
//    position: absolute;
//    width: 0.6em;
//    height: 0.6em;
//    top: 41%;
//    left: 13%;
//    transform: translate(-50%, -50%);
//    border-radius: 50%;
//    background-color: #A2A2A2;
//}
//
//.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"]:checked + label:after {
//  //  background-color: #41464b;
//}

.opc-wrapper .shipping-address-item.selected-item,
.opc-wrapper .shipping-address-item {
    border: 1px solid #ff5501 !important;
    border-radius: 10px !important;
}

.opc-wrapper .shipping-address-item.selected-item:after {
    display: none !important;
}

/*.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"]:checked + label:before {
    height: unset !important;
    width: unset !important;
    border: unset !important;
    background-color: unset !important;
}*/

.opc-wrapper .checkout-shipping-address .collect-type input[type="radio"] + label {
    cursor: pointer !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}
