.checkout-shipping-address {
    input[type="radio"] {
        display: none;
    }
    .locator-item  {
        position: relative;
        color: #7F7F7F;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 0.8em;
        border: 1px solid #D9D9D9;
        padding: 0.7em 2em;
        border-radius: 0.5em;
        width: 99%;
        margin: 10px 1px;
    }

    .icon {
        display: none;
    }

    .-hours {
        display: none;
    }
    .description-cc {
        padding: 15px;

    }
}
