.checkout-onepage-success .registration {
    display: none !important;
}

.thank-you-wrapper {
    padding: 40px 20px;
    text-align: center;
}

.thank-you-title {
    font-size: 64px;
    color: #242426;
    font-weight: 700;
    margin-bottom: 10px;
}

.order-status-title {
    font-size: 24px;
    font-weight: 450;
    margin-bottom: 10px;
    color: #AEAEB2;
    margin-top: 40px;
}

.successful-title {
    font-size: 32px;
    color: #28A95A;
    font-weight: 700;
    margin-bottom: 10px;
}

.thank-you-message {
    font-size: 15px;
    color: #242426;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.order-status-tracker {
    margin: 50px 0;
}

.order-date {
    color: #AEAEB2;
    font-weight: 420;
    font-size: 14px;
}

.checkout-onepage-success .help-bar-white .cart-id {
    display: none !important;
}

.thank-you-wrapper .title.-addition .order-number {
    color: #242426 !important;
}

