<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="admin">
        <route id="digidirect_navigation" frontName="digidirect_navigation">
            <module name="Digidirect_Navigation" before="Magento_Backend" />
        </route>
    </router>
</config>