//
//  Notify Me Pop-up
//  _____________________________________________

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .outofstock-modal {
        .action {
            margin: auto;
            display: flex;
            border: none;
            padding: 16px 15px;
            font-size: 16px;
            .lib-css(background, @color-2-1);
            .lib-css(color, @color-white);
        }

        .action:hover {
            .lib-css(background, @color-2-6);
            .lib-css(color, @color-white);
            border: none;
        }

        .action:active,
        .action:focus {
            .lib-css(background, @color-2-1);
            border: none;
        }
    }
}