//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {

    .digimarkettest-index-index.page-products .products-grid .product-item {
        width: calc((100% - 15%)/5) !important;
    }

    .digimarkettest-index-index .category-view {
        display: block !important;
        padding: 0;
        margin: 15px auto 0 auto;
        max-width: 1170px;
    }

    .digimarkettest-index-index .toolbar-products {
        margin: 20px 50px 0 135px;
        padding: 0;
    }

    .digimarkettest-index-index .block-content.filter-content {
        margin-left: 30px;
        width: unset !important;
    }

    .digimarkettest-index-index .block.filter {
        padding-right: 0 !important;
        margin-right: 20px;
    }

    .digimarkettest-index-index .toolbar-amount {
        padding: 0;
        margin: 0 0 20px 0;
    }

    .digimarkettest-index-index .field.limiter {
        display: none !important;
    }

    .digimarkettest-index-index .pages {
        float: right;
    }

    .digimarkettest-index-index .pages-items {
        margin-right: 120px;
        margin-bottom: 50px;
    }

    .digimarkettest-index-index .pages strong.page {
        background: #ff3c00 !important;
        color: #fff !important;
    }

    .digimarkettest-index-index .pages {
        float: right !important;
    }

    .digimarkettest-index-index .pages .page {
        padding: 0 14px !important;
    }

    .digimarkettest-index-index .pages a.page {
        color: #ff3c00;
    }

    .digimarkettest-index-index .products.wrapper.products-widget.product-category-listing.grid.products-grid {
        margin-left: unset !important;
        width: 1320px !important;
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
