/*
    Created on : Feb 5, 2021, 9:10:13 AM
    Author     : Johnry Valeriano
*/

//
//  Responsive variables
//  _____________________________________________

@use-flex: true; // Use flexbox [true|false]
@responsive: true; // Theme is responsive [true|false]

@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__xm: 1024px;
@screen__l: 1280px;
@screen__xl: 1440px;

@screen__xll: 1600px; 

@screen__xxl: 1800px;