//
//  Catalog: Libs
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@product-name__font-weight: @font-weight__heavier;
@product-name-link__color__active: @color-2-2;
@product-name-link__color__hover: @color-2-2;
/*@product-name-link__color: @text__color;
@product-name-link__color__visited: @text__color;
@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;*/
