//
//  My Order Items: Filter Category
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-filter-category__is-enabled: true;

@my-order-items-filter-category__display: flex;
@my-order-items-filter-category__justify-content: flex-end;
@my-order-items-filter-category__margin: 0;
@my-order-items-filter-category__padding: 10px 35px 10px 10px;

@my-order-items-filter-category__filter__position: relative;
@my-order-items-filter-category__filter__margin-left: 10px;
@my-order-items-filter-category__filter__z-index: 2;

@my-order-items-filter-category__list__display: none;
@my-order-items-filter-category__list__position: absolute;
@my-order-items-filter-category__list__top: 39px;
@my-order-items-filter-category__list__right: 0;
@my-order-items-filter-category__list__min-width: 187px;
@my-order-items-filter-category__list__padding: 1px;
@my-order-items-filter-category__list__background: @color-black;
@my-order-items-filter-category__active__list__display: block;

@my-order-items-filter-category__item__display: block;
