//
//  My Order Items: Items Block
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@my-order-items-items-block__is-enabled: true;

//@my-order-items-items-block__display: flex;
@my-order-items-items-block__flex-wrap: nowrap;
@my-order-items-items-block__margin-bottom: 20px;
//@my-order-items-items-block__min-height: 200px;
@my-order-items-items-block__background: transparent;

@my-order-items-items-block-item__margin: 0 10px 0;
//@my-order-items-items-block-item__margin__m: false;
@my-order-items-items-block-item__padding: 30px 15px 20px 19px;
//@my-order-items-items-block-item__padding__m: false;
//@my-order-items-items-block-item__text-align: center;
@my-order-items-items-block-item__width: false;
@my-order-items-items-block-item__width__m: calc(~'20% - 20px');
//@my-order-items-items-block-item__position: relative;
//
@my-order-items-items-block-item__ui-draggable__cursor: default;
@my-order-items-items-block-item__ui-draggable-dragging__z-index: 5 ~'!important';
//
//@my-order-items-items-block-item__disabled__after__display: block;
//@my-order-items-items-block-item__disabled__after__content: ' ';
//@my-order-items-items-block-item__disabled__after__position: absolute;
//@my-order-items-items-block-item__disabled__after__top: 0;
//@my-order-items-items-block-item__disabled__after__right: 0;
//@my-order-items-items-block-item__disabled__after__bottom: 0;
//@my-order-items-items-block-item__disabled__after__left: 0;
//@my-order-items-items-block-item__disabled__after__background: fade(@color-black, 70%);
//@my-order-items-items-block-item__disabled__actions-link__position: relative;
//@my-order-items-items-block-item__disabled__actions-link__z-index: 1;
//
//@my-order-items-items-block-link__display: block;
//@my-order-items-items-block-link__width: 20%;
//@my-order-items-items-block-link__padding: false;
//@my-order-items-items-block-link__margin: 10px;
