<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Helper\Product\View">
        <plugin name="digidirect_auto_meta_description"
                type="Digidirect\MetaDescriptionFix\Plugin\ProductMetaPlugin"
                sortOrder="9999"/>
    </type>

</config>