<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="digidirect_seller_shipping_default_config_provider" type="Digidirect\SellerShipping\Model\Plugin\Checkout\DefaultConfigProvider" sortOrder="1" disabled="false"/>
    </type>
</config>
