<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ewave_Blog::blog" title="Blog" module="Ewave_Blog" sortOrder="10" parent="Ewave_Utilities::ewave" resource="Ewave_Blog::blog"/>

        <add id="Ewave_Blog::blogpost" title="Manage Posts" module="Ewave_Blog" sortOrder="20" resource="Ewave_Blog::blogpost" action="ewave_blog/post" parent="Ewave_Blog::blog"/>

        <add id="Ewave_Blog::blogcat" title="Manage Categories" module="Ewave_Blog" sortOrder="30" resource="Ewave_Blog::blogcat" action="ewave_blog/category" parent="Ewave_Blog::blog"/>

        <add id="Ewave_Blog::blogcomment" title="Manage Comments" module="Ewave_Blog" sortOrder="30" resource="Ewave_Blog::blogcomment" action="ewave_blog/comment" parent="Ewave_Blog::blog"/>
    </menu>
</config>
