/*
    Created on : Oct 05, 2023
    Author     : Rondel Dalumpines
*/

& when (@media-common = true) {
    
    .login-container .block-new-company {
        width: 420px !important;
        margin-top: 50px;
    }

    .page-main>.page-title-wrapper .page-title {
        display: none !important;
    }

    .company-account-create .columns .main .form-create-account {
        width: 100% !important;
    }

    .form-create-account .fieldset, .form-create-account .actions-toolbar {
        max-width: 800px !important;
    }

    
    // jireh code
    .b2bregbox {
        max-width: 900px;
        min-width: 420px;
        margin: 0 auto;
        border: 1px solid #aaaaaa;
        padding: 50px 0;

        .redirection-login {
            margin-left: 46px;
            a {
                color: #727272;
                text-decoration: none;
            }
        }

    }


    // company account
    .block-dashboard-company .box-actions button {
        color: #000 !important;
        background: 0 0 !important;
    }
    
    .block-dashboard-company .box-actions button span {
        color: #000 !important;
        background: 0 0 !important;
    }
    
    
    .block-dashboard-company .box-actions button:hover {
        color: #000 !important;
    
    }
    
    .block-dashboard-company .box-actions a {
        color: #000 !important;
    }

    a.company-admin {
        color: #000;
    }

    .block-dashboard-company .jstree .jstree-clicked {
        background-color: #ff3c00;
        color: #fff !important;
    }

    .form-create-purchase-order-rule {
        input[type=checkbox]:checked+label:after {
            top: 10px !important;
            left: 4px;
            width: 30px !important;
            height: 18px !important;
            border: 2px solid lightgray !important;
            transform: unset;
        }
    }

    // rule approval
    input[type=checkbox]:checked+label:before {
        border-color: lightgray !important;
        background-color: #f5f5f5 !important;
    }

    .form-create-purchase-order-rule .field-condition-order-total>.control>.control {
        max-width: 98% !important;
        margin: 10px;

    }

    .form-create-purchase-order-rule .additional>.control>input {
        max-width: unset !important;
        // margin: 10px;
        border: 1px solid #cfcfcf !important;

    }

    // #condition_approvers {
    //     height: 50px;
    //     font-size: 1.4rem;
    //     border-color: #e1e1e1;
    //     color: #222;
    // }
    
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .b2bregbox {
        max-width: unset;
        min-width: unset;
        margin: 0 auto;
        border: unset;
        padding: 50px 0;

        .redirection-login {
            margin-left: 0px;
            a {
                color: #727272;
                text-decoration: none;
            }
        }

    }
    

}

//
//  Tablet
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    
}