/*
    Created on : Oct 05, 2023
    Author     : Rondel Dalumpines
*/

& when (@media-common = true) {
    
    .login-container .block-new-company {
        width: 420px !important;
        margin-top: 50px;
    }

    .page-main>.page-title-wrapper .page-title {
        display: none !important;
    }

    .company-account-create .columns .main .form-create-account {
        width: 100% !important;
    }

    .form-create-account .fieldset, .form-create-account .actions-toolbar {
        max-width: 800px !important;
    }
    
}


.b2bregbox {
    max-width: 900px;
    min-width: 420px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 50px 0;

    .field-name-firstname, .field-name-lastname, .field.telephone, .field.email, .field.abn, .field.acn {
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        display: inline-block !important;
        padding: 5px;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    

}

//
//  Tablet
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    
}