/*
    Created on : Oct 05, 2023
    Author     : Rondel Dalumpines
*/

& when (@media-common = true) {
    
    .login-container .block-new-company {
        width: 420px !important;
        margin-top: 50px;
    }

    .page-main>.page-title-wrapper .page-title {
        display: none !important;
    }

    .company-account-create .columns .main .form-create-account {
        width: 100% !important;
    }

    .form-create-account .fieldset, .form-create-account .actions-toolbar {
        max-width: 800px !important;
    }
    
}


.b2bregbox {
    max-width: 900px;
    min-width: 420px;
    margin: 0 auto;
    border: 1px solid #aaaaaa;
    padding: 50px 0;
    // color: #727272;

    .legend {
        text-align: center;
    }

    // *:focus {
    //     outline: none !important;
    //     border-color: inherit;
    //     -webkit-box-shadow: none;
    //     box-shadow: none;
    // }

    // select, input {
    //     border: none;
    //     border-bottom: 1px solid #b6b6b6;
    //     border-radius: 0 !important;
    //     outline: none;
    //     padding: 14px;
    
    // }

    .field-name-firstname, .field-name-lastname, .field.telephone, .field.email, .field.abn, .field.acn {
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        display: inline-block !important;
        padding: 5px;
    }

    // .field {
    //     label {
    //         display: none;
    //     }
    // }

    .redirection-login {
        margin-left: 46px;
        a {
            color: #727272;
            text-decoration: none;
        }
    }





}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    

}

//
//  Tablet
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    
}