.customer-account-forgotpassword,
.customer-account-create,
.customer-account-login {
    .block-new-company {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        background-color: #ffffff;
        display: flex;
        width: 85%;
        flex-direction: column;
        margin: 10px auto;
        max-width: 500px;
        padding: 20px 50px;
        text-align: center;
        .block-content {
            text-align: center;
            color: #626262;

            p {
                line-height: 18px;
                font-weight: 200;
            }
        }
        .actions-toolbar {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            .create.button {
                color: @color-white;
                font-size: 16px;
                padding: 11px 30px;
                border-radius: 32px;
                width: max-content;
                display: inline-block;
                line-height: 16px;
                margin-right: 0;
            }
        }
    }
}

.customer-account-login {
    .block-new-company {
        .actions-toolbar {
            .create.button {
                // background-color: @color-orange !important;
                border-color: @color-black;
                line-height: 16px;
                font-weight: 600;
            }
        }
    }
}
.customer-account-forgotpassword {
    button.action {
        border-radius: 32px;
    }
    .block-new-company {
        .actions-toolbar {
            .create.button {
                background: @color-black;
                border-color: @color-black;
                font-weight: 600;
            }
        }
    }
}
