.form-newsletter-manage{
    legend {
        display: none;
    }

    .fieldset > .field.choice:before {
        display: none;
    }

    .actions-toolbar {
        justify-content: left !important;
    }

    .action.primary:hover {
        background-color: @color-orange;
        border: none;
    }

    .fieldset {
        margin-bottom: 20px !important;
    }
}
