//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    table.main {
        padding-top: 20px;
        width: 100%;
    }

    td.header {
        text-align: center;
        padding: 0 0 20px;
    }

    .header-image .image {
        width: 100%;
        height: auto;
        max-width: 600px;
    }

    p {
        margin: 0;
    }

    .header,
    .header-image {
        .lib-css(max-width, @email-table__max-width);
    }

    .header-image {
        text-align: center;
    }
}
