<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Digidirect_CategoryFilter" setup_version="1.0.0">
        <sequence>
            <module name="Digidirect_Utilities"/>
            <module name="Digidirect_LayeredNavigation"/>
        </sequence>
    </module>
</config>
