<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Mirasvit_Seo::seo">
                        <resource id="Mirasvit_SeoAutolink::seoautolink_autolinks" title="Cross Links" sortOrder="500">
                            <resource id="Mirasvit_SeoAutolink::seoautolink_link" title="Management" sortOrder="10"/>
                            <resource id="Mirasvit_SeoAutolink::seoautolink_autolinks_seoautolinkimport" title="Import" sortOrder="20"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_SeoAutolink::config_seoautolink" title="Mirasvit SeoAutolink Section" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
