//
//  Pre-order
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@preorder-note__display: none;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .pdp-preorder {
        &:not(:empty) {
            margin: 20px 0 15px;
            .lib-font-size(12);
            .lib-css(font-weight, @font-weight__bold);
            line-height: 18px;
            .lib-css(color, @color-2-1);
        }
    }
}