//
//  Swatches: Common
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

//@swatch__is-enabled: true;

//@swatch__clearfix: true;

//  Attribute Label
//@swatch-attribute-label__position: relative;
//@swatch-attribute-label__font-weight: @font-weight__bold;
//@swatch-attribute-label-required__padding-right: @indent__s;
//@swatch-attribute-label-required__after__content: '*';
//@swatch-attribute-label-required__after__position: absolute;
//@swatch-attribute-label-required__after__top: -2px;
//@swatch-attribute-label-required__after__right: -11px;
//@swatch-attribute-label-required__after__font-size: @font-size__base;
//@swatch-attribute-label-required__after__font-weight: @font-weight__bold;
//@swatch-attribute-label-required__after__color: @form-field-label-asterisk__color;

//  Attribute Option (selected)
@swatch-attribute-option__selected__padding-left: 0;
//@swatch-attribute-option__selected__color: #646464;

//  Attribute Options
@swatch-attribute-options__margin-top: 14px;
@swatch-attribute-options-pdp__margin-top: 8px;

//  Option
//@swatch-option__position: relative;
//@swatch-option__float: left;
//@swatch-option__height: 20px;
//@swatch-option__max-width: 90px;
@swatch-option__min-width: 20px;
@swatch-option-pdp__min-width: 30px;
@swatch-option-pdp__height: 30px;
@swatch-option__min-width__l: 24px;
@swatch-option__height__l: 24px;
@swatch-option__margin: 0 3px 0;
@swatch-option-pdp__margin: 0 10px 0 0;
@swatch-option-text__height: 30px;
@swatch-option-text__width__l: 40px;
@swatch-option-text__height__l: 40px;
@swatch-option-text__width: 30px;
//@swatch-option__padding: 1px 2px;
@swatch-option-text__padding: 3px 2px;
@swatch-option-text__padding__l: 7px 2px;
//@swatch-option__border: @border-width__base solid #dadada;
@swatch-option-text__border: @border-width__base solid @primary__color;
@swatch-option-text-disabled__border: @border-width__base solid @color-3-1;
//@swatch-option__overflow: hidden;
//@swatch-option__text-align: center;
//@swatch-option__text-overflow: ellipsis;
//@swatch-option__cursor: pointer;
@swatch-option__background: transparent;
//
//@swatch-option__hover__border: @border-width__base solid @color-white;
//@swatch-option__hover__color: @color-gray20;
//@swatch-option__hover__outline: 1px solid @color-gray60;

//  Option (selected)
//@swatch-option__selected__border: @swatch-option__hover__border;
//@swatch-option__selected__color: @swatch-option__hover__color;
@swatch-option__selected__outline: 2px solid @primary__color;

//  Text attributes
@swatch-option-text__font-size: 8px;
@swatch-option-text__font-size__l: 11px;
//@swatch-option-text__font-weight: @font-weight__bold;
@swatch-option-text__line-height: 1.25;
@swatch-option-text__line-height__l: 12px;
@swatch-option-text__color: @primary__color;
@swatch-option-text-disabled__color: @color-3-1;
//@swatch-option-text__background: @swatch-option__background;
//
//@swatch-option-text__selected__background-color: @color-white;

//  Size and Manufacturer attributes
//@attr-swatch-option__background: @swatch-option__background;
//@attr-swatch-option__color: #949494;
//
//@attr-swatch-option__selected__background: @color-white;
//@attr-swatch-option__selected__border: @border-width__base solid @color-white;
//@attr-swatch-option__selected__color: @color-black;

//  Image and Color swatch
//@img-color-swatch-option__hover__border: @swatch-option__hover__border;
@img-color-swatch-option__hover__outline: 2px solid @primary__color;
//
//@swatch-option__disabled__cursor: default;
//@swatch-option__disabled-after__content: ' ';
//@swatch-option__disabled-after__position: absolute;
@swatch-option__disabled-after__top: false;
@swatch-option__disabled-after__right: false;
//@swatch-option__disabled-after__bottom: 0;
//@swatch-option__disabled-after__left: 0;
@swatch-option__disabled-after__background: @color-3-1;
//
//@swatch-option-disabled__border: 0;
//@swatch-option-disabled__cursor: default;
//@swatch-option-disabled__outline: ~'none !important';
//@swatch-option-disabled__after__content: ' ';
//@swatch-option-disabled__after__position: absolute;
//@swatch-option-disabled__after__top: 10px;
//@swatch-option-disabled__after__left: -4px;
//@swatch-option-disabled__after__z-index: 995;
//@swatch-option-disabled__after__width: 42px;
//@swatch-option-disabled__after__height: 2px;
//@swatch-option-disabled__after__background: @color-red10;
//@swatch-option-disabled__after__use-rotate: true;
//@swatch-option-disabled__after__rotate: -30deg;
//
//@swatch-option-loading__content: @loading__background-image;

////  Tooltip
@swatch-option-tooltip__display: ~'none !important';
//@swatch-option-tooltip__position: absolute;
//@swatch-option-tooltip__z-index: 999;
//@swatch-option-tooltip__max-width: 140px;
//@swatch-option-tooltip__min-width: 20px;
//@swatch-option-tooltip__max-height: 100%;
//@swatch-option-tooltip__min-height: 20px;
//@swatch-option-tooltip__padding: @indent__xs;
//@swatch-option-tooltip__border: @swatch-option__border;
//@swatch-option-tooltip__text-align: center;
//@swatch-option-tooltip__color: #949494;
//@swatch-option-tooltip__background: @color-white;
//
//@swatch-option-tooltip-title__display: none;
//@swatch-option-tooltip-title__max-width: 140px;
//@swatch-option-tooltip-title__max-height: 200px;
//@swatch-option-tooltip-title__min-height: 20px;
//@swatch-option-tooltip-title__overflow: hidden;
//@swatch-option-tooltip-title__text-align: center;
//@swatch-option-tooltip-title__color: #282828;
//
//@swatch-option-tooltip-corner__position: absolute;
//@swatch-option-tooltip-corner__bottom: 0;
//@swatch-option-tooltip-corner__left: 40%;
//@swatch-option-tooltip-corner__height: 8px;
//@swatch-option-tooltip-corner__pseudo__use-content-var: false;
//@swatch-option-tooltip-corner__pseudo__content: '';
//@swatch-option-tooltip-corner__pseudo__position: relative;
//@swatch-option-tooltip-corner__pseudo__width: 0;
//@swatch-option-tooltip-corner__pseudo__height: 0;
//@swatch-option-tooltip-corner__pseudo__border-style: solid;
//@swatch-option-tooltip-corner__pseudo__font-size: 1px;
//@swatch-option-tooltip-corner__before__top: 2px;
//@swatch-option-tooltip-corner__before__left: 0;
//@swatch-option-tooltip-corner__before__border-color: @color-gray68 transparent transparent;
//@swatch-option-tooltip-corner__before__border-width: 8px 9px 0;
//@swatch-option-tooltip-corner__after__top: 1px;
//@swatch-option-tooltip-corner__after__left: -17px;
//@swatch-option-tooltip-corner__after__border-color: @color-white transparent transparent;
//@swatch-option-tooltip-corner__after__border-width: 7px 8px 0;
//
//@swatch-option-tooltip-image__display: block;
//@swatch-option-tooltip-image__width: 130px;
//@swatch-option-tooltip-image__height: 130px;
//@swatch-option-tooltip-image__margin: 0 auto;
//
//@swatch-option-tooltip-layered__display: none;
//@swatch-option-tooltip-layered__position: absolute;
//@swatch-option-tooltip-layered__left: -47px;
//@swatch-option-tooltip-layered__z-index: 999;
//@swatch-option-tooltip-layered__width: 140px;
//@swatch-option-tooltip-layered__border: @swatch-option__border;
//@swatch-option-tooltip-layered__color: @swatch-option-tooltip__color;
//@swatch-option-tooltip-layered__background: @swatch-option-tooltip__background;
//
//@swatch-option-tooltip-layered-title__position: absolute;
//@swatch-option-tooltip-layered-title__left: 0;
//@swatch-option-tooltip-layered-title__bottom: -5px;
//@swatch-option-tooltip-layered-title__width: 100%;
//@swatch-option-tooltip-layered-title__height: 20px;
//@swatch-option-tooltip-layered-title__margin-bottom: @indent__s;
//@swatch-option-tooltip-layered-title__text-align: center;
//@swatch-option-tooltip-layered-title__color: @swatch-option-tooltip-title__color;

//  Layered Features
//@swatch-option-link-layered__position: relative;
//@swatch-option-link-layered__margin: ~'0 !important';
//@swatch-option-link-layered__padding: ~'0 !important';
//@swatch-option-link-layered__focus__box-shadow: 0 0 3px 1px @color-sky-blue1;
//@swatch-option-link-layered-tooltip__hover__display: block;
//
@swatch-opt__margin: 9px 0 19px;
@swatch-opt__margin__l: 12px 0 30px;
//@swatch-opt-listing__margin-bottom: @indent__s;
//
//@swatch-more__position: static;
//@swatch-more__z-index: 1;
//@swatch-more__display: inline-block;
//@swatch-more__margin: 2px 0;
//@swatch-more__text-decoration: ~'none !important';
//
//@swatch-visual-tooltip-layered__top: -170px;
//@swatch-visual-tooltip-layered__height: 160px;
//
//@swatch-textual-tooltip-layered__top: -40px;
//@swatch-textual-tooltip-layered__height: 30px;
//
//@swatch-input__position: absolute;
//@swatch-input__left: -1000px;
//@swatch-input__visibility: hidden;

//  Swatch container
@swatch-container__min-height: 80px;
@swatch-container-list__min-height__l: 60px;

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .swatch-option {
        &.disabled {
            &::after {
                .lib-css(transform, rotate(45deg), 1);
                width: 2px;
                height: 40px;
                transform-origin: 0 100%;
            }
        }

        &.text {
            .lib-css(width, @swatch-option-text__width);
            .lib-css(height, @swatch-option-text__height);
            .lib-css(padding, @swatch-option-text__padding);
            .lib-css(border, @swatch-option-text__border);
            display: inline-block;
            text-align: center;
        }

        &.text.disabled {
            .lib-css(color, @swatch-option-text-disabled__color);
            .lib-css(border, @swatch-option-text-disabled__border);
            &::after {
                display: none;
            }
        }
    }

    [class^="swatch-opt-"] {
        & {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            width: 100%;
            padding-bottom: 16px;
        }

        .swatch-attribute-options {
            .lib-vendor-prefix-display(flex);
            .ewave-lib-box-align(center);
        }

        .swatch-attribute:first-child .swatch-attribute-options {
            margin-top: 0;
        }

        .swatch-attribute.color {
            margin-top: auto;
            order: 2;
        }
    }

    .product-item-info.-list [class^="swatch-opt-"] {
        .swatch-attribute-options {
            .ewave-lib-box-align(flex-start);
        }

        .swatch-option:first-child {
            margin-left: 0;
        }
    }

    .product-options-wrapper {
        .swatch-opt {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .swatch-option {
            .lib-css(min-width, @swatch-option-pdp__min-width);
            .lib-css(height, @swatch-option-pdp__height);
            .lib-css(margin, @swatch-option-pdp__margin);
        }

        .swatch-attribute.color {
            margin-top: 22px;
            order: 2;
        }

        .swatch-attribute.color .swatch-attribute-label,
        .swatch-attribute.color .swatch-attribute-selected-option {
            display: none;
        }

        .swatch-attribute-options {
            .lib-css(margin-top, @swatch-attribute-options-pdp__margin-top);
        }
    }

    .product-item-inner {
        .swatch-attribute.color {
            .lib-css(margin-top, @swatch-attribute-options__margin-top);
        }
    }
}

//
//  Desktop +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .swatch-option {
        & {
            .lib-css(min-width, @swatch-option__min-width__l);
            .lib-css(height, @swatch-option__height__l);
        }

        &.text {
            .lib-css(width, @swatch-option-text__width__l);
            .lib-css(height, @swatch-option-text__height__l);
            .lib-css(padding, @swatch-option-text__padding__l);
            .lib-css(font-size, @swatch-option-text__font-size__l);
            .lib-css(line-height, @swatch-option-text__line-height__l);
        }
    }

    .product-options-wrapper {
        .swatch-attribute.color {
            margin-top: 17px;
        }

        .swatch-opt {
            .lib-css(margin, @swatch-opt__margin__l);
        }

        .swatch-attribute-label {
            .lib-font-size(12);
        }
    }

    .product-item-info.-list [class^="swatch-opt-"] {
        & {
            .lib-vendor-prefix-flex-direction(row);
            .ewave-lib-box-align(space-between);
            .lib-vendor-box-align(center);
            padding-bottom: 22px;
        }

        .swatch-attribute.color {
            margin: 0 0 0 auto;
        }

        .swatch-attribute-options {
            margin-top: 0;
        }
    }
}