<button class="action-delete"
        attr="{'data-action': 'remove_row'}"
        data-bind="
            click: function(){ $parent.deleteRateX($record().recordId); },
            attr: {
                title: $parent.deleteButtonLabel
            }
        ">
    <span data-bind="text: $parent.deleteButtonLabel"></span>
</button>
<button class="action-delete"
        data-bind="
            click: function(){
                $parent.editRateX($record().recordId);
            }
        ">
    <span data-bind="text: $parent.editButtonLabel"></span>
</button>
