<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ewave_Utilities::ewave" sortOrder="100">
                    <resource id="Ewave_Blog::blog" title="Blog" sortOrder="50">
                        <resource id="Ewave_Blog::blogpost" title="Posts" sortOrder="10"/>
                        <resource id="Ewave_Blog::blogcat" title="Categories" sortOrder="20"/>
                        <resource id="Ewave_Blog::blogcomment" title="Comments" sortOrder="30"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ewave_Blog::config_blog" title="Blog Section" sortOrder="80"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>