<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Digidirect_OutOfStockNotif::digidirect_config" title="Digidirect Out Of Stock Notification config" translate="title" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Digidirect_Utilities::digidirect" sortOrder="100">
                    <resource id="Digidirect_OutOfStockNotif::out_of_stock" title="Digidirect Out Of Stock Notification" sortOrder="10">
                        <resource id="Digidirect_OutOfStockNotif::out_of_stock_delete" title="Delete" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
