<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digidirect_outofstocknotif>
            <stock_subscription>
                <enabled_for_guest>1</enabled_for_guest>
                <enabled_for_backorder>0</enabled_for_backorder>
            </stock_subscription>
        </digidirect_outofstocknotif>
    </default>
</config>
